[2022-04-21 23:59] MrPetovan commented on #11511
There's a field in the Admin -> Site section called "Relocate Instance".

[2022-04-22 06:12] ThRPctmylSgltwH commented on #11511
I no longer have access to the original domain to login and change it in the web interface. I can only see a text version of the login page but cannot login. Can I either,

- force ENV VAR FRIENDICA_URL=https://www.xxx.org to be used upon docker redeploy
- edit a php file to change the domain like I have done with WordPress
- run a script within the docker container or on the server to change the

[2022-04-22 14:25] MrPetovan commented on #11511
So, you would have to manually perform what we do in the code for relocation: https://github.com/friendica/friendica/blob/ee05bd91a3ad97ce2a348f4095a6a6492a58e7cf/src/Module/Admin/Site.php#L75-L123

It isn't trivial given all the tables and the fields that need to be changed, and all the notifier tasks that have to be sent for each user account.

I'd say running a script closely inspired by these

[2022-04-22 14:37] tobiasd commented on #11511
Not apply-able for the problem at hand, but maybe we should expand the bin/console tool with this functionality.

[2022-04-22 14:42] MrPetovan commented on #11511
Why isn't it applicable? Replacing the user-provided new domain name input with a static value should do the trick.

[2022-04-22 15:05] tobiasd commented on #11511
I meant "it is not a solution ready to use at the current time".

[2022-04-22 15:27] MrPetovan commented on #11511
Indeed, it needs some manual work to write the script.

[2022-04-22 18:20] DetroitLibertyPenguin opened #11434 "An easier way to "jump" forward/backward in the network feed"
### Is the feature request related to a problem? Please describe.

I frequently see the same posts over and over again as I check through out the day, but I suspect there's a lot from last night, last week, etc. that I haven't seen yet.

### Describe the feature you'd like

I'd like a button or something that says "jump 1 hour, Jump 6 hours, jump 12 hours, jump 1 day, etc."

### Describe alternati

[2022-04-22 19:26] MrPetovan commented on #11434
Have you tried the "Latest Posts" order instead of the "Latest Activity"? This way the order of the conversations in your timeline stays consistent over time. The drawback is that you have to subscribe to the conversations you want to be notified about for new comments, but this is done automatically when you add a like or comment in the conversation.

[2022-04-22 20:08] DetroitLibertyPenguin commented on #11434
Yeah, I've tried both. Most of my concern is about reading stuff for the
first time that was posted while I was sleeping or otherwise out having an
actual life rather than staring at my phone/computer ;-)

Jim Fulner
22100 Armada Ridge Rd.,
Armada, MI 48005-3204
(P) 248-971-0259
(M) 248-765-7458
(H) 586-473-7007

Telephony eliminates confusion

On Fri, Apr 22, 2022 at 3:26 PM Hypolite Petovan ***@

[2022-04-23 11:03] annando commented on #11415
I now installed it. It seems to work with the develop branch.

[2022-04-23 22:48] DetroitLibertyPenguin commented on #11337
I would think it's better to only show for new notifications after the setting is changed, otherwise it's possible to get a bajillion new notifications and having stuff freak out

[2022-04-23 23:16] DetroitLibertyPenguin opened #11437 "Access email notification doesn't work well when logged out"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

When clicking on the email link of notification gives you UNAUTHORIZED page if not logged into friendica on default browser

### Steps to Reproduce

1. Turn on Email notifications in SETTINGS
2. log out of friendica
3. Some action occurs that triggers email

4.  Access email link like https://libranet.de/notify/8048

[2022-04-24 00:05] MrPetovan commented on #11337
Fair enough, thank you for the answer!

[2022-04-24 00:06] MrPetovan commented on #11437
Thank you for the report!

[2022-04-24 13:31] tobiasd commented on #11511
Which Friendica version are you running in the docker container @ThRPctmylSgltwH ?

[2022-04-24 20:39] ThRPctmylSgltwH commented on #11511
I am running :latest. I hope that makes things easier.

As a start I took the file Site.php and copied it to a new file called RelocateDomain.php. In file RelocateDomain.php I made the following changes

65 old 		//if (!empty($_POST['relocate']) && !empty($_POST['relocate_url']) && $_POST['relocate_url'] != "") {
65 new		if (1) {

66 old		//$new_url = $_POST['relocate_url'];
66 new		$new_url = "ht

[2022-04-24 22:57] a1batross commented on #10427
Quick investigation shows that pins collection is OrderedCollection but does not contain orderedItems field.
[code]

When [Mastodon](https://github.com/mastodon/mastodon/blob/1de748bf5e775b7b5f6b45b73d90772cba899a6d/app/services/activitypub/fetch_featured_collection_service.rb#L6) and [Pleroma](https://git.pleroma.social/pleroma/pleroma/-/blob/develop/lib/pleroma/web/activity_pub/activity_pub.ex#L

[2022-04-25 01:35] MrPetovan commented on #11511
It's a start but you will need more than this, I'll submit a console command to perform this action soon.

[2022-04-25 03:04] lanodan commented on #10427
Which is a bug on their side, Pleroma probably requires a better abstraction over collections if not already written.

Read the next section, using `first` is entirely valid to point to pages, just like timelines (which are also `OrderedCollection`) for example.

[2022-04-25 03:16] Quix0r opened #11440 "Hashtags are not rendered below new post or comment"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Hashtags were always rendered below posts and comments which is a neat feature.

### Steps to Reproduce

1.  Write a new post or comment and include at least one hashtag in it
2.  Submit it and view it

Actual Result:

The hashtags included in the text are not rendered below it as "bread crumbs".

Expected Result:

T

[2022-04-25 03:21] Quix0r commented on #11416
This bug seem to be fixed with some recent commits, e.g. f4c073674e0403a573438740db112dc76ecc4ab8

[2022-04-25 05:37] #11371 closed, assigned to MrPetovan

[2022-04-25 06:44] Quix0r commented on #11416
I was able to like from mastodon.bayern, too.

[2022-04-25 06:44] #11416 closed, assigned to nobody

[2022-04-25 06:45] Quix0r commented on #11440
They are now partly added and therefore not always linked.

Example: https://f.haeder.net/display/adbba6c6-1162-6642-fa77-ef1402592398 includes a hashtag #VolkerPispers while when I click on it (not rendered), the comment does no longer appear in the tag-search view.

In other words: We need a fix-script or post-update hook to fixing missing comment/post <-> hashtag relations.

[2022-04-25 08:35] a1batross commented on #10427
Yes, you're right! Thanks for the comment

[2022-04-25 09:04] annando commented on #10427
BTW: Currently we provide that endpoint but we don't propagate the activity to add or remove items from the collection. This is work in progress.

[2022-04-25 09:44] Liwott opened #11441 "Mentions of quote-shares"
### Is the feature request related to a problem? Please describe.

Quote-sharing is a well working and good looking way of including citations to other posts and comments. However, I am thinking it is a bit of a pity that no mention of that appears on the shared post.

This would allow to follow the future directions taken by original ideas on the long run, similarly to what one can do with scient

[2022-04-25 10:57] valvin1 opened #11442 "Federation with owncast user is not working"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

[Owncast](https://owncast.online/) has just enabled fediverse feature which works nice with Mastodon but is having trouble with Friendica. When looking for a user like mine: `@valvin@live.valvin.fr` in search it doesn't find it and on contact it returns a message like "impossible to detect the network type. this con

[2022-04-25 11:26] Quix0r commented on #11442
If I search for this user on `develop` branch, I get an URL like https://f.haeder.net/search?q=%40valvin%40live.valvin.fr which means Friendica has tried to search for it as a text, not as a user. If I try to add it under `/contact`, I get the same result.

[2022-04-25 12:35] kr428 commented on #11415
Ok, so there seems a chance it could work with a release at some point...?

[2022-04-25 12:43] annando commented on #11415
In the next days I will dig deeper into possible issues. Surely the next release will contain everything.

[2022-04-25 14:29] MrPetovan commented on #11371
@AlfredSK Please update `develop` as soon as you have time for.

@DetroitLibertyPenguin Please try again as soon as @AlfredSK updates libranet.de

[2022-04-25 15:18] MrPetovan commented on #11441
I disagree with the core concept of this feature. If you want to be featured in the conversation, post a comment to it, and you can include quotes of the original post in it. It will show to your followers as well and you will be part of the conversation.

Quote Share is meant to start a parallel discussion the original author may not want to be aware about unless they also follow you.

[2022-04-25 15:19] AlfredSK commented on #11371
Done. ✅

[2022-04-25 15:29] annando commented on #11441
I think that is a good thing to get notified about a quote share of one of your posts. Quote shares can be used for good and bad. Being noticed does help in keeping an eye on the discussions.

[2022-04-25 16:01] MrPetovan commented on #11441
I don't think it has anything to do with good or bad behavior. But since you're bringing it up, I don't think you want to be notified about the bad quotes, but there's no way to distinguish both. The only thing we can distinguish is the difference between a comment on the original conversation and a quote share, and I believe they should have a different outcome as well.

Adding a comment for quot

[2022-04-25 16:06] Liwott commented on #11441
Thank you both for your replies!

There could be a setting to opt out of getting a notification when it happens. But I don't see a disadvantage of having the mention appear on the original comment. The interest of getting such notifications for those who want to is also a way to guarantee one's right of reply.

If fact commenting under the reshared post is the current workaround, and the feature I

[2022-04-25 16:30] tobiasd commented on #11442
See also this thread in the Friendica Support forum: [/display/c35d279b-3162-6469-7387-cef819412823](https://forum.friendi.ca/display/c35d279b-3162-6469-7387-cef819412823).

[2022-04-25 16:38] MrPetovan commented on #11441
I don't mind it if it's passive like the current "X reshared this" that doesn't trigger a notification and only shows about your contacts, but a comment on the original post isn't the right way to do this.

[2022-04-25 22:51] foss- commented on #11431
Also seeing this and was really unsure as to what was going on. Had a nice developer from USA point me in the right direction of this existing issue.

[2022-04-26 06:51] tobiasd opened #11445 "BBCode parser issue - tags within code should not be parsed"
### Bug Description

Writing some BBCode within the `code` tag should not lead to this code being interpreted. See [this posting about abstracts](https://forum.friendi.ca/display/f3ad7b1c-1062-6792-ae52-81c942245544) as example. Where the used `abstract` BBCode was wrongly applied as abstract for the posting (and used on other platforms as content warning).

Expected Result:

It was not expected t

[2022-04-27 15:01] johnassel opened #11449 ""Followed content scope" has no effect on mobile apps using the API"
- [X] I have searched open and closed issues for duplicates

### Bug Description

"Followed content scope" under "Settings" -> "Social networks" -> "General Social Media Settings" seems not to have an effect on mobile apps using the the API.
When putting it into e.g. "Only conversations my follows started" mode it is working for the WebUI but not for mobile apps which are using the API. I can stil

[2022-04-27 15:04] MrPetovan commented on #11449
Thank you for the report!

[2022-04-27 15:13] annando commented on #11449
The setting you mentioned does control which kind of posts you see in your timeline. Means: If you see only posts that had been started by your contacts or also posts where your contacts had interacted.

When you fetch the timeline via the API then you will see all the posts and comments that you see at the timeline as well. Means: When some account that you don't follow is commenting on a post of

[2022-04-28 04:24] AndyHee opened #11450 "Error: RevokeFollow / Unfollow"
### Bug Description

I get a few error messages like this in the Friendica log. The queue is very low though.

[code]

### Platform Info

Friendica Version:

Version 2022.03
Database version is 1452/1452

[2022-04-28 12:26] kalon33 opened #11453 "Possibility to set spoken languages"
Is it currently possible to set multiple spoken languages in our profiles in order for people to know we are able to communicate with them and could possibly post into these languages?

Thanks for your help. Best regards.

[2022-04-28 12:35] bkil commented on #3980
Eventing/ticketing is a valuable feature and is very rare among federated social networking platforms. Instead of urging people to disable it, just offer UX to unsubscribe or hide events from _some_ of your contacts. I also knew one who used it as a kind of "spam".

It would also make sense to decline just a given event series (for a year or indefinitely), but possibly be notified about newly crea

[2022-04-28 13:57] torstentors opened #11454 "feed scrolls upwards on "like" click"
in my browser my friendica stream scrolls approx. 3 or 4 threads upwards whe I click on "like" ("gefällt mir" in german)

I'm using the theme "frio" und have "Zahl der Beiträge, die pro Netzwerkseite angezeigt werden sollen" switched to 20.  "Browser alle xx Sekunden aktualisieren" is set to -1 (i.e. off).

[2022-04-28 14:22] MrPetovan commented on #11453
Hi and thank you for your question. I currently have my spoken languages in my profile description, we don't have a specific profile field for spoken language nor I think we should add one.

[2022-04-28 14:23] MrPetovan commented on #11454
Hi and thank you for your report. This is a known quirk of the asynchronous rendering of updated conversations, and none of the current active developers is skilled and/or motivated enough to fix this quirk.

[2022-04-28 14:24] kalon33 commented on #11236
@ne20002 @urbalazs Not really a duplicate from the one mentioned, as it is not a PHP warning, as told in https://github.com/friendica/friendica/issues/11217#issuecomment-1036115800. It is a dupe from #10353 .

I experience the same problem on my friendica node, under 2022-03 version.

[2022-04-28 14:30] kalon33 commented on #11453
@MrPetovan thanks for your answer. So the "language" field from each profile in https://dir.friendica.social/ are sourced from the chosen interface language only or country and not from a spoken languages field?

[2022-04-28 14:34] MrPetovan commented on #11453
Oh, I see what you mean now. Yes, this language comes from the interface language setting indeed which isn't set or shown in the profile.

[2022-04-28 20:11] MrPetovan opened #11456 "Mastodon Bcc: mention is transformed into a To: mention by Friendica"
I left a like on this original post: https://social.gl-como.it/display/3e3ce0df-1062-6ac1-7925-9af795181791

Then a Mastodon account replied, correctly adding me as Bcc since I implicitly subscribed to the conversation.

Then a Friendica account replied to the Mastodon replied, and this time I'm mentioned in the To: field, so a direct mention, despite not being involved in the conversation in any

[2022-04-29 12:04] MrPetovan opened #11458 "Twitter: Image-only tweets don't show up in the Network page"
I'm using the Twitter addon and it's been working as intended for the most part, except for image-only posts. When there's absolutely no text other than an image, the post never shows up in my timeline.

It even lead to a weird situation where I didn't receive an image-only tweet, but I received the reply from the same account giving credit for the picture.

Friendica conversation:
![friendica-twi

[2022-04-29 14:13] tobiasd commented on #988
Closing this issue as the Jappixmini addon was deprecated and is not supported anymore.

[2022-04-29 14:13] #988 closed

[2022-04-29 14:21] tobiasd commented on #2997
It is now possible to export the contact list as CSV file, which is the same as e.g. Mastodon uses. It is also possible to import a given CSV file with contact. Hence closing this issue.

[2022-04-29 14:22] #2780 closed

[2022-04-29 14:25] tobiasd commented on #3378
The buffer addon was deprecated, hence closing this issue.

[2022-04-29 14:25] #3378 closed

[2022-04-29 14:31] tobiasd commented on #4968
The xmpp addon was deprecated, hence closing this issue.

[2022-04-29 14:31] #4968 closed

[2022-04-29 14:37] tobiasd commented on #5791
I think saved folders are working fine at the moment. Can we close this issue?

[2022-04-29 14:56] annando commented on #5791
From my point of view, yes.

[2022-04-29 15:09] esackbauer opened #11464 "Diaspora federation not working"
If I try to add a user from Diaspora Network, I get the profile page displayed, however in the upper right there is a notification that "Diaspora-Unterstützung ist nicht aktiviert. Der Kontakt kann nicht zugefügt werden."

Is this to be activated somewhere? Shouldnt it work out of the box?

[2022-04-29 15:15] tobiasd commented on #11464
The admin can (de)activate support of the Diaspora* protocol in the admin panel -> site settings, section "Policies" with the option "Enable Diaspora support".

[2022-04-29 15:18] esackbauer commented on #11464
That setting is enabled.

[2022-04-29 15:21] esackbauer commented on #11464
Strange enough, I disabled the setting, and reenabled it, and suddenly its working...

[2022-04-29 15:21] #11464 closed, assigned to nobody

[2022-04-29 15:29] foss- opened #11459 "Twitter: Add existence check for connector accounts and remove non existent one"
**Currently**

When a twitter account no longer exists there is no way to revoke share. Since there is no check for existence there is also no way to fully remove that account. Unfollowing is possible but that will leave that account as an account with which the user is sharing.

**Expected**

In the batch actions there is an option to `Update` a contact. This could check existence for twitter acc

[2022-04-29 23:24] bkil commented on #8460
I believe that the present `move account` function does most of what you are asking for (notify your followers and make them switch over to your new account).

* https://github.com/friendica/friendica/blob/develop/doc/Move-Account.md

[2022-04-29 23:29] bkil commented on #10334
Could you perhaps summarize in bullet points which ones you would like implemented compared to what is already available?

* https://github.com/friendica/friendica/blob/develop/doc/Move-Account.md

Also related, somewhat duplicates: #9420 #11102 #8460

[2022-04-30 00:24] bkil commented on #8460
Let me elaborate on the feature request in more detail:
**Mitigate link rot after user moves their account to another instance**

### Logging

All access to the old URL should be logged and acted upon.

If the request did not contain an HTTP referrer, a form could be provided where a visitor may opt to specify the source of the link they clicked.
Or they may just decline and click through.

Such t

[2022-04-30 21:46] SpcCw opened #11461 "New follow request notifications don't seem to be translatable"
On current develp new follow request notifications are not translated:
![image](https://user-images.githubusercontent.com/35988439/166123636-460ffe89-b041-4a71-b7d7-d1e03cbc6cee.png)

The only `wants to follow you` string in Transifex is translated.

[2022-05-01 07:41] tobiasd commented on #11461
More likely your work has not been transferred from Transifex to the development branch since you translated the strings ;-) I have some notification mails marked as unread to remind me about transfers that have to be done for the release.

[2022-05-01 08:48] SpcCw commented on #11461
@tobiasd the thing is there are no new untranslated strings like `wants to follow you` in Transifex and the old one was translated long ago and didn't change since then.

So I wonder if it is just some glitch?

UPD: I see it was changed 15 days ago so you are right. I'll wait for the changes then :)

[2022-05-01 09:06] tobiasd commented on #11461
No, no glitch, just me not have updated the translations for a "long time". It is in [the pull request 11463](https://github.com/friendica/friendica/pull/11463/files#diff-f5b6d4dca5db55c2950c88b024a105c8392bff5f8ec62b41134fe936d9e92d9eR2167) (eventually you have to hit the "Load Diff" button for the `view/lang/ru/strings.php` file).

[2022-05-01 11:43] MrPetovan commented on #5791
This part of the code has been completely refactored, I wasn't able to track down the new place the error would have been thrown from.

[2022-05-01 11:43] #5791 closed

[2022-05-01 11:45] #10397 closed, assigned to nobody

[2022-05-01 12:06] #11461 closed, assigned to nobody

[2022-05-01 13:01] AlfredSK opened #11465 "Database/system overload for more than one week - 2k requests per second on the contact table"
I'm clueless and I don't know what to do about it. Since more than one week libranet.de is producing tons of database requests on the contact table. I have no idea why this is happening all of a sudden.

I tried to optimize the database settings. I also went back to the default settings by commenting out the changes I made to the database config. I have optimized the databases (mysqloptimize). Not

[2022-05-01 13:19] MrPetovan commented on #11465
@annando Could it be a missing index issue?

[2022-05-02 05:38] AlfredSK commented on #11465
Interesting fact: each of those queries seems to be connected to a separate PHP-FPM process.
When I set the max. FPM childs to 300 I have around 300 of the queries in parallel. When I set the max. childs to 100 I only have 100 of the mentioned queries running.

[2022-05-02 11:57] annando commented on #11465
Possibly this can be fixed with some indexes.

[2022-05-02 14:35] rickgardner077 commented on #11216
I installed the stable branch on a fresh server via git. The frontend does not load, throws status 500. PHP log reports:

`PHP Fatal error:  Uncaught TypeError: Argument 3 passed to Friendica\Database\Database::__construct() must implement interface PsrExt\Log\LoggerInterface, instance of Friendica\Core\Logger\Factory\Logger given in /var/www/virtual/rick6/friendica/src/Database/Database.php:76"`

[2022-05-02 15:42] AlfredSK commented on #11465
Do you need an `explain`?

[2022-05-02 15:55] AlfredSK commented on #11465
[code]

[2022-05-02 19:02] annando commented on #11465
The optimizer is sometimes kind of weird:
[code]

[2022-05-03 05:00] AlfredSK commented on #11465
Well. I think it's the MariaDB version. I'm using 10.6.x. I remember they changed the query optimizer in some earlier version (after 10.3).
I could try to change the optimizer. I think there's a config for this.

[2022-05-03 11:10] annando commented on #11465
In my current performance branch (which contains a lot of different stuff, all performance related) I rewrote that part. And I hope that the optimizer won't fail on that.

[2022-05-03 17:45] AlfredSK commented on #11465
Yep. It is the query optimizer. I have set the following key now...

`optimizer_use_condition_selectivity = 1`

This is the old optimizer algorithm. Since MariaDB 10.4 `... = 4` is the default.

[2022-05-04 08:58] tobiasd commented on #10370
In the time of a growing Fediverse and the magnitude of uninteresting re-shares, this feature becomes more and more interesting. How hard would it be to implement?

[2022-05-04 22:18] foss- commented on #11324
Seeing missing avatars in contact list for <s>many</s> all twitter users I follow. However when selecting `View Contact` the avatar is there. Could this be related?
Unfollowing and re-following brings back the avatar image in contact list.

![Screenshot 2022-05-05 at 00 15 47](https://user-images.githubusercontent.com/5708172/166834644-18e2421c-67e8-4c95-996a-95120b7f8415.png)
![Screenshot 2022-05

[2022-05-05 07:39] annando commented on #11324
@foss- which server?

[2022-05-05 08:00] tobiasd opened #11469 "Wrong Notification about dislike"
### Bug Description

I've got a notification about a dislike to one of my postings, even though I choose to be not notified about likes.

For me likes and dislikes have the same "value" to a posting. So my assumption was that I wont get a notification for either of them when I opted out in the settings.

### Steps to Reproduce

1.  Unselect "Someone liked your content" in the user settings (Notifi

[2022-05-05 08:13] foss- commented on #11324
piratica

[2022-05-05 12:29] annando commented on #11324
Yeah, that's a downside of the configuration to avoid storing avatar data. I guess in the next release I will add some improvement there.

[2022-05-05 18:20] AlfredSK opened #11470 "User data of deleted account still accessible"
- [🥸] I have searched open and closed issues for duplicates

### Bug Description

When a user deleted their account the profile, photos etc. are still accessible. That's very irritating for users. The data should be inaccessible via the frontend.

I think that behavior is limited to the period of time until all data is permanently deleted from the server.

However, we should not display any data a

[2022-05-05 20:15] igor-cali commented on #11226
@annando @ingoj Issue still present with '2022.05-rc', on Nerdica pod.

[2022-05-05 22:14] foss- commented on #11324
Not limited to avatar. As can be seen in the following example the username is also not updated when it is changed:
![Screenshot 2022-05-06 at 00 13 19](https://user-images.githubusercontent.com/5708172/167034007-d50fc3e1-5c0d-4455-ac01-a136eae9e9d5.png)
![Screenshot 2022-05-06 at 00 13 37](https://user-images.githubusercontent.com/5708172/167034033-cf324fe3-28b9-4d97-8d83-6ea7452ab562.png)

[2022-05-05 23:22] MrPetovan commented on #11324
This may be a connector-specific issue where contacts aren't updated past the first fetch.

[2022-05-06 02:51] annando commented on #11324
Yes. This is a totally different thing.

[2022-05-06 05:19] tobiasd opened #11471 "No notification about postings to forums"
### Bug Description

One can opt-in to be notified about postings of a contact. This used to be working, when a posting arrived via a forum (e.g. the helpers forum), but it is not the case anymore.

### Steps to Reproduce

1.  Join a forum
2.  Select the _I want to be notified about new postings by this contact_ option in the contact settings
3.  Wait for a posting in the forum.

Actual Result:

N

[2022-05-06 07:14] xundeenergie opened #11472 "Show History of edited postings/comments"
### Is the feature request related to a problem? Please describe.

Editing a posting or comment is a great thing. To fix typos (thanks smartphones and big fingers...) or fix others... add links or pictures.
But an edited posting/comment has bomb-potential... you like a posting, that flowers are so beautiful, and then the creator changes it to "all flowers are bastards and have to be extincted"...

[2022-05-06 07:55] hoergen opened #11473 "Account type - Distribution"
I am using different accounts for different topics . So I have to switch accounts every time, I want to post something or read something.

If there would be an account type like a public forum, but were you can define who is allowed to send messages to, It could be a "controlled" distribution account for one or more persons.

The advantage would be, that you don't have to switch accounts to send s

[2022-05-06 07:58] annando commented on #11473
This can be an extension to the regular forum type. One could select a group of users from one of the existing contact groups for that. This should be an easy task.

[2022-05-06 15:15] MrPetovan commented on #11472
For once I'd like someone to point me out to an actual example of malicious switcharoo with post editing where someone was actually harmed from liking or commenting on a post that was later edited.

For about 15 years this has been the number 1 hypothetical I've seen used against implementing post editing anywhere it wasn't available and I've yet to see any evidence this argument is based on anyth

[2022-05-06 17:01] annando commented on #11472
I don't see a huge problem storing the different versions. The history shouldn't be that much of a problem.

[2022-05-06 20:22] xundeenergie commented on #11472
I've been on facebook in a group with historical images about Innsbruck. There habe been hundreds of members. It was one of many groups for historical images about different regions/cities.

One day this group changed to a Fansite for the far right party FPÖ from austria...

Ok... it was not a posting... but it was the same thing...

[2022-05-06 22:23] foss- opened #11475 "name of connector contacts (Twitter) not updated on friendica after change"
### Bug Description

As documented in below screenshots, the username for connector contacts is not update when changed:
![167034007-d50fc3e1-5c0d-4455-ac01-a136eae9e9d5](https://user-images.githubusercontent.com/5708172/167223526-d35314e8-3a31-4dd9-94d9-818148d8800e.png)
![167034033-cf324fe3-28b9-4d97-8d83-6ea7452ab562](https://user-images.githubusercontent.com/5708172/167223530-855310db-7f02-4e4

[2022-05-06 22:24] foss- commented on #11324
Was unsure initially as the problem seemed related. It has its own entry now: https://github.com/friendica/friendica/issues/11475

[2022-05-07 07:30] tobiasd commented on #11472
So far, I'm not aware of any _bad_ event happened with editing posts in the last decade. But in general I'm not against having some sort of history/diffs or so for edited content. Most of the time it will probably rather uninteresting typos, but if someone would want to build it, why not.

I know, that it is rather uncommon to write very long postings, but the length of a posting is rather unlimit

[2022-05-07 07:31] #11440 closed, assigned to nobody

[2022-05-07 14:18] MrPetovan commented on #11472
Storing the post history does introduce an additional layer of complexity, but given the sheer amount of posts a Friendica node deals with on a regular basis and how rarely this feature is used in general, I don't think it would make storage unmanageable.

I don't mind storing the different versions of a post either, but the original argument for it that I criticized is really tired.

[2022-05-07 21:03] annando commented on #11472
It would be one additional table (with the content data, the `uri-id` and the creation date). This data would only be filled in a case of editing. I don't think that it will be a storage problem.

[2022-05-08 06:02] #11445 closed, assigned to MrPetovan

[2022-05-08 06:04] tobiasd opened #11478 "API: allow control over when a posting is published"
### Describe the feature you'd like

#11411 introduced the possibility to set the date of a posting in the past. In addition we have scheduled postings for some time now in the web interface of Friendica.

It would be great to have these features available in the API as well.

[2022-05-08 06:09] tobiasd commented on #11432
Duplicate of #11415, closing this.

[2022-05-08 06:09] #11432 closed, assigned to nobody

[2022-05-08 06:13] tobiasd commented on #11345
I'm seeing the same behavior on libranet.de with an organization account there. The new contact is allowed to follow correctly, but the notification is shown.

[2022-05-08 10:57] tobiasd commented on #11223
Is this issue still active or can it be closed?

[2022-05-08 12:39] ghost opened #11479 "The Friendica system account shares other people's posts"
Something strange just happened, the friendica system account at friendica@etiketi.de just shared this post from aga@diasp.org.
I don't think that's right, is it?
![Screenshot_20220508-140241_Twidere](https://user-images.githubusercontent.com/12480023/167296485-11959536-0a08-4893-b412-175093ea55fd.png)
![etiketi de-2022-05-08 14 38 53](https://user-images.githubusercontent.com/12480023/167296555-c

[2022-05-08 13:34] ghost commented on #11479
The post is even double.
https://etiketi.de/display/55f01ac2-1762-77af-96ee-1ff660853390
https://etiketi.de/display/55f01ac2-8362-77af-96ea-eef767149523

[2022-05-08 13:57] MrPetovan commented on #11450
Has this happened again? It looks like the RevokeFollow and Unfollow parameters were wrongly set when the worker task was created.

[2022-05-08 13:59] MrPetovan commented on #11450
Fixed by #11457

[2022-05-08 13:59] #11450 closed, assigned to nobody

[2022-05-08 15:12] MrPetovan commented on #11405
Hmm, I'm not able to reproduce this issue, the preview image in the post composer was the same as the image it ended up posting.

Composer:
![friendica-link-preview-composer](https://user-images.githubusercontent.com/925415/167302759-a9713a29-fcb0-4573-92f5-a9091c298732.png)
Resulting post:
https://dev-friendica.mrpetovan.com/display/b5f438f2-1762-77dd-8890-587505761414
![friendica-link-preview-po

[2022-05-08 15:19] MrPetovan commented on #11388
Exception stack traces are provided in the page content only for logged n administrators. Other occurrences would be depending on the web server configuration.

[2022-05-08 15:38] haheute commented on #11405
Hm yes. seems to work now.
I have just tried and have the same image in both cases, too. Don't know what that could have been, before..

[2022-05-08 17:26] tio-trom commented on #11276
I think after we upgraded Friendica now seems to be ok. If @futureisfoss can please check too then I can close this issue.

[2022-05-08 17:28] #10924 closed, assigned to nobody

[2022-05-08 17:28] #10915 closed, assigned to nobody

[2022-05-08 20:39] MrPetovan commented on #11405
Thank you for the follow-up, if you experience the same issue with a different link, please feel free to reopen this issue.

[2022-05-08 20:39] #11405 closed, assigned to nobody

[2022-05-09 15:35] Rik44444 opened #11481 "contact details"
Dear Friendica maintainers,
does your initiative come with a secretariat, and a general contact email address for that organization? We are looking to speak to someone about collaborations/partnerships.
thanks,
Rik

[2022-05-09 16:00] hpgauster commented on #11223
As far as I understand https://github.com/friendica/friendica/pull/11228 fixed the issue. I assume it is safe to close the issue.

[2022-05-09 16:00] #11223 closed, assigned to nobody

[2022-05-09 16:30] MrPetovan commented on #11481
Hi, you can use info@friendi.ca for this type of communication.

[2022-05-09 18:42] MrPetovan commented on #11353
Alright, now it is getting ridiculous, this mention is shown twice, at both the top and bottom of the forum replies:
<img width="598" alt="Screen Shot 2022-05-09 at 14 41 27" src="https://user-images.githubusercontent.com/925415/167475999-d6c07724-5491-41d1-8d1c-30f015784e06.png">

One mention was already clutter, two makes the conversation barely readable.

[2022-05-09 19:17] annando commented on #11353
Yeah, that is a side effect of one of my performance changes. I know where to look, it's on my list.

[2022-05-09 21:54] #11353 closed, assigned to nobody

[2022-05-10 17:55] tobiasd commented on #11340
Seems to be fixed in the mean time :)

[2022-05-10 17:55] #11340 closed, assigned to nobody

[2022-05-10 19:25] Ravenbird opened #11487 "Accounts on IDN domains are not found"
When I search for a user whose account is on an [IDN domain](https://en.wikipedia.org/wiki/Internationalized_domain_name), the user is not found. As an example, @Umweltministerium@bawü.social is not found. However, if I search for @Umweltministerium@xn--baw-joa.social, then it works without any problems. I can still find that out somehow, even if it is cumbersome. But a normal user will not be abl

[2022-05-10 19:51] MrPetovan opened #11488 "Exclude share blocks from tag collection"
See https://nerdica.net/display/a85d7459-1962-7ac0-fe7b-c7e155821399

We need to exclude the share tags when we are collecting mentions from the post body.

[2022-05-10 20:11] MrPetovan commented on #11487
Interesting, thank you for the report!

[2022-05-11 06:46] #11487 closed, assigned to nobody

[2022-05-11 07:24] tobiasd commented on #11217
2022.05-rc b5129eb4ed0ad2c4a3f3d983d0ea70e4b63506b0

[code]

[2022-05-11 07:27] tobiasd commented on #11217
2022.05-rc b5129eb4ed0ad2c4a3f3d983d0ea70e4b63506b0

[code]
Addressed in #11494

[2022-05-11 08:15] futureisfoss commented on #11276
I tested this on the same post shown on the video above, before I was not able to like that post but now its working fine. So I think maybe the issue is fixed now :)

[2022-05-11 09:45] #11276 closed, assigned to nobody

[2022-05-11 12:57] MrPetovan opened #11491 "[advancedcontentfilter] Mismatch between item variables used for filtering and validating rules"
See https://social.diekershoff.de/display/f3ad7b1c-2162-7abd-e571-2fa790870780

The discrepancy comes from the fact that we were using a static list of allowed fields to validate rules when saving them, whereas we are showing the actual fields of the provided item in the "Show Variables" feature.

[2022-05-11 13:12] #11491 closed, assigned to MrPetovan

[2022-05-11 14:12] loma-one opened #11492 "Import of contacts fails"
- [x] I have searched open and closed questions for duplicates

### Error description

Import of contacts after moving to a new server fails. Data is not imported.

### Steps to reproduce

Navigation
1. account settings
2. import contacts
3. start import

Check imported contacts at https://[domain.ltd]/contact
No contacts were imported

Logfile:
2022-05-11T08:36:33Z index [NOTICE]: Import triggere

[2022-05-11 14:59] annando commented on #11492
Which theme have you used?

[2022-05-11 15:23] tobiasd commented on #11492
Could be that the frio template is missing the form enctype... let me check

[2022-05-12 15:54] xukashi opened #11499 "PHP 8.1 errors running console dbstructure update"
- [x] I have searched open and closed issues for duplicates

Actual Result:

[code]

Expected Result:
[code]
### Platform Info

Friendica Version: 2022.03

Friendica Source: https://github.com/friendica/friendica/releases

PHP version: 8.1.5

SQL version: MySQL, v8.0.29

[2022-05-12 18:56] loma-one commented on #11492
According to user feedback, the import could be started, but the contacts are not visible in the profile (import started 24 h ago).

I have therefore repeated the import on another instance (dis-le.de). Same build as loma.ml. No successful processing of the imports there either.

Could this be because the "UpdateContact - 2022-05-03 14:56:20" have been processed with extreme delays since 2 release

[2022-05-13 13:56] Quix0r commented on #11440
Thank you for fixing it. So what can I do now about the old comments that have hashtags in their content but not attached (= not findable by `/search?tag=foo`) to it?

[2022-05-13 14:12] Quix0r commented on #11440
I can confirm it works again: https://f.haeder.net/display/adbba6c6-1462-7e67-3ac7-40e602656581

[2022-05-13 15:32] MrPetovan opened #11501 "Wrong display for dates too far back in the past"
Original post: https://social.deadsuperhero.com/objects/69cb854e-8d63-4da4-b840-3075f354f965
Friendica post: https://friendica.mrpetovan.com/display/368a9f49-4fd9869b2d21fd55-12e390f0

Issues:
- Displays "426 years ago" instead of "420 years ago"
- Full timestamp displays wrong timezone information: "Wed, 13 Mar 1602 22:05:18 -0456"

[2022-05-13 18:06] xundeenergie opened #11502 "Finish Federation with mobilizon"
Federation with mobilizon is not fully implemented.

Look on this table for the missing features
https://framagit.org/framasoft/mobilizon/-/issues/923

Thank you for your great work!

[2022-05-14 08:02] ThRPctmylSgltwH commented on #11511
Dear MrPetovan, I know that you are a volunteer and I am grateful for your work but do you have a timeline for the console command to change the domain? My site has been down for a couple of months at this point and I do not want to lose the history that my family has already created by starting over.
Thank you.

[2022-05-14 09:40] kr428 opened #11504 "Responding to posts CWed with hashtags breaks CWs"
While responding to (ActivityPub?) posts with hashtags used for CWs, the resulting post will contain broken markup code:

![8370442](https://user-images.githubusercontent.com/685879/168420305-fbac06dd-38fb-45b8-8ee5-66afe1fd635c.jpeg)

Is there a way to fix this?

[2022-05-14 17:26] utzer opened #11505 "Add link to Wiki in Friendica in /help"
### Is the feature request related to a problem? Please describe.

Add link to Wiki in Friendica in /help under **External Resources** make it somehow prominent... stick out.

### Additional context

This should be more promoted, there is currently a interest in information and this is a good chance to promote it more.

@tobiasd also mention it in the release note with a link?

[2022-05-14 20:13] AlfredSK commented on #11465
With the alternative setting `optimizer_use_condition_selectivity = 1` and MariaDB 10.6.x the above mentioned queries are fast now. But I have a new problem. :-)
I have now two other queries that are running for hours and even days. Looks like they are never finished. They're running until I kill them manually. In the worst case they were running for 6 days! :-)

### Example query 1:

[code]

**Ex

[2022-05-15 10:13] nupplaphil opened #11507 "daemon/worker stopped working"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Today, I pulled the latest sources from a timespan from ~1-2 weeks.
Now the daemon/worker are no more working.

I'm using a docker environment, where hundreds of process are running in parallel, but separated at applicaton level.
The daemon/worker are complaining about tooMuchWorkers

[code]
### Platform Info

Friend

[2022-05-15 10:30] annando commented on #11507
The function name is `tooMuchWorkers`. It just checks if there are too much workers. How have you checked that the workerqueue isn't working?

[2022-05-15 10:54] AlfredSK opened #11508 "Polls: DB error 1292 - incorrect datetime value"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

Looks like the datetime format is incorrect. Storing the data in the database fails.

[code]

### Platform Info

Friendica Version:
2022.05-rc

Friendica Source:
git

PHP version:
7.4

SQL version:
MariaDB 10.6

[2022-05-15 12:34] AlfredSK opened #11510 "Warnings for DOMXPath::evaluate() - undefined namespace prefix"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

This is a follow up issue of #11368 :-)
While the `DOMXPath::query()` has been fixed the `DOMXPath::evaluate()` warnings are still flooding my log.

``
2022-05-15T10:58:31Z worker [WARNING]: E_WARNING: DOMXPath::evaluate(): Undefined namespace prefix {"code":2,"message":"DOMXPath::evaluate(): Undefined namespace pre

[2022-05-15 12:50] nupplaphil commented on #11507
I wiped the process table, started the cron as usual and the first time since using, the workerqueue isn't increasing and the logs are showing 90% the logoutput above, except for some cases, where I noticed about 1-2 worker executions.

Shall I look for workerqueue entries with dangeling process IDs? I thought they would get reset because of some checks before

[2022-05-15 12:59] nupplaphil commented on #11507
ok, it's now working, I'm sorry for this false-positive ..
It was a strange behavior for me, but in the end, I now see a lot of  worker-executions again..

[2022-05-15 14:48] MrPetovan commented on #11511
Thank you for the reminder, I should be able to pull it together this week.

[2022-05-15 15:12] kr428 opened #11512 "Consistent notifications (web frontend, apps)"
At the moment, notifications (in 2022-05 RC) seem a bit hard to grasp, especially while using Friendica with both the web frontend and some mobile app like Tusky or AndStatus. Experiences, learnt so far:

The web frontend seems to display notoriously different notifications than the mobile app. In the mobile app, I get information when posts of mine have been starred, reshared, commented  (much as

[2022-05-15 15:22] kr428 opened #11513 "Limited-visibility responses to public posts are lost?"
Watched in 2022-05. Having two accounts that follow each other. Using web frontend, tusky and andstatus on Android. What happened:

* Did a post on my friendica account, public.
* Received a response to that, visibility set to follower-only, from a user on a Mastodon instance.
* This response...
* * ... never (until today) showed up in the Friendica web interface,
* * ... never showed up in tusky,

[2022-05-15 15:32] annando commented on #11507
The worker is performing several different self healing spells from time to time.

[2022-05-15 15:35] annando commented on #11513
Yeah, this is something that I wanted to have a look at it for a long time. Problem is that in the beginning Friendica always inherited permissions from the starting post. This means that a limited response to a public post would had become public as well. Because of this we drop such messages.

But we made several improvements to the core, so it is possible that we address this in the next versio

[2022-05-15 18:07] annando commented on #11504
Can you provide the links to the post you replied on and the reply?

[2022-05-15 18:07] #11508 closed, assigned to nobody

[2022-05-15 19:56] #11492 closed, assigned to nobody

[2022-05-15 20:51] ananelson opened #11517 "site sends incorrectly encoded emails on PHP 8 only"
Hello,

I'm a first-time friendica site admin, and I have just installed a new site.

I am running into an issue where site emails work fine when using PHP 7.4, but when I switch to PHP8 the emails are being incorrectly encoded, so what is seen in the email when viewed in a client is base64 text in various mime type sections, and not the rendered content. Here is a screenshot from my email client

[2022-05-15 22:10] nupplaphil commented on #11507
Something is definitly wrong :(
[code]

And a lot of workerqueue entries..

I will add current logs tomorrow

[2022-05-16 00:18] MrPetovan commented on #11504
Caused by https://github.com/friendica/friendica/pull/11476
Related to https://github.com/friendica/friendica/issues/11445

[2022-05-16 00:19] #11504 closed, assigned to nobody

[2022-05-16 00:22] MrPetovan commented on #11517
Thank you for your report, what version of PHP 8 are you using?

[2022-05-16 03:06] ananelson commented on #11517
Currently running 8.1.5. I tried with 8.0.? as well and got the same behavior with both.

[2022-05-16 03:25] MrPetovan commented on #11517
Thank you for the elaboration! I do not have access to PHP 8 on my server, but this is a good start. Do you mind sharing the email raw text with us for additional clues?

[2022-05-16 10:35] foss- commented on #11505
Can you outline this in greater detail. Is the idea to replace current documentation? I do not yet understand the plan behind this change. If it is to replace current documentation with new wiki, there is still some work that needs to be done.

Also until doc is fully replaced by wiki this makes using help rather confusing for users.

[2022-05-16 11:14] tobiasd commented on #11505
At the Friendica Hackathon 2020 it was decided that the information that is found at the github wiki and the `/help` directory of every Friendica node should be boundled in a dedicated "Friendica Wiki". The `/help` content is placed in the `/docs` name space of the wiki. Translateable there etc. Changes from the Wiki will be copied back into the repository `/help` directory before a release.

Espe

[2022-05-16 17:31] ananelson commented on #11517
I sent to your email.

[2022-05-16 19:03] MrPetovan commented on #11517
Can you please send me an email raw message with PHP 7 so that I can compare? So far I couldn't spot any obvious issues with the part of the email we are generating. I was also wrong, the core emails aren't handled by a third-party library, we put the mail body together ourselves, which isn't ideal for the reason you uncovered in this issue.

[2022-05-17 19:30] xundeenergie opened #11527 "Create and edit postings improvement"
### Is the feature request related to a problem? Please describe.

Creating and editing postings and comments is very inconsistent and a little old fashioned in friendica. This are some thought as a basis for discussion to modernize the UI and make it more comfortable and consistent in handling.
Please understand my ideas as input for the evolution in friendica and only as a base to discuss.
Here

[2022-05-17 19:33] ananelson commented on #11517
I noticed that parts of the message were separated with "\r\n" and others with "\n" so I standardized to "\r\n" and that resolved the issue for me. It's probably easier for you to just make the same changes but I can make a PR if that would be helpful. (And yes as you noted, probably using a library is best in the long term.)

[2022-05-17 20:33] tobiasd commented on #11216
Found this in the `friendica.log` file after a WSOD in the network stream (PHP8.0)

[code]

[2022-05-17 20:54] annando commented on #11216
Should be fixed with one my PRs from this day.

[2022-05-17 22:12] nupplaphil commented on #11507
sometimes it's working, but it's now stuck here:
[code]

[2022-05-18 02:28] ananelson opened #11529 "friend suggestion privacy enhancements"
### Is the feature request related to a problem? Please describe.

I noticed that a deleted user was still being suggested as a possible friend. Also some private forums which I wanted to be invite-only and secret were also being suggested.

### Describe the feature you'd like

Contacts should not be suggested as friends if they:
- have been removed/deleted from the local server
- are marked with

[2022-05-18 05:05] tobiasd commented on #11216
I've scrolled past the postings of the WSOD occurrence without an error, so I guess your are right :) closing https://github.com/friendica/friendica/issues/11216#issuecomment-1129291999

[2022-05-19 02:45] #11507 closed, assigned to nobody

[2022-05-19 07:25] utzer opened #11535 "Open and close new user registration automatic"
### Describe the feature you'd like

Open and close new user registration based on total number of users, this would help to maintain a maximum number of users on a server to ensure a good quality of service.

### Describe alternatives you've considered

nope.

### Additional context

Maybe the thread [here](https://social.yl.ms/display/e18176ef-1862-856d-9311-7da363608096).

[2022-05-19 10:58] Ryonez opened #11537 "Create Discord Webhook Post Connector Addon"
### Is the feature request related to a problem? Please describe.

It is not as far as I can tell.

### Describe the feature you'd like

I wish for a connecter that'll allow accounts to post to a webhook. My own desire is to use such a connecter to share my public posts into discord.

### Describe alternatives you've considered

I've been unable to find one.

### Additional context
N/A

[2022-05-19 12:14] annando commented on #11537
Have you tried the IFTTT addon?

[2022-05-19 17:16] loma-one opened #11538 "Fix the the move function to a Friendica instance"
The move function from a Friendica instance A to an instance B is experimental and defective in the current RC. Therefore, the admin wanted to be able to deactivate the function.

Alternatively, the function should be marked as experimental, as it is very likely to run into an error.

IMPORTANT: Moving from one instance to another instance works!
However, there are dependencies to consider, which

[2022-05-19 17:31] schmaker commented on #11146
I can confirm this behavior (just wanted to report it today), pictures from albums are linked to preview image instead of full size photo.

Should be quite easy to fix as it's just hyperlink issue :)

[2022-05-19 18:33] igor-cali commented on #11431
I am also affected by this on [Nerdica](https://nerdica.net) pod:
- code version: `2022.05-rc`
- database version: `1460/1460`

The following reshared post is shown on top of my profile, before my truly pinned posts and most recent ones:
![immagine](https://user-images.githubusercontent.com/12466054/169373886-71c0c99f-fd9a-45fa-8414-389613bf693e.png)

[2022-05-20 04:17] tobiasd commented on #11146
It's not only `frio` but a general problem.

[2022-05-20 04:33] tobiasd commented on #11538
I know, nobody reads the documentation, but it is marked there as being experimental.

Actually I think the note there comes from the time when this feature did not really work. Before it did work. Sadly it does not work anymore.

[2022-05-20 10:34] loma-one commented on #11538
If I remember correctly, not only the profile but also the history and contacts were imported. Diaspora then had to be painstakingly searched for.
Isn't it enough if only the entity is migrated and a ping is sent to the contacts? That should be quicker to fix than the rather complex process for the history.

[2022-05-20 12:32] ghost commented on #11535
Basically I would see this feature in a replacement/rewrite for/of the `public_server`, together with #9399. Adding this to the 2022.08 release would be nice, though, but the other features from #9399 makes sense in this as well, because limiting users automatically does only make sense, when users are cleaned up automatically as well. The logic to cleanup is already present in the `cleanup_friend

[2022-05-20 14:39] MrPetovan commented on #11517
Yes, please submit a PR, I didn't take the time to dive into this issue further so I'll gladly take your fix. I also noticed unexpected line feeds in the raw message but I wasn't sure how to fix them.

[2022-05-20 14:40] MrPetovan commented on #11529
Thank you for the suggestion, this shouldn't be an addon but part of the core. Basically we have to add additional conditions in the SQL query selecting the suggested contacts.

[2022-05-20 14:46] MrPetovan commented on #11537
What's a webhook? We have several addons that allow to publish Friendica posts to third-party services, maybe this can be generalized?

[2022-05-20 14:47] MrPetovan commented on #11431
Thank you for the report!

[2022-05-20 18:10] schmaker opened #11542 "Mastodon does not receive images included to posts"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Mastodon does not receive images nor can access it on Friendica instance.

### Steps to Reproduce

1.  Make friendica post with access restriction (for example only single group can access post and image included)

Actual Result:

Mastodon user can see text, but cannot see images

Expected Result:

Masodon should rea

[2022-05-20 19:10] annando commented on #11542
It's not a bug, it's a feature. When a picture is posted with restricted permissions, then the picture receives the restricted permissions as well. We expect that the other side then uses a signed HTTP request so that the permissions can be checked. But it seems as if other systems aren't doing this.

In the account settings (in the security section) you can enable access to restricted pictures.

[2022-05-20 20:03] stephanmaus commented on #11216
Unfortunately, the Friendica-Guide for uberspace still doesn't work. I've tried to install Friendica on a fresh server and got the error-message "500 Internal Server Error". The frontend still doesn't load. Thanks for all your work!

[2022-05-20 21:43] ananelson commented on #11517
Will do! Which branch would you like a PR against?

[2022-05-21 00:21] Ryonez commented on #11537
It might be easier for me to post to some resources than potently explaining it incorrectly.

Webhooks:
https://en.wikipedia.org/wiki/Webhook

Discord documentation for webhooks (pointed to what they'll expect from Friendica):
https://discord.com/developers/docs/resources/webhook#execute-webhook

Slack also does webhooks, but I know almost nothing other than the format that's expect differs from w

[2022-05-21 03:45] MrPetovan commented on #11517
`2022.05-rc` please. Don't worry too much about it when you submit your PR, we can switch branch easily.

[2022-05-21 03:49] MrPetovan commented on #11537
Thanks, I believe this will be useful, and it definitely will be a Discord-specific addon.

[2022-05-21 04:49] Ryonez commented on #11537
Makes sense, wasn't to sure how tricky it'd be to make it more generic.

[2022-05-21 05:02] schmaker commented on #11542
So, does that mean that i'm supposed to report this on Mastodon tracker instead, because they aren't sending the request?

[2022-05-21 05:50] annando commented on #11542
You can add a feature request there. Since most systems don't store media content with permissions, this won't count as a bug there, I guess.

[2022-05-21 10:40] AlfredSK commented on #11510
Fixed by #11543

[2022-05-21 10:40] #11510 closed, assigned to nobody

[2022-05-21 12:20] MrPetovan commented on #11537
We have an IFTTT addon that makes use of their webhook as well, although I didn't connect the dots until I read the Discord documentation. Both webhooks have different parameters so it definitely isn't generalizable.

[2022-05-21 12:42] annando commented on #11537
Our IFTTT addon is for the opposite direction.

[2022-05-21 12:45] MrPetovan commented on #11537
Oh.

[2022-05-21 17:37] AlfredSK commented on #11329
This was caused by some malformed queue entry. Since I dropped some jobs from the queue it works again.

[2022-05-21 17:37] #11329 closed, assigned to nobody

[2022-05-21 20:00] schmaker commented on #11542
Created feature request on Mastodon github:
https://github.com/mastodon/mastodon/issues/18476

[2022-05-22 05:12] robert-winkler opened #11547 "Git install: Subdirectories (/install, /login, etc.) absent or not accessible?"
I just installed friendica for the first time on a dedicated VPS.

1. Problem: I wanted to start the installation by visiting my webpage (after moving .htaccess-dist to .htaccess). However, the /install directory was not accessible.
I installed it manually (success!) and also changed the access to 755 and the owner to www-data.

2. The page seems to work, but I cannot do anything:
<https://mexico-

[2022-05-22 05:40] tobiasd commented on #11216
Which version of Friendica are you trying to install @stephanmaus if it was the last stable release (2022.03) could you try to install the current release candidate instead (from the 2022.05-rc branch of the git repository)

[2022-05-22 05:45] tobiasd commented on #11547
This sounds as if your webserver is not configured to allowr `rewriting`.

But, as I just wanted to test your problem for me calling https://mexico-pensante.blog/help/Connectors works. Have you found the solution in the mean time?

[2022-05-22 06:18] robert-winkler commented on #11547
Dear Tobias,

I modified the installation directory in the Apache conf; now it seems to work fine. Thanks!

On May 22, 2022 12:45:47 AM CDT, Tobias Diekershoff ***@***.***> wrote:

[2022-05-22 06:32] #11547 closed, assigned to nobody

[2022-05-22 07:36] AlfredSK commented on #11218
`Undefined index: causer-id in .../src/Content/Conversation.php on line 157`

2022.05-rc, PHP 7.4

[2022-05-22 09:39] loma-one opened #11548 "Incomplete profile data User accounts"
- [x] I have searched open and closed issues for duplicates

### Bug Description
If a profile picture is changed or a new account is shared, the profile pictures are currently not updated. Only the placeholder is visible. Apparently, the profile texts are also not always transferred cleanly.
Only with "Reload contact data" a complete update with picture and profile text takes place.
This only seem

[2022-05-23 07:12] rickgardner077 commented on #11216
I tried installing the 2022.05-rc. Unfortunately no difference from https://github.com/friendica/friendica/issues/11216#issuecomment-1114967771

[2022-05-23 08:14] tobiasd commented on #11216
What version of PHP do you have on the server @rickgardner077 ?

I just did a successful installation of Friendica 2022.05-rc on a Debian/Bullseye server with PHP 7.4.

[2022-05-23 09:06] stephanmaus commented on #11216
Yes, it was the last stable release (2022.03). I finally suceeded to install it on my other provider "all-inkl" (Friendica 'Siberian Iris' 2022.03 - 1452) where it runs very well. I don't know why it didn't work on uberspace.

Thanks a lot for your work for Friendica!

[2022-05-23 12:33] rickgardner077 commented on #11216
7.4

[2022-05-23 18:53] kr428 opened #11550 "Deleting posts via Mastodon clients causes unexpected behaviour"
Tested with tusky 18, fedilab (beta) and AndStatus: Once posted, deleting a post _seems_ to generally work but causes (a) the apps to display generic error messages - like "an error occurred" - and the post still being visible in the app. In the web frontend, by then it's gone so apparently deletion works. Seems deleting returns an unexpected response / state?

Tested on loma.ml / friendica 2022.0

[2022-05-23 18:56] kr428 opened #11551 "Tumblr crossposting is broken?"
Starting late April, Tumblr connector seems to have broken for my account. Tested on loma.ml, been debugging that with the local admin without too much effect gained. Seems it's only limited to my account but for that one, it's apparently unfixable? No weird insights in the log files, posts just don't seem to go through. Already did reset the full Tumblr addon configuration (including the app regi

[2022-05-23 18:58] kr428 opened #11552 "wordpress crosspost: Do not auto-set titles?"
In order to use a (self-hosted) wordpress instance as an archive for things posted to various instances, I wondered whether it's possible to have all posts sent to there. Which generally works, except for handling posts that do not have a "title"/"subject" set in Friendica, for which the connector apparently simply uses part of the full text content to set it to something. Is there a way to leave

[2022-05-24 05:41] ne20002 opened #11553 "Show which user I'm displaying follows/ followers for in Tusky"
- [x] I have searched open and closed issues for duplicates

### Bug Description

See https://github.com/tuskyapp/Tusky/issues/2538. The list of followers and followed in Tusky is empty. It does work with a Mastodon server though (so I believe it's a friendica issue).

### Steps to Reproduce

See https://github.com/tuskyapp/Tusky/issues/2538.

Friendica Version: 2022.03, docker image

[2022-05-24 14:52] rickgardner077 commented on #11216
I just gave it another try on [Uberspace](https://uberspace.de). Sorry that I can't be of more help, but in this case finding the error is above my knowledge. I cloned 2022.05-rc + addon (rc as well) on an empty Uberspace with PHP 7.4 but run into the same error (Internal Server Error 500).

I again followed[ this guide](https://lab.uberspace.de/guide_friendica/), which is not more than cloning th

[2022-05-25 05:09] tobiasd commented on #11216
Can you send me the credentials to the uberspace? I'll try to have a look at it

[2022-05-25 06:08] rickgardner077 commented on #11216
I switched to PHP 8.1 and got Friendica to load. Seems to have resolved the issue. Will finish the installation and let you know how it went

[2022-05-25 06:28] haheute opened #11557 "can't remove jabber address from profile"
- [x] I have searched open and closed issues for duplicates

### Bug Description

I have repeatedly tried to remove my jabber address from my profile information. It is still visible on the "display post page" (`https://libranet.de/display/{id}`), although the field in settings is empty. It is also visible on that page in a private browser tab.

### Steps to Reproduce

1.  Add a jabber id in profi

[2022-05-25 13:04] MrPetovan commented on #11557
Can you check if it is still present in the settings form? It might be a cache issue.

[2022-05-25 13:18] haheute commented on #11557
when i go to `/settings/profile`, the form field for xmpp / jabber is empty

[2022-05-25 13:26] MrPetovan commented on #11557
Thank you, what does your main profile show? The link should be something like `https://<yourdomain.com>/profile/<username>/profile`.

[2022-05-25 13:42] haheute commented on #11557
there also is no jabber address. but still on the `/display/<id>` page.

[2022-05-25 14:05] MrPetovan commented on #11557
Ok, so it definitely looks like a cache issue, thank you for the added details.

[2022-05-25 14:11] annando commented on #11557
It could be a problem that this value is removed from the user record but not the self contact or its corresponding public contact.

[2022-05-25 18:44] annando commented on #11557
I can't reproduce this here on my machine.

[2022-05-25 18:58] annando commented on #11553
I can't reproduce it here with the RC branch.

Edit: Have you checked if you see the followers via the web interface?

[2022-05-25 19:12] haheute commented on #11557
I'm observing this since some time. If I remember correctly, the jabber address was also gone, but then it reappeared..
I have tried with empty field, and with spaces - and with fantasy id's like bla@bla.xy to replace it.
here, you should see it: https://libranet.de/display/0b6b25a8-1962-8cdd-880c-604042235213

[2022-05-26 05:49] annando commented on #11557
Weird ... BTW: Here it isn't: https://pirati.ca/display/0b6b25a8-1962-8cdd-880c-604042235213

[2022-05-26 08:20] foss- commented on #11553
Follows | Followers numbers are not 0 for me and when tapped the lists do show entries. However both numbers are inaccurate and much lower than the numbers I see when logged into friendi.ca > Contacts and selecting Followers or Following.

This is Friendica, version 2022.05-rc that is running at the web location https://pirati.ca. The database version is 1464/1464, the post update version is 1452/

[2022-05-26 15:13] SpcCw opened #11560 ""console movetoavatarcache" error"
- [ o ] I have searched open and closed issues for duplicates

I decided to try [new console command](https://github.com/friendica/friendica/pull/11549) moving avatars to cache and got an error:

[code]

Now this is probably because I use filesystem storage and don't have anything in DB?

Friendica: current RC
PHP: 7.4.29

[2022-05-26 17:25] loma-one opened #11561 "Image tags are marked as incorrect"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Images are uploaded to the image gallery, tagged with a description text and tag. The tag is displayed and marked with an error.
Invalid link protocol" error message

### Steps to Reproduce

1. new image uploaded ../photos/one/upload
2. tag added

Actual Result:

A warning tag is added to the tag. An error message is

[2022-05-26 18:37] utzer opened #11562 "Resize uploaded pictures so they meet the maximum permited size"
### Describe the feature you'd like

When a picture is uploaded and it exceeds the maximum permitted file size (not PHP limit) then it should be resized (resize and quality decreased) to meet the maximum permitted file size instead of just giving a fault.

### Describe alternatives you've considered

No, just a spree of the moment idea.

[2022-05-26 18:50] annando commented on #11560
No, it's just because this is a brand new feature and obviously needs some refinement.

[2022-05-26 19:10] annando commented on #11562
We are doing so: https://github.com/friendica/friendica/blob/2022.05-rc/src/Model/Photo.php#L888-L920

[2022-05-26 19:56] utzer commented on #11562
That is new, right? In the current stable I just get some exceed message that tells me the maximum upload size that I set in /admin.

[2022-05-26 19:59] annando commented on #11562
No, this is done several versions before.

[2022-05-26 20:30] utzer commented on #11562
So then I wonder how to activate it. Will check.

[2022-05-26 20:47] annando commented on #11562
It should work out of the box. How have you uploaded the picture?

[2022-05-26 20:59] utzer commented on #11562
It works, strange, I got the fault this morning. Strange.

[2022-05-26 20:59] #11562 closed, assigned to nobody

[2022-05-26 22:58] #11560 closed, assigned to nobody

[2022-05-27 11:19] rickgardner077 opened #11566 "Create option to hide comment notifications on liked posts"
### Is the feature request related to a problem?
There is a notification whenever someone comments on a liked/upvoted post. Users should be able to disable these kinds of notifications

### Describe alternatives you've considered
Alternatively there could be an option to disable these notifications for single posts

### Additional context

[2022-05-27 12:02] tobiasd commented on #11566
You can deactivate the notification about "likes" in the user settings (`/settings`) in the "Notification Settings" section.

[2022-05-27 12:03] tobiasd commented on #11469
Today I got an notification about a dislike again.

[2022-05-27 12:07] MrPetovan commented on #11566
It's different. Whenever you interact with a thread (with a like or a comment), you will be notified of every subsequent comment your node receive about this thread. It's an implicit "Follow Thread" that has to be manually turned off on a conversation basis with the "Ignore Thread" option.

[2022-05-27 12:35] tio-trom commented on #11566
I suggest the "follow thread" to always be deactivated for when you comment on a thread. Only when you get replies on your comment to be notified. And if you like a thread....well maybe in the settings users can select if that should automatically mean follow the thread or not. For me I'd like not to. I avoid liking posts simply because I get notifications for every single comment on that post.

[2022-05-27 13:22] rickgardner077 commented on #11566
If I read this correctly the action of liking a post has a different connotation on Friendica than on other services, like Mastodon, Pleroma or Pixelfed.

On these services a like is a signal to the creator of a post of acknowledgement or agreement. For newbies some even refer to liking as a kind of bookmark to save interesting posts.

On Friendica being notified of all subsequent comments it seem

[2022-05-27 18:53] annando commented on #11566
My idea is to have several options for when to get notified. For example:

- Notify whenever someone interacted with a comment in the thread where you interacted in any way
- Notify whenever someone interacted with a comment in the thread where you commented on
- Notify whenever someone commented directly to your post/comment
- Notify whenever someone interacted (comment/like) directly to your pos

[2022-05-27 23:07] tio-trom commented on #11566
Those suggestions sound very good! Especially if this can also be applied generally or per post. Awesome Friendica!

[2022-05-28 07:02] rickgardner077 commented on #11566
I'm amazed how a question from a newbie like myself in the support forum leads to a feature discussion like this in no time. Thanks everybody

[2022-05-28 08:02] foss- commented on #11566
What will be the default? Can we agree that the current default to notify user of replies to threads they did not comment on but only liked a post is not a good choice? Think either `Notify whenever someone interacted with a comment in the thread where you commented on` or `Notify whenever someone commented directly to your post/comment` would be preferable as default.

Twitter only notifies about

[2022-05-28 08:39] annando commented on #11566
The default will be the current behaviour. Current users shouldn't need to adjust something to keep the same experience.

And yes, we should have a look to make the configuration easy to use and understand.

[2022-05-28 09:08] SpcCw commented on #11566
Currently it works as follows: any interaction means subscription to new comments and if you don't want to get new comments after "liking" you can "like" and then click "ignore thread". It is already simple. Most of the time I prefer to get further comments on liked posts because if I liked something I am usually interested on follow-ups.

So I think new user option could be added which would dete

[2022-05-28 09:23] tio-trom commented on #11566
I agree with @foss that the current default is too much. Liking a post should not necessarily mean you want to get notifications for all comments on that post. Up to the Friendica devs, but from my experience it makes you not want to like posts. Liking then clicking to ignore the thread from a drop down menu is not very comfortable. Plus, what if I comment to a post and I am only interested in wha

[2022-05-28 10:52] annando commented on #11557
Could you have a look at the database? Please look for the field `xmpp` in the `contact` table and have a look for all contact records for that user. You should have at least the public contact record (with `uid' set to `0`) and the `self` contact (where `self` is set to `1`). I expect that the `self` and the public contact are both have an empty xmpp field (because that's what I tested and verifi

[2022-05-28 11:01] annando commented on #11465
Are you still having issues?

[2022-05-28 11:15] AlfredSK commented on #11465
Nope. After switching to the alternative optimizer setting the original issue didn't exist anymore. The other problem seems to be solved as well. I have watched this for a while. Everything looks good at the moment.

Question is what would happen if I switch back to the default optimizer setting of MariaDB 10.6.

[2022-05-28 11:17] AlfredSK commented on #11557
I can do that later today or tomorrow.

[2022-05-28 11:31] annando commented on #10019
I don't think that we have got an issue here. We can create posts that contain links to a Peertube video, like for example this one: https://pirati.ca/display/ec054ce7-6062-9206-b741-6c2680514654

And you can also simply reshare a peertube video like you would reshare a text post. So from my side I don't see an issue here.

[2022-05-28 11:50] annando commented on #10926
I just checked. I can create an event on the forum page and this then is distributed to their users in my tests.

[2022-05-28 11:58] annando commented on #10970
I don't think that we have got a general issue here but more an individual support issue.

[2022-05-28 12:02] annando commented on #11040
Has anyone else experienced this issue? Or did it happened again on the system?

[2022-05-28 12:04] AlfredSK commented on #11040
I need to check it.

[2022-05-28 12:07] AlfredSK commented on #11040
Well. My list of blocked contacts is still pretty short. But there were no other reports for this issue. So, I think we should close it.

[2022-05-28 12:07] #11040 closed, assigned to MrPetovan

[2022-05-28 12:11] bkil commented on #10019
Thank you for the link. I can only see a preview image of the video, not a video player itself being embedded.

[2022-05-28 12:12] annando commented on #11291
@MrPetovan do you still have this issue on your plan for this release or should we move it?

[2022-05-28 12:14] annando commented on #11284
I haven't got any new experience with this. So I think that we can move this issue to the next milestone.

[2022-05-28 12:17] annando commented on #11299
@AlfredSK I guess this is solved for you a long time ago and we can close the issue?

[2022-05-28 12:19] annando commented on #10019
Yes. But I don't think that we should embed it. When we want to share a Peertube video then we should share that video, like we share a post with a test or picture.

[2022-05-28 12:25] annando commented on #11465
Good question. I'm not sure if we have a lot of influence on the optimizer.

[2022-05-28 12:30] annando commented on #11548
Do other people experience the same?

[2022-05-28 12:33] bkil commented on #10019
In contrast, YouTube **is** embedded whether you like it or not. Your timeline & network feed sends a bunch of tracker pings to a bunch of big proprietary players. The only way around this at present is to fully block it on the networking level.

In contrast, why can't a Friendica operator (or the Friendica user even) enumerate in the settings the list of trusted PeerTube/PixelFed instances that t

[2022-05-28 12:37] AlfredSK commented on #11299
Yep. I think so.

[2022-05-28 12:37] #11299 closed, assigned to annando

[2022-05-28 13:18] MrPetovan commented on #11291
I can look into it this weekend, if the release is also planned for this week-end we should move it.

[2022-05-28 13:21] MrPetovan commented on #10019
I had to add the various Youtube domains as "trusted third-party domains" in the Admin settings in order for embeds to work, I'm not sure it's "whether you like it or not".

[2022-05-28 13:32] annando commented on #10019
Whatever we will do with this, I don't consider it a bug. It's more a feature request.

[2022-05-28 13:34] annando commented on #11291
I'm not sure for when the release is planned. I'm just walking through all issues and have a look if they are blocking issues.

[2022-05-28 13:39] foss- commented on #10019
Certainly a feature request and milestone should be removed.

[2022-05-28 13:50] bkil commented on #10019
You mean via `URI.SafeIframeRagexp`? Before a user joins an instance, how can we tell what is the value of such a setting? Is SoundCloud working now and the other corner cases enumerated in the first few comments? I can't test YouTube.

[2022-05-28 14:50] SpcCw commented on #11465
I had the same problem but I don't see it for two days now. However I did multiple things just before then:
- updated to the latest RC
- ran new "move avatars to cache" console command (with some unwanted consequences so be careful with it)
- expired a lot of old posts created by some news bots of mine and ran optimize on the DB
- did server update and restart

 So I am not entirely sure if it was

[2022-05-28 15:01] SpcCw commented on #11560
I noticed it a bit too late so just FYI: after I ran the command after this update some of local users lost their avatars - now there's is default "person_300" avatar in their profiles and resized versions are non-existent, avatar images are missing from photo albums as well.

Reuploading or setting avatar from existing pictures works though.

What is strange it happened only to users who did not

[2022-05-28 15:18] annando commented on #11560
I guess I have to refine the move command a little bit, thanks for the information. It has got nothing to do with being logged in or not. It's just an issue with a too greedy script that converts too much data.

[2022-05-28 16:27] annando commented on #11512
It's not a bug, but some kind of feature. On the API we imitate the behaviour from Mastodon because we use their API. On the frontend we keep our own behaviour. However, there is an option in the settings where you can get notified on the frontend upon your posts being liked or reshared as well.

[2022-05-28 17:33] annando commented on #11471
In the notification link there is some integer value. Please have a look into the `notification` table with an `id` with that value and post the result here.

[2022-05-28 17:33] annando commented on #11469
In the notification link there is some integer value. Please have a look into the `notification` table with an `id` with that value and post the result here.

[2022-05-28 18:29] Tealk commented on #10926
Also to users who join the forum later?

[2022-05-28 19:34] annando commented on #10926
No. Currently this is technically not possible.

[2022-05-28 22:24] #11431 closed, assigned to nobody

[2022-05-28 22:32] #11470 closed, assigned to nobody

[2022-05-29 01:55] MrPetovan commented on #11291
PR done: https://github.com/friendica/friendica/pull/11571

[2022-05-29 02:57] robert-winkler opened #11572 "Registration Email delivery to Gmail Accounts fails"
Hi, am running a Friendica Node. Strangely, Users who want to register with a Gmail account will not receive their confirmation email with the password.

My admin email is xxx@bioprocess.org, but obviously, a gmail-smtp is configured in friendica:

[code]

I already removed sendmail on the server, but another mailer seems to be configured.

I also tried using the PHP Mailer SMTP addon with the sam

[2022-05-29 03:39] #11291 closed, assigned to MrPetovan

[2022-05-29 06:03] tobiasd commented on #11469
I don't see a way in the browser to make this information visible... neither Firefox nor Chromium seem to display the link from the dynamically filled JS pull-down menu. I'll activate the server log later and then try to catch the notification URL from that.

[2022-05-29 06:07] tobiasd commented on #11512
I agree with @kr428 in that I'd expect to see the same notifications in apps as in the web interface following the rules set in my settings. I wont care if Mastodon would show different notifications, as I don't use Mastodon but Friendica.

[2022-05-29 06:49] tobiasd commented on #11469
[code]

[2022-05-29 07:04] ne20002 commented on #11572
The message complains about IPv6 PTR DNS record. Seems to be your mail Server setup.
Google is strict with checking oft ptr, dmarc, spf. ..

https://internet.nl/mail/bioprocess.org/728056/#

[2022-05-29 07:59] annando commented on #11469
Concerning the notifications: Where do you receive them? Do you see them on the desktop or via mail?

[2022-05-29 08:04] annando commented on #11512
The notifications via the API is working with a handful of predefined types. This is something that we cannot change when we want to stay compatible. This means: We don't send some text like "you are mentioned" or "someone commented on your post" but we are sending predefined types.

Edit: For that reason I don't see this as a bug.

[2022-05-29 08:09] tobiasd commented on #11469
It's only in the web interface, no mail was send.

[2022-05-29 09:07] loma-one opened #11574 "Mark all or no contacts"
### Is the feature request related to a problem? Please describe.

It may happen that contacts need to be updated; locked/unlocked/ignored, ignore unchecked. Currently, on a paginated page, each contact must be marked individually.

### Describe the feature you'd like

There should be a possibility to mark or unmark all contacts on a paginated page.
![Screenshot 2022-05-29 at 11-03-07  ˈloma  Cont

[2022-05-29 10:06] Tealk commented on #10926
This is a problem in my case because players leave the group and new ones join, then I would have to recreate the events again

[2022-05-29 10:32] annando commented on #10926
I do understand the problem. But I don't think that it is a bug but more a feature request.

[2022-05-29 10:43] annando commented on #11471
Currently I can't reproduce it, it is working here really fine.

[2022-05-29 12:02] AlfredSK commented on #11557
[code]

[2022-05-29 12:06] #11469 closed, assigned to nobody

[2022-05-29 12:07] MrPetovan commented on #11557
Oof, all the “xmpp” values should be the same, either all filled or all empty.

[2022-05-29 12:10] AlfredSK commented on #11291
Hmm. The new behavior is weird in some cases. Example: When I'm logged in to my user account and I click on a notification for a new post of another local user (one of my own news bots) the theme is changing to the configured theme of that other user. This is unexpected from my point of view.

[2022-05-29 12:14] AlfredSK commented on #11557
The uid 3963 is the uid of the local user (self = 1). For that user the xmpp field is empty but not for some other contacts and also not for the user with uid = 0.

[2022-05-29 13:22] annando commented on #11557
That's ... interesting. We are updating the `own` contact, the public contact and the profile at the same time:
https://github.com/friendica/friendica/blob/2022.05-rc/src/Model/Contact.php#L768-L787

Can you have a look at the `updated` field in the contact table?

[2022-05-29 14:13] MrPetovan commented on #11291
There a logged-in setting to always use your own theme when browsing your local node’s users. It used to be confined to profiles but it just got expanded to conversations!

[2022-05-29 15:56] AlfredSK commented on #11291
Can you give me a hint where I can find that setting, please? I can't find it.

[2022-05-29 16:11] tobiasd commented on #11471
I've disabled the option for a bunch of forums and enabled it again, lets see what happens.

[2022-05-29 16:14] AlfredSK commented on #11557
Here it is...

[code]

[2022-05-29 16:16] annando commented on #11557
That's confusing ...

[2022-05-29 16:17] AlfredSK commented on #11557
I know. :-)

[2022-05-29 17:53] tobiasd commented on #11471
Sadly, that did not fix it.

There was a new posting to the suipport forum, but I did not get a notification about it.

[2022-05-29 17:56] annando commented on #11471
And I got it, weird.

[2022-05-29 18:26] MrPetovan commented on #11291
Alright, you're going to laugh (or not). We only retrieve the value of `system.always_my_theme`, but we don't set it (anymore, I presume). Let me dig further.

[2022-05-29 18:30] annando commented on #11291
I have the feeling as if I introduced that value long years ago without documenting it.

[2022-05-29 18:38] MrPetovan commented on #11291
Alright, I have more info. The `system.always_my_theme` pconfig value was introduced in June 2015 but 373bb0822b2040d54fc17717840b5adfe15d1223, but only read, never set.

It's never been set ever since that I've been able to see.

I'm thinking about adding this settings in Settings -> Display -> Content/Layout. Thoughts?

[2022-05-29 18:42] #11511 closed, assigned to MrPetovan

[2022-05-29 18:43] annando commented on #11291
Yeah, like I said. I guess that I introduced it silently :-)

[2022-05-29 18:45] AlfredSK commented on #11291
Seems to be a good place.

[2022-05-29 19:17] tio-trom commented on #11291
Yup I agree with Settings -> Display -> Content/Layout

[2022-05-29 19:48] MrPetovan commented on #11511
Hey @ThRPctmylSgltwH , can you please pull the `2022.05-rc` branch and test the `bin/console relocate` command?

[2022-05-29 19:49] #11488 closed, assigned to MrPetovan

[2022-05-29 19:53] #11557 closed, assigned to nobody

[2022-05-29 19:54] #11561 closed, assigned to nobody

[2022-05-29 19:56] MrPetovan commented on #11291
It was Rabuzarus actually, you’re off the hook on this one.

And I’ve been suggested the setting is too confusing, better to assume logged in users don’t want or expect the theme to change when they visit other local users.

This would simplify the coding and reduce the number of future support requests!

[2022-05-29 20:33] ThRPctmylSgltwH commented on #11511
@MrPetovan and @annando - when I update the container and restart, the container logs give the below text and the website cannot be reached. Do I have to do something else besides pulling the new container and restarting? I have made a backup of my /var/lib/mysql and my /var/www/html directories. The file VERSION is located directly in the /var/www/html directory and contains 2022.03. If I switch

[2022-05-29 23:14] tio-trom commented on #11291
Yes logged in users should not be forced to see the user's custom theme. That's why I was suggested this for public viewing (non logged in users).

[2022-05-29 23:56] MrPetovan commented on #11291
Of course, but I remembered seeing this setting before, so I thought it was intended to be user-configurable. Removing it was the simpler solution.

[2022-05-30 00:22] MrPetovan commented on #10727
If the list can grow arbitrarily, then constants aren't the right way to handle these.

[2022-05-30 00:22] #10727 closed, assigned to MrPetovan

[2022-05-30 05:16] kr428 commented on #11512
I now managed to configure the setting mentioned above, making it at least somewhat more predictable in the web user interface. Personally, I get and agree with that particular reasoning. However, one way to mimick this behaviour without breaking changes all too much would be to (all along these lines) also provide a setting to disable notifications such as "XYZ has commented in conversation <ABC>

[2022-05-30 06:06] tobiasd commented on #11512
That option is already there I believe. In your users settings in the *Notification Settings* you can enable the option **Someone writes a followup comment**. If you further don't choose the **Show detailled notifications** option, you will only see one notification per thread instead of one per action on a thread.

[2022-05-30 06:22] kr428 commented on #11512
Hmm, I'll give it a try then. This "someone writes a follow-up comment" is listed in the "e-mail notifications" section as far as I see? Does that apply to the web interface too?

[2022-05-30 06:37] tobiasd commented on #11512
TBH I hope so, the option for the "likes" in the deskop area seem to prevent mails for likes (or I am imagine this) but the "send mails as plaintext" option is in the desktop section as well. I've never realized, that there are different sections in the notification settings before TBH... örks

[2022-05-30 06:40] tobiasd commented on #11471
Ok, I've moved this issue to the 2022.08 milestone, if it is only broken on my node, we don't need to delay the release for this.

[2022-05-30 07:56] annando commented on #11512
@kr428 there is this issue: https://github.com/friendica/friendica/issues/11566

For the next version I will try to make the desktop notifications more customizable.

[2022-05-30 07:58] annando commented on #11471
Possibly it has got something to do with the detailed notifications. I guess you have enabled them, haven't you?

[2022-05-30 08:00] tobiasd commented on #11471
Yes I have activated them, and I have not ignored any of the forums I like to get notifications about.

[2022-05-30 08:54] annando commented on #11471
Can you disable the detailed notifications to check if this does make a difference?

[2022-05-30 08:57] kr428 commented on #11512
Ok thanks. So I'll for now consider this part a duplicate, and for the other aspects there seem workarounds.

[2022-05-30 08:57] #11512 closed, assigned to nobody

[2022-05-30 09:51] foss- commented on #11548
Had this problem with Twitter accounts in the past. But with recent changes in regards to avatars I think (TM) all profile picture were updated and now show as expected.
See also https://github.com/friendica/friendica/issues/11324#issuecomment-1117986407

[2022-05-30 11:55] annando commented on #11548
squeet.me and pirati.ca don't count concerning this, since I'm using an experimental avatar caching here.

[2022-05-30 13:27] tobiasd commented on #11471
Yes, I did not get a new notification for the new support forum posting ;-)

[2022-05-30 14:10] annando commented on #11471
At least we now know what *isn't* responsible ...

[2022-05-30 16:06] loma-one commented on #11548
Just looked over the public timeline again and yes, the problem is still here. If it is an instance problem, then a hint on how I can fix it myself would be nice.

[2022-05-30 16:33] annando commented on #11548
Where are you storing the avatar pictures? Database or file system? Have you checked or unchecked the option to cache avatars?

[2022-05-30 17:05] bkil commented on #10019
Okay, so I retested Vimeo. I have the same issue as reported in the top post:

* You will only get the clickable title preview if you add the URL in either `[vimeo]` or `[video]` BBCode.
* You will get a rich preview (a cover image, title and prefix of the description) if you use the `link or media` button, but no video player.
* You will get an embedded video player widget if you add the numerica

[2022-05-30 17:30] urbalazs opened #11581 "Untranslated string "Data" in log view screen"
Please see [this line](https://github.com/friendica/friendica/blob/2022.05-rc/view/theme/frio/js/module/admin/logs/view.js#L70):

[code]

The `<h3>Data</h3>` is hard-coded. If this word is part of all events then you should move this string [to the template](https://github.com/friendica/friendica/blob/2022.05-rc/view/theme/frio/templates/admin/logs/view.tpl#L127) and mark it there as translatable.

[2022-05-30 17:49] MrPetovan commented on #11581
Fabioooo?

[2022-05-31 02:37] #10926 closed, assigned to nobody

[2022-05-31 06:49] fabrixxm commented on #11581
You rang?

I'll have a look 👍

[2022-05-31 12:14] haheute commented on #11146
it seems to work now. I tried on libranet.de with all 4 themes.

[2022-05-31 12:32] #11146 closed, assigned to nobody

[2022-05-31 13:20] annando commented on #11146
It was fixed with https://github.com/friendica/friendica/pull/11583

[2022-05-31 19:05] loma-one commented on #11548
File system. The rights are held by the web server. www-data:www-data

[2022-05-31 23:27] tio-trom commented on #11552
What version of Friendica are you using? for me posting from friendica to wordpress does not work I use version 2022.02.

[2022-06-01 07:43] loma-one commented on #11548
Since today I run the config setting 'avatar_cache' => true. Observe if this is successful.

[2022-06-01 23:20] robert-winkler commented on #11572
Well, I can send emails with SMTP, using my bioprocess.org (=ionos.de) account, from a variety of systems to Gmail without problems. This is why I suggest a friendica/PHP problem. It seems strange to me that I only had to configure the admin email address in the local-config.php, but no smtp server, password, ... Thus, I am not surprised Gmail doesn't like me.

I think, the real question is:

How

[2022-06-02 01:11] robert-winkler opened #11589 "Where to configure Friendica Email settings?"
For the registration of new users, Friendica needs to send an email with the user password.

1) For installation, only an email address needs to be given. But how can I configure the smtp server, password, ports, security, etc.?

E.g. in my friendica node (I'm admin of https://mexico-pensante.blog) only some email addresses can be reached. Strict servers such as gmail (about 90% of my users) do no

[2022-06-02 04:20] tobiasd commented on #11589
Friendica is using the PHP `mail` command which uses the server system mail setup to deliver emails. Alternatively you can use the [phpmailer](https://github.com/friendica/friendica-addons/tree/2022.05-rc/phpmailer) addon from the Friendica addon repository to send mails via an external server.

The information bubble is shown, when there is no email setup. One could probably change the code of th

[2022-06-02 04:31] tobiasd commented on #11572
Friendica uses your servers email sending capabilities by default (via the PHP `mail()` command) so you need a woking mailserver setup (with all the correct DNS settings and additional header information to make e.g. gmail happy) or alternatively the `phpmail` addon, you already tried.

As @ne20002 already mentioned, the PTR DNS entry for the IPv6 address. The tool that Gogle liked in the help art

[2022-06-02 13:37] robert-winkler commented on #11572
@tobiasd Well, I configured ipv6 rDNS:

![ipv6](https://user-images.githubusercontent.com/9994605/171641112-72199b6f-6a6d-4e01-bdb0-64cf2848b9ad.png)

 but the ping delivers the ipv4:
`> ping mexico-pensante.blog
PING mexico-pensante.blog (37.120.185.146) 56(84) bytes of data.
64 bytes from mexico-pensante.blog (37.120.185.146): icmp_seq=1 ttl=55 time=185 ms
`
And `https://www.ipaddressguide.com/i

[2022-06-02 15:36] tobiasd commented on #11572
Can you use the `::0` in the IPv6 address? I'm usually using the `::1` and really don't know if a `0` is valid there.

[2022-06-02 17:00] loma-one opened #11591 "Enter new tags under "saved search""
### Describe the feature you'd like
To be able to capture a new tag, it must be set via the search, searched for and can only then be saved as a tag.

It would be easier if the tag could be entered directly in the "saved search".
I imagine it like this. I enter a #Tag. Over the Autocomplete function hits are indicated to me. I can select a hit or save the entry directly.
The saved tag is displayed

[2022-06-02 17:11] loma-one opened #11592 "Extend display of trending tag by number"
### Describe the feature you'd like

Since I assume that the number of trending tags is available in the system, it would be great if the total number can be displayed per day.
![Screenshot_20220602_190910](https://user-images.githubusercontent.com/44441246/171685959-7b96514f-96c0-4af2-beae-0c6c1defdc4a.png)

[2022-06-02 18:32] robert-winkler commented on #11572
OK. IPv6 online ping works with the ::1 IP!

<https://www.subnetonline.com/pages/ipv6-network-tools/online-ipv6-ping.php> (https://www.subnetonline.com/pages/ipv6-network-tools/online-ipv6-ping.php)
	PING 2a03:4000:f:99e::1(2a03:4000:f:99e::1) 32 data bytes 40 bytes from 2a03:4000:f:99e::1: icmp_seq=1 ttl=58 time=6.52 ms 40 bytes from 2a03:4000:f:99e::1: icmp_seq=2 ttl=58 time=6.57 ms 40 bytes fro

[2022-06-03 05:45] SpcCw opened #11594 "Weird caching of notification strings"
I noticed that notifications are not always translated on my system even though correct strings are present in messages.po file. Turns out they are cached in non-translated form for some reason.

Running `console cache clear` helps for a while but then they cache again and some of them are non-translated.

Example (two top notifications are not translated, third is ok as it was received before cac

[2022-06-03 12:09] foss- opened #11595 "Notifications received in mixed language"
### Bug Description

Friendica is set to `English (United States)` and yet there are some notifications in german as well. Think all german notifications are notifications for interactions of Twitter users from a connected Twitter account.

### Steps to Reproduce

- connect friendica account to twitter account
- set friendica to english
- wait for notifications about twitter user interactions to c

[2022-06-03 14:16] tobiasd commented on #11572
Today I stumbled over this [blog entry about Google Mail and IPv6](https://www.spamresource.com/2020/11/honestly-dont-send-to-gmail-over-ipv6.html) which is kind of discouraging...

[2022-06-03 14:45] robert-winkler commented on #11572
I configured IPv6 on my server and modified the DNS mail to smtp.ionos.de; Now mailing to Gmail works, but messages are sent to Spam/ Junk. Other email addresses seem to work fine. Yes, the Google reputation of my server probably is still low.
I would love to not care about these special (and sometimes obscure) Google obstacles, but most of my users come from there...
Definitely, setting up the IP

[2022-06-03 14:45] #11572 closed, assigned to nobody

[2022-06-03 14:47] robert-winkler commented on #11589
I changed to the phpmailer addon. After configuring also IPv6 and the DNS, mailing works fine. Thanks, @tobiasd!

[2022-06-03 14:47] #11589 closed, assigned to nobody

[2022-06-03 15:40] MrPetovan commented on #11595
Is this related to https://github.com/friendica/friendica/issues/11594?

[2022-06-04 02:57] Quix0r commented on #10370
Or how about filters? Like "Only reshares", "Only own posts" and such, no need to directly block them but just filter them out.

[2022-06-04 06:30] tobiasd commented on #10370
One can use the `advancedcontentfilter` (in 2022.05-rc and later) to filter postings that did arrive in your stream but were not written by a contact. The rule is

[code]

This will fold reshares done by the `contact10` or `contact01` accounts, but the reshares from all others would be shown. To apply the rule to all reshared content, you can leave the 2nd part of the rule and only compare the 2 l

[2022-06-04 07:17] 4nanook opened #11598 "Every once in a while Friendica displays only a very limited number of messages."
- [x] I have searched open and closed issues for duplicates

### Bug Description

Occasionally, friendica displays only a handful of messages in the global community view.  Sometimes as few as only one or two.  Usually this happens after I block someone obnoxious that I'd rather not see anymore, but occasionally it does it spontaneously, tonight is one such case.  I am going to attach a screenshot

[2022-06-04 14:52] #11594 closed, assigned to nobody

[2022-06-04 14:52] #11595 closed, assigned to nobody

[2022-06-05 07:42] SpcCw opened #11602 "contact merge"
New mergecontacts console command  errors on execution:

`bin/console mergecontacts -e`

[code]

Also is it normal that it finds system account as duplicate?

`7358619 https://friends.deko.cloud/friendica, 2 duplicates.`

[2022-06-05 08:27] stom79 opened #11604 "Mastodon API for FediLab support"
Hi there,

I am the main developer of Fedilab and Android app supporting the Mastodon API. I would like to find the best way to discute with you about the Mastodon API that is used with Friendica.

I have some problems with objects returned by the API. Example: https://codeberg.org/tom79/Fedilab/issues/134#issuecomment-463222

How could you do that? Is it ok on a single thread? Thank you.

[2022-06-05 08:51] SpcCw commented on #11598
AFAIK it is known problem caused with too many posts filtered (when users are blocked). If too little data is returned these issues occur. Spontaneous behavior is probably explained by these users posting a lot in short timespan.

You can check this by logging in with different account which has no filters.

Increasing number of elements per page should help (at cost of page load speed). Disabling

[2022-06-05 09:00] ThRPctmylSgltwH commented on #11511
@MrPetovan and @annando can you help with the above error?

[2022-06-05 09:57] tobiasd commented on #11511
and the error message shows

so at some point the directory is not `/var/www/html` but `/usr/src/friendica`

pinging @nupplaphil as he is the Docker person in the Friendica Dev team.

[2022-06-05 11:26] foss- opened #11605 "Login on https://wiki.friendi.ca should allow email address or username"
https://wiki.friendi.ca/start?do=login&sectok= currently only allows to login using username.

Expected: Lets allow login with username or email address.

[2022-06-05 11:53] tobiasd commented on #11605
Please add this request to the DokiWiki project.

[2022-06-05 11:56] annando commented on #11604
Which API command are you exactly sending and where are you expecting the result? Concerning this while "star, bookmark, fav" thingy there are some small but important differences in the different parts of the API. Also if you mix APIs (our Mastodon inspired and the Twitter inspired one) you have to be on the latest release (possibly the current rc, I'm not completely sure) since we there switched

[2022-06-05 12:13] #11566 closed, assigned to nobody

[2022-06-05 12:19] ne20002 opened #11607 "Requests from 163.172.11.188 with suspicios user agent"
Hi @MrPetovan

My Crowdsec IDS is detecting daily calls from 163.172.11.188 (friendica.mrpetovan.com) with suspicious user agent.

163.172.11.188 - - [04/Jun/2022:19:44:08 +0000] "GET /xrd?uri=https%3A%2F%2Ffm2.0x42.ch%2Fprofile%2Fstefan HTTP/1.1" 200 1734 "-" "Mozilla/4.0 (compatible; MSIE 5.01; Windows NT 5.0)" "163.172.11.188"
163.172.11.188 - - [04/Jun/2022:19:44:09 +0000] "GET /poco?fields=ur

[2022-06-05 12:37] MrPetovan commented on #11607
Hi, this is the official Friendica Directory at https://dir.friendica.social probing servers and profiles for public information. It's using the default curl User-Agent, I assume.

[2022-06-05 12:42] #11605 closed, assigned to nobody

[2022-06-05 12:47] MrPetovan commented on #11607
Correction, it is using the default User-Agent set by a third-party curl wrapper library. I could update this string but I'm not sure what to put in. I'll figure something out, thank you for the report!

[2022-06-05 12:49] ne20002 commented on #11607
The user agent is also listed in
https://github.com/SigmaHQ/sigma/blob/master/rules/proxy/proxy_ua_malware.yml
as well as
Crowdsec bad user agents.

[2022-06-05 12:50] MrPetovan commented on #11607
Thank you for the elaboration, I'll update it.

[2022-06-05 12:51] annando commented on #11607
I guess best is to create a user agent string similar to the one used for Friendica. It contains the software, the host name and the version.

[2022-06-05 12:52] MrPetovan commented on #11607
Yes for the version, but we don't have the hostname information in the directory config at all.

[2022-06-05 12:54] ne20002 commented on #11607
Most of the requests I get have a user-agent: 'friendica-directory-probe-1.0'
(which is fine)

[2022-06-05 12:55] annando commented on #11607
AFAIK there is a PHP command that returns the current hostname, isn't it?

So some `Friendica Directory 2.4.1; https://friendica.mrpetovan.com` would be fine, I think.

[2022-06-05 12:56] MrPetovan commented on #11607
My server is unlikely to have a friendly hostname, at the moment it's `sd-86364` 😅

[2022-06-05 12:58] MrPetovan commented on #11607
Turns out I'm also using vanilla curl in the same project which has a custom user agent. Sounds like a project to normalize everything.

[2022-06-05 14:37] MrPetovan commented on #11607
Moved to the official directory repository: https://git.friendi.ca/friendica/friendica-directory/issues/89

[2022-06-05 14:37] #11607 closed, assigned to nobody

[2022-06-05 18:27] #11602 closed, assigned to annando

[2022-06-05 19:13] SpcCw commented on #11602
After update it fixed some duplicates but gives some other errors on others:
[code]

[2022-06-05 20:07] foss- commented on #11505
From what I understand:

- GitHub wiki is on its way out
- https://wiki.friendi.ca shall be the main wiki
- Main wiki info goes into `/help`
- `/help` content goes into `/docs`

Recall opposing this design decision back when it was made, but not getting much feedback. Not sure which problem was attempted to be solved here, while creating some new problems. Think the basic idea was to leave GitHub.

[2022-06-05 20:43] annando commented on #11602
These messages are in some way expected errors. They aren't a problem at all.

[2022-06-06 03:35] MrPetovan commented on #11505
I support this, having a separate wiki is an extra administration burden when we already have our self-hosted Gitea instance. I'm not sure what the export from either DokuWiki or the Gitea wiki entails to retrofit it in the node help pages but having to have an extra account just for the wiki when we're also asking for a non-Github account to report issues on Gitea is a bit much.

[2022-06-06 04:31] tobiasd commented on #11505
Sorry but *lol* you both are just reversing the path we set up during the fist online hackathon to put the `/help` contents into the wiki to have it translated there and then put it back into `/help` for the releases. But I'm all in for finally moving to our gitea instance with the two core repositories. (Docker cannot as far as I understood @nupplaphil)

If you like, we can even remove the wiki a

[2022-06-06 06:03] MrPetovan commented on #11505
@foss- 's suggestion doesn't go contrary to what you said, the target wiki (Gitea's instead of the DokuWiki) is just different from what was agreed during the Hackathon.

[2022-06-06 06:17] 4nanook commented on #11598
I think the suggestion that the problem is caused by too many blocked users is misleading, to suggest it is triggered by that might be accurate, but the cause is a program bug.

[2022-06-06 06:18] tobiasd commented on #11505
No it is not. The basic wikis of github and gitea don't allow the easy translation process DokuWiki allows. And if we abandom the documentation + translation idea, I don't think we should do the work to include the documentation in the wiki at all but instead concentrate on the documentation shipped with every installation of Friendica. There is no reason to have an _additional_ copy of the docume

[2022-06-06 06:34] MrPetovan commented on #11505
I agree, does this mean you are suggesting we should get rid of all wikis (GitHub and DokuWiki) since they are severely outdated and only the `/help` documentation is marginally up to date?

[2022-06-06 06:45] tobiasd commented on #11505
If the community (and the developers are a part of the community) is not willing to keep the Wiki updated so that the `/help` documentation on each node can be updated from the wiki, then yes the wiki should be removed.

There are a few people who try working on the wiki and translate stuff in the wiki. But most developers just don't care about documentation (and code is not documentation for user

[2022-06-06 07:00] nupplaphil commented on #11505
I'm not sure if I understood everything, but as "a developer" I'm focused on one way to add content -> per commits and PRs, mostly one time.

What about to restructure the `doc` directory to include a `dev` and a `admin` and a `user` section and add a content structure which automatically creates a `/help` site?

This would make it possible to manage it per PRs and gives other the possibility to c

[2022-06-06 07:10] tobiasd commented on #11505
Which is the situation since Friendica exists. Edit the Markdown files in the `/doc` direcory an thus edit the help / documentation file. During the preparation of the first online hackathon it was mentioned that editing Markdown files for documentation was a burden for some people willing to translate the documentation. Hence during the hackathon we came up with the use of DokuWiki as they make i

[2022-06-06 07:41] SpcCw commented on #11602
@annando Is the situation itself normal or do I need to do something about it?

As I understand the first contact is some deleted user on my node and others are results of someone relocating their Friendica nodes.

[2022-06-06 07:51] annando commented on #11602
There is nothing to worry about. The contact table is a mess in many ways. This command does some clean up work but doesn't clean everything. This command is meant for extremely rare cases where the contact entries for single contacts had been multiplied a lot of times. So far I have seen such a situation only once.

[2022-06-06 09:45] tobiasd commented on #11505
And just be clear, I'd rather like to keep the DokuWiki.

[2022-06-06 12:40] MrPetovan commented on #11505
Your feeling is correct about me, I don't think Friendica should have a Wiki because it's a living software that requires way more Wiki maintenance as we add and especially remove features than I'm ready to provide myself. Wikis thrive with encyclopedic knowledge that doesn't evolve much in time, like geography or sports results.

I also agree that code isn't documentation, and I've personally wor

[2022-06-06 12:53] tobiasd commented on #11505
Sad. But thanks after 2 years to clarify this.

In the case that no developer actually wants to contribute to the community effort of the wiki @annando I think you can remove the DNS entry then from the domain records.

[2022-06-06 13:08] annando commented on #11505
I haven't had a look at all comments here, but I think that we need some platform where people can contribute documentation although there aren't developers. And for this a wiki is a good idea.

[2022-06-06 13:14] MrPetovan commented on #11505
I've never voiced my opinion about the wikis because they existed before my time and I never used them, so I figured I wasn't the best person to ask. But since you put developers on the spot in this conversation, I felt that my opinion was finally warranted. Evidently not all developers are in agreement and it's fine, but when @foss- complains about how hard the wiki is to use, then it becomes a m

[2022-06-06 13:23] tobiasd commented on #11505
Ok, sorry then I remember our conversation from the hackathon wrong. As far as I could remember we all agreed that from then on the documentation should be done in the wiki.

[2022-06-06 13:46] MrPetovan commented on #11505
I may have agreed at the time because it was easy to do without committing any work to it. Two years down the line very little work has been done that I know of so it might be a good time to reassess the situation.

[2022-06-06 13:51] tobiasd commented on #11505
There are some people who contribute to the wiki. Apparently not enough to keep the expectations of some people met.

[2022-06-06 14:09] stom79 commented on #11604
OK - Currently, when a user makes an action (boost, fav, etc.) Fedilab uses the reply to update the UI - I will update the code on my end when reply is null.

Also, for private messages, it seems that the last message is not attached. It's harder to find a trick for that case. See `last_status`
https://docs.joinmastodon.org/entities/conversation/

Currently, the app only uses the Mastodon API, I g

[2022-06-06 15:23] annando commented on #11604
All API parts should be usable with the same token.

[2022-06-06 16:08] MrPetovan commented on #11505
I personally have very little expectations, hence my silence about the wikis since I started working on the project. But given the hurdles @foss- experienced when he wanted to contribute, it looks like the number of contributors will have a hard time growing.

I mean, the front page has a red link (the newhere link) and even I can't easily fix it myself right now. It isn't a wiki, it's a CRM with

[2022-06-06 16:30] tobiasd commented on #11505
He has write access on the wiki, so he can make things better. And a more prominent hint about what to do was added to the landing page of new users.

You need that one little burden (getting write access) because otherwise SPAM bots would storm the wiki.

[2022-06-06 16:50] MrPetovan commented on #11505
I understand the reason, but this little burden is also what regular wikis don't have. This is another reason for me to do away with the "wiki" term itself. It sets expectations based on the popular wikis like Wikipedia and the Fandom sites for example.

[2022-06-06 19:54] xundeenergie opened #11614 "Peertube videodescription shows words marked with exclamationmark, which are tags in video"
As you can see, the word "Vogel" is marked with yellow exclamation-mark, because it is also a tag from peertubes video.

![grafik](https://user-images.githubusercontent.com/5894829/172237505-2dc2eed3-bfa8-41cf-8494-edeef796da26.png)

The original video is this
https://kino.schuerz.at/w/sGA6KKhhbpg5an7NzCw1r4

[2022-06-06 21:25] annando commented on #11604
I just fetched the latest beta version of Fedilab and tried myself. On my system `bookmark`, `favourite`, `unbookmark` and `unfavourite` work like expected.

[2022-06-07 06:36] stom79 commented on #11604
I tested on `friendica.me` and for some accounts in public TL, it does not work. The weird part, the API doesn't return an error but the message with `favourited = false`, like if somehow it called `statuses/{id}/unfavourite` but it's  `statuses/{id}/favourite` which was called.

[2022-06-07 07:30] annando commented on #11604
Weird. Then I will have a deeper look if there can be some timing or cache issues.

[2022-06-07 12:01] MrPetovan commented on #11607
Hi @ne20002 , the PR I submitted was merged, and I updated https://dir.friendica.social, you shouldn't receive alerts related to this User-Agent anymore from my IP address. I'll prepare a release so that other Friendica directory installs won't bother you either.

[2022-06-07 15:18] foss- commented on #11566
Thanks for looking into this.

We now have `Settings > Account > Notification (sic! should be Notifications) > Someone commented in a thread where you interacted`

For me this setting is activated. But that doesn't inform about defaults. I would like to see this off by default, since it will increase usability for users and prevent overwhelming amount of notifications that mostly add noise and not

[2022-06-07 16:47] loma-one opened #11617 "Written language on the post & filtering of the timeline by written language"
### Describe the feature you'd like

#### Written language on the post

When a contribution is created, it should be possible to add the written language to the content. The data should be stored as metadata and thus support a filtering of the timeline.

The language stored in the profile is always assumed as the start value.

The written language should be able to be changed individually before s

[2022-06-07 17:10] SpcCw commented on #11566
@foss- On the other hand the most common newbie complaint in my experience is that initially their feed is very quiet.

So maybe a bit of noise won't hurt and when/if it becomes irritating the option is there.

[2022-06-07 17:40] annando commented on #11566
The default is the current behaviour to simply not confuse the existing users. And new users will most likely have a look into the settings when they think that they receive too much notifications. The other thing is not really true. Normally you don't really recognize when something isn't happening so often anymore.

[2022-06-07 17:42] tio-trom commented on #11566
Can any of these be defaulted by the admin? Maybe on my instance I'd like to setup the default notifications in a specific way. I do think that the current default is way too much for anyone, but up to the Friendica devs to setup the defaults for the source code.

[2022-06-07 20:57] foss- commented on #11566
If the timeline is too quiet for new users, we need to improve the on-boarding experience, e.g. ask for 3 topics a user is interested in and show how to follow other users and especially how to find content and with that engagement get them into more topics / users to follow and engage with.

I agree it is not easy to get that momentum going but artificially cluttering notifications so that there

[2022-06-08 08:24] foss- commented on #11604
For what its worth FediLab b19 now shows `Oops ! An error occured!` whenever trying to star | like or boost | reshare a post on a friendica account. Progress, since previously tapping star icon did nothing.

[2022-06-08 11:48] Quix0r commented on #10370
I guess the template(s) needs to be expanded with a `div` and then the form handler processing the parameter, e.g. `filter=x` while `x` can be one of:
 - `default` - The default (all included, old behavior)
 - `posts` show only posts (non-reshares)
 - `reshares` - Show only reshares
 - `rt` = Show only RT: posts (if somehow possible without some fancy `raw_body NOT LIKE '%RT:%'`

And any combinati

[2022-06-08 12:03] 4nanook opened #11623 "Even as an Admin, I am unable to delete posts made by others ON MY NODE."
- [x ] I have searched open and closed issues for duplicates

### Bug Description
Even as an Admin, I am unable to delete posts on my node made by other users on my node.  This is problematic when the material is illegal in my region such as child pornography, advertising prostitution, illegal drugs, or online gambling.  I can delete the offender and eventually their content will be deleted but th

[2022-06-08 12:18] AlfredSK commented on #11623
Which one? The one in admin panel -> tools -> delete item?

[2022-06-08 12:20] 4nanook commented on #11623
No, the inline one with the message.  The delete item requires a UUID or
some such and I do not see that at the end of the URL per the command.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http

[2022-06-08 13:45] tobiasd commented on #11623
You can use the URL of a posting. The UUID is the last part of the URL of an item, it will be identified automatically by the tool @AlfredSK mentioned.

But I agree that admins should be able to use the item menu to delete an item they spot that does not fit their nodes rules.

[2022-06-08 21:25] AlfredSK commented on #11119
I guess this is another example that some queries we're using don't get along well with MariaDB 10.3 and later versions.

After changing my DB config to use an ancient optimizer algorithm the queries are very fast now.

I'll close this one and link it to the other DB performance issue.

[2022-06-08 21:25] #11119 closed, assigned to nobody

[2022-06-08 21:29] AlfredSK commented on #11119
See also https://github.com/friendica/friendica/issues/11465

[2022-06-08 23:23] 4nanook commented on #11623
I deleted the user which eventually deleted thier items, but the end of
the URL did not look anything like a UUID.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http://www.eskimo.com/ (206) 812-

[2022-06-09 17:54] ne20002 commented on #11607
I can confirm that there are no more alerts.
Thank you.

[2022-06-10 13:03] MrPetovan commented on #11218
[code]

See: https://friendica.mrpetovan.com/display/d8230ed6-1662-a2b0-6aec-ed0723172129

[2022-06-10 14:27] annando commented on #11218
@MrPetovan the user reported this on ` 2021.09 - 1434`.

[2022-06-10 14:28] MrPetovan commented on #11218
Ah, I missed this detail, I guess it's already been solved then.

[2022-06-10 14:30] annando commented on #11218
Good question. I don't find any matching code there at all - but also the file hadn't changed in that area for several years.

[2022-06-10 14:38] MrPetovan commented on #11218
Yeah, I don't see the reference to the `user` property on line 108 in version `2021.09`, but it was there in version `2021.07`. So updating addons to at least version 2021.09 would suppress the notice message.

[2022-06-10 18:50] tio-trom opened #11625 "Titles should not use the Markdown language interpretation"
I see that if any video is posted using in its title signs that belong to the Markdown language, they are getting converted or weirdly interpreted by friendica. Here is an example:
![2022-06-10_20-48](https://user-images.githubusercontent.com/38043315/173131141-84b8476f-2030-4b06-a467-49c9980696bf.png)

The video's title is "33. The Money Game and Beyond - Systems to Organize Societies - Part 6".

[2022-06-10 20:11] tobiasd commented on #11548
Any new observations @loma-one ?

[2022-06-10 20:13] tobiasd commented on #11625
Are you using the `markdown` addon for formatting your postings?

[2022-06-10 20:13] tio-trom commented on #11625
Yes sorry I forgot to mention that.

[2022-06-11 04:38] tobiasd commented on #11625
I checked importing Peertube videos with enabled or disabled Markdown addon, in both cases the title gets parsed.

[2022-06-11 05:59] annando commented on #11625
Can you provide a link to that video?

[2022-06-11 06:28] tobiasd commented on #11625
https://videos.trom.tf/videos/watch/fb24142d-1147-4961-a669-ac0cf582c251

[2022-06-11 07:14] #11625 closed, assigned to nobody

[2022-06-11 10:42] tio-trom commented on #11625
thx for fixing

[2022-06-11 11:44] tobiasd opened #11630 "[2022.09] PHP Fatal Errors"
Please report here any PHP Fatal error message obtained running the 2022.06 stable or 2022.09-dev versions.

Replaces #11216

[2022-06-11 11:44] #11216 closed, assigned to nobody

[2022-06-11 11:46] tobiasd opened #11631 "[2022.09] PHP Warnings"
Please report here any PHP Warning message obtained running the 2022.06 stable or 2022.09-dev versions.

Replaces #11217

[2022-06-11 11:46] #11217 closed, assigned to nobody

[2022-06-11 11:47] tobiasd opened #11632 "[2022.09] PHP Notices"
Please report here any PHP Notice message obtained running the 2022.06 stable or 2022.09-dev versions.

Close #11218

[2022-06-11 11:47] #11218 closed, assigned to nobody

[2022-06-12 05:52] loma-one opened #11633 "Set "Stay local" on server level"
### Describe the feature you'd like
Since some release there is the possibility under /settings/display function "stay local" to display the profile of another user in Friendica format. If this function is not activated, you are redirected to the original profile of the user, which is very confusing and many users find annoying.

There are correspondingly many queries from users, which considerabl

[2022-06-12 07:37] loma-one opened #11634 "Editing in full screen mode (desktop browser)"
### Describe the feature you'd like

I also use Friendica as a personal blog. With the support of Markdown, I have all the formatting options I need for this and handle them well.

For longer content, however, I quickly run into limits, as the clarity in the small edit box is very limited. Even if I enlarge the editor vertically, I miss the width in the horizontal.

Question: is it possible to ope

[2022-06-12 10:03] urbalazs opened #11635 "Unknown column 'posted' in order clause"
From the log of Friendica 2022.06:

[code]

[2022-06-12 10:13] urbalazs opened #11636 "More than one Message-ID found - RFC violation"
From the log of Friendica 2022.06 (personal data are replaced with XXX).

[code]

[2022-06-12 10:18] urbalazs commented on #10353
This is still an issue in Friendica 2022.06, from the log:

[code]

[2022-06-12 12:55] MrPetovan commented on #11634
The “full-screen” editor is the Compose page. On mobile the text area field takes up the whole width of the screen.

We can look into extending the desktop-size page where the left column usually sits.

[2022-06-12 13:08] tio-trom opened #11637 "Unfollow contact should also remove the posts from the timeline"
I suggest that if you unfollow an account, their posts should be removed from the timeline immediately. Akin to when you ignore or block them.

[2022-06-12 15:05] urbalazs opened #11638 "Data too long for column 'site_name'"
From the log of Friendica 2022.06:

[code]

[2022-06-13 06:30] urbalazs opened #11640 "Unexpected data"
From the log of Friendica 2022.06

[code]

[2022-06-13 09:34] SpcCw commented on #11638
I am getting these too for quite some time (before this version too) and it is the same site.

[2022-06-13 11:41] igor-cali commented on #11226
Issue fixed with '2022.06', on Nerdica pod.

[2022-06-13 12:45] foss- commented on #11566
Had an interesting argument with @MrPetovan and their argument was, that notifications for discussions that a user interacted with (e.g. via a like) are actionable, meaning users can engage if they want. While a notification about a like is not actionable.

The reason surveillance capitalism social media notifies about likes probably mainly is, to ensure users receive their dose of dopamine and ge

[2022-06-14 07:06] tobiasd commented on #11614
For some reason the word is enclosed in an `url` BBCode tag with the word as a target
`[url=Vogel]Vogel[/url]`. Which is not a valid link target, hence it is marked that way.

[2022-06-14 07:39] Quix0r commented on #11198
I see with Friendica only a few options, all not IP-based:
- enforce registration with double opt-in, means they have to validate their email address
- only allow registration on an invitation, so spammers need to be invited
- enforce a CAPTCHA on registration

What I can recommend is that the registration amount can be limited per IP address as spammers would flood your registration form if no su

[2022-06-14 07:51] Quix0r commented on #11207
So what I understood so far:
- @schmaker needs a feature that doesn't show any posts from user X in `/community` (only there?) entirely or ...
- because that user X uses a hashtag, e.g. #NSFW

So I think these are 2 distinct features
- prevent user X from appearing in view `/community` (also `/network`?)
- prevent posts from ANY user which contain unwanted hashtags

Am I getting this right?

[2022-06-14 10:48] 4nanook commented on #11198
What I have done since it does not record the IP of the user, is that the Apache logs do, and the user shows up in the URL of the request, so to get the IP of the user, I simply grep the Apache logs for the first occurrence of the abuser in question, get the IP there, then I have an about group in my firewall logs consisting of IP addresses or sub-nets were consistent abuse has occurred and add an

[2022-06-14 11:02] 4nanook commented on #11598
Latest update did not only fix, but seems to have broke worse.  I am now on: "This is Friendica, version 2022.09-dev that is running at the web location https://friendica.eskimo.com. The database version is 1469/1469, the post update version is 1452/1452." and I just went to my friendica instance after about eight hours of being idle and it's only showing me three messages.

[2022-06-14 14:16] MrPetovan commented on #11598
We haven't changed anything in this regard in the new version, so you're bound to encounter the same issue. However, whether it feels better or worse doesn't depend on the software itself, but the posting schedule of your remote contacts, both those you have blocked and those you have not.

[2022-06-14 17:17] stom79 commented on #11604
Yes we added that error message when the api returns the message without doing the action (fav/boost).

[2022-06-14 20:40] 4nanook commented on #11598
If it were the remote host and not the software, then I would see this
on hubzilla as well, but I do not.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http://www.eskimo.com/ (206) 812-0051 or (

[2022-06-16 04:11] schmaker commented on #11207
Confirmed. That's exactly what i mean. I don't want to see him in both - community and network (but it should be shown if i reach his post directly on his profile and for example comment/like/reshare it i guess).

(sorry for late response)

[2022-06-16 05:46] tobiasd commented on #11207
Regarding the global community page, you can hide an account from it using the `globalcommunitysilence` command from the console too.

[code]

But this is something the admins of a node have to run and not on a per user basis.

[2022-06-16 08:48] tobiasd commented on #11630
When importing a posting from Mastodon via the search I get a WSOD and find the following ERROR message in the Friendica log file

[code]

Friendica 2022.09-dev 207bf58801c4e4f7d9edd6b333d2be418f7bf525

Addressed in #11647

[2022-06-16 08:58] annando commented on #11630
Could be related to the PR https://github.com/friendica/friendica/pull/11624

[2022-06-16 09:02] loma-one opened #11646 "Write a PM to account on the same instance as admin"
### Is the feature request related to a problem? Please describe.

If there is a complaint about an account, on the same instance, for example, or if an account sends posts that are inconsistent with the instance's policies it is not possible to contact the account.

Currently, the admin must first follow the account and be confirmed to be able to contact an account via the same instance.

### Des

[2022-06-16 10:33] tobiasd commented on #11630
likely - after reverting to 98954dd14e1c860fe7f7cad553dcdfad68844360 messages flow again and this error is gone from the Friendica log. @Quix0r

[2022-06-16 11:25] Quix0r commented on #11630
I fixed this wrong call (originating from `Processor.php:618`) in a new branch.

[2022-06-16 11:50] Quix0r commented on #11638
According to `static/dbstructure.php` it is `varchar(255)`. Can you please check (if possible) what length is used in your table?
[code]
Above comes directly from the source code and it was changed by @annando in 2020-05-22.

[2022-06-16 11:55] Quix0r commented on #11638
I wrote him a friendly email to please change the title.

[2022-06-16 11:57] Quix0r commented on #11638
I think one solution is to allow only 255 characters (and filter out HTML) for the Friendica's site name. Hmm, there is no `maxlength` supported by `templates/field_input.tpl`.

[2022-06-16 12:02] Quix0r commented on #11635
There is indeed no `posted` column, but `updated` instead. If that's what it needs to be changed to (to `updated`) then I do it.

[2022-06-16 12:10] Quix0r commented on #11635
Ops, I guess that code is old and needs some overwork. My findings so far is a call on `Photo::selectToArray()` in `mod/photos.php` on line 1133 maybe causing this. I see a lot `posted` there.

[2022-06-16 12:32] annando commented on #11638
We have got some functionality that can check content for stuff the maximum length. I can have a look at it.

[2022-06-16 12:46] MrPetovan commented on #11635
Yup, the photos module need some love.

[2022-06-16 14:56] tio-trom opened #11648 "Notify only when someone replies to your comments/posts"
I know you have added new notification options to the latest stable, but I'd argue we are missing an important one: only notify when someone replies to your comments/posts. If I see a post, and comment, I am interested in the replies for that comment, not in everything everyone comments on that post. I think this is the sane way. It is an improvement the fact that I can now like posts without bein

[2022-06-16 15:31] annando commented on #11648
Exactly this can be done with the new settings as well.

[2022-06-16 15:34] tio-trom commented on #11648
hm...which one is it then:

![2022-06-16_17-34](https://user-images.githubusercontent.com/38043315/174106842-8c6ff555-e8d8-455c-927a-33d8be817696.png)

[2022-06-16 15:53] Quix0r commented on #11630
Also related: #11647

[2022-06-16 16:33] Quix0r commented on #11638
@annando Does also the form field enforce the maximum length presented by the database column? Means adding support for `maxlength="$maxlength"` parameter?

[2022-06-16 16:41] Quix0r commented on #11630
It looks like not all is fixed. When an instance (contact not yet tested) is blocked, I get a blank page again at `/follow?url=x`.

FIxed in latest changes to `develop`.

[2022-06-16 17:48] Quix0r commented on #11648
@tio-trom The 2nd one needs to be checked only for you.

[2022-06-16 17:51] tio-trom commented on #11648
I am confused....the "Someone directly commented on your post"? Is this the one that I am looking for?

[2022-06-16 18:22] Quix0r commented on #11648
@tio-trom The logic in source code says this:
[code]
So on all these 3 notification types you are being notified if that checkbox is set.

[2022-06-16 18:24] tio-trom commented on #11648
So I want to get a notification if someone comments on any of my posts but also on any comment I make on any post. Basically comments to my comments and posts, is what I am interested in. But now, as far as I understand, if I am to comment on a post, then anyone who comments there (not replies to my comment necessarily) will trigger a notification for me. Am I getting it wrong?

[2022-06-16 18:28] MrPetovan commented on #11648
No, you're right, it sounds like you should uncheck the "Someone commented in a thread where you commented".

[2022-06-16 18:32] tio-trom commented on #11648
Ah ok but will I get a notification if someone replies to any of my comments in others' threads/posts?

[2022-06-16 18:45] MrPetovan commented on #11648
Maybe "Someone commented directly on your post" would work?

[2022-06-16 18:46] utzer opened #11650 "Many posts in the timeline are very old. Why?"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Since the last release a few days ago, my /network is full of old post, it is all weeks, months, years old posts that come in by relay (I guess), I see these just came in but the creation date is way in the past.

Generally that would not be a problem, but I think it is thousands of posts each day and my database is

[2022-06-16 18:55] tio-trom commented on #11648
I would suggest to rename them somehow else creates confusion.

Notify me when:

- I am tagged
- I get a friend request
- I am followed

- My post is liked
- My post is shared
- My post gets a comment

- My comment is liked
- My comment is shared
- My comment gets a reply

I would personally leave it at that. And if anyone wants to receive notifications for a thread they can click that thread and

[2022-06-16 18:56] tio-trom commented on #11648
But would this mean when someone commented on a comment of mine? If I get a reply, in other words...

[2022-06-16 19:10] SpcCw commented on #11648
Maybe  "Someone commented directly on your post" should be renamed to  "Someone commented directly on your post or comment" to add clarity.

I had no idea it applied to comments as well. Otherwise I see no problem with new settings.

[2022-06-16 19:18] annando commented on #11650
Since this version the system fetches pinned posts - and they can be old.

[2022-06-16 19:22] utzer commented on #11650
But who has this thousands of posts pinned? My timeline looks like that since the release. Constantly the majority of posts is old. I only follow 1300 accounts, so who's pinned posts are these?

[2022-06-16 19:23] annando commented on #11638
What do you mean with `maxlength`?

[2022-06-16 19:31] Quix0r opened #11651 "Worker causes "Maximum function nesting level of '256' reached, aborting!""
- [x] I have searched open and closed issues for duplicates

In `friendica.log` the above message appears repeatedly:
https://f.haeder.net/friendica.log.txt (irrelevant lines removed)

The worker however seem to work?

### Steps to Reproduce

1.  Just start the worker as daemon

Actual Result:

No side-effects noticed so far. I just wonder what the worker has attempted to do?

Expected Result:

Th

[2022-06-16 19:40] Quix0r commented on #11638
`<input name="site_name" maxlength="255" />` That sort of thing. :-)

[2022-06-16 19:43] Quix0r commented on #11632
[code]

See my "diary" at the forum: "[Working on type-hints, please watch out](https://forum.friendi.ca/profile/developers)"

[2022-06-16 19:56] MrPetovan commented on #11651
Looks like recursive thread completion hits on the language soft limit, this isn't ideal, we should use a loop instead of recursion for this case, something like this:
[code]

[2022-06-16 19:59] MrPetovan commented on #11638
This is a remote server publishing their own very long name, nothing we can fix with a limited form field on our end.

[2022-06-16 20:21] Quix0r commented on #11651
@MrPetovan Where do you think this needs to be implemented? Maybe I can take a look into it.

[2022-06-16 20:22] Quix0r commented on #11638
Yes, true. The `maxlength` prevents it on the other server side during entering it into the form. You don't know what people squeeze into that little `<input>` field with a copy-paste ... :-/

[2022-06-16 20:22] MrPetovan commented on #11651
Somewhere between `Processor::fetchMissingActivity` and `Receiver::processActivity` it looks like from your helpful log.

[2022-06-16 20:38] urbalazs commented on #11638
Fix me if I am wrong but Frendica can federate with many other software like BirdsiteLIVE, BookWyrm, Diaspora, GNU Social/Statusnet, Hometown, Hubzilla/Red Matrix, Lemmy, Mastodon, Misskey, Mobilizon, Mistpark, Osada, Roadhouse, Zap, Peertube, Pixelfed, Pleroma, SocialHome, WordPress, WriteFreely etc. You cannot restrict all of them unless you make pull requests for each. This kind of database iss

[2022-06-16 20:43] Quix0r commented on #11638
And? What does that say to me? I'm aware of that most of these software use `ActivityPub` as a federation protocol. So e.g. a 16k long title in `<title>` makes sense to you? Feels a bit spamming to me. Nobody reads such horrible long title plus screen readers like blind people use will talk to the person endlessly only because of a title (and it will also talk tags and URLs). Makes sense to you?

[2022-06-16 20:55] Quix0r commented on #10193
I'm having similar errors surrounding size limitations from `Media::insert()` invocations:
https://f.haeder.net/db-error.log.txt
- `Out of range value for column 'size' at row 1` for a size of an MP4 video of 14700302394 (!) Bytes length
- `Data too long for column 'url' at row 1` for a `magnet:` link: `magnet:?xs=https%3A%2F%2Fdigitalcourage.video%2Flazy-static%2Ftorrents%2F6181bc38-3205-46b3-939

[2022-06-16 20:58] Quix0r commented on #11632
[code]
Addressed in https://github.com/friendica/friendica/pull/11652

[2022-06-16 22:55] annando commented on #11638
It's not a big deal to perform some checks upon storing the data. Some information loss on that field doesn't matter at all. We aren't actively using that special field.

[2022-06-17 03:47] annando commented on #11650
Are you following hash tags?

[2022-06-17 20:03] tio-trom commented on #11648
Ok I tested it and indeed with these settings:
![2022-06-17_22-02](https://user-images.githubusercontent.com/38043315/174393874-fafe8d63-31dc-4a5e-bc7e-5337556c9558.png)
I get a notification only when someone replies to my comments. I find the options there confusing to be honest. My best suggestion is above. https://github.com/friendica/friendica/issues/11648#issuecomment-1158025126 - I will clos

[2022-06-17 20:03] #11648 closed, assigned to nobody

[2022-06-18 20:46] Quix0r commented on #10353
Getting the same here with some super-long URLs. Can I change it to `text`?

[2022-06-18 20:58] MrPetovan commented on #10353
Yes, it isn't part of a key. Don't change `url` though.

[2022-06-18 21:06] Quix0r commented on #10353
Now I'm a bit confused. I changed `post-media.url` to `text` and you have merged it and it did fix the problem?

[2022-06-18 22:48] MrPetovan commented on #10353
I didn't realize it was the same table. @annando will tell you better than me if it's a problem.

[2022-06-18 23:53] Quix0r commented on #10353
I found this now: `BLOB/TEXT column 'url' used in key specification without a key length`. I guess I have to fix the SQL file here.

[2022-06-19 00:30] Quix0r commented on #10193
Still not enough: `size` = 6758472669

[2022-06-19 01:34] MrPetovan commented on #10193
14700302394 bytes is 14 GB, not really surprising for a video in high definition (4K or maybe even 8K).

[2022-06-19 08:18] Quix0r commented on #779
If you need a testing ground, https://git.friendi.ca is a good choice.

[2022-06-19 08:21] Quix0r commented on #11637
I would recommend this optional with a small checkbox reading "Also remove any content from your timeline?" Then it isn't mandatory.

[2022-06-19 08:25] Quix0r commented on #10970
Here I have these errors:
[code]

[2022-06-19 08:27] Quix0r commented on #10193
I have now an other issue:
[code]
Does this column still need to be in a key?

[2022-06-19 08:34] Quix0r commented on #10353
Looks like I have to build an index like this: `UNIQUE (url(512))`

Edit: My commit 9351821fd9eb9cf3d378fab110fbb311f6bb2ac2 fixes this in PR #11657

[2022-06-19 09:16] Quix0r commented on #10193
Another one that can maybe be prevented by checking existing record in advance:
[code]
Edit: It looks like `GServer::detect()` tries that already but it seem not to work in this case?

[2022-06-19 10:31] foss- commented on #11637
@Quix0r can you share the use-case or thought process behind keeping the posts of an unfollowed contact in the timeline?

[2022-06-19 10:39] Quix0r commented on #11637
1) It is default and default is power. Humans are addicted to default.
2) Maybe someone/you still want to read it or later follow again, then you still have their posts available.
3) It goes along with blocking users in admin area where I can choose to purge their content.

[2022-06-19 11:42] MrPetovan commented on #11637
We don't have a way to re-import a contact's post in the timeline once they've been removed, even if they are still available in the community pages.

The checkbox does make a straightforward action more complicated though, so I'd still go with removing posts by default without the checkbox. It is an expectation from all other social media platforms, it just is an awkward default for current Frien

[2022-06-19 12:01] Quix0r commented on #11637
@MrPetovan Okay, then. :+1:

[2022-06-19 17:05] ThRPctmylSgltwH commented on #11511
@MrPetovan and @annando, it looks like there is an error in the script. Is it that the SET `uri` should be url?
[code]

[2022-06-19 17:44] annando commented on #11637
The removal is also called via he API. There you don't have got a checkbox.

[2022-06-19 17:55] annando commented on #10193
Yes. This is part of a `unique` key to avoid duplicates. Every field, key and key type in the newly created tables has been well planned. Of course there can still be changes, but these should be well thought as well. We have got systems with some thousand users. The `post-media` table on my server squeet.me for example has got more than 4.4 million entries. So any change in the wrong direction ca

[2022-06-19 17:59] annando commented on #10353
Please don't change it to `text`. See here: https://stackoverflow.com/a/2023945

[2022-06-19 18:02] Quix0r commented on #10193
@annando Please see my comment https://github.com/friendica/friendica/issues/10193#issuecomment-1158120448 for why I changed `url` to `text` and `size` to (later corrected) to `bigint`. Welcome to 2022, where you have Full-HD or even 4k/8k videos.

[2022-06-19 18:05] Quix0r commented on #10353
The old 511 value was to small for some super-long URLs e.g. as shown in my comment https://github.com/friendica/friendica/issues/10193#issuecomment-1158120448 So you want me to change it back to `varbinary(1024)` or so? Why `varbinary` and not `varchar`? Aren't URLs supposed to be URL-encoded (e.g. `+` or `%20` for a space) to have these "special" characters in them?

[2022-06-19 18:13] Quix0r commented on #11637
I just saw the "Also purge contact" in Admin (`/admin/blocklist/contact`) and thought about it.

[2022-06-19 20:23] annando commented on #10353
You use `varchar` for content that contains encoded text. And when you - for example - are searching for something with an `a` in it, then the system will possibly also return stuff with an `ä` in it.  An `URL` in difference to this has to be retrieved like it had been stored. It is faster to store and retrieve and it uses a quarter of the size of a comparable `varchar`.

Before increasing the len

[2022-06-19 20:44] Quix0r commented on #10353
Hmm, yes. Row size maximums may play an important role: https://stackoverflow.com/questions/15585602/change-limit-for-mysql-row-size-too-large

So maybe we are better off here by splitting the table to avoid maximum row size? Like `urls` as a separate table where only URLs and an index (primary key) is being stored in?

[2022-06-19 21:03] Quix0r commented on #10353
Before I'm reading myself to death (there is to much to read), I'd rather change it to a reasonable size like `varbinary(1024)`. That SHOULD be enough for `magnet:` URLs (and they caused it the most). Plus we need to consider same change for `preview` as some URLs can be super-long there, too.

You can reach my examples of to short `size` and `url` fields here: https://f.haeder.net/db-error.log.tx

[2022-06-19 21:06] bkil commented on #10353
I would like to highlight that there is nothing intrinsically "wrong" with an URI up to 8 kB in length. 2 kB ones should be handled by all servers and clients from the past decades at a minimum. An anchor may make it even longer, but I would consider such a long URI as more of an anomaly (or a clever geeky hack) than a usual thing.

To cope with this, we must ask ourselves what we really want to s

[2022-06-19 21:17] Quix0r commented on #10353
And remember when the first specification of MySQL/MyISAM was written, they were not able to see that one day over-sized `magnet:` URLs will become reality. No body has seen that coming, including 4k/8k or even 16k [sic] videos with sizes beyond `int`. I guess when Friendica wants to stay modern, we have to go with it.

[2022-06-20 00:04] MrPetovan commented on #11511
No, the problem is that there's an hyphen (-) in the table name which is not escaped. It should be `` `delayed-post` `` instead of just `delayed-post`. Thank you for the report, I'll submit a fix for it.

[2022-06-20 00:09] bkil commented on #10353
I have found and documented various _practical_ limits of URI length in the past (255, 511, 1024, 2047, 2083, 4000, 4043, 4094, 4096, 8190, 8192, 32768), but I have yet to find a definite standard about it. I still consider a system "broken" if it can't cope with a 8k URI as per:

* https://datatracker.ietf.org/doc/html/rfc7230#section-3.1.1

Even in 1999, they were mostly concerned about an "**ol

[2022-06-20 00:11] MrPetovan commented on #10353
I don't think the `url` needs to be in an index to be searchable, but for uniqueness. I'd like to reiterate my suggestion to use a hash of the URL for this purpose with a fixed and manageable length, and have the `url` a text field since we don't need to search on it, just retrieve and display it.

[2022-06-20 00:13] Quix0r commented on #10353
@MrPetovan That is maybe more performant than having a `TEXT` field and then `WHERE url = ?` on it? Where `?` is a placeholder.

[2022-06-20 00:16] Quix0r commented on #10353
I think the upgrade is relatively easy:
1) Add column `url_hash`
2) Run through all rows and hash value of `url`
3) Save it in database

I would like to use some SQL hashing function which is easier to implement in an update: `UPDATE post-media SET url_hash=SOME_HASHING(url) WHERE url != '';` or so?

[2022-06-20 00:21] MrPetovan commented on #10353
The tricky part is that the unique index can only be moved once the hash has been computed. So it needs to be a pre_update method in the `update.php` file so that the DB structure update can correctly move the unique index and change the field type to `text`.

[2022-06-20 00:25] Quix0r commented on #10353
I have found no issues on my instance by letting the whole SQL statement running, changing column and index at the same time.

[2022-06-20 00:35] MrPetovan commented on #10353
Even adding a new `url_hash` column that's supposed to be the new unique index?

[2022-06-20 00:49] Quix0r commented on #10353
Ah, okay. I guess there it will make trouble because the same combination may exist already. Good point!

[2022-06-20 03:26] MrPetovan commented on #10353
More like because when you create the column, it will initialize the value to NULL and moving the UNIQUE index will fail until the actual values are computed but the spirit is the same.

[2022-06-20 04:43] MrPetovan commented on #11511
@ThRPctmylSgltwH Please try again after you pulled the latest `develop`!

[2022-06-20 05:54] ne20002 commented on #11553
I gave it a few more tries yesterday and I still have the problem. I have non public account on Mastodon and my friendica and don't list my contacts. Just a guess: maybe there is two api calls for followed/followers list? one for the account owner / logged in user and on public? Might it be the wrong one used here?
Also: I have a few contacts to not to be shown in conatcts list ..

[2022-06-20 18:17] AlfredSK opened #11661 "Delivery via email seems to be broken"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

A user of venera.social reported that delivery via email (built-in imap support) seems to be broken. He has the 'hourglass' as delivery indicator on those items. He thinks it stopped working around May, 27th.

Please tell me what information do you need. I have nearly no experience with email contacts in Friendica.

[2022-06-20 18:32] MrPetovan commented on #11661
I have a fix for it, thank you for your detailed report!

[2022-06-20 18:32] AlfredSK commented on #11661
Weird. When I put a normal Friendica contact into the TO: field and an email address into the CC: field and I hit submit the modal doesn't vanish. It stays open as if the submit button didn't work. I have hit that button 3 times and then closed the modal. Now I have three post delivered to the Friendica contact but none reached the email recipient.

But this is only an addition to what I have test

[2022-06-20 18:33] AlfredSK commented on #11661
Thanks! :-) Is this some plot to force me to switch to develop again (I like it to be on stable). :-D

[2022-06-20 18:34] MrPetovan commented on #11661
Always, you know us so well.

Come to the dark side 😈

[2022-06-20 18:47] AlfredSK commented on #11661
Ok. That works. Also the modal is closing automatically again after hitting 'submit'.

The subject of the received email looks weird. Is this normal/expected?

Thunderbird UI:
`Subject: =?UTF-8?B?W0ZyaWVuZGljYV0gVmVuZXJhIE9uZSDwn42AIHBvc3RlZCBhbiB1cGRhdGUu?=`

Source text of the email:
`Subject: =?us-ascii?Q?=3D=3FUTF-8=3FB=3FW0ZyaWVuZGljYV0gVmVuZXJhIE9uZ?=  =?us-ascii?Q?SDwn42AIHBvc3RlZCBhbiB1cGR

[2022-06-20 23:16] MrPetovan commented on #11661
_Comment moved to https://github.com/friendica/friendica/issues/11666_

[2022-06-21 04:48] #11661 closed, assigned to MrPetovan

[2022-06-21 12:04] MrPetovan opened #11666 "Email subject is double-encoded when including Unicode emojis"
_Originally posted by @AlfredSK in https://github.com/friendica/friendica/issues/11661#issuecomment-1160749018_

[2022-06-21 13:37] tio-trom opened #11667 "Notifications for the Accounts page but not on the Notification bell"
Look at this:
![2022-06-21_15-36](https://user-images.githubusercontent.com/38043315/174812831-ff590f5f-d14d-4cc8-b0f1-29d41cc8221e.png)

I suspect these are notifications from people I ignored/blocked!? If I click the bell then "mark as read" they disappear. Until they appear again :D .

[2022-06-21 16:35] MrPetovan commented on #11666
No, it looks like it's encoded twice because you have a Unicode emoji in the subject line (Decoded: `[Friendica] Venera One 🍀 posted an update.`) This is another bug that should be fixed separately.

[2022-06-21 17:16] AlfredSK commented on #9868
We should really do something abut it. Would it be possible to add a horizontal scrollbar to the code block only?

![grafik](https://user-images.githubusercontent.com/3656054/174859093-ebed0c22-e849-467f-99bc-41837f5a490f.png)

[2022-06-22 01:55] MrPetovan commented on #11623
Example URL: `https://friendica.social/display/0a9c236a-6316a52cadb16016-4015d009`

The UUID in this URL is `0a9c236a-6316a52cadb16016-4015d009`.

However, you can also paste `https://friendica.social/display/0a9c236a-6316a52cadb16016-4015d009` in the item deletion field and it will extract the UUID on its own.

[2022-06-22 04:45] tobiasd commented on #11630
On 2022.09-dev a05baaf2493df354ca895d593e42041cea6f2392 WSOD with the following in the Friendica log

[code]

reverting the last PR back to e6ddb167f62259edf199cc1e0cee6a5fe474f094 (#11665 and #11668) gives me a working node back.

Addressed in #11671

[2022-06-22 08:57] Quix0r commented on #11630
I already addressed it in my PR #11670

[2022-06-22 11:45] MrPetovan commented on #11630
Refactoring PRs aren't the best place to include Fatal Error fixes, I'll extract it.

[2022-06-22 14:06] ghost opened #11672 ""remote self" is not working anymore"
Can anyone confirm that posting as "remote self" stoped working on develop since a gitpull last night?

[2022-06-22 14:51] #11666 closed, assigned to MrPetovan

[2022-06-22 21:02] ghost commented on #11672
Okay seems like a server restert helped

[2022-06-22 21:03] #11672 closed, assigned to nobody

[2022-06-22 21:11] informapirata commented on #8724
It would be a key feature. Unfortunately, user management is friendica's real weakness.

I do not expect advanced features like those of Mastodon, but at least as an administrator I would like to read the reports made by other instances (the risk is that if I do not notice that I have a problematic user, I could be blocked as an instance) and I would like the possibility to warn a problematic user

[2022-06-23 08:10] Quix0r commented on #11651
I maybe have something here:
`b/Receiver.php(564): Friendica\\Protocol\\ActivityPub\\Processor::createItem(Array)\n#175 /var/www/.../htdocs/src/Protocol/ActivityPub/Processor.php(1197): Friendica\\Protocol\\ActivityPub\\Receiver::processActivity(Array, '{\"@context\":[\"h...', 0, true, false, Array)\n#176 /var/www/.../htdocs/src/Protocol/ActivityPub/Processor.php(282): Friendica\\Protocol\\Activit

[2022-06-23 10:13] Quix0r commented on #11640
Yes, that should happen, because "first" does contain an empty "orderedItems" array and no "href" (and other conditions didn't match, too.

That's so far the code logic. Maybe @MrPetovan or @nupplaphil @annando can check this?

[2022-06-23 10:22] annando commented on #10353
@Quix0r

AFAIK for Antelope (the "COMPACT Row Format"), the row size is 768 bytes. So the update process will fail on these systems. Please inform yourself about the consequences of such changes before applying them. Some "Fire&Forget" doesn't work here. We have to consider every reasonable setup and cannot just tell the users: "Sorry that your system doesn't work anymore but I wasn't interested i

[2022-06-23 10:31] Quix0r commented on #10353
That's why I switched to `text` instead of `var<binary|char>(x)` because that only leaves a pointer (so far I read) in the table row to the "blob". Yes, URLs aren't long texts, still it was the best solution I could come up with.

[2022-06-23 10:38] Quix0r commented on #10353
Maybe I got too lazy due to heat/illness and the JPA ... ;-)

[2022-06-23 10:41] annando commented on #10353
Problem with `text` is - AFAIK - the reduced performance. Also this is no solution when the field is in any key.

[2022-06-23 11:34] Quix0r commented on #10353
@annando Yes, of course. A unique key on the URL makes sense as you don't want to store the same URL multiple times. On the other hand, the key might become to big and then you need to increase key cache to get performance back ... :thinking:

[2022-06-23 13:10] MrPetovan commented on #10353
Can I suggest once more to create a separate field of fixed size that will contain a hash of the URL that can be safely referred in a key or did everyone already get it? 😄

[2022-06-23 13:17] Quix0r commented on #10353
@MrPetovan And then we can safely use `text` on `url`/`preview`?

[2022-06-23 13:34] MrPetovan commented on #10353
Yes, that's the whole point! 😊

[2022-06-23 14:14] annando commented on #10353
Problem is the conversion process. Please don't rush things here. We have to find a solution that doesn't create problems. Everything that needs a pre- and post update will most likely fail on some machines.

[2022-06-23 14:22] Quix0r commented on #10353
@MrPetovan So you mean that the `pre_update_XXXX()` function creates the column, runs the hashing on `url` and then let the normal database update change the key?

[2022-06-23 15:04] MrPetovan commented on #10353
I believe this should work but this aspect of Friendica is @annando 's specialty.

[2022-06-23 19:32] annando commented on #10353
For fields that aren't part in an index we can use a two field solution. Since `text` fields are really low in the performance we should avoid them when possible. So we could add a second `text` field that would be added when the content is too large. We then query the fields via some view that automagically fetched the one or the other field.

Everything in an index is much more complicated. We h

[2022-06-23 19:49] MrPetovan commented on #10353
What's the problem with `text` fields written once and used only during data retrieval but not data lookup?

[2022-06-23 20:12] MrPetovan commented on #11651
I'm experiencing this issue as well, it's been delaying all the other worker tasks including delivery.

[2022-06-23 21:10] ghost commented on #11630
[code]
Adressed in #11681

[2022-06-23 21:12] MrPetovan commented on #11630
Paging @Quix0r

[2022-06-23 21:16] ghost commented on #11630
[code]
Addressed in https://github.com/friendica/friendica/pull/11683

[2022-06-23 21:20] ghost commented on #11630
[code]
Obsolete.

[2022-06-24 00:42] Quix0r commented on #11630
For the first one, `parse_url()` in `src/Model/Contact.php` returns `null`. And I would like to avoid calling `parse_url()` when there is no host part in it (as it seems).

[2022-06-24 00:51] Quix0r commented on #11630
I just wonder why we have `$url` and `$host` separately? Ah, okay the `Model\Item` class needs it. :-/ Maybe I can somehow rewrite this to avoid such code. Okay, also `Model\Mail` needs it separated.

[2022-06-24 01:17] Quix0r commented on #11630
My branch `rewrites/double-quotes-single` contains a fix. I guess I extract it.

[2022-06-24 01:32] Quix0r commented on #11630
What I find troubling here is, that I cannot reproduce it with my instance. No such errors are reported in `friendica.log`. So this could mean that some data is incorrect. If possible, please try to provide some example records that causes this (so a unit test can be written with that). @copiis

[2022-06-24 01:47] Quix0r commented on #11630
I could remove the `int` returned type-hint and document `int|null` again. That's one option. The other is to check if `$gsid` is invalid (can never be `<=0`) and throw a proper exception due to bad method invocation. Then next prevent all these bad calls from happening. Plus you can also unit-test on these thrown exceptions (behavior testing).

Also the below `if()` block can be negated and an ot

[2022-06-24 02:21] ghost commented on #11630
I noticed that the Twitter connector and the import of RSS feeds doesn't work anymore.

[2022-06-24 02:32] Quix0r commented on #11630
Case 3 is easy to explain:
- `Contact::updateFromProbe[Array]()` both expect `$id` to be an integer as `null` isn't a primary key for `contact` table.
- Therefore it will fail to find a return and return `false` anyway. We can save that database lookup by just avoiding invoking the said methods

The fix here is simple:
- check all occurrences of the said methods and avoid invoking them when the id

[2022-06-24 02:59] annando commented on #10353
`text` is slow, `var*` is faster. But I guess the best idea will be to forcefully switch the file format.

[2022-06-24 14:12] #11317 closed, assigned to nupplaphil

[2022-06-24 14:29] MrPetovan commented on #10353
I thought this was an oversimplification, and it turns out it is:
- [InnoDB stores VARCHAR the same way as TEXT](https://www.percona.com/blog/2010/02/09/blob-storage-in-innodb/).
- [MyISAM stores VARCHAR fields with their maximum size when creating in-memory temporary tables](https://nicj.net/mysql-text-vs-varchar-performance/), forcing some of these tables to be written to disk when the total tab

[2022-06-24 17:02] annando commented on #10353
@MrPetovan there are several differences: https://mariadb.com/kb/en/text/

[2022-06-24 17:06] MrPetovan commented on #10353
I didn't list all the differences, just the ones belying your simplistic claim. Interestingly,

The hash solution is what I suggested to do, however I didn't address potential collisions.

[2022-06-24 17:11] ne20002 commented on #11317
Thank you very much. :)

[2022-06-24 17:37] annando commented on #10353
It's easier to enforce a file format that allows larger keys. Adding some hash in a pre update will be more painful.

[2022-06-24 17:39] MrPetovan commented on #10353
How does the file format support look like, do we have usage data on the required MySQL/MariaDB version to use the larger keys file format?

[2022-06-24 18:15] annando commented on #10353
There is already the command `bin/console dbstructure toinnodb`.

[2022-06-24 18:42] MrPetovan commented on #10353
What would be the hard MySQL/MariaDB version dependency with the suggested file format which you haven't mentioned yet?

[2022-06-24 18:55] bkil commented on #10353
I thought there were plans to support further commonly requested database backends like Postgresql or SQlite. What about those? #699

[2022-06-24 19:28] MrPetovan commented on #10353
There are, but pretty long term, we have to finish converting legacy code to the Database abstraction, and then there are specific literal queries that may not work depending on the underlying DBMS that we have to find a solution for.

[2022-06-24 21:40] Quix0r commented on #10353
The benefit to go finally to more database "drivers" like SQLite3 is, that e.g. the unit tests doesn't have to rely on a running MariaDB/MySQL but can run purely without it. It is much easier for a developer to set up. But no worries, so far it is manageable. :-)

[2022-06-25 04:15] tobiasd commented on #11630
[code]

triggered by https://github.com/friendica/friendica-addons/pull/1265 causing white screen of death. `string` seems to be the working type hint for the argument `$b` in this case.

Addressed in https://github.com/friendica/friendica-addons/pull/1266

[2022-06-25 04:51] tobiasd commented on #11630
and the next one...

[code]
Addressed in https://github.com/friendica/friendica/pull/11683

[2022-06-25 08:56] MrPetovan commented on #11630
I'm on it for both.

Edit: I'm done.

[2022-06-25 09:34] MrPetovan commented on #11636
Thank you for the report, for some reason we've been checking for more than zero Message-ID header instead of one like the message says.

[2022-06-25 09:58] #11636 closed, assigned to MrPetovan

[2022-06-25 10:15] tio-trom opened #11687 "Following threads"
After you introduced the latest options for notifications, users can select to only get notifications when someone replies to their own comments/posts. But now I wanted to also be able to follow some threads and get all of the activity there. However it seems I cannot since that means I can only see the activity in threads filtered through my notification settings. And so, if I chose to only notif

[2022-06-25 10:21] annando commented on #11687
Have you tested if this currently doesn't work? Because at time of coding, I especially had these following of threads in mind. Means: When you follow a thread or when you marked for a contact to get notified about new posts, this should override all notifications settings for that case.

[2022-06-25 10:24] tio-trom commented on #11687
Interesting. I will test more but what I did was to "like" a thread. Then I realized it also marked it as "following the thread" so I could not even follow. And of course I was not notified of any comments. Maybe this is a tiny bug. I will report back - I have now freshly followed other threads.

[2022-06-25 10:27] annando commented on #11687
Ah yeah, I understand the problem. The system believes that you don't need to additionally follow the thread when you already interacted. Of course with the new settings you should always be able to follow a thread.

[2022-06-25 10:39] #11638 closed, assigned to MrPetovan

[2022-06-25 10:48] tio-trom commented on #11687
Ok so if you like a post you can't "properly" follow it then?

[2022-06-25 11:08] annando commented on #11687
You said so, I haven't checked that.

[2022-06-25 11:10] tio-trom commented on #11687
Yes that I tested for sure. If I click "like" on a post, it automatically selects it as "followed" with the notification settings I have for my account.

[2022-06-25 12:19] ghost commented on #11630
Friendica 500 white page of dead since last night's git pull and i got a lot of this

[code]

[2022-06-25 12:33] annando commented on #11687
To avoid any misunderstanding: Technically we can initiate a "follow" at any point in time. So when the system currently says that you are already following when you simply interacted, then we should change this. This is just an optical glitch.

[2022-06-25 12:46] tio-trom commented on #11687
Ah I see. Yes this needs to be changed so that you can interact but also follow. So that the interaction won't overwrite the follow action.

[2022-06-25 12:57] MrPetovan commented on #11630
Deprecation notices usually don't interrupt the script, we can try to address these but I'm pretty sure there's an actual error preventing you from using Friendica that may not show because of error truncation.

[2022-06-25 13:03] MrPetovan commented on #11630
[Smarty is aware of the issue](https://github.com/smarty-php/smarty/issues/750), in the mean time, please change line 60 of `src/Render/FriendicaSmarty.php` to the following
[code]
Hopefully you'll be able to see an actual error message.

[2022-06-25 14:44] Quix0r commented on #11630
I don't like ignoring deprecation warnings. A deprecation means, that the code you try to use is (mostly) unmaintained and relying on it is your fault (not PHP's). It also means that the developers don't want you to use it as they might remove it in future releases entirely so your program/script will stop working here. Hiding these deprecation warnings hides future problems, rewrite earlier while

[2022-06-25 14:45] Quix0r commented on #11630
Yes, it isn't a fatal error. So let's open another `[2022.09] PHP Deprecations` issue for them.

[2022-06-25 15:16] MrPetovan commented on #11630
These deprecation warnings are coming from a third-party dependency so we have a limited control over them, of course feel free to submit a PR to close https://github.com/smarty-php/smarty/issues/750 and we'll happily upgrade our locked version of Smarty in Friendica once they release your changes.

On the other hand, the reasons why we don't have a `[2022.09] PHP Deprecations` issue are multiple:

[2022-06-25 15:54] #11635 closed, assigned to MrPetovan

[2022-06-25 16:30] ghost commented on #11630
No new error messages except this one, I can't explain it, I haven't done anything on the server except for the git pulls? Friendica is still 500

`[Sat Jun 25 18:02:16.947184 2022] [proxy_fcgi:error] [pid 1055:tid 139965591246592] [client 134.119.20.10:39264] AH01079: failed to make connection to backend: httpd-UDS`

[2022-06-25 16:38] ghost commented on #11630
OK, I still have something

[code]

[2022-06-25 16:39] MrPetovan commented on #11630
Thanks, I'll look into it!

[2022-06-25 16:44] MrPetovan commented on #11630
What do you use for the `database.hostname` and `database.socket` of your database config? @copiis

[2022-06-25 16:47] ghost commented on #11630
It is `localhost`

[2022-06-25 16:48] MrPetovan commented on #11630
Please try `127.0.0.1` instead.

[2022-06-25 16:54] ghost commented on #11630
Also with `127.0.0.1` geting white page of dead

[2022-06-25 16:57] ghost commented on #11630
Strangely, Friendica works in Twidere.

[2022-06-25 18:23] MrPetovan commented on #11630
Same error in the log?

[2022-06-25 20:01] ghost commented on #11630
No, just this is in the log and WSoD

[code]

[2022-06-25 20:11] MrPetovan commented on #11630
This error is incredibly non-specific and related to the database configuration. I thought I had it with the `localhost`/`127.0.0.1` dichotomy but it didn't do the trick, and I'm all out of tricks. Have you tried to restart nginx, php-fpm and mysqld?

[2022-06-25 20:19] ghost commented on #11630
Yes, I restarted the whole server and also each service individually.
It's funny that only the etiketi.de domain is affected, all other domains work correctly.

[2022-06-25 21:30] tio-trom opened #11691 "Do not cross-post on Twitter when it exceeds the character limit"
I post on Twitter by default, and I even forgot about it haha. But would be a nice little addition to simply not post on Twitter if a post is longer than the characters accepted by Twitter. If anyone has it enabled to auto-post on twitter like I do, they will (very likely) post chopped posts from Friendica.

Either show a message while typing and exceeding the twitter characters, if it is selected

[2022-06-25 22:53] MrPetovan commented on #11691
Twitter counts their characters in a very specific way due to the way links are handled with a fixed 22 characters length after shortening. This number was current a few years back, I don't know what it is now. They provide an API endpoint where you can submit a text and it returns the number of characters it would take in a tweet.

Long story short, it isn't easy to figure out if we're over/under

[2022-06-26 01:27] tio-trom commented on #11691
Oh I see. So there is no way to know for sure, but can't we then use a "safe" margin of error? Between this and that amount of characters? And that to trigger at least a warning when people create a post?

This is good to know, thanks.

Oh that's ugly :D. Maybe we do need a way of alerting the users about the character limitation within a certain safe margin. Seems like something is needed there.

[2022-06-26 02:55] annando commented on #11691
We have a check for the size and it mostly works fine. Because of the size check we are treating the post differently. Means: We need a better indicator for the frontend.

[2022-06-26 06:47] futureisfoss commented on #11604
Friendica currently don't have a good client support on android, and its the only thing stopping me from moving to friendica completely. I'm glad to see the fedilab developer is willing to help with this, I hope you guys can figure this out :)

[2022-06-26 09:40] MrPetovan commented on #11691
It's the other way around, since links are shortened, it's mostly fine to go over 280 characters with links. Same with BBCode formatting, the tags take up characters in the input form but do not in Twitter. So we can show a warning, but it won't be accurate.

[2022-06-26 09:42] #11177 closed, assigned to nupplaphil

[2022-06-26 09:52] MrPetovan commented on #11630
[code]
Spaces aren't allowed in Memcached cache keys, I'll submit a fix soon.

Addressed in https://github.com/friendica/friendica/pull/11692

[2022-06-26 10:34] foss- commented on #11691
Not sure about this. I tend to keep an eye on the 280 characters when composing posts for accounts cross-posting to twitter. I think the current behavior is fine to switch to a link once character link is exceeded.

As MrPetovan stated, this is hard to handle well and I think the overhead needed to get this right would not justify the benefit or gain from this.

I think it is fair to assume users

[2022-06-26 11:20] tio-trom commented on #11691
I still think a warning of sorts could be very useful. Can't we ignore the BBCode can links and count the rest and showcase a warning? :D

[2022-06-26 11:36] #11651 closed, assigned to MrPetovan

[2022-06-26 12:44] annando commented on #11691
What we need is some JS callback routine that does the calculation. Technically it is possible, it just needs the JS part, the endpoint is really easy to code.

[2022-06-26 12:45] foss- commented on #11691
To avoid complex calculation and implementation, would turning the character counter number red as soon as the 280 mark is hit? And only doing this for accounts that have cross-posting to twitter enabled? It is not ideal and milage may vary but it is a nice indicator and easy to spot due to the color change.

[2022-06-26 12:55] MrPetovan commented on #11691
The problem is that it's dependent on an addon that may or may not be present, enabled or configured on the server, and may or may not be configured by the user. So it needs to be grafted on the writing form from the twitter addon, which increases complexity.

[2022-06-26 14:09] tio-trom opened #11694 "Wordpress cross-post bug"
Inline video media won't show in Wordpress. I have made this post https://social.trom.tf/display/dbc8dc44-1062-b864-70dd-93a622727637

But on my blog the first 2 videos are not shown and everything is cut in a weird way at the beginning:
![2022-06-26_16-07](https://user-images.githubusercontent.com/38043315/175818134-642a1acf-6c92-487e-bd97-cbb0b2e27c3f.png)

So it cuts the text too...the rest is

[2022-06-26 14:48] tio-trom commented on #10019
Hey so I was trying to write a post on friendica and use inline videos but I am kinda lost how to. For youtube it is as simple as adding the url inline. Then magic happens. The sad thing is for peertube or invidious this does not and I have no clue how to add these in a post.

[2022-06-26 19:16] ghost opened #11695 "Friendica WSoD caused by cookienotice addon"
I do not know how to continue. For two days I've had a WSoD under the domain etiketi.de under which Friendica is running.
I rule out that the error is caused by a git pull because my Friendica continues to run normally under Twidere. What I suspect is that something broke during the last storage space optimization on the server.
I can't find anything in the logs either, does anyone have a tip or a

[2022-06-27 05:08] tobiasd commented on #11471
For testing something else, I've installed an Android client on the phone. There the notification about a new posting to the _helpers_ and _developers_ forum was received. In the browser, using `vier` it is missing.

[2022-06-27 09:19] ne20002 commented on #11388
Ok, I haven't checked with non-admin user as I'm currenlty the only user on my instance.
But still this blocks me on my installation. I see if I can modify the modsecurity rule so that it accepts stacktraces only for logged in admins / local users / me.
If this is disabled for any other repsones, e.g. for requests from other instances, this is fine. Even though, I like to have the rule enabled so

[2022-06-27 11:26] MrPetovan commented on #11388
Only administrators have the "Admin" menu item so you may be able to check for this in the response to suppress the warning.

[2022-06-27 11:45] MrPetovan commented on #11388
The exact string in English is this:
[code]

[2022-06-28 03:11] SpcCw commented on #11695
Maybe unrelated but I also got WSoD after pulling develop a few days ago. I was short on time and I just reverted webserver files (just them) to the nightly backup without investigating.

Right now I tried this again and the process went without issue.

[2022-06-29 16:44] stom79 commented on #11604
Users encounter an issue when updating their profile with `api/v1/accounts/update_credentials` endpoint

Does it mean it's not yet implemented?

https://github.com/friendica/friendica/blob/05a76a3dc2fd313e660752a7eb139ec2fb3a6667/src/Module/Api/Mastodon/Accounts/UpdateCredentials.php#L40

[2022-06-30 07:13] ne20002 opened #11698 "Add support for unified push"
### Is the feature request related to a problem? Please describe.

As of version 19 Tusky will support unified push (see https://unifiedpush.org). It would be great if Friendica would support this.

### Describe the feature you'd like

Have a setting to enable use of unified push
Have a configuration to choose unfied push provider

With Nextpush setting up a own unified push provider is easy. It a

[2022-06-30 07:17] annando commented on #11604
Currently not. I guess we should work on this.

[2022-06-30 13:12] Quix0r commented on #11108
EDIT: Already existing, just start typing!

Can we have a drop-down menu similar to here on github, where you start with a `:` and get a drop-down menu and the further you type, the narrower results you get? It can be even without any AJAX.

Idea: https://social.trom.tf/display/dbc8dc44-1262-bda0-3d0e-d8f795861863

[2022-06-30 13:46] Quix0r commented on #11108
At least in the `/compose` view I can find it. But it sits very far away from the input box. Here with latest `develop` code, I have a smiley in your mentioned "popup" (it is a modal). And in the template `view/templates/item/compose.tpl` there is no variable next to the tools near the input box.

Edit: In `/compose` the opening div with all the smilies breaks the sign. It overlaps a lot.

[2022-06-30 20:10] atasingorneq opened #11700 "500 Internal Server Error on Network Page"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

White Screen of Death (500 Internal Server Error) on _/network_ Page

### Steps to Reproduce

Call the _/network_ Page

Actual Result:

A white screen of death

Expected Result:

See the content of the _/network_ Page

### Log Entrys

PHP log
[code]
Friendica Log:
[code]

### Platform Info

Friendica Version:

Frien

[2022-06-30 22:03] MrPetovan commented on #11700
Paging @Quix0r

[2022-07-01 00:48] Quix0r commented on #11700
This and other methods just miss a returned type-hint. Edit: How can we unit-test these classes? cc @nupplaphil

[2022-07-01 04:40] #11700 closed, assigned to nobody

[2022-07-01 06:51] ghost commented on #11695
It was exactly the same for me, except that unfortunately I didn't have a backup and the subsequent pulls didn't bring any improvement either

[2022-07-01 13:34] MrPetovan commented on #11695
Without any feedback from any log (PHP, Friendica, nginx?) it's hard for us to troubleshoot beyond general advice. What's the output of `> bin/console dbstructure update`?

[2022-07-01 14:46] ghost commented on #11695
No output, the only thing i get from the server logs is this

[code]
A lot of this
`(103)Software caused connection abort: [client 178.63.21.144:54102] AH01075: Error dispatching request to : (reading input brigade)`
Lot of this
`PHP Warning:  array_merge(): Expected parameter 1 to be an array, bool given in /src/Module/Profile/Status.php on line 213'`
Some of this
`PHP Fatal error:  Declaration o

[2022-07-01 17:55] MrPetovan commented on #11695
The latter one would trigger a 500 error, but it's been fixed already in https://github.com/friendica/friendica/pull/11701, can you confirm these errors happened before you updated to the latest `develop`

[2022-07-02 04:05] ghost commented on #11695
Do you mean this?
`PHP Fatal error: Declaration of Friendica\\Content\\BoundariesPager::getStart() must be compatible with Friendica\\Content\\Pager::getStart(): int in /src/Content/BoundariesPager.php on line 76'`
I still have this error in the logs at 5 a.m. today. Latest gitpull

[2022-07-02 13:07] MrPetovan commented on #11695
Thanks, I can look into this.

[2022-07-02 13:33] MrPetovan commented on #11695
Can you please confirm the commit hash you pulled with `git rev-parse --verify HEAD` ?

[2022-07-02 14:06] ghost commented on #11695
Output in the frindica folder = `da7bc082b934734cfc3ec94c5329cf23adf515e5`
Output in the addon folder = `fe4982d51b4c8ca0e0e44058e096549e555afee2
`

[2022-07-02 15:22] MrPetovan commented on #11695
Both look good, you shouldn't get this error anymore. Still WSOD?

[2022-07-02 15:41] ghost commented on #11695
😞

![2022-07-02 17 38 16](https://user-images.githubusercontent.com/12480023/177007193-9f212b57-59a9-4d52-8823-7241283b3348.png)

[2022-07-02 16:10] ghost commented on #11695
But why does Friendica still work in Twidere but no longer in the web browser.

[2022-07-02 16:10] MrPetovan commented on #11695
It has to be something else. Please rotate both your Friendica and PHP/web server logs and paste here whatever is written in them after you get the 500 error.

[2022-07-02 16:11] MrPetovan commented on #11695
The API doesn't use the same code paths at the web frontend, so it has to be something specific to the web frontend.

[2022-07-02 16:13] ghost commented on #11695
My Friendica log is off.
Can I get it switched on via FTP somehow?

[2022-07-02 16:48] MrPetovan commented on #11695
You can enable it from the command line:
[code]

[2022-07-02 18:30] ghost commented on #11695
I'm being inundated with reports.
Will sort them out tomorrow and post here.

[2022-07-02 21:12] MrPetovan commented on #11695
You can reduce the verbosity with this:
[code]

[2022-07-03 03:55] ghost commented on #11695
I get some of these

[code]
And plenty of these

[code]

[2022-07-03 04:05] ghost commented on #11695
And this

[code]

[2022-07-03 04:10] ghost commented on #11695
[code]

[2022-07-03 04:15] ghost commented on #11695
[code]

[2022-07-03 04:25] MrPetovan commented on #11695
That's the one we want. It doesn't trigger with API calls since it's a frontend-only addon. I'll submit a patch immediately.

[2022-07-03 04:28] MrPetovan commented on #11695
@copiis You can manually apply the patch in https://github.com/friendica/friendica-addons/pull/1270 to restore your system.

[2022-07-03 04:29] ghost commented on #11695
How do i do this?

[2022-07-03 04:31] #11695 closed, assigned to MrPetovan

[2022-07-03 04:55] copiis commented on #11695
I made a git pull an a server restart but i stil have a WSoD and a lot of this

[code]

[2022-07-03 05:10] copiis commented on #11695
I found these two errors
[code]

[2022-07-03 05:53] ghost opened #11704 "Still have a HTTP ERROR 500 WSoD"
Still have a WSoD after the git pull just now.
These are the error messages from the Friendica log.
The first error message I get about 40 times a minute.
The second error messages I had only once.

[code]
[code]

[2022-07-03 12:36] MrPetovan commented on #11695
Now you can pull both friendica and addons and you should be good to go.

In this case, you could change the file manually since there's only one change in one file. For larger pull requests, you would have to add a new git remote pointing at my Friendica fork:

[code]
Then you have to pull the branch that is referenced in the pull request
[code]
To go back to a regular branch once the PR is merge

[2022-07-03 12:38] MrPetovan commented on #11704
I got you: https://github.com/friendica/friendica-addons/pull/1271

[2022-07-03 12:46] #11704 closed, assigned to MrPetovan

[2022-07-03 17:20] informapirata commented on #11667
I also confirm the same problem! Unfortunately, at the moment the only way to cancel the notifications is to enter the page https://[nameinstance]/notifications/ and ... click on each of them! 😭

[2022-07-04 10:10] ghost opened #11706 "Add RSS as contact ends in an error message"
Here is the error message.
After that the contact is in your contact list but it cannot be deleted or clicked on or set as remote_self
[code]

I am on latest develop

[2022-07-04 13:16] MrPetovan commented on #11706
Thanks for the report, but this is just a stack trace, which means whatever error message should be one line above in your log.

[2022-07-04 16:26] MrPetovan opened #11707 "Twitter: Replies to own posts sometimes aren't attached to original conversation"
I've notice over the last couple of months some Twitter replies to my own posts don't get attached to the original conversation but instead start a new one, like this example:
![twitter_reply_conversation](https://user-images.githubusercontent.com/925415/177192102-98bdc9ed-f1b5-460b-b2f1-fcb87a952bab.jpg)
Original reply: https://twitter.com/FabricThief/status/1541450710620835840

Not sure how to r

[2022-07-04 22:43] xundeenergie opened #11708 "/api/v1/instance gives WSOD"
i tried to open https://soc.schuerz.at/api/v1/instance and get an WSOD

My friendica.log says only this entry:

[code]

activated php error-logging gives no output.

According to @annando i should report this issue

I run friendica on devel, commit c88898df9 with nginx on php7.4

I saw, that there are a lot of this ERROR-Lines in my log
For example this:
[code]

[2022-07-05 08:32] ghost commented on #11706
This is the only thing I have found.
Should I look for something specific?

[code]

[2022-07-05 08:37] ghost commented on #11706
Thats not from the log it is from the `https://etiketi.de/follow page` and abowe it is just
[code]

[2022-07-05 09:08] ghost commented on #11706
I get this message when I try to go to the contact's profile page.
[code]

[2022-07-05 15:19] MrPetovan commented on #11708
Paging @quix0r

[2022-07-05 15:20] MrPetovan commented on #11706
Thanks, all of this should be enough for me to troubleshoot.

[2022-07-05 16:46] Quix0r commented on #11708
The returned record `$contact` from the line `$contact = Contact::getById($contactId, ['uri-id']);` has a NULL `uri-id` field. I don't know how to fix this with no more data available. The id here is clearly needed in line 79 what the `account-user-view` is being queried. A NULL allowed there would cause the `HTTPException\NotFoundException` be thrown. On my instance the same API call https://f.ha

[2022-07-05 17:38] #11708 closed, assigned to nobody

[2022-07-05 20:42] MrPetovan commented on #11708
What about the other errors they were reporting?

Cleaned below:
[code]

[2022-07-06 08:08] MrPetovan commented on #11706
Can you please check if there are any `contact` table rows having NULL in their `uri-id` column like this:
[code]

[2022-07-07 09:27] ghost commented on #11706
There is no value 0 in the `uri-id` column.

But I noticed something else.
For example, when I want to add this feed `https://www.notateslaapp.com/rss` everything works fine.
But when I want to add this feed `https://lingerie-lush.com/feed/` then comes the, above described error message.

[2022-07-07 12:48] MrPetovan commented on #11706
Ah, thanks for the examples, this is what I was going to ask you next.

[2022-07-07 12:51] MrPetovan opened #11712 "2FA: Clicking on "Trust" reloads the same page"
Using 2FA, once I provided my TOTP code, I'm being asked if I want to trust this browser. Clicking on anything but "Trust" leads me to the desired page.

Clicking on "Trust" reloads the same page asking to trust the browser.

It's possible to navigate away from this page by using the top navigation. I didn't try to navigate before clicking on any button first.

[2022-07-07 13:00] MrPetovan commented on #11706
I am not able to reproduce the error with the above feed URL unfortunately, so it seems to be a local oddity on your system. Can you please ban and purge this contact URL from the admin, unban it and try to add it as a contact again to see if it can correct itself?

[2022-07-07 16:15] ghost commented on #11706
That solved the problem

[2022-07-07 16:15] #11706 closed, assigned to MrPetovan

[2022-07-07 18:13] nupplaphil commented on #11712
I'm not able to reproduce it, I tried it locally again and it works  ..
Can you provide some more details :-/

Do you see anything in the logs? Can you add a log of the network traffic? (so the chronologies of requests --> I'm using the webconsole for it)

[2022-07-07 18:25] MrPetovan commented on #11712
What log level do you expect something to show up?

[2022-07-07 18:48] MrPetovan opened #11713 "Better handle missing replies referenced in notifications"
I just had the scenario again where I click on a notification that just popped up, and I get the "Not Found" error page. I like the Friendica bunny, but still.

The problem is that the faulty notification stays and in compact mode it replaced the previous notification for the same thread, which means I can't access the conversation from the notifications anymore.

I thought I implemented a notific

[2022-07-07 18:51] nupplaphil commented on #11712
good question tbh ... I'll add some reasonable log-points :X

[2022-07-08 11:26] MrPetovan opened #11716 "Interaction causing posts to show in my feed doesn't always show"
Since the last release or so, I've noticed many posts in my timeline whose author I don't follow. I do follow the causer but their likely interaction on the post that caused it to appear in my timeline doesn't show at all.

How can I check for missing interactions?

[2022-07-08 11:30] MrPetovan commented on #11712
https://github.com/friendica/friendica/pull/11714 seems to have fixed the issue.

[2022-07-08 11:30] #11712 closed, assigned to nupplaphil

[2022-07-09 00:37] MrPetovan commented on #11458
I am on to something. We discard posts created by `twitter_createpost()` if their body is empty but guess what, this is the case with media-only posts where media URLs are whisked away from the body to posts attachments. I have test code running on my production node, I'll report once I start seeing media-only posts in my network page.

[2022-07-09 00:48] MrPetovan commented on #11479
Has it done it again?

[2022-07-09 00:51] MrPetovan commented on #11517
@ananelson Did you just change all the `\n` to `\r\n` in `Emailer.php` or was there something else?

[2022-07-09 00:56] MrPetovan commented on #11529
The query runs on the contact table which complicates things regarding settings that local Friendica accounts have set. I'll defer to @annando to figure this out, I'm not comfortable enough with the database structure for this.

[2022-07-09 00:56] MrPetovan commented on #11548
Is this still current?

[2022-07-09 11:23] MrPetovan commented on #11716
Even worse, even when the causing interaction isn't displayed, the causer themselves is shown publicly to anyone even though it was caused by a specific user, see https://friendica.mrpetovan.com/display/52acf9cd-6d004cc0e00c26be-3acaa524, which sounds like a breach of privacy in the case of a single-user node.

[2022-07-09 11:25] MrPetovan commented on #11716
Looking at the original conversation for this example, I see that I'm missing Michael Vogel's comment even though I'm following them, and I believe it's the causing interaction: https://mastodon.social/@Isegrimm/108616355217926154

[2022-07-09 11:27] MrPetovan commented on #11630
[code]

[2022-07-09 11:56] MrPetovan commented on #11716
I have strong evidence to suggest that all these conversations are missing a displayed like by Montag:
- https://friendica.mrpetovan.com/display/52acf9cd-9822123b99793462-8f4794f7
- https://friendica.mrpetovan.com/display/6d463554-db6c678357aabe25-569ec24b
- https://friendica.mrpetovan.com/display/2d4b02f1-c08a18c141686562-b8500eb6
- https://friendica.mrpetovan.com/display/52acf9cd-24036399ca84ab7

[2022-07-09 12:10] ThRPctmylSgltwH commented on #11511
@MrPetovan, sorry for the late reply but I was travelling for business. The command now executes perfectly and the website is available. The next issue is that my default account no longer has access to the /admin page. I receive the error Forbidden You don't have access to administration pages.

Is there another parameter that still needs to be considered?

[2022-07-09 12:35] MrPetovan commented on #11511
Glad to hear it went through! The admin access is entirely controlled from the `config/local.config.php` file where you enter the email addresses of the admin accounts manually.

[2022-07-09 15:03] xundeenergie commented on #11708
After the Update, it doesn't work...

But i got an error for a Profile-number.
It was my first created admin-user.

Then i go to the profile, set an Displayname, and then the /api/v1/instance-url worked magically.

[2022-07-09 17:27] annando commented on #11716
You can increase the debug level to "debug". Then by using the guid you should be able to trace down the entries in the log. Also each log entry has got this data: `"... uid":"a0419e","process_id":9051 ...` (with different values for these variables of course).

Using these values you can then trace the whole path from (hopefully) receiving the item to (possibly) not storing it.

Also you should s

[2022-07-09 18:19] MrPetovan commented on #11716
Oof, thanks, firehose it is.

[2022-07-09 18:29] ThRPctmylSgltwH commented on #11511
Thanks for your help.
I do not see any remaining issues, but I will see over time.

[2022-07-10 05:51] #11458 closed, assigned to MrPetovan

[2022-07-11 00:53] MrPetovan commented on #11716
Found another occurrence: https://friendica.mrpetovan.com/display/684c1348-e4be6519a167bc0c-9b1a82e3

Based on the GUID `684c1348-e4be6519a167bc0c-9b1a82e3`:
[code]

[2022-07-11 00:55] MrPetovan commented on #11716
Based on the process id `12535`:
[code]

[2022-07-11 00:59] MrPetovan commented on #11716
Oh I know. Since we're now fetching parents asynchronously to avoid infinite loops, the process for accepting the initial interaction aborts because no parent is immediately returned. And then the asynchronous fetch succeeds so the parent post is fetched with the correct causer. Oof, I have some more tinkering to do in this part.

[2022-07-11 01:16] MrPetovan commented on #11716
I have a fix, it's running on my main node for activity. I'll run it for 24 hours.

[2022-07-11 07:07] connyduck opened #11722 "POST /api/v1/push/subscription returns status 200 with Html body"
- [x] I have searched open and closed issues for duplicates

### Bug Description

The api endpoint POST /api/v1/push/subscription returns status 200 with a html body. This causes client apps like Tusky 19.0 beta 2 to crash as they expect a json response on a success status.

### Steps to Reproduce

1. call POST /api/v1/push/subscription with a valid bearer token and body
2. observe statuscode 200

[2022-07-11 08:14] stom79 commented on #11604
I have an issue with the endpoint `api/v2/search`, if I pass the URI of a message, I am getting an unrelated one.

Example with this call:
```https://friendica.me/api/v2/search?q=https%3A%2F%2Ftoot.fedilab.app%2Fusers%2Fapps%2Fstatuses%2F108622861323735925&type=statuses&exclude_unreviewed=false&resolve=true&following=false&offset=0&limit=1```

<details>
<summary>Result:</summary>

[code]

</detail

[2022-07-11 09:04] annando commented on #11716
@MrPetovan please filter the log for `"uid":"78a272","process_id":12535`. it is important to filter with both values to only get the  correct ones.

[2022-07-11 10:55] MrPetovan commented on #11716
Thanks for the hint, in this case I found the issue and I am working on a fix already.

[2022-07-11 17:37] AlfredSK opened #11723 "Maintenance page - CSS missing/blocked"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

The maintenance page has no CSS and looks damaged. It seems that some CSS is blocked when maintenance mode is enabled.

### Steps to Reproduce

1.  enable maintenance mode
2.  look at the maintenance page

Actual Result:

![grafik](https://user-images.githubusercontent.com/3656054/178323468-722f3885-95d9-48ce-8129-6

[2022-07-11 18:28] AlfredSK opened #11724 "Uncaught Exception: TypeError for Protocol\Email::messageGetPart()"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

I have upgraded libranet.de to current develop. Now I get a lot of the following error messages about an uncaught exception type error related to the email protocol.

[code]

### Platform Info

Friendica Version:
2022.09-dev

Friendica Source:
git

PHP version:
7.4

SQL version:
MariaDB 10.6

[2022-07-11 23:20] ananelson commented on #11517
There were 2 places I think - sorry I haven't been able to do much coding lately but I should be able to get back to this later this week.

On Fri, Jul 8, 2022, at 5:51 PM, Hypolite Petovan wrote:

[2022-07-12 03:01] MrPetovan commented on #11724
There's a typo in the type-hint, I'm on it.

[2022-07-12 03:07] MrPetovan commented on #11517
Thanks, so far your hints haven't been enough for me to be sure I have the right fix for a problem I can't reproduce without a PHP 8.1 install. I can wait for you to be available.

[2022-07-12 03:10] MrPetovan commented on #11723
The CSS call goes through the regular module because we vary the CSS based on the logged in user, which is why it ends up showing the maintenance page as well. We'd have to write an exception just for this module to be able to use the CSS with default theme setting, disregarding the user's and the site's settings.

[2022-07-12 05:01] annando opened #11726 "httpClient doesn't detect a redirect"
See this code:
[code]

It will return this result:
[code]
The httpClient follows the redirect, but it doesn't fill the corresponding fields.

[2022-07-12 05:13] #11724 closed, assigned to MrPetovan

[2022-07-12 05:31] nupplaphil commented on #11726
I'll take a look

[2022-07-12 19:24] #11726 closed, assigned to nupplaphil

[2022-07-13 04:30] HankG commented on #11716
I was about to add a new Issue but it may be related. Starting with a brand new DB and source tree started at the head of the develop branch today a post by a contact doesn't show up in the Network tab. If I run the same experiment starting with the stable branch and then switch over to the develop branch the posts continue propagating over to the Network tab properly. There was some other weird b

[2022-07-13 04:32] #11723 closed, assigned to MrPetovan

[2022-07-13 12:07] MrPetovan commented on #11716
I believe this is a separate issue, thank you for the report.

[2022-07-13 12:53] HankG commented on #11716
K I'll create a new issue for it then. I tried divining the flow of posts through to notifications to debug it myself but after several hours of it yesterday I got brain fried on it. Should I break those into two bugs (one for the posts not showing up in the network and one for the friend/connecting behavior) or just one?

[2022-07-13 12:57] MrPetovan commented on #11716
If the post not showing up in the network is a comment on a post that your system didn't know about then it's a duplicate of the present issue. The friend connection needs to be its separate issue no matter what.

[2022-07-13 13:00] HankG commented on #11716
It is not a comment. It is a primary post by a connected user on the same server. So it sounds like two issues then.

PS is there a sequence diagram or something for how posts and subsequent things flow through the system?