[2021-09-26 16:25] hellquist commented on #10768
Yay! Magic! After running that (affecting 2k+ rows) and then running the dbstructure update command there are now no errors reported in admin page or in system. Thanks! :)

[2021-09-26 16:27] #10768 closed, assigned to nobody

[2021-09-26 20:01] AlfredSK commented on #10757
2021.09 stable, PHP 7.4

[code]

All lines have the same timestamp (26-Sep-2021 10:56:56 UTC). Looks like they have a common cause. So I reported the warnings and notices together.

Addressed in #11074

[2021-09-26 20:42] AlfredSK commented on #10757
Additional warnings similar to https://github.com/friendica/friendica/issues/10757#issuecomment-927201676

[code]

The interesting thing is that these warnings occur only on one node. They do not occur on other nodes.

2021.09 stable, PHP 7.4

[2021-09-26 21:40] MrPetovan commented on #10757
Oh no, it's spreading!

[2021-09-27 00:14] MrPetovan commented on #10757
Just to be sure, did both of you run `bin/composer.phar install --no-dev` after updating to `stable` or `develop`? @AlfredSK @urbalazs

[2021-09-27 00:22] AlfredSK commented on #10757
Yes.

[2021-09-27 00:42] MrPetovan commented on #10757
Thank you for the confirmation, my problem is that all these Module class names wrongly namespaced are referenced only in `static/routes.config.php` where we use the magic constant `::class` to return the fully qualified class name (including the namespace in the form `\Friendica\Module\Contact\HoverCard` for example). And I can't think of a way for this language construct to suddenly start to out

[2021-09-27 08:14] urbalazs commented on #10757
@MrPetovan the `bin/composer.phar install --no-dev` cannot be executed using the full packages, since it already contains the `vendor` folder and there is no `composer.json` in the root of the archive. According to the release notes:

[2021-09-27 08:27] nupplaphil commented on #10757
I'll Check the full package and maybe recreate it

[2021-09-27 09:53] urbalazs commented on #10757
I found these not implemented API calls in Friendica log:

[code]

[2021-09-27 09:53] AlfredSK commented on #10757
I'm on stable (2021.09) and was on RC before. Installed and updated via git. The output of `sudo -u www-data COMPOSER_HOME=/var/tmp/composer bin/composer.phar install --no-dev` is:

[code]

Composer has a local cache at `/var/tmp/composer`. Do you think I should clean that and try again? ...

[code]

The file `static/routes.config.php` seems to be ok and up to date. At least git status is telling

[2021-09-27 11:12] MrPetovan commented on #10757
Thank you both for the added details. I do not think it has to do with users, this error comes up really early in the script execution, long before we even care about users.

[2021-09-27 11:13] #10766 closed, assigned to fabrixxm

[2021-09-27 17:16] ThRPctmylSgltwH opened #10850 "User created and deleted in web interface before cron job was run causing errors"
I created and then deleted a user before the cron job was run. Now when I try to run the cron job I receive the following error where null seems to be the error.
[code]
The web interface still lists the queue as follows and I cannot remove the entries.

Administration - Inspect worker queue (5)
This page lists the currently queued worker jobs. These jobs are handled by the worker cronjob you've se

[2021-09-27 18:51] hoergen opened #10772 "Twitter Addon - URLs are doubled when sending to twitter"
When posting an URL in friendica and using the twitter plugin, on the twitter post the URLs are doubled

Friendica post

![01_temp](https://user-images.githubusercontent.com/24474762/134967668-50df65d1-153b-4d48-8e6a-8ac71beb5e1f.jpg)

Twitter post

![00_temp](https://user-images.githubusercontent.com/24474762/134967648-28e590c2-942f-4f66-aa73-e91b9ba2cc28.jpg)

Friendica Version: 2021.9 stable
Fr

[2021-09-27 19:53] AlfredSK commented on #10757
For reasons unknown these [warnings](https://github.com/friendica/friendica/issues/10757#issuecomment-927201676) and these [warnings](https://github.com/friendica/friendica/issues/10757#issuecomment-927367024) have stopped popping up in my PHP error log (for now). I'll watch this.

[2021-09-27 21:41] MrPetovan commented on #10757
I welcome this news with cautious glee.

[2021-09-27 21:44] urbalazs commented on #10757
Same for me.

Yesterday:

[code]

Today:

[code]

`¯\_(ツ)_/¯`

[2021-09-27 21:47] MrPetovan commented on #10757
I will take it, thank you folks.

[2021-09-28 06:04] gitkald opened #10774 "DB Fehler bei Update 021.09 - 1424"
After Updating my friendica, I get an error: _Das Update der Datenbank ist fehlgeschlagen. Bitte führe 'php bin/console.php dbstructure update' in der Kommandozeile aus und achte auf eventuell auftretende Fehlermeldungen._

If I try this command I get this error:
ALTER TABLE `delayed-post` ADD `wid` int unsigned COMMENT 'Workerqueue id', ADD INDEX `wid` (`wid`), ADD FOREIGN KEY (`wid`) REFERENCES

[2021-09-28 06:10] annando commented on #10774
Please execute
[code]

if this result is empty then it is the easiest way to just delete that table and run the command  ```php bin/console.php dbstructure update``` again.

[2021-09-28 06:40] gitkald commented on #10774
This was the solution. Thx Michael.

[2021-09-28 06:40] #10774 closed, assigned to nobody

[2021-09-28 11:05] MrPetovan commented on #10772
Closed by #10773 and https://github.com/friendica/friendica-addons/pull/1174

[2021-09-28 11:05] #10772 closed, assigned to nobody

[2021-09-29 09:03] Pavvlik opened #10777 "Logs cannot be read."
![2021-09](https://user-images.githubusercontent.com/18744163/135237847-8e1642f3-0691-49f8-9ded-b7900a608fbc.png)

[2021-09-29 09:09] Pavvlik opened #10778 "1406 Data too long for column 'name' at row 1 in"
[code]

I changed this entry in the Friendica database and the error is gone
[code]

[2021-09-29 09:34] 4nanook opened #10779 "Video Scraping Does Not work for BrandNewTube.com"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

Video scraping does not work for brandnewtube.com URLs.
### Steps to Reproduce

1. Post into the link or video option a brandnewtube.com URL.

Actual Result:

It just shows the URL as a link, no preview.

Expected Result:

A video preview as you get with youtube, bitchute, odysee, etc.

### Platform Info

Friendica

[2021-09-29 12:33] MrPetovan commented on #10777
Thank you for your report, I have a couple of questions:
- Can you confirm you have activated logging in the first place?
- The search box isn't empty (it shows `/admin/logs/view` at the moment), can you click on "Clear" to start over?
- What version of Friendica are you currently running?

[2021-09-29 12:35] MrPetovan commented on #10778
Thank you for the report.

@annando Do we have an index on the `apcontact.name` field and can we make it a text field instead?

[2021-09-29 12:39] MrPetovan commented on #10779
I don't think brandnewtube.com is general purpose enough that we should enable video embedding of their URLs in Friendica.

[2021-09-29 12:43] annando commented on #10779
The data we present in a link preview is the data that the remote side does offer. When we don't display any data than it is most likely that they don't offer anything that can be used. This is not a bug.

[2021-09-29 12:45] annando commented on #10778
`text` fields should be avoided when possible. There are other ways treating this. We already have got a functionality that shortens data according to the table structure before storing it. Good thing would be to have a callstack from the problem above. Than we could check it.

[2021-09-29 13:54] MrPetovan commented on #10778
I know and that's why I'm asking such a pointed technical question. Bottom line is remote servers don't have a 256 characters limit for the display name of their users and so we shouldn't either.

[2021-09-29 14:51] annando commented on #10778
I don't see a sense in storing longer names - this is just a waste of space. And especially the contact table is huge on the system.

[2021-09-29 15:18] MrPetovan commented on #10778
The sense is to respect the remote contact's naming freedom. They chose their display name within the constraints of their home platform, I don't believe we have any right to arbitrary constraint this freedom because we are on a receiving system. Truncating isn't a solution either, it could completely ruin the meaning of a display name. So we either forbid all communication with longer display nam

[2021-09-29 17:13] annando commented on #10778
With a size of 1.2 gigabyte the `contact` table is the 6th largest table file in the database on my server - the 5th largest (with 1.5 gb) is `apcontact`. Also we shouldn't use a `text` txpe since we perform searches in that field as well. And And I don't really see a reason why we should support people in their effort trying to break the page layout.

[2021-09-29 17:36] MrPetovan commented on #10778
Some are just using Mastodon emojis in their display name, the text is long but the display on Mastodon is shorter.

[2021-09-29 18:06] annando commented on #10778
Thing is: When we would change the `name` field in the `apcontact` table we had to do the same with the corresponding field in the `contact` table and also in all other tables that are using this field value like for example the `notify` table or the `mail` table.

So limiting the size is much more easier.

[2021-09-29 18:20] MrPetovan commented on #10778
Easier for who/what? Currently some remote accounts may not be be reachable or interacted with by Friendica users simply because their display name is slightly too long for our developer convenience. It may be easier, but it doesn't feel right to me.

[2021-09-29 20:53] Pavvlik commented on #10777
My logs have been activated for 2 years. Fail2ban works so the logs are ok. I have the latest version of friendica. - Friendica 'Siberian Iris' 2021.09 - 1434. Yes, I can click on these buttons but it won't change anything.

[2021-09-29 22:20] 4nanook commented on #10779
When I go to the URL I see a preview so it would seem the data IS offered.  Firefox picks it up just fine.

[2021-09-29 22:21] 4nanook commented on #10779
Youtube censors anything that conflicts with the mainstream narrative, alternatives like brandnewtube are needed for the same reason that alternatives like Friendica are needed to say Farcebook.

[2021-09-30 02:01] MrPetovan commented on #10779
And anyone is free not to accommodate Friendica in particular if we don't provide standard protocol endpoints.

[2021-09-30 02:02] MrPetovan commented on #10779
Where is this preview? Would you care to take a screenshot of it?

[2021-09-30 02:04] 4nanook commented on #10779
Here is an example, on Firefox it shows the video still just fine, but friendica does not scrape this and provide it when you put it in the video or URL link.

https://brandnewtube.com/watch/covid-19-vaccines-are-weapons-of-mass-destruction-and-could-wipe-out-the-human-race_GcjtJu9dY1RcSNh.html

[2021-09-30 02:18] MrPetovan commented on #10779
This is a link to the actual video page, where's the preview you are alluding to? Friendica uses a technical endpoint for embedding, and this endpoint isn't visible to humans even when it's implemented. Also given the title about egregious vaccine disinformation, I understand why they were rightfully banned from Youtube. Conflicting with mainstream media doesn't mean they're right.

[2021-09-30 02:19] 4nanook commented on #10779
The page shows a still of the video, friendica will not pick this up.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http://www.eskimo.com/ (206) 812-0051 or (800) 246-6874.

On Wed, 29 Sep 2021,

[2021-09-30 03:21] MrPetovan commented on #10779
No, it's part of their web page, not of the technical endpoint I alluded to earlier which Friendica can read from. It's the reason why BitChute videos can be embedded but not BrandNewTube's. We didn't create an exception for BitChute, BrandNewTube just hasn't implemented the technical endpoint yet.

[2021-09-30 03:29] 4nanook commented on #10779
Ok well I guess I'll need to spend some time reading the documentation to understand this better.  I'm not much of a PHP guy, much more familiar with C or C++ but those don't lend themselves to web apps so well.

[2021-09-30 04:34] MrPetovan commented on #10779
So I ran a quick check to be sure about the technical side, and it turns out they do have the technical endpoint we can use to show a preview. What we don't have is the permission to access the page from Friendica nodes themselves. They must have some sort of User Agent filter in place since accessing the same URL you gave me from a Friendica script returns a 500 error while I was able to access i

[2021-09-30 04:35] #10779 closed, assigned to nobody

[2021-09-30 04:41] 4nanook commented on #10779
I have sent a support request to the brandnewtube.com folks to see if we can find a resolution to this.

[2021-09-30 12:19] foss- opened #10780 "With 2FA user is asked to enter OTP on every browser restart"
### Bug Description

Once 2FA is setup, users are asked for OTP on every browser restart.

### Steps to Reproduce

1.  setup 2FA
2.  restart browser

Actual Result: user asked for OTP

Expected Result: Still logged in and not asked for OTP when using same computer and same browser.

Additional info: Tested with Firefox 92.0.1, clearing all cookies on closing but with firendica whitelisted in Prefe

[2021-09-30 13:02] MrPetovan commented on #10780
The "Remember Me" option for login is independent from the "This is my 2FA device" option even if they have the same goal: skip password login and skip 2FA verification.

Both use cookies so they should both survive the whitelisting you are alluding to.

[2021-09-30 13:05] foss- commented on #10780
I was a bit wrong here: user is still logged in but asked for OTP Code upon browser restart.
<img width="655" alt="Screenshot 2021-09-30 at 15 03 37" src="https://user-images.githubusercontent.com/5708172/135460531-15b3d4f4-3096-4c0a-be43-cd0d7beb5add.png">

But that behavior is not happening for other sites when using the same computer + browser.

[2021-09-30 14:48] MrPetovan opened #10781 "Notifications for the same comment keep appearing even after read"
Yesterday a Mastodon account commented on a thread I participated in, so I received a notification. I clicked on the notification, it brought me to the comment URL, the notification cleared. But a few minutes later, a new unread notification appeared for the same exact comment in the same thread. After having cleared this new notification, a new one appeared a few minutes later.

I've left it unto

[2021-10-01 13:02] fabrixxm commented on #10777
log filter uses "q=" query string parameter for search box.
firendica used to use "q=" param rewirtting url to index.php, which has been changed a while ago to "pagename=".
please chech your .htaccess, or equivalent server config, that is not using "q=" instead of "pagename="
(that's should explain the page path in search box (and the empties of the logs view, it's searching for "/admin/logs/view"

[2021-10-01 14:23] MrPetovan commented on #10777
Oooh, sneaky.

[2021-10-01 15:08] #10767 closed, assigned to fabrixxm

[2021-10-01 15:51] #2883 closed

[2021-10-01 15:55] #7121 closed

[2021-10-01 15:56] tobiasd commented on #6068
As the Hubzilla issue has been closed, I think we can close this issue.

[2021-10-01 15:56] #6068 closed

[2021-10-01 16:00] #8569 closed

[2021-10-01 16:02] #8476 closed

[2021-10-01 16:08] #7375 closed

[2021-10-01 16:12] #7326 closed

[2021-10-01 16:13] tobiasd commented on #9426
closing as it is a dupe.

[2021-10-01 16:13] #9426 closed, assigned to nobody

[2021-10-01 16:14] #8979 closed

[2021-10-01 16:14] AlfredSK commented on #10577
Seems to be fixed by... no idea. But it doesn't happen anymore. Closing.

[2021-10-01 16:14] #10577 closed, assigned to nobody

[2021-10-01 16:20] AlfredSK commented on #10454
...will try to reproduce this again.

[2021-10-01 16:30] AlfredSK commented on #10454
Looks like its's working now!

![grafik](https://user-images.githubusercontent.com/3656054/135655467-03b0d53e-f62e-4501-b08a-694658ac843d.png)

Author has a hashtag in their name and I added some hashtags to the reshare? Closing?

[2021-10-01 16:35] AlfredSK commented on #10426
Tested and checked the queue. Works as expected now. Closing.

[2021-10-01 16:35] #10426 closed, assigned to nobody

[2021-10-01 16:42] AlfredSK commented on #9966
Tested again on stable and develop. Works as expected. Looks like this is fixed. Closing.

[2021-10-01 16:42] #9966 closed, assigned to nobody

[2021-10-01 16:56] #10454 closed, assigned to nobody

[2021-10-01 16:57] MrPetovan commented on #9966
Self-fixing bugs, my favorite kind of bug.

[2021-10-01 17:03] AlfredSK commented on #7469
Looks like this is solved. When I check random posts on my community pages I can add a star and save items to a folder now. Closing?

[2021-10-01 17:06] #7469 closed

[2021-10-01 17:30] Pavvlik opened #10791 "PHP Fatal error: Uncaught ValueError: DOMDocument::loadXML(): Argument #1"
[code]

### Platform Info

Friendica Version:
Friendica 'Siberian Iris' 2021.09 - 1434.

Friendica Source:
zip file
PHP version:
PHP Version 7.4.24
SQL version:
Server version: 10.5.11-MariaDB-1 Debian 11

[2021-10-01 17:52] tobiasd commented on #10791
part of #10756

[2021-10-01 17:58] AlfredSK commented on #6276
Issue solved. Tested with a comment and the top-level post. Both edits worked locally and have been federated successfully to another Friendica node. Closing...

https://libranet.de/display/85a863ed-5761-5748-d525-7b8335163642

[2021-10-01 17:58] #6276 closed

[2021-10-01 18:00] AlfredSK commented on #6397
I guess this is solved. See https://github.com/friendica/friendica/issues/6276#issuecomment-932440891

[2021-10-01 18:10] AlfredSK commented on #6417
This is probably solved as well.
See https://github.com/friendica/friendica/issues/6276#issuecomment-932440891

[2021-10-01 18:11] AlfredSK commented on #6398
Checking....

[2021-10-01 18:29] tobiasd commented on #7731
We closed the index, almost all addons are in the projects addon repository. So I'm closing this issue.

[2021-10-01 18:29] #7731 closed

[2021-10-01 18:30] tobiasd commented on #7667
Seems to be working now, so closing the issue :)

[2021-10-01 18:30] #7667 closed

[2021-10-01 18:32] AlfredSK commented on #6398
Created a forum post. Waited 15 minutes. Deleted it globally.
https://libranet.de/display/0b6b25a8-9461-574f-c8c4-02a921485494 --> The requested item doesn't exist or has been deleted. :-)

Post vanished locally, on another Friendica node, on Mastodon and Misskey.

I think this can be closed.

[2021-10-01 18:36] tobiasd commented on #6693
closing this issue because of inactivity

[2021-10-01 18:36] #6693 closed

[2021-10-01 18:41] tobiasd commented on #6399
closing this issue as meld.de was closed

[2021-10-01 18:41] #6399 closed

[2021-10-01 18:41] tobiasd commented on #6397
closing, as editing forum postings is possible now

[2021-10-01 18:41] #6397 closed

[2021-10-01 18:43] #6398 closed

[2021-10-01 18:57] #6417 closed

[2021-10-01 19:45] #5892 closed

[2021-10-01 19:47] tobiasd commented on #5221
OP thinks it's working now - closing

[2021-10-01 19:47] #5221 closed

[2021-10-01 19:59] annando commented on #3340
This had been solved by using the media upload API call.

[2021-10-01 19:59] #3340 closed

[2021-10-02 10:11] MrPetovan commented on #10781
Never mind, the author posted three times and I didn't notice.

[2021-10-02 10:11] #10781 closed, assigned to nobody

[2021-10-02 11:43] #10747 closed, assigned to nobody

[2021-10-02 12:24] xundeenergie commented on #10394
At work i'm working on an authentication-plugin for jira and confluence. This had a LDAP-Backend before (users got synced in from ldap), now this plugin works with http-headers, they come from an external portal. The services are only reachable through this portal.

The workflow for this plugin in jira/confluence could be very similar to a wotkflow with ldap as backend.
And it is very different to

[2021-10-02 12:35] MrPetovan commented on #10394
It is absolutely OK to add hooks. For database fields, I'd rather we had a separate table which existence would depend on wether the LDAP addon is enabled or not.

[2021-10-02 13:32] xundeenergie commented on #10394
ok. sounds good.

[2021-10-02 13:33] MrPetovan commented on #10394
You can look into the `advancedcontentfilter` addon for an example of an addon-specific table.

[2021-10-02 13:39] xundeenergie commented on #10394
Ok.

What is the "legacy_password"? Should i take care of this, or can i ignore it, in case it sounds "deprecated" for me.

[2021-10-02 13:44] MrPetovan commented on #10394
It is indeed deprecated. It used to be the original password field with an outdated hashing mechanism. To allow users to still use their old password before converting it to the new hashing mechanism, we kept the field in. All users who registered or logged in since the update have the new password field set and the `legacy_password` is unused.

[2021-10-02 15:29] #10734 closed, assigned to MrPetovan

[2021-10-02 16:29] xundeenergie commented on #10394
What ist the function "authenticate" in Model/User.php

It is never anywhere... is it for further changes in the process?
[edit]
ah, i just saw, it's deprecated since version 3.6
[/edit]

[2021-10-02 18:20] Pavvlik commented on #10777
Exactly as you write in my nginx configuration it was "q ="
Thank you very much.

[2021-10-02 18:28] MrPetovan commented on #10777
Closing here since it seems to be fixed.

[2021-10-02 18:28] #10777 closed, assigned to nobody

[2021-10-02 18:30] #10754 closed, assigned to MrPetovan

[2021-10-02 19:54] annando commented on #10394
@xundeenergie it is still used in some addons.

[2021-10-02 20:12] #10729 closed, assigned to MrPetovan

[2021-10-02 21:40] #10739 closed, assigned to MrPetovan

[2021-10-02 23:10] #10725 closed, assigned to MrPetovan

[2021-10-02 23:14] #10687 closed, assigned to nobody

[2021-10-03 15:12] #2525 closed

[2021-10-03 19:46] #10691 closed, assigned to MrPetovan

[2021-10-03 20:28] AlfredSK commented on #10756
Current up to date develop branch:

[code]
Adressed in #10821

[2021-10-03 20:29] AlfredSK commented on #10755
Current up to date develop branch:

`Undefined variable: uid in .../src/Module/Photo.php on line 105`

Addressed in #10821

[2021-10-03 23:06] AlfredSK commented on #10755
`Undefined index: nickname in .../src/Model/User.php on line 882`

Addressed in #10834

[2021-10-03 23:08] MrPetovan commented on #10756
Unfortunately we need a corresponding URL with this kind of error. It has to do with all the ways the `/photo` module can be used that were never properly documented and instead jammed into a inaccurately named `getAvatar` method even though it does way more than that. 👀

[2021-10-03 23:11] AlfredSK commented on #10756
I get this fatal error exactly every 60 seconds together with this notice `Undefined variable: uid in .../src/Module/Photo.php on line 105`.

[2021-10-03 23:11] MrPetovan commented on #10755
Part of https://github.com/friendica/friendica/issues/10756#issuecomment-933020126

I'd like a complete trace for this please. Otherwise I'll add some logging.

[2021-10-03 23:12] MrPetovan commented on #10756
Fiiine.

[2021-10-03 23:24] MrPetovan commented on #10756
@copiis Seems like a fleeting issue related to the daemon just after your updated your files, do you still get these errors?

[2021-10-03 23:38] AlfredSK commented on #10756
@MrPetovan  I added the logging manually on my node.

[code]

[2021-10-04 00:34] MrPetovan commented on #10756
Thanks, can you see the contact pictures in your notification dropdown?

[2021-10-04 00:41] AlfredSK commented on #10756
Yes. I can see them.

[2021-10-04 00:41] MrPetovan commented on #10756
I've also added more logging, if you want to add it manually: https://github.com/friendica/friendica/pull/10822/commits/57becde4878e466bf79fead397416fb8e6de076e

[2021-10-04 00:54] AlfredSK commented on #10756
Ok.

[code]

[2021-10-04 00:56] MrPetovan commented on #10756
Thanks, I think the `0` is expected value for "no avatar" and I will submit a fix accordingly. You can remove the logger line.

[2021-10-04 10:36] nupplaphil opened #10827 "Photo::selectFirst() - Query parameter mismatch"
- [x] I have searched open and closed issues for duplicates

### Bug Description

I'm not sure, but maybe it belongs to #10819

I'm trying to upload a photo at my local instance, and now I get a strange `Query parameter mismatch` error.
[code]

It occurs at this point:
https://github.com/friendica/friendica/blob/763e26419636a5dbb107e893ddf4f04b2156fc6d/mod/fbrowser.php#L82

### Steps to Reproduce

[2021-10-04 11:05] #10827 closed, assigned to nupplaphil

[2021-10-04 12:06] MrPetovan commented on #10791
@Pavvlik Please update to the latest `develop` and report back if the same errors show up.

[2021-10-04 12:30] fabrixxm opened #10829 "Friendica 2021.09 release tar.gz contains local.config.php"
Release tar.gz   `friendica-full-2021.09.tar.gz` from https://files.friendi.ca/friendica-full-2021.09.tar.gz contains `config/local.config.php` file.

That file should not be included in release.

[2021-10-04 13:28] MrPetovan commented on #10829
Whoops.

[2021-10-04 13:56] nupplaphil commented on #10829
Oooooops... My fault, I manually created it because drone didn't work :-( ...

[2021-10-04 15:41] Pavvlik commented on #10791
I think the errors have disappeared ! Thanks for the quick response.

[2021-10-04 16:01] #10791 closed, assigned to nobody

[2021-10-04 18:30] tobiasd commented on #10829
Can you update the archives manually?

[2021-10-04 18:39] tobiasd commented on #10829
Can someone of you add a node to the release page in the blog please. There is a "Known Issues" section.

[2021-10-04 18:46] MrPetovan commented on #10829
"Please pay no mind to @nupplaphil 's passwords mistakenly included in the archive" ?

I kid, I'll make the change.

[2021-10-04 18:51] MrPetovan commented on #10829
https://friendi.ca/2021/09/25/friendica-2021-09-released/

[2021-10-04 18:57] AlfredSK commented on #10829
Posted a comment as 'Friendica News' in the release announcement thread.

[2021-10-04 19:23] MrPetovan commented on #10726
Closed by https://github.com/friendica/friendica/pull/10823

[2021-10-04 19:23] #10726 closed, assigned to MrPetovan

[2021-10-04 19:49] AlfredSK commented on #10755
The nickname notice...

`2021-10-04T19:46:37Z index [WARNING]: Missing user nickname key {"trace":"OStatus::addAuthor, OStatus::reshareEntry, OStatus::entry, OStatus::feed, Poll::rawContent, call_user_func, Module::run, App::runFrontend"} - {"file":"User.php","line":854,"function":"getAvatarUrl","uid":"afeadc","process_id":2808230}`

[2021-10-04 23:49] MrPetovan commented on #10755
Thanks, it's perfect.

[2021-10-05 09:58] tobiasd opened #10832 "bin/console po2php unable to extract some strings"
### Bug Description

I've noticed in https://github.com/friendica/friendica-addons/pull/1183 that the `bin/console po2php` command is unable to extract the following string from the `$lng/messages.po` file.

[code]

### Steps to Reproduce

1. fetch the current `$lng/messages.po` file from transifex
2. run `bin/console po2php $filename` be happy to read the success message
3. have a look at the pro

[2021-10-05 11:48] tobiasd commented on #10832
Problem seems to be, that the first line of the msgid / msgstr is empty `""` which might be, because else the line would be longer then 80 characters. Removing the `""` and pulling the second line up _seems to be a workaround_.

[2021-10-05 13:54] MrPetovan commented on #10829
The exclude list doesn't rightfully exclude the `config/local.config.php` file but now wrongfully excludes both the `config/addon-sample.config.php` and `config/local-sample.config.php` which are meant to be part of the release.

[2021-10-05 13:55] MrPetovan commented on #10832
Thank you for the report, I'll take a look at it.

[2021-10-05 16:43] #10829 closed, assigned to nupplaphil

[2021-10-06 06:38] nupplaphil commented on #10829
This issue has an impact on the docker images as well :( small issue, big impact

[2021-10-06 10:26] Tealk opened #10837 "Error when viewing events that were created before follow"
- [x] I have searched open and closed issues for duplicates

### Bug Description

When I follow a forum that already has events entered, I can see the events in the forum's calendar but I can't view them. When I click on it I get the following error

### Steps to Reproduce

1.  create a forum
2.  create an event in the forum
3.  follow the forum

Actual Result:

I get the error displayed:

[code]

[2021-10-06 11:20] AlfredSK commented on #10726
I guess the change described here is responsible for a report from a user of my node. The avatar (300px and 80px) is showing the wrong image. Instead of the uploaded and stored image the old 'catavatar' is shown as profile photo and thumbnail in the posts and comments. I will open a new issue about that.

[2021-10-06 11:54] AlfredSK opened #10838 "Wrong image shown as avatar and thumbnail"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

A user of one of my nodes reported that all of a sudden his account/profile is showing an old image as avatar and thumbnail again. He had uploaded and changed the profile photo successfully some days/weeks ago. But since 2 days the old (initial) catavatar profile photo is used again.

When you need more information

[2021-10-06 14:55] AlfredSK commented on #10838
**Additional info:**

I tried to use the "update now" function in the contact's drop down (action) menu. The redirection is weird.

![grafik](https://user-images.githubusercontent.com/3656054/136227638-41f11550-c8da-4623-b1b1-5a53e03f3a04.png)

After clicking on "update now" I'm redirected to a URL: `https://libranet.de/contact/2193688/update?t=1633531697.1bf473e4824ff0919cd005b7808172eb6d........

[2021-10-06 15:22] MrPetovan commented on #10726
Thank you, please add as much detail as possible about where the avatar is showing.

[2021-10-06 15:24] MrPetovan commented on #10838
Thank you for the additional report about the update URL, it warrants a separate issue.

[2021-10-06 15:32] Tealk opened #10839 "Securemail PHP 8 compatible"
- [x] I have searched open and closed issues for duplicates

### Bug Description

If using php8 and securemail is enabled, you will get the following error.
[code]
https://rollenspiel.group/display/989be456-1761-5c2c-f9aa-689789533924

### Platform Info

Friendica Version:  2021.09 - 1434

Friendica Source: git

PHP version: 8.0.11

SQL version: mariadb 1:10.5.11

[2021-10-06 15:40] MrPetovan commented on #10839
Thank you for the report, this library doesn't seem to be actively maintained and as a result doesn't have PHP 8 support. We probably need to switch OpenPGP library for an actively maintained one but I don't know how extensive the changes would need to be nor do I have a setup to test it.

[2021-10-06 17:04] AlfredSK opened #10841 "Unexpected redirection when using 'update now' on a contact's page"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

Moved from https://github.com/friendica/friendica/issues/10838#issuecomment-936435584 to a separate issue.

I tried to use the "update now" function in the contact's drop down (action) menu. The redirection is weird.

![grafik](https://user-images.githubusercontent.com/3656054/136227638-41f11550-c8da-4623-b1b1-5a53e

[2021-10-06 17:05] AlfredSK commented on #10838
Done. See #10841

[2021-10-06 19:17] annando commented on #10838
Please execute this query:
[code]
Is the `uri-id` always the same? If yes then please execute this query and replace `123456` with the `uri-id` from the query above.:
[code]

[2021-10-06 19:23] #10841 closed, assigned to MrPetovan

[2021-10-06 19:38] AlfredSK commented on #10838
[code]

For the UID of the affected account the `uri-id` is NULL.

[2021-10-06 19:40] AlfredSK commented on #10838
Additional info:

UID 33 is the user who created UID 4297 as second account via 'manage accounts'.

[2021-10-06 19:59] annando commented on #10838
Interesting. When had you created that account?

[2021-10-06 20:02] #10837 closed, assigned to nobody

[2021-10-06 20:11] AlfredSK commented on #10838
Not me. :-) I'm user 2. I'm not sure when he created that second account.

User 33 is some user who reported the problem in my local support forum. See the link in the issue.

[2021-10-06 20:12] annando commented on #10838
Just include `created` in the query above.

[2021-10-06 20:14] AlfredSK commented on #10838
[code]

[2021-10-06 20:27] annando commented on #10838
Please execute `bin/console postupdate --reset 1423`

This should fix the missing `uri-id` values. This also should fix the problem above.

[2021-10-06 20:33] AlfredSK commented on #10838
Done. Will wait now until the worker has processed the postupdates again.

Oh! Progress...

[code]

[2021-10-06 21:05] ghost opened #10844 "Deleting contacts causes problems"
The button to delete is missing from the Twitter contacts.

I am on latest develot Frio theme, in the vier theme the button is missing to.
![20211006225850](https://user-images.githubusercontent.com/12480023/136282454-ff26c6e1-af0d-442a-9b35-ae47b65706c8.png)

There is no longer the possibility of deleting massively contacts in the dropdown menu.
![20211006230204](https://user-images.githubusercon

[2021-10-06 21:10] MrPetovan commented on #10844
The contact drop feature has been removed: https://github.com/friendica/friendica/pull/10762

Please indicate me where you can still try to drop contacts because the eventual button or link isn't wired anymore.

Simply unfollow contacts you don't want to be associated with or revoke follow from the followers you want gone.

[2021-10-06 21:17] ghost commented on #10844
I can still delete ActivityPub contacts
![20211006231254](https://user-images.githubusercontent.com/12480023/136284042-9321b3a1-f843-45aa-9914-d38e56fb1c1f.png)
I can still delete diaspora contacts
![20211006231420](https://user-images.githubusercontent.com/12480023/136284194-61f76fef-6887-4388-bbd9-486e9d01a7d4.png)
The problem only exists for Twitter contacts, when I try to get to the profile to

[2021-10-06 21:30] MrPetovan commented on #10844
Where is the button to delete these contacts?

[2021-10-06 21:38] ghost commented on #10844
Here for AP contacts
![20211006233238](https://user-images.githubusercontent.com/12480023/136286733-af81fb02-7fac-4909-b835-5666d2fd3fe3.png)
Here for Diaspora contacts
![20211006233338](https://user-images.githubusercontent.com/12480023/136286771-ecbb69c4-ccac-412b-a665-ef76f8cd4cb2.png)
For Twitter the button is missing and i cant get on the profile page, if i click in the profile icon i end up

[2021-10-06 21:41] MrPetovan commented on #10844
This is "Unfollow", and it should appear for Twitter since recently, please update and reload your addon, report back if it persists.

[2021-10-06 22:05] AlfredSK commented on #10838
Postupdates are processed again. But still, something is wrong. The big main avatar is showing the right image now.

But the small thumbnail used in posts and comments is different depending on if I'm logged in or using a private browser tab.

1. When I visit libranet.de/profile/nordstadtblogger_rss in a private browser tab:

![Screenshot_20211006-235341](https://user-images.githubusercontent.com/

[2021-10-06 22:36] ghost commented on #10844
Now the unfollow button is back but if  I try to unfollow a Twitter contact, I get the message "Unfollowing is not currently supported on this network."
This Twitter contact has long been unfollowed on Twitter, how can I delete it from my list?
![20211007003209](https://user-images.githubusercontent.com/12480023/136292927-44f3e02a-5e0e-4d3b-94b7-78b5e5cc52e0.png)

[2021-10-06 23:02] MrPetovan commented on #10844
It should be enough to remove them, I guess I need to look into it.

[2021-10-06 23:04] ghost commented on #10844
And my contacts that I have created from RSS feeds can no longer be removed.
When I try, I end up on a white error 500 page.

[2021-10-06 23:21] MrPetovan commented on #10844
Thank you for the report.

[2021-10-07 08:56] AlfredSK commented on #10838
Oh, oh! After refreshing my browser cache the avatar and the thumbnail are OK now.

But the user has the same issue (avatar and thumbnails showing an old profile image) with his main account. Investigating...

[2021-10-07 09:29] AlfredSK commented on #10838
**The main account looks like this:**

This is the URL of the right profile image taken from the probe of the account -> https://libranet.de/photo/profile/gehrke_test.jpeg?ts=1632730508

But the contact is using a different, old one -> https://libranet.de/photo/contact/300/0b6b25a8185686f02c4e924570446193?ts=1632730508

[code]

The `uri-id` is always the same.

This is the other query for that `ur

[2021-10-07 10:21] annando commented on #10838
This all looks fine for me. The difference between `/photo/profile/` and `/photo/contact/` is just the different purpose. The "profile" part normally is used for the communication in the backend while the `contact` part is used for the frontend.

[2021-10-07 10:29] AlfredSK commented on #10838
Ok. But it's still weird that it happened. I mean, the user switched the profile picture (successfully) and after the mentioned PR the old image is used again.

So, the only way to repair this is that the user is switching their profile picture again?

[2021-10-07 11:41] AlfredSK commented on #10838
**Feedback from the user about changing the profile image manually:**

First try: Selecting the correct image again
Confirmation: Profile picture successfully updated.
But no effect. Old image still displayed.

Second try: Select another picture
Confirmation: Profile picture successfully updated.
Also no effect. Old image still displayed.

**Additional info from me:**

Looks like the new (correct)

[2021-10-07 12:09] annando commented on #10838
Next query:
[code]

[2021-10-07 12:51] AlfredSK commented on #10838
[code]

Not the same for everyone, it seems.

[2021-10-07 13:09] annando commented on #10838
Looks like there is some room for improvements here ...

[2021-10-07 21:32] AlfredSK opened #10847 "Introduce a banner image for our user profiles"
### Is the feature request related to a problem? Please describe.

Other fedi systems have the possibility to set up a banner image for user profiles. We don't. And that's not a problem.
Thing is, our user profiles are looking a little boring on remote systems that have that feature.

### Describe the feature you'd like

I would like to have the possibility to configure a banner image for my user

[2021-10-07 21:39] MrPetovan commented on #10847
I believe @annando created a banner field for this even if it isn't used for local Friendica users yet, because we were received banner image URLs from AP contacts. It shouldn't be too hard to add it to the profile form. (famous last words)

[2021-10-08 05:30] tobiasd commented on #8262
With #10849 the Arabic translation of the strings used in the web UI of Friendica arrives in the repository as it now covers more then 50% of all strings used. Guess the RTL support campaign enters the next step.

[2021-10-08 09:35] tobiasd commented on #10756
When revoking a mail contact, Friendica 2021.12-dev 174052eaf0ea75c31fee631c64ddb0e666c11b8e, PHP 7.4

[code]
Addressed in #10852

[2021-10-08 20:14] nupplaphil commented on #10850
@annando  / @MrPetovan - This sounds like a timing problem/race condition of the codebase itself, not specific for docker, doesn't it?

If so I'll move this issue to the friendica repo

[2021-10-08 20:18] MrPetovan commented on #10850
Yes please.

[2021-10-08 20:20] nupplaphil commented on #10850
tada :)

[2021-10-08 21:59] annando commented on #10850
This "relocate" confuses me. This doesn't sound like deleting.

[2021-10-09 02:16] MrPetovan opened #10851 "Twitter: Likes aren't propagated to Twitter anymore"
All the likes I've added to Twitter posts in Friendica today haven't been propagated to Twitter.

[2021-10-09 02:37] MrPetovan commented on #10756
I'm not even sure what "revoking the follow" of a mail contact means, but I found the technical issue.

[2021-10-09 02:40] MrPetovan commented on #10844
When I try, I end up on a white error 500 page.

Both these behaviors have been addressed in the latest `develop` and shouldn't be happening with an up-to-date system. Tonight I was able to unfollow an RSS contact I created, and the "Unfollowing is not currently supported on this network." message doesn't exist in the current `develop` code.

Please make sure you checked out the correct branch and

[2021-10-09 02:47] ghost commented on #10844
Well i think i'm on develop
![Bildschirmfoto vom 2021-10-09 04-46-08](https://user-images.githubusercontent.com/12480023/136641381-06332559-f2ca-4f12-8b88-3449b5947d23.png)

[2021-10-09 02:55] MrPetovan commented on #10844
Can you please report the result of the following commands:
[code]

[2021-10-09 03:09] MrPetovan commented on #10844
Never mind, I found the issue, please stand by.

[2021-10-09 03:37] ghost commented on #10844
[code]

[2021-10-09 05:48] #10851 closed, assigned to MrPetovan

[2021-10-09 11:43] MrPetovan commented on #10844
Alright, I went on a magical bug fixing journey with this one, but it looks way better now, please pull the core and the addons before retrying.

[2021-10-09 13:45] ghost commented on #10844
Its working now!!!

[2021-10-09 13:45] #10844 closed, assigned to MrPetovan

[2021-10-09 17:49] AlfredSK commented on #10838
Two days later...

[code]

[2021-10-09 19:34] AlfredSK commented on #10756
2021.12-dev, PHP 7.4

[code]
Addressed in #10856

[2021-10-09 19:36] annando commented on #10838
Self repair functionality :-)

[2021-10-09 20:05] AlfredSK commented on #10838
I think the user tried to change the profile picture again this morning - but w/o success. Some hours later the correct profile picture suddenly showed up. Magic! :-)

[2021-10-10 00:33] thystra commented on #10756
Getting fatal errors on my installation now:
[code]

[2021-10-10 02:13] MrPetovan commented on #10765
Nothing looks wrong at a glance, we would need to add some specific debug in your files to troubleshoot this since it seems related to your particular install.

[2021-10-10 02:16] MrPetovan commented on #10756
Please run `bin/composer.phar install --no-dev` from your Friendica install folder.

[2021-10-10 02:48] thystra commented on #10756
Thanks, that fixed it!

[2021-10-10 05:41] #10832 closed, assigned to MrPetovan

[2021-10-10 13:27] foss- commented on #10838
I think this belongs here and was caused by recent changes around avatar handling: Avatar image on pirati.ca replaced with default random robot pic on pirati ca for all (?) users. @annando

[2021-10-10 18:25] MrPetovan commented on #10850
We fixed this error in 002df6e8d1246a81ac60ac33ae31b7e7cb9da7a6, please update to Friendica version `2021.09`.

[2021-10-10 18:26] MrPetovan commented on #10850
@nupplaphil It looks like a Docker container with an outdated Friendica version.

[2021-10-10 18:27] MrPetovan commented on #10738
I've updated to the latest develop, is it still happening?

[2021-10-10 18:29] MrPetovan commented on #10737
Closed in #10818

[2021-10-10 18:29] #10737 closed, assigned to MrPetovan

[2021-10-10 18:51] MrPetovan commented on #10634
Looked into it more, using `This text there <this text here>` as source. The preview correctly shows the same text, but once the post is submitted it looks like `This text there`.

[2021-10-10 19:21] AlfredSK commented on #10756
2021.12-dev, PHP 7.4

[code]
Addressed in #10870

[2021-10-10 20:10] annando commented on #10838
@foss- This should be fixed again. This was just caused by some unfinished coding on that specific machine.

[2021-10-10 22:30] ThRPctmylSgltwH commented on #10850
Thank you for the support. Indeed, I have updated to Friendica 2021.09 and the issue is now gone. Thanks again.

[2021-10-10 22:58] #10850 closed, assigned to nobody

[2021-10-10 23:15] MrPetovan commented on #10634
Did you enable the Markdown addon? If yes, there's a negative interaction in `Markdown::toBBCode` where the original text `This text there <this text here>` will be converted to the HTML string `<p>This text there <this text here></p>` and then the conversion from HTML to BBCode string will first strip illegal HTML and this will produce `This text there`.

This is because Markdown allows literal H

[2021-10-11 12:23] hoergen opened #10862 "How to remove contacts as a user, when the target account (server) doesn't exist any more"
How can a user remove accounts from the contact list where the servers (and the accounts) don't exist anymore?

Currently Friendica throws a timeout and advises to contact the administrator.

### Platform Info
- Friendica 'Siberian Iris' 2021.12-dev - 1437
- PHP 7.4
- MariaDB

[2021-10-11 12:52] MrPetovan commented on #10862
Thank you for the report, at the moment we don't update the local relationship if the unfollow message doesn't succeed like it happened to you. This prevents the case where the local relationship would be severed unbeknownst to the remote server and they would still try to deliver posts to you.

However, if the whole server doesn't exist anymore, the relevant accounts should soon be automatically

[2021-10-11 13:06] hoergen commented on #10862
It should but it seems it doesn't.
That's why we discussed it in the Friendica Support Forum and I was asked to open an issue.

[2021-10-11 13:16] MrPetovan commented on #10862
Of course. At the moment we do not distinguish why the unfollow message was unsuccessful so we can't adapt the behavior depending on the cases. However, a timeout is the worst possible outcome since we can't guess whether the server is gone or temporarily unavailable, so we would show the same message to retry later.

[2021-10-11 14:25] annando commented on #10862
We could perform the unsusbcribe/remove functionality into some worker task. So we could set the "deleted" field in the contact table and we could try to send an "unsubscribe" for some time.

[2021-10-11 14:34] MrPetovan commented on #10862
We don't need this case to have a specialized handling for unfollow if the regular contact update can take care of it. Maybe we  just need to trigger a contact update task if the message fails?

[2021-10-11 17:18] annando commented on #10862
We shouldn't have two tasks that are doing the same. So we should separate the frontend action from the backend action. Means: You unfollow someone. Then the contact status is changed immediately. But the "unsubscribe" message is sent as worker task in any way.

[2021-10-11 17:45] MrPetovan commented on #10862
This is a good alternative, but this requires the creation of a couple new worker tasks for the unfollow and the revoke follow actions.

[2021-10-11 18:26] MrPetovan opened #10864 "Add a server purge feature for blocked servers"
Once a server has been added to a Friendica node block list, it should be possible to run a background purge of all locally-stored content related to the blocked server. It should be manual, of course, but it should be possible.

[2021-10-11 18:26] MrPetovan opened #10865 "Add a contact purge feature for blocked contacts"
Once a contact has been added to a Friendica node block list, it should be possible to run a background purge of all locally-stored content related to the blocked contact. It should be manual, of course, but it should be possible.

[2021-10-11 20:08] annando commented on #10862
This is done in a few minutes. (testing will take longer) We only need to separate the tasks. The whole handling of trying it again and again is all in the worker core.

[2021-10-11 20:17] MrPetovan commented on #10862
And the message part is in the Protocol class now, separated from the Contact stuff.

[2021-10-12 23:51] annando opened #10868 "Mastodon API notifications don't work"
With the current develop branch the API doesn't return any notifications.

It comes down to the function `DI::notification()->selectByBoundaries` which returns this content:
[code]
Iterating this with `foreach($Notifications as $Notification) {` doesn't return anything, so no notifications are displayed at the moment.

[2021-10-13 00:44] MrPetovan commented on #10868
Maybe, but see how cleanly it returns nothing?

[2021-10-13 04:57] #10868 closed, assigned to MrPetovan

[2021-10-13 05:31] 4nanook opened #10871 "Problem with Process.php function"
- [ x] I have searched open and closed issues for duplicates

### Bug Description

The in the file Process.php there is a function that checks for free memory, and it uses /proc/meminfo and searches the field MemFree.  This really is wrong because Linux will use almost all memory for disk cache and even if you have 22GB available it will still fall below a very low value of MemFree.  This causes w

[2021-10-13 12:32] MrPetovan commented on #10871
Thank you for the report, you are accurate about the memory use on loaded systems.

[2021-10-13 13:36] Tealk commented on #10837
I'm using the 2021.12-dev - 1438 and now I don't see the events that were shared from the forum anymore @annando
![image](https://user-images.githubusercontent.com/12276250/137146650-0e943205-3b1a-4749-8b57-6ac661e5b0f4.png)

[2021-10-13 14:07] annando commented on #10837
That cannot be related to my changes, weird.

[2021-10-13 15:58] martincodes-de commented on #10216
I will try it

[2021-10-13 16:11] MrPetovan commented on #10216
Thank you for the record, the count may indeed include users planned for deletion.

[2021-10-13 16:27] martincodes-de commented on #10216
where i can find this view? i dont find it in the admin backend

[2021-10-13 16:28] Tealk commented on #10837
I also don't see newly created events, but in my timeline the new event shows up

[2021-10-13 16:43] AlfredSK opened #10872 "Email connector: mail contacts not selectable in composer modal"
I have no idea how the email connector and email contacts are supposed to work. But a user of venera.social reported that he could select email contacts in frio's composer modal in the past. But since I updated to 2021.09 (stable) it doesn't work anymore.

I managed to connect to my own imap server and I could send a private post to an email contact. That contact is in a test group. That works. Bu

[2021-10-13 16:56] martincodes-de commented on #10216
pr: https://github.com/friendica/friendica/pull/10873

[2021-10-13 18:12] MrPetovan commented on #10872
Thank you for the report!

[2021-10-13 18:15] #10216 closed, assigned to nobody

[2021-10-13 19:09] realkinetix commented on #10738
It is, unfortunately.

[2021-10-13 19:27] MrPetovan commented on #10738
Darn it, thank you for the update.

[2021-10-14 06:08] MrPetovan commented on #10634
I wasn't able to reproduce this issue without the Markdown addon enabled, so the fix has been moved to the addon.

[2021-10-14 07:56] #10634 closed, assigned to MrPetovan

[2021-10-14 08:24] foss- opened #10875 "add Unfollow option to actions menu when on `View Contact`"
Tested on Friendica, version 2021.12-dev that is running at the web location https://pirati.ca. The database version is 1438/1438, the post update version is 1427/1427.

Contact Actions menu:
<img width="183" alt="contact   actions menu   no unfollow" src="https://user-images.githubusercontent.com/5708172/137278727-e44ea876-bb7e-4daf-8275-5ed50cf54349.png">

Contact left side pane:
<img width="167

[2021-10-14 08:27] foss- commented on #10734
Follow-up: https://github.com/friendica/friendica/issues/10875

[2021-10-14 12:06] MrPetovan commented on #10875
Although I'm not sure what form it would take, addons have the possibility to not support follow/unfollow for their managed contacts, which would thwart the batch action.

And with such a prominent action button in the left column, I don't think we need to add it to the action dropdown menu in the single contact page either.

Good catch for the label inconsistencies though.

[2021-10-14 19:51] atasingorneq opened #10876 "Unable to edit Profile"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

When I try to edit my profile, an error page appears

### Steps to Reproduce

1.  Go to your profile
2.  Click on Edit Profile
3.  The error page appears

`Exception thrown in /src/Model/ProfileField.php:70
Stack trace:`
`#0 /Module/Settings/Profile/Index.php(165): Friendica\Model\ProfileField->__get('permissionSet'

[2021-10-15 15:32] MrPetovan opened #10877 "Unexpected HTML entities in HTML::toBBCode output"
Source post:https://social.handholding.io/notice/ACMwrPPArhVoadu4eG
Friendica post: https://friendica.mrpetovan.com/display/6ffa3f16-62e8729198fec150-b2d9f824
Source HTML:
[code]

[2021-10-15 15:55] #10877 closed, assigned to MrPetovan

[2021-10-16 08:41] ghost opened #10879 "High traffic because Mobilizon requesting URI over and over again"
- [X] I have searched open and closed issues for duplicates

### Bug Description

The other day I realized that a Mobilizon site is requesting a single URL over and over again like 10-20 requests per second.

[code]
In fact there were >16000 requests within 15 minutes:

[code]

I've contacted the admin of that Mobilizon site and he said that he believes that it might be some incompatibility betwee

[2021-10-16 08:43] ghost commented on #10879
I don't think it's really a bug in Friendica, but it's neither a support request nor a feature request. It's more like a bug in Mobilizon or so, but I think we should also track it over here. Someone may want to give it a more appropriate label, though... :)

[2021-10-17 06:31] annando commented on #10879
When we can support the team from Mobilizon with anything then of course we will help.

[2021-10-17 06:32] #10872 closed, assigned to MrPetovan

[2021-10-17 06:36] #10876 closed, assigned to MrPetovan

[2021-10-17 16:24] ItchyBugReporter commented on #10756
With 2021.09 and PHP version 7.4.21, my Friendica instance will not load and produces the following in the web server's error log:

[code]
(client IP address censored to 0.0.0.0 for privacy)

[2021-10-17 19:43] MrPetovan commented on #10756
Please run `bin/composer.phar install --no-dev`.

[2021-10-17 20:25] MrPetovan commented on #7416
Update today: https://mordor.social/display/027b03f7-1761-6c83-af82-884314658432

[2021-10-17 20:36] annando commented on #7416
Pleroma does send additional information so that we know that this is a direct message. Mastodon doesn't.

[2021-10-17 21:44] #10865 closed, assigned to MrPetovan

[2021-10-17 23:47] MrPetovan opened #10886 "Remove the BBCode custom class block"
See https://friendica.mrpetovan.com/display/0b6b25a8-1061-6c69-fd99-2aa087751428

Custom class blocks aren't federated and there's no list of custom classes available on the local node. This feature is confusing and mostly useless in a federated environment.

[2021-10-18 00:49] MrPetovan opened #10887 "BBCode [style] tag: Add a conditional conversion to <div> tag"
See https://friendica.mrpetovan.com/display/735a2029-5561-6cc4-3b4d-3dd225249618

[2021-10-18 02:20] ItchyBugReporter commented on #10756
Doing so produces the following output:

[code]

I continue to get the 500 error in my browser, and the same fatal error message as above from my server log.

[2021-10-18 02:33] MrPetovan commented on #10756
The message is explicit, don't run Composer as root, rather as the web server user. Running Composer as root will create the `vendor` folder as root, which your web server may not be allowed to access. Please remove the `vendor/` folder as root and run the same Composer command again as your web server user.

[2021-10-18 17:28] #10886 closed, assigned to MrPetovan

[2021-10-18 18:19] #10887 closed, assigned to MrPetovan

[2021-10-19 00:55] MrPetovan opened #10894 "Notifications show extract from direct parent instead of top-level"
This is a regression issue.

Notifications in the dropdown used to show the extract of the top-level post of the conversation they are a part of, no matter their hierarchical level.

Now it shows the extract of the direct parent of the item being notified and it’s been confusing me to no end, because I can keep track of top-level post extracts, but I can’t keep track of the extracts from any post

[2021-10-19 02:41] ghost opened #10897 "Cannot drop index 'suggest-cid': needed in a foreign key constraint"
Got this Error on the latest git pull
[code]

[2021-10-19 03:03] annando commented on #10894
The ancient `notify` functionality is not worth putting any effort into it. The whole notification system should be rewritten to enable notifications like "Y, Y, Z and three others have commented in the thread ..." that would be created on the fly. The `notification` table does hold all needed information for that.

[2021-10-19 05:38] nupplaphil commented on #10897
Resolved at #10895

[2021-10-19 05:38] #10897 closed, assigned to nobody

[2021-10-19 06:09] tobiasd commented on #10894
Sounds horrific clumsy to then find the comments of these. Please also keep the current detailed notification system so that one can jump to the comment of Heluecht directly.

[2021-10-19 11:41] MrPetovan commented on #10894
Are you saying `notification` table records are being created but not displayed at the moment?

[2021-10-19 11:48] annando commented on #10894
The content of the `notify` table currently is used for the desktop. The content of the `notification` table is used for the API. And we really should get rid of the `notify` table.

[2021-10-19 12:52] MrPetovan commented on #10894
I know this distinction, but it doesn't entirely answer my question, is the `notification` table currently populated in the exact same cases than the `notify` table?

[2021-10-19 14:22] annando commented on #10894
The `notify` table is filled via the `notification` table in the function `notification_from_array`. This means that the `notify` table contains a subset of the content from the `notification` table with the exception of some few events like mostly administrative ones. (See the usage of the function `notification` in the `enotify.php` file)

[2021-10-19 14:25] MrPetovan commented on #10894
Thank you for the answer!

[2021-10-20 02:41] aarontrom opened #10903 "changes in profile get overwritten, but you must reload the page in order to see that."
- [x] I have searched open and closed issues for duplicates

### Bug Description

Everytime I change my description in the profile, the address or any other field, friendica saves the changes correctly, but I need to reload the page in order to see the changes.

I just installed Friendica via YunoHost on my server and I'm learning how to run an instance.

### Steps to Reproduce

1.  Install a new

[2021-10-20 04:09] MrPetovan commented on #10903
Thank you for the detailed report!

[2021-10-20 06:51] nupplaphil commented on #10903
Regression alert by... Me , I think :/

[2021-10-20 11:44] tio-trom commented on #10903
Same here. Updated Friendica last night to the latest stable version and I see the same problem. It worked fine before.

[2021-10-20 13:53] AndyHee opened #10906 "Personal Notes Shared to Forum"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

Personal notes are shared when using `!` address.

### Steps to Reproduce

1.  Draft a personal note
2.  Include `!admins@forum.friendi.ca`
3.  Save

Actual Result:
Personal note is shared with the public.

Expected Result:
That personal notes are NOT shared with anyone.

Use case: saving a draft of a post that is i

[2021-10-20 14:41] MrPetovan commented on #9840
I've addressed this in the following tracking issue:
- https://github.com/friendica/friendica/issues/10864

[2021-10-20 17:33] AlfredSK commented on #10755
2021.12-dev, PHP 7.4

[code]
Addressed in #10907

[2021-10-21 20:13] AlfredSK commented on #10755
2021.12-dev, PHP 7.4

[code]

Fixed by #10910

[2021-10-21 20:36] annando commented on #10755
@AlfredSK ops ... my fault. I will have a look at it tomorrow.

[2021-10-21 22:27] AlfredSK commented on #10756
Fatal error reported together with associated warnings.

2021.12-dev, PHP 7.4

[code]
Addressed in #10912

[2021-10-21 22:33] AlfredSK commented on #10756
2021.12-dev, PHP 7.4

[code]
Addressed in #10912

[2021-10-21 22:39] MrPetovan commented on #10756
I'm on it, just started the European night shift.

[2021-10-22 05:12] #10903 closed, assigned to MrPetovan

[2021-10-22 12:36] tobiasd opened #10914 "Event start & end time wrongly converted in the RSS feed"
The RSS feed of a Friendica account contains the entries for new events in the calendar. After entering these dates in local time (e.g. CEST) the time in the RSS feed are converted to UTC - but no hint is shown that they are displayed in UTC instead of CEST.

Maybe a side effect of #10818

### Steps to Reproduce

Enter the event details in local time. e.g. CEST 19:30.

![grafik](https://user-image

[2021-10-22 15:00] MrPetovan commented on #10914
The problem is that at the time where the time string is generated, we don't have the information of the user that created the event since we're converting a BBCode `[event]` tag. The easiest solution is to indicate it is GMT time, otherwise changes will have to be much more extensive.

[2021-10-22 20:23] tio-trom opened #10915 "A way to deal with the storage files (too many, difficult to backup)"
My instance is 250 users strong. And already have 900.000 files in the storage department. It takes some 15 hours or more for the programs I use to check so many files to be able to incrementally download them to the backup location. Almost 1M files seems a crazy ton of files in my view, for just 250 people. We had some brief discussion on Friendica's forums about this but I think is worth opening

[2021-10-22 21:19] MrPetovan commented on #10915
Have you disabled the proxy feature? This is a major source of storage consumption because any image posted will be copied on your server, with little control over their lifespan even if the last reference in a post is removed.

[2021-10-22 23:50] tio-trom commented on #10915
You mean this?
![2021-10-23_01-22](https://user-images.githubusercontent.com/38043315/138532770-e7fc84c5-ce10-44ff-9471-c48f7f7db0e7.png)

If so I just did that. So lets see.  Thanks!

In the meantime if there is a way to clean these files somehow let me know.

[2021-10-23 00:13] tio-trom opened #10916 "502 Bad Gateway (nginx)"
### Bug Description

I use the [Yunohost](https://github.com/YunoHost-Apps/friendica_ynh) package. I updated it 3 days ago to the latest Friendica stable. Since then I see 502 Bad Gateway nginx pages in a weird fashion and I cannot access parts of Friendica. I talked to the Yunohost developers, we looked a bunch into it and all that. Let me tell you what we found, maybe you can help us a bit.

###

[2021-10-23 01:47] AndyHee commented on #10915
Perhaps we should have an explanation about this in the hint. I.e that it's not recommend to be used together with the storage feature enabled.

[2021-10-23 04:18] MrPetovan commented on #10915
I have a folder named `proxy/` in my Friendica root folder, I'm pretty sure that's where they are.

[2021-10-23 05:14] AndyHee commented on #10915
I see, @MrPetovan. Very useful!

I think @tio-trom means `/var/storage` or something to that effect, but I'm glad you're pointing this out.

Can the content of `proxy/` just be deleted from time to time?

[2021-10-23 05:17] MrPetovan commented on #10915
Yes, if the required file doesn't exist, it will be downloaded from the remote URL again. I seem to remember we do clean proxy files through a low priority worker task, let me make sure.

[2021-10-23 05:31] MrPetovan commented on #10915
Never mind, none of the files in the `proxy/` directory are older than July 10th of this year, so we must have changed the way it works.

[2021-10-23 06:41] annando commented on #10915
Yeah, we don't store any content anymore directly in the web root. We only store some stuff in the temp directory and - if configured - we store the storage files. And they are only stored for content in the `photo` table.

[2021-10-23 06:43] AndyHee commented on #10915
So we can delete the whole `proxy/` directory?

[2021-10-23 06:44] annando commented on #10915
When you are on the latest version.

[2021-10-23 06:44] AndyHee commented on #10915
Thanks @annando

[2021-10-23 09:09] tobiasd commented on #10914
Yeah, I feared something alike ;-) but this is also the explanation for the used strings being in English and not the language of the account (which I think would be a reasonable thing).

[2021-10-23 10:43] tio-trom commented on #10915
Yes I am talking about the file storage directory "Folder where uploaded files are saved. For maximum security, this should be a path outside web server folder tree". I set that up to a folder in my home directory that I have access to. So the proxy files are stored here too?

[2021-10-23 17:54] annando commented on #10915
There are no proxy files anymore. The proxy data isn't stored on the server.

[2021-10-23 17:57] annando commented on #10915
The PR https://github.com/friendica/friendica/pull/10922 will help to save some (a lot of) disk space.

[2021-10-23 17:59] tio-trom commented on #10915
How about there will be an option to not store any remote images for longer than X days?

[2021-10-23 20:04] xundeenergie commented on #10757
When i create a posting an want to upload a file, not a picture, i get this Warning in the browser
` Warning: htmlspecialchars() expects parameter 1 to be string, array given in /var/www/soc.schuerz.at/view/smarty3/compiled/87197de690007ec4660f0cdce2db4ca65e369a7b_2.file.filebrowser.tpl.php on line 44`

Im on commit e0411743e from devel

Addressed in #10930

[2021-10-23 20:19] MrPetovan commented on #10914
Translating the days/months in any language but English is possible in PHP but it requires the underlying system to have these translations installed in the OS. It would be yet another soft requirement to check on install.

[2021-10-23 20:39] SpcCw commented on #8707
Apparently it is not just Mastodon, just got it from Pleroma:
Empty comment:
https://friends.deko.cloud/display/359bd999-4c9d09b5a4d9a4b6-4f025e0c
Origin:
https://expired.mentality.rip/notice/ACes0Sn61nkbPItKsK

Any idea how to troubleshoot this? Still can't figure out the pattern.

[2021-10-23 20:40] tio-trom opened #10924 "Access to this profile has been restricted."
`This is Friendica, version 2021.09 that is running at the web location https://social.trom.tf. The database version is 1434/1434, the post update version is 1427/1425.`

I get the above error plus:
Exception thrown in /var/www/friendica/mod/display.php:270
Stack trace:
[code]

When I click form the notification area on a comment that was posted on a forum. Any idea why?

[2021-10-24 00:58] hoergen commented on #9399
Great idea! Because of "Datensparsamkeit" and Privacy there should always be a cleanup option for data that is not needed any more.

[2021-10-24 02:34] ghost commented on #10757
Latest dev gitpull

`PHP Warning:  include(vendor/composer/../../src/Repository/FSuggest.php): failed to open stream: No such file or directory in vendor/composer/ClassLoader.php on line 444`

[2021-10-24 03:39] MrPetovan commented on #10757
Please run `bin/composer.phar dumpautoload`.

[2021-10-24 06:51] tobiasd commented on #10914
Not the days & months, well those as well, but also the strings used by Friendica for the headers of "Starts:" and "Finishes:". For the RSS feed it is useless to have the datetime format string translate-able as the translations are not applied.

[2021-10-24 13:04] Tealk opened #10926 "don't see the events that were shared from the forum anymore"
I'm using the 2021.12-dev - 1438 and now I don't see the events that were shared from the forum anymore @annando
![image](https://user-images.githubusercontent.com/12276250/137146650-0e943205-3b1a-4749-8b57-6ac661e5b0f4.png)

_Originally posted by @Tealk in https://github.com/friendica/friendica/issues/10837#issuecomment-942316193_

### Platform Info

Friendica Version:

Friendica Version: 2021.12

[2021-10-24 13:48] tio-trom commented on #10559
I noticed that if you add more than 1 image then it works. So for one image the RSS won't display a "media enclosure" but with more than 1 image it will. It worked before with Friendica. If you guys can look into it. Thanks!

[2021-10-24 20:54] AlfredSK commented on #10755
2021.12-dev, PHP 7.4

`Object of class Friendica\Security\PermissionSet\Entity\PermissionSet could not be converted to int in .../src/Module/ActivityPub/Objects.php on line 90`

Addressed in #10929

[2021-10-24 22:48] xundeenergie commented on #10757
That's the output after git pull 5 minutes ago. (commit 49b873202)

[code]

But it changed nothing.

[2021-10-25 02:24] MrPetovan opened #10928 "Diaspora post is missing the remote photo"
Original post: https://diasp.org/posts/110cfdc0175b013a83e828a1592b385a
Friendica post: https://friendica.mrpetovan.com/display/110cfdc0175b013a83e828a1592b385a
Message source:
[code]
Apparently we do not seem to be handling the `<photo>` tag.

[2021-10-25 03:03] MrPetovan commented on #10757
I'm sorry, my comment was meant for @copiis , the warning you're getting is because a template variable is an array instead of a scalar variable (string, integer, etc...). Problem is that it's hard to debug a template from its compiled version.

[2021-10-25 03:08] MrPetovan commented on #10757
@xundeenergie Please check #10930 out to see if it suppressed the warning message.

[2021-10-25 04:10] annando commented on #10928
It is working here: https://pirati.ca/display/110cfdc0175b013a83e828a1592b385a and here: https://squeet.me/display/110cfdc0175b013a83e828a1592b385a

[2021-10-25 04:11] MrPetovan commented on #10914
The labels `Starts:` and `Finishes:` will also be translated according to the Friendica node system language.

[2021-10-25 04:13] MrPetovan commented on #10928
Then why? I'm running `develop` as well.

[2021-10-25 04:20] annando commented on #10928
You could check your log file for this guid.

[2021-10-25 04:28] MrPetovan commented on #10928
[code]

[2021-10-25 04:31] annando commented on #10928
You could check for `"uid":"94bb9e"` to see the whole process.

[2021-10-25 04:33] MrPetovan commented on #10928
I'm not familiar with the hexadecimal value in a `uid` field? The `grep` search is running while I'm typing this.

[2021-10-25 04:38] annando commented on #10928
The `uid` there has nothing to do with a user id. This is an id that is generated by the `Logger` class per access.

[2021-10-25 04:40] MrPetovan commented on #10928
[code]

Extracted the interesting bit:
[code]
However the URL https://diasp.org/uploads/images/9adbc401cbe94dc42022.jpg returns the following headers:
[code]
So a MIME type is provided, even if it apparently can't be inferred from the file on my system. Am I missing an "optional" extension?

[2021-10-25 04:50] annando commented on #10928
I guess it just had been some glitch on the remote system.

[2021-10-25 06:47] ghost commented on #10757
It hasn't come up since the one time.

[2021-10-25 11:16] MrPetovan commented on #10928
It's been consistent from this account, none of their posts with a `<photo>` ended up without an image in the final body:
![2021-10-25 07 15 55 friendica mrpetovan com d0572c69a7c5](https://user-images.githubusercontent.com/925415/138685842-8611e9e8-bfd0-4689-aa94-dc1d1bec6bd6.png)

[2021-10-25 11:48] annando commented on #10928
Great. So you should be able to write some script that does what the relevant part in the code does when it fetches the picture information. Then you should see the origin of the problem.

[2021-10-25 12:44] tio-trom commented on #10916
Ok here's what I found. If I use a mobile app like say Tusky, or desktop one like Whalebird, all works fine it seems. So I thought what if it is the browser? I cleared the cache/cookies and guess what? Now it all seems to work great. I will have to keep an eye on it for a few days but can this be a Friendica issue or Yunohost issue?

Also, if it is the cache (my side) why so many experienced the s

[2021-10-25 17:32] AlfredSK commented on #10928
Could it be that the images fail to process on your node @MrPetovan ?

I looks like those images are pretty large. When I search for the provided post URL from Diaspora the post is loaded pretty quickly. But the image appears approx. 4-5 seconds later. I guess the delay ist the time my server needs to process and store the image(s) locally.

I'm using php-imagick (imagemagick) as graphics library.

[2021-10-25 17:59] AlfredSK commented on #10755
I'm still getting a lot of these...

`PHP Notice:  Undefined index: nickname in .../src/Model/User.php on line 886`

I reported it here already and it has been addressed in #10834. But apparently it's not solved.

2021.12-dev

[2021-10-25 20:38] SpcCw opened #10932 "Replies to comments for Pleroma "follower only" posts do not show on Friendica"
- [X] I have searched open and closed issues for duplicates

### Bug Description

When Friendica user replies to "followers only" post from Pleroma, subsequent replies to their comments are not showing anywhere on Friendica side (no notifications, no e-mail notifications, nothing in the thread).

### Steps to Reproduce

1.  Make a "followers only" post from Pleroma which includes Friendica users.

[2021-10-25 21:01] annando commented on #10932
Please have a look in your logfile to check if there are entries with `processContent` in it from the time the comment should have appeared.

[2021-10-25 21:37] SpcCw commented on #10932
@annando there are some:

[code]
I attached the log which I captured while replies to Friendica user (shuro) and Mastodon user (lxdko) were made.
[friendica.log](https://github.com/friendica/friendica/files/7413657/friendica.log)

UPD:
There is one line at the beginning which looks suspicious to me (also it is very close to the time the reply to Friendica was made):
[code]

[2021-10-26 15:37] MrPetovan commented on #10928
This isn't related to imagemagick`, when my system tries to fetch the header of the image at https://diasp.org/uploads/images/9adbc401cbe94dc42022.jpg, I'm getting a 500 error code.

[2021-10-26 15:38] MrPetovan commented on #10928
Even better, still from my system:
[code]

[2021-10-26 15:39] MrPetovan commented on #10928
Weird local connectivity issue, I spent too much time on it already, oh well.

[2021-10-26 15:39] #10928 closed, assigned to nobody

[2021-10-26 15:53] b6vertigo commented on #10916
I don't have any expertise here, just a user, but I think clearing the cache might have been coincidence. I cleared my entire history a couple times on both Firefox desktop and fennec on android and the issue didn't resolve until yesterday.

[2021-10-26 16:10] tio-trom commented on #10916
So on desktop + mobile is still not working @b6blazarb6 ?

[2021-10-26 16:21] b6vertigo commented on #10916
@tio-trom No it works now. I just mean that clearing the history/cache didn't work for me when I tried it after first noticing the problem.

[2021-10-26 18:24] tio-trom commented on #10916
Ok see if you still get into this issue and let us know please. I still see errors on my side.

[2021-10-26 19:43] BrokenGabe opened #10935 "Database request error"
- [ X] I have searched open and closed issues for duplicates

### Bug Description
[code]

### Steps to Reproduce

1.  Login
2.  Create Post
3.  Checked Logs in Admin

Expected Result:
No Errors?

### Platform Info

Friendica Version: Friendica 'Siberian Iris' 2021.12-dev - 1437

Friendica Source: Github Release

PHP version: 7.2.24

SQL version: mysql  Ver 14.14 Distrib 5.7.36, for Linux (x86_64)

[2021-10-26 19:47] MrPetovan commented on #10935
Thank you for the report, MariaDB has been drifting away from MySQL so some SQL statements that work in MariaDB or older MySQL versions may not work anymore.

[2021-10-26 20:02] AlfredSK commented on #10935
I assume you're using MySQL. To make that error go away you need to remove `ONLY_FULL_GROUP_BY` from MySQL global setting `sql_mode`.

The default MySQL 5.7 setting for `sql_mode` is...

`ONLY_FULL_GROUP_BY STRICT_TRANS_TABLES NO_ZERO_IN_DATE NO_ZERO_DATE ERROR_FOR_DIVISION_BY_ZERO NO_AUTO_CREATE_USER NO_ENGINE_SUBSTITUTION`

Set it to...

`STRICT_TRANS_TABLES NO_ZERO_IN_DATE NO_ZERO_DATE ERROR_FO

[2021-10-26 20:27] AlfredSK commented on #10935
Wrong: mysql_mode
Right: sql_mode

Please read carefully. 😉 Also, I'm not a MySQL expert. I'm using MariaDB. Make sure the syntax of the config string is correct.

[2021-10-26 20:34] BrokenGabe commented on #10935
Okay, so i've made the changes to my my.cnf and restarted mysql, the error still continues after cleaning out the log file. So i'm not sure what's going on.

[2021-10-26 20:42] AlfredSK commented on #10935
You may check if the config had been applied successfully by running the following command from your SQL console...

`SELECT @@GLOBAL.sql_mode;`

With MariaDB it looks like this...

[code]

[2021-10-26 22:27] b6vertigo commented on #10916
I spoke too soon, just got 502 on /network

[2021-10-27 00:15] BrokenGabe commented on #10935
had to place in /etc/mysql/my.cnf
[code]

[2021-10-27 00:15] #10935 closed, assigned to nobody

[2021-10-27 01:47] tio-trom commented on #10916
So you get it in the browser or also the mobile/desktop app? And what browser do you use? We are really baffled by this but we do not surrender, we want to figure it out!

[2021-10-27 16:59] b6vertigo commented on #10916
This time it was Fennec on android, it's the fdroid version of Firefox mobile. I also use Firefox on desktop. I haven't been using any apps recently.

[2021-10-27 18:17] annando commented on #10916
I just had a look in the code. We don't generate the error 502. So this seems to be generated by your web server, possibly your system is partially out of free PHP processes?

[2021-10-27 19:00] tio-trom commented on #10916
So I just tested now again to see if cookies/cache have anything to do with this. So, I am logged in and I cannot access https://social.trom.tf/profile/tio . But if I log out I can access it no problem. Clearing the cache/cookies seem not to help and I tried with 2 browsers.

However it works well with an app like Whalebird on desktop.

Restarting php-fpm does not fix it.

Rebooted the server and

[2021-10-27 19:23] annando commented on #10916
Have you checked the FPM log file?

[2021-10-27 19:54] tio-trom commented on #10916
Is it the file in `/var/log/php7.3-fpm.log`?

Here is the log:

[code]

I increased pm.max_children = 2000 from 500. 2000 seems a lot. No difference.

[2021-10-27 20:21] SpcCw opened #10939 "Tag links broken on other networks (Mastodon, Hubzilla) when posting from API"
- [X] I have searched open and closed issues for duplicates

### Bug Description

When post contains hashtags and is made from API, hashtag link is broken on other networks - it contains "https://" prefix twice, e.g. `https://https//friends.deko.cloud/search?tag=test`

### Steps to Reproduce

1. Make a post containing hashtags using Friendica frontend and another using API, e.g. `/usr/bin/curl -u

[2021-10-27 22:58] Neustradamus commented on #9834
9 months after, there is a progression?

[2021-10-28 04:16] xundeenergie opened #10940 "Endless loop on last entry with endless scrolling in frio"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Endless loop with endless scrolling on last posting from a user. This is a mastodon-user, and it is the oldest fetched entry. Not the oldest on his original mastodon-profile!!

### Steps to Reproduce

1.  enable endless scrolling in settings
2.  go to a contact
3.  show status of this contact
4. scroll to the oldest

[2021-10-28 05:38] tobiasd commented on #9834
Yes, only a few repositories are left active on github. The others have been moved to our gitea server managed by an organization account.

[2021-10-28 13:02] Neustradamus commented on #9834
@tobiasd: Thanks for your reply!

But it is possible to migrate the github personal account to organization?

[2021-10-28 13:13] MrPetovan commented on #9834
No, this is out of the question now that the migration to our own Gitea server is underway.

[2021-10-28 18:19] tio-trom commented on #10916
Now I started to get some errors like "The node is currently overloaded. Please try again later.". I've read here https://github.com/friendica/friendica/issues/9633 that the superblock addon can be responsible for this. So could an addon mess with the website and that's the reason I see the 502 errors?

[2021-10-28 18:19] aarontrom commented on #10916
I want to add that I experience that error too, but very rarely. Usually Friendica works very well, but at times I see this 502 Bad Gateway Error too. I don't know what info I should provide, I have a fresh Friendica installation and a Contabo VPS Server.

[2021-10-28 18:20] tio-trom commented on #10916
@aarontrom so you also have the same addons like I have correct?

[2021-10-28 18:21] aarontrom commented on #10916
@tio-trom yes

[2021-10-28 18:22] tio-trom commented on #10916
hmm....ok...maybe an addon is breaking our instances. try removing the superblock one. tho I've heard we would have to maybe remove some of its entries from db too. @annando should maybe make it more clear for us idk...

[2021-10-28 19:41] annando commented on #10916
Are you experiencing timeouts where the requests take a long time (several seconds)? Or are the 502 popping up immediately?

[2021-10-29 01:27] tio-trom commented on #10916
Hm that's weird because it can take 1-2 seconds, but I can't see it load a lot. And if I refresh the same 502 page it is instant. But as I said if I try the same page while I am not logged in, it works. So why would send a 502 error wile logged in but not when I am logged in?

[2021-10-29 01:55] tio-trom commented on #10916
Ok so to load a 502 page takes this amount of rime:

![2021-10-29_03-54](https://user-images.githubusercontent.com/38043315/139360483-7e606035-bfa0-4429-932c-42b886148b71.png)

644ms. That's quite fast, isn't it?!

[2021-10-29 04:01] annando commented on #10916
Okay. So it is no timeout. I still think that the web server is to blame.

[2021-10-29 12:12] tio-trom commented on #10916
I'd love to blame the webserver but 2 things stop me from doing that:

1. This happened exactly after updating Friendica to the latest version
2. Our server is not the only one that complains about 502. @aarontrom 's server does exactly the same, and at least one more server. All using the latest Friendica. 3rd server exactly like mine, after upgrading to the latest Friendica

I'm lost :D

[2021-10-30 07:15] annando commented on #10916
There is no code in Friendica that throws a `502` at all. So it is rather unlikely that Friendica is responsible :-)

Concerning this error I found this article: https://linuxhostsupport.com/blog/how-to-fix-502-bad-gateway-error-in-nginx/

[2021-10-30 12:29] MrPetovan commented on #10916
Even without explicitly throwing a 502 error it's possible that a recent Friendica behavior makes the nginx reverse proxy throw a 502 error while requesting a Friendica page because it would deem the response from Friendica invalid.

I know it doesn't help the current issue, but these non-specific errors between nginx and PHP-FPM are one of the reasons I'm not interested in moving from running the

[2021-10-30 13:33] tio-trom commented on #10916
I will look through that article in detail @annando . In the meantime this is our nginx config:
[code]

[2021-10-30 22:40] AlfredSK commented on #10755
2021.12-dev, PHP 7.4

[code]

[2021-10-31 04:02] AlfredSK commented on #10755
2021.12-dev, PHP 7.4

[code]

[2021-10-31 06:35] BrokenGabe opened #10943 "SELECT * FROM permissionset"
- [X] I have searched open and closed issues for duplicates

### Bug Description
[code]
### Steps to Reproduce

1.  make a post or comment
2.  wait for worker to process
3.  check logs

Actual Result:

The Above

Expected Result:

No Errors

### Screenshots

### Platform Info

Friendica Version: Friendica 'Siberian Iris' 2021.12-dev - 1437

Friendica Source: 1adbdfb

PHP version: 7.2.24

SQL versi

[2021-10-31 06:38] BrokenGabe commented on #10943
Possibly Related
[code]

I also noticed my server was not accessible after 24 hours, not sure if these things are related or not, i'll further check into it

[2021-10-31 06:44] BrokenGabe commented on #10755
Warning: Use of undefined constant JSON_THROW_ON_ERROR - assumed 'JSON_THROW_ON_ERROR' (this will throw an Error in a future version of PHP) in src/Object/Log/ParsedLogLine.php on line 122

[2021-10-31 11:49] nupplaphil commented on #10943
jfyi:

This error is related to the `mysql 5.7.36`.

I cannot reproduce it neither with `mysql 8.0.27` nor with `mariadb 10.6.4`.

[2021-10-31 15:24] tio-trom commented on #10916
This may be too early to conclude but I did some changes, both I and Aaron, and so far Friendica works well. All based on the article Michael linked above.

The nginx part that I replaced:
[code]

Basically this

[code]

Before I was using "s" at the end of these values, maybe that was not the correct way to do it idk.

And the php-fpm:

[code]

So far we have not seen the 502 error. We will keep

[2021-10-31 19:01] nupplaphil opened #10945 "api_lists_statuses() - Unknown column 'group-id'"
- [x] I have searched open and closed issues for duplicates

### Bug Description

If you use the `api/lists/statuses` endpoint with corresponding `group_member` entries, the endpoint throws an error (at least in testmode :) ).

### Steps to Reproduce

1.  Adapt the `api.fixture.php` and add the following entries:
[code]
2.  Execute the Unit-Test `testApiListsStatusesWithListId()` or `testApiListsS

[2021-11-01 02:48] MrPetovan commented on #10945
Do you need anyone's help or time to figure this bug out?

[2021-11-01 07:18] nupplaphil commented on #10945
It's caused by the `account-user-view`, where we don't join the `group_member` table, so there is no information about groups at all. But I'm totally unsure how to solve this issue, because of the 1:n dependency between contact and group_member

[2021-11-01 12:44] #10943 closed, assigned to nupplaphil

[2021-11-02 03:05] asherpen opened #10947 "Can't follow Zap account, ActivityPub not detected"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

Can't follow Zap contact,

### Steps to Reproduce

1.  follow a zap account, eg. https://z.fedipen.xyz/channel/asherpen

Actual Result:

Failed. "The network type couldn't be detected. Contact can't be added."

Expected Result:

Succeeded in following a Zap account

### Screenshots

![9xd4MI43rS](https://user-images

[2021-11-02 06:17] tobiasd commented on #10947
As the zap protocol is currently not supported by Friendica, I've removed the "bug" label and re-filed this ticket as feature request.

[2021-11-02 06:47] asherpen commented on #10947
But it can be added some days ago as an ActivityPub account...

[2021-11-02 07:25] MrPetovan commented on #10947
Not sure if it's relevant here, but if it's an account on a Hubzilla server, ActivityPub needs to be activated on a per-account basis. Until then it will not be correctly probed by Friendica.

[2021-11-02 07:33] asherpen commented on #10947
Zap has been able to supports ActivityPub since last year (not by addon). and this account can be followed on Mastodon/Pleroma/Misskey.
I think it's just that Friendica can't probe a Zap account as an ActivityPub account now.
Maybe this is due to Zap's recently update, I'm sure Friendica can follow Zap some day in last October...

[2021-11-02 07:34] MrPetovan commented on #10947
Thank you for the extra information!

[2021-11-02 10:34] tobiasd commented on #10947
Aha, so it is a bug then

[2021-11-02 14:03] fabrixxm commented on #10353
I've got a similar error:

File | Line | Function
-- | -- | --
Database.php | 766 | e

**Data too long for column 'k' at row 1**
[code]
(I need to implement a "copy as a plain text" in logs viewer :D )

Moved to https://github.com/friendica/friendica/issues/11248

[2021-11-02 16:02] SpcCw commented on #10932
Upgraded to "develop" to see if problem exists there - it does.

Also only replies to Friendica comments get lost. If Pleroma side likes Friendica comment, like shows up on Friendica side.

[2021-11-02 21:04] annando commented on #10947
I saw this comment and I hope that the automatic translation is okay: https://chokecherry.cc/notes/296316351503400960

I understood that Zap seems to have problems with us sending two values for the accept header. On my system I just flipped the two values and detection works. But I think that this should be fixed there.

[2021-11-02 23:00] redmatrix commented on #10947
I haven't dug into Guzzle to see if it is actually sending multiple 'Accept' headers. If so, it's quite possible this is not handled elegantly by PHP. I just assumed that multiple fields would be folded into a single $_SERVER['HTTP_ACCEPT'] in the CGI layer (on the receiving end) since having multiple array keys called $_SERVER['HTTP_ACCEPT'] would not be supported by the PHP language. Later value

[2021-11-03 00:12] annando commented on #10947
I haven't checked if we are sending multiple `Accept` headers or if the two values are put in the same line. I just checked with a remote system, there it seemed to be added to a single field. But as you pointed out, possibly PHP is adding these values in a single field.

I just had a look at https://www.w3.org/TR/activitystreams-core/ and found these lines:

It seems as if the specification is un

[2021-11-03 00:57] redmatrix commented on #10947
Agreed. application/activity+json was a recent change to the activitystreams protocol at just about the same time that the activitypub spec was being frozen and the change didn't make it back to the ActivityPub spec.

Zap supports both application/activity+json and application/ld+json; profile="https://www.w3.org/ns/activitystreams" but we do check for the profile option since it is a MUST accordi

[2021-11-03 04:55] annando commented on #10947
This "channel" stuff (when I found the correct place) is just used for incoming posts via the Diaspora protocol, I haven't found it in the "probe" related code.

Concerning the header stuff i'm pinging @nupplaphil here, since the behaviour had been changed with his commit https://github.com/friendica/friendica/commit/2356221abaa5d9ea2eb86174e91b0d43913f413c. I hope that he can tell how the system

[2021-11-03 05:48] redmatrix commented on #10947
I tested my own code to verify it could properly recognise application/activity+json and this was successful. According to established web specs, multiple Accepts are allowed as long as the field in question allows comma-separated values. CGI implementations are supposed to fold them.  However there is an open issue specifically w/r/t nginx and php-fpm where this has been broken for at least 2-3 y

[2021-11-03 06:48] annando commented on #10947
Thanks for digging into this!

[2021-11-03 19:48] #10947 closed, assigned to nobody

[2021-11-04 12:59] dranii commented on #10947
"I've added support in **zap** for application/ld+json with no profile;"

@redmatrix  That's great. Can the issues section at codeberg dot org for zot/**zap** be brought back again or has it moved somewhere else? Or should we use Roadhouse over Zap in scenarios such as this https://github.com/friendica/friendica/issues/10947 I mean the one that can be consistently used with backward and forward co

[2021-11-04 13:40] AndyHee commented on #9934
I think this issue needs some further explanation. I'm aware there currently are no seasoned UX designers here.

The dark theme seems not be fully implemented for the **login widget** on the login page.

![Screenshot_2021-11-04_20-20-33](https://user-images.githubusercontent.com/28751375/140321358-0e5bd6dc-4300-4800-bd07-8d6276949700.png)

Shouldn't the login widget reflect the _colour scheme_ ? I

[2021-11-04 20:40] redmatrix commented on #10947
This is far off-topic for the friendica issues list, so I'll just say that we use the fediverse for all project communications. Issues should be raised in the Zap group (currently zap@z.macgirvin.com).

[2021-11-05 01:38] MrPetovan opened #10954 "MissKey Custom Emoji Art doesn't render correctly"
Original post: https://mk.vulpes.one/notes/8so8tu0k17
Friendica display: https://friendica.mrpetovan.com/display/f19117b2-f791ddf559a31c76-0cb9056f

This is a low-priority issue I only needed to file so that I can close a couple tabs in my browser.

Post source:
[code]

[2021-11-05 10:58] pvagner commented on #1743
Hello,
I am one of the screen reader users you were looking for back when this issue has been raised. It's a pity I have only started learning to use friendica very recently.
I find it very useable so far.
I have noticed some screen reader accessibility exclusive features and I'd like to especially thank you all for bringing them in.
* In the threads view individual postings are divided with the d

[2021-11-05 12:40] bkil opened #10955 "OAuth token created using PHP's time, but checked using SQL's time"
If the two are on separate servers where NTP is not correctly set up, this could cause difficult to debug issues. It would be nicer to use the time of only one or the other server through the whole codebase. Maybe this had been done in other modules as well.

* https://github.com/friendica/friendica/blob/develop/src/Module/OAuth/Token.php#L79
* https://github.com/friendica/friendica/blob/develop/s

[2021-11-05 21:35] MrPetovan commented on #10955
You're absolutely correct, thank you for your report!

[2021-11-06 06:48] #10864 closed, assigned to MrPetovan

[2021-11-07 04:17] BrokenGabe opened #10959 "Disallowed Profile URL"
Okay so I am attempting to add helpers@forum.friendi.ca as a contact on my profile in my instance and every time I go-to add it I just get a pop up that says
[code]
as well as
[code]

Not sure whats going on.
I used the WebFinger Diagnostics on my end returns:
[code]

[2021-11-07 05:06] MrPetovan commented on #10959
Did you by any chance fill the "Allowed Sites" field in the Admin settings? Any profile on a server which domain is not in this comma-separated list will be blocked preemptively.

[2021-11-07 09:34] BrokenGabe commented on #10959
Yes, but however not sure of the format, so I put friendi.ca in as allowed.

[2021-11-07 14:15] tobiasd commented on #10959
It should be ``forum.friendi.ca`` <del>but the nodes admin [just reported a downtime due problems](https://libranet.de/display/0b6b25a8-9361-87da-390e-791342487093) on that server.</del>

[2021-11-07 15:50] MrPetovan commented on #10959
Or `*.friendi.ca`, it works too.

[2021-11-08 18:37] tobiasd opened #10966 "!notation does not work (for all forums)"
### Bug Description

For some forums (for me it is at least !berlinerluft) the bang notation does not work. Locally the posting is marked as delivered, but it does not reach the forum node, thus not distributed to the forum members.

### Steps to Reproduce

1.  select the forum from the network tab
2.  write a posting, leave the !forumname in the textbox and check that the ACL shows the forum as o

[2021-11-08 18:44] AlfredSK commented on #10966
Does it work for forums on the stable branch e.g. !helpers@forum.friendi.ca? Maybe I can check the logs of my develop nodes and the forum node (stable).

[2021-11-08 18:57] AlfredSK commented on #10966
Just tried it with a forum on the same node as my personal account (develop). I received the post via the forum on another node (stable).

Interessting...

User and forum on a develop node -> worked.
User on develop, forum on stable -> didn't work (looks like the post is still private after the forum did the rehare).
User and forum on a stable node -> worked.

[2021-11-09 07:10] tobiasd commented on #10966
In the case of my problems with !berlinerluft both nodes are on develop.

[2021-11-11 19:27] MrPetovan opened #10970 "Database issue when upgrading"
@myprivacymatters

_Source: https://github.com/friendica/friendica/issues/10770#issuecomment-956990703_

[2021-11-12 01:17] tio-trom commented on #10916
Seems the above did the trick. Closing this issue.

[2021-11-12 01:17] #10916 closed, assigned to nobody

[2021-11-12 03:21] MrPetovan opened #10971 "Unable to follow specific Diaspora user"
When trying to follow this Diaspora user: https://pluspora.com/u/17518793

The probe fails at the Webfinger level with a 404 Not Found result:
[code]
I tried at random but couldn't get any other profiles from the same server probed, but I found the contact associated with this profile URL and several others from Pluspora on my production node which leads me to believe it has been possible to probe

[2021-11-12 04:19] MrPetovan opened #10972 "[frio] Screen Reader Accessibility Part 1: Edit post formatting buttons"
@pvagner:

Source: https://github.com/friendica/friendica/issues/1743#issuecomment-961800209

[2021-11-12 04:22] MrPetovan opened #10973 "[frio] Screen Reader Accessibility Part 2: Check rel="presentation" usage"
@pvagner:

Source: https://github.com/friendica/friendica/issues/1743#issuecomment-961800209

[2021-11-12 04:23] MrPetovan opened #10974 "[frio] Screen Reader Accessibility Part 3: Post content and role="heading""
@pvagner:

Source: https://github.com/friendica/friendica/issues/1743#issuecomment-961800209

[2021-11-12 09:02] pvagner commented on #1743
Hello,
Thanks for acknowledging and working on the issues I have mentioned recently.

I have discovered one more since that time:
Under Settings -> Addons each addon can expose its settings. For example on my instance I do have settings for these addons: Language filter, Markdown, Secure mail, Start page...
Settings panels for individual addons are collapsed by default and clicking the heading rev

[2021-11-12 21:35] pvagner commented on #1743
Hello,
I have found another...
On the timeline each status or a comment includes a time like this.
[code]
When this part is read with a screen reader the span is read first. It has no label, no role and has a title attribute. Out of the title so called accessible description is generated for that element.
Then there is time with a relative time and no tooltip.
It would be better if the relate time

[2021-11-14 22:52] MrPetovan opened #10978 "[frio] Screen Reader Accessibility Part 4: Make addon setting panels behave like core setting panels"
@pvagner

Under Settings -> Addons each addon can expose its settings. For example on my instance I do have settings for these addons: Language filter, Markdown, Secure mail, Start page...
Settings panels for individual addons are collapsed by default and clicking the heading reveals corresponding panel with the settings. These headings are not keyboard actionable.
I would expect these to work in

[2021-11-14 22:54] MrPetovan opened #10979 "[frio] Screen Reader Accessibility Part 5: Move title to time tag"
@pvagner

Source: https://github.com/friendica/friendica/issues/1743#issuecomment-967603239

[2021-11-14 22:56] MrPetovan commented on #1743
Thank you for your additional reports, I believe you're using the frio theme and as such I've taken the liberty to tag the resulting reports as Theme-Specific. This will allow me or anyone who takes them on not to have to concern themselves with other themes that may or may not have the same screen reader issues.

[2021-11-15 01:00] MrPetovan opened #10981 "[frio] Screen Reader Accessibility Part 6: Conversation profile photo presentation"
@pvagner

Source: https://github.com/friendica/friendica/issues/1743#issuecomment-961800209

[2021-11-15 03:42] MrPetovan commented on #10974
After investigation, the `role="heading"` is applied to the actual heading of the post, only containing the author's information (picture, display name, link to profile) and the post information (date authored, date received, link to original post, protocol used). The whole post can be wrapped in a `role="article"` element but we won't be able to easily add a `role="feed"` or keyboard navigation a

[2021-11-15 09:46] foss- opened #10983 "language not applied for help page"
### Bug Description
Help section is ignoring language setting

### Steps to Reproduce
Set language to english.

Actual Result:
Help page shows in german

Expected Result:
Help page should follow language setting.

### Screenshots
<img width="643" alt="help in german" src="https://user-images.githubusercontent.com/5708172/141759316-208cebc7-5b16-4a89-9f8d-d78b59b0abb5.png">
<img width="618" alt="la

[2021-11-15 12:17] MrPetovan commented on #10983
Help pages aren’t translated on Transifex, so we can’t easily hook them up with the user’s language. Help pages are only available in English and in German for most of them, so it would be a German-specific development which I feel weirdly uneasy about.

[2021-11-15 12:28] foss- commented on #10983
Thought something in that direction was going on. pirati.ca is mostly german users so this could slide under works as expected.
But then again it would make sense to show english as default and only switch to german if user language is specifically set to german.

[2021-11-15 14:14] MrPetovan commented on #10983
I'd rather have  something more generic if we start translating the help in more languages.

[2021-11-15 15:04] pvagner commented on #10974
Hello,
Still if you can't predicate possible issues I'd like to get rid of the role=heading. As there are other nested headings heading level 4 and heading level 5 here in the bellow excerpt.
Other than aria related properties there are no other attributes set on the corresponding div so I image it won't be difficult.
Then the element with class h-entry should be possibly tweaked with aria-level o

[2021-11-15 15:20] MrPetovan commented on #10974
This is entirely possible, thank you for the follow-up!

[2021-11-15 16:10] foss- commented on #10983
Maybe this was obvious already but behavior is not limited to pirati.ca - happens on squeet.me as well so seems to be a general problem.

[2021-11-16 06:04] tobiasd commented on #10983
Well, the idea _was_ to use the wiki for translations of the help files where it is really simple to have the texts translated. And while the idea was welcomed at the Hackathon 2020, the result was rather limited.

But apart from having only one translation at the moment, I think _if_ the help files are available in the users language, they should be displayed in that language.

[2021-11-16 06:50] #10972 closed, assigned to MrPetovan

[2021-11-16 06:54] #10973 closed, assigned to nobody

[2021-11-16 11:57] #10983 closed, assigned to nobody

[2021-11-16 19:23] pvagner commented on #10972
Thank you @annando  It's working fine now for me after pulling develop.

[2021-11-16 20:08] pvagner commented on #10756
Got this while trying out securemail addon:
```PHP message: PHP Fatal error:  Array and string offset access syntax with curly braces is no longer supported in /friendica/addon/securemail/vendor/singpolyma/openpgp-php/lib/openpgp.php on line 125"```
Perhaps bumping singpolyma/openpgp-php to v 0.5.0 will be enough as this issue appears to be fixed there.
P.S. I'm on PHP 8.0.

Addressed in #10839

[2021-11-16 20:10] MrPetovan commented on #10756
Thank you for the report and the additional information, this specific error was extracted into its own GitHub issue: https://github.com/friendica/friendica/issues/10839

[2021-11-16 20:15] MrPetovan commented on #10839
Version 0.5.0 of `singpolyma/openpgp-php` seems to have fixed this issue, I'm not sure why I missed this before but it represents a clear upgrade path.

[2021-11-16 20:20] pvagner commented on #10839
While the library might not be well maintained, pulling latest version from github fixes this issue for me.
https://github.com/singpolyma/openpgp-php

[2021-11-16 20:21] MrPetovan commented on #10839
Thanks, I don't know why I missed this when this was reported, version 0.5.0 was already out.

[2021-11-16 21:04] #10839 closed, assigned to MrPetovan

[2021-11-17 04:44] thystra opened #10988 "Database error (1054) when upgrading"
- [ X] I have searched open and closed issues for duplicates

### Bug Description
[code]
### Steps to Reproduce

1.  run upgrade command

Actual Result:

Expected Result:

successful upgrade

### Platform Info

Friendica Version: Friendica 'Siberian Iris' 2021.09 - 1424

Friendica Source: Git

PHP version: 7.4.3

SQL version: mysql  Ver 8.0.27-0ubuntu0.20.04.1 for Linux on x86_64 ((Ubuntu))

[2021-11-17 05:23] annando commented on #10988
This is a known issue. It only happens with MySQL, not with MariaDB. It is fixed in the current develop branch.

[2021-11-17 08:37] haheute opened #10989 "filebrowser / album navigation not working"
- [x] I have searched open and closed issues for duplicates

### Bug Description

In the new post / compose overlay, in the file browser tab, the buttons for album navigation do not seem to work. Nothing happens when I click one of them.

### Steps to Reproduce

1.  start writing a new post in the composer overlay (I used firefox)
2.  switch to the browser tab
3.  try changing the album on the lef

[2021-11-17 08:57] SpcCw opened #10990 "Photos uploaded with /api/friendica/photo/create result in duplicate postings"
- [ X ] I have searched open and closed issues for duplicates

### Bug Description

About month or so some of my contacts also using Friendica started to complain about receiving duplicate posts with my photos. It turns out that when Friendica API is used to upload photos (to use them in the post), separate statuses are created for uploads. So friends receive photo status first and then the post c

[2021-11-17 09:35] AlfredSK commented on #10989
Hmm. Works here. ;-) I tried it on a mobile device just now (Chrome/Brave web app).
Maybe the browser console can tell something about the issue.
I can have a look later when I have a desktop available.

[2021-11-17 11:05] haheute commented on #10989
Yes, in chromium it works here (except that there are 2 slashes). But in firefox, not.

[2021-11-17 11:38] MrPetovan commented on #10989
Please clear your cache, a recent change has been made in the Javascript for these buttons.

[2021-11-17 11:46] haheute commented on #10989
yes, that helped.. thank you

[2021-11-17 11:55] hoergen opened #10991 "Development is now broken"
Did a git pull at 12:53 (germany time) on development branch and now friendica is broken like follows (no interaction possible)

![00_temp](https://user-images.githubusercontent.com/24474762/142195931-c76d9dbc-5e72-4f5d-9504-4749d5be6495.jpg)

[2021-11-17 12:12] #10989 closed, assigned to nobody

[2021-11-17 12:26] nupplaphil commented on #10991
any failures/errors/warnings in the log? I take a look, I'm sure it's because of my recent change #10977

[2021-11-17 12:41] #10991 closed, assigned to nupplaphil

[2021-11-17 12:42] nupplaphil commented on #10991
Accidentally deleted one really important row -> printing the content of the current module :D

@hoergen plz try again

[2021-11-17 12:44] MrPetovan commented on #10989
Friendica has an automatic Javascript/CSS cache busting feature that only applies to stable versions. If something doesn't work right on libranet.de that is on the `develop` branch, please clear your browser cache first.

[2021-11-17 13:07] hoergen commented on #10991
Works fine again. Thanks for the quick reaction. :sunflower:

[2021-11-17 16:02] SpcCw opened #10993 "Photos uploaded with "/api/v1/media" or "api/media/upload" remain private"
- [ Y ] I have searched open and closed issues for duplicates

### Bug Description

Trying to work around #10990 I switched to `api/media/upload` call to upload images. However it doesn't work for me either - pictures do get uploaded but after making the post they don't lose "Yourself" view permission [like they did in the past](https://github.com/friendica/friendica/issues/8477#issuecomment-64379

[2021-11-17 17:52] SpcCw commented on #10993
I noticed that this API call seems to be deprecated and the new one is `/api/v1/media` so I tried it instead.

I can post images with it but still they end up private (with only "Yourself" permission) even when used in public post. The option "Make all posted pictures accessible" also has no effect on these images.

[2021-11-18 12:39] BrokenGabe opened #10995 "Some Log Stuff"
Not sure if these are anything important, but they are showing up in my log file for friendica.
[code]

Version: Friendica 'Siberian Iris' 2021.09 - 1434
Mysql: Server version: 5.7.36-0ubuntu0.18.04.1
PHP:
PHP 7.2.24-0ubuntu0.18.04.10 (cli) (built: Oct 25 2021 17:47:59) ( NTS )
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.24-0ubuntu0.18.04.10, Copyright

[2021-11-18 13:34] BrokenGabe commented on #10757
[code]
OS: Ubuntu 18.04.6
PHP 7.2.24-0ubuntu0.18.04.10 (cli) (built: Oct 25 2021 17:47:59) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.24-0ubuntu0.18.04.10, Copyright (c) 1999-2018, by Zend Technologies

Addressed in #11053

[2021-11-18 13:37] MrPetovan commented on #10995
First is about the periodic session garbage collection routine, which deletes expired session data. The "DEBUG" label shows it's only informative for developers.

The second is about incoming HTTP requests missing a potentially expected HTTP_SIGNATURE header. The "INFO" label shows it's purely informative, we currently don't reject requests without HTTP signatures because not all remote platforms

[2021-11-18 13:37] MrPetovan commented on #10757
Thank you for the report!

[2021-11-18 13:38] MrPetovan commented on #10757
What PHP version are you running? This constant was added in PHP 7.3

[2021-11-18 13:41] BrokenGabe commented on #10995
Thank you for your response, wasn't sure if either one were informational for devs, I did do a search and didn't see anything related to them.

[2021-11-18 13:41] #10995 closed, assigned to nobody

[2021-11-18 14:18] BrokenGabe opened #10996 "Consistent 503 on .well-known"
I get no other log errors regarding this.
CPU Utilization is less than 2% most of the time.
RAM is 1 quarter used what is available.
Site seems to run pretty quickly other wise.
[code]

[2021-11-18 14:26] annando commented on #10996
Which Friendica version are you using? Are you using Apache or Nginx? Are you using PHP as a module or via some CGI wrapper?

[2021-11-18 14:27] BrokenGabe commented on #10756
[code]

OS: Ubuntu 18.04.6
Friendica 'Siberian Iris' 2021.09 - 1434
Server version: Apache/2.4.29
MySQL: Server version: 5.7.36-0ubuntu0.18.04.1 (Ubuntu)
PHP: 7.2.24-0ubuntu0.18.04.10 (cli), Zend Engine v3.2.0 with Zend OPcache v7.2.24-0ubuntu0.18.04.10
PHP as mod_php with apache2

[2021-11-18 14:32] BrokenGabe commented on #10996
OS: Ubuntu 18.04.6
Friendica 'Siberian Iris' 2021.09 - 1434
Server version: Apache/2.4.29
MySQL: Server version: 5.7.36-0ubuntu0.18.04.1 (Ubuntu)
PHP: 7.2.24-0ubuntu0.18.04.10 (cli), Zend Engine v3.2.0 with Zend OPcache v7.2.24-0ubuntu0.18.04.10
PHP as mod_php with apache2

[2021-11-18 16:11] BrokenGabe commented on #10996
I notice when I have daemon.php started, the .well-known becomes unavailable, I wonder if what I [posted here](https://github.com/friendica/friendica/issues/10756#issuecomment-972915401) is causing the issue

[2021-11-18 16:18] MrPetovan commented on #10995
The INFO and DEBUG levels are meant to be used temporarily by developers during their work, but the signal/noise ratio is too low for regular Friendica administrators to meaningfully enable them on a permanent basis.

[2021-11-18 16:26] ne20002 opened #10997 "localhost is not working for db host"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

I'm settign up a friendica instance for private use with Podman on Debian Bullseye. Using 'localhost' as MYSQL_HOST is not working. Using '127.0.0.1' is working.

### Steps to Reproduce

1.  Crate a new friendica instance.
2.  Use 'localhost' as MYSQL_HOST
3.  friendica fpm container can't connect to host.

The same

[2021-11-18 16:29] ne20002 opened #10998 "Email on registration is complained as 'not an email'"
- [x] I have searched open and closed issues for duplicates

### Bug Description

The user registration fails on validating the email, when the email domain includes the characters '0x'.

### Steps to Reproduce

1.  Use an email like admin@0x56.de for registration.

Actual Result:

friendica complains that this is not an email address.

Expected Result:

The email is valid and should be accepted.

[2021-11-18 16:35] MrPetovan commented on #10998
Thank you for the report, I guess I have to check the valid email address regular expression.

[2021-11-18 22:35] BrokenGabe commented on #10996
My log file is going crazy with these entries, I wonder if they are causing the worker.php to hang up, ultimately causing the .well-known address to become unaccessible
[code]

[2021-11-19 07:03] annando commented on #10996
First of all: Please update your system to 7.3. AFAIK we are using things that don't work in 7.3. And then you seem to have a database issue. Please call `bin/console dbstructure update -f`

[2021-11-19 13:07] MrPetovan commented on #10996
In the `composer.json` we still declare a compatibility PHP => 7.2, shouldn't we change it?

[2021-11-19 13:09] annando commented on #10996
Just to be sure: We do require 7.3, don't we? I haven't checked this. But if we do then the composer should be changed.

[2021-11-19 13:11] MrPetovan commented on #10996
The use of this constant alone seems to indicate that we do require PHP 7.3. Since I updated my version of Devuan, I'm now running PHP 7.4 which would prevent me from seeing compatibility error messages.

[2021-11-19 13:16] haheute opened #11001 "post preview and post delete not working"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Since today morning, I can't delete posts or preview a new post. The answer is a server error 500.
I used firefox and also cleared the cache and logged out and in again.

### Steps to Reproduce

Open the compose modal and write something. Click on preview.
(Or, try to delete a post from the timeline.)

Actual Result:

[2021-11-19 13:21] MrPetovan commented on #11001
Please update develop again, this was likely caused by #10994, which has been reverted since.

[2021-11-19 17:29] AlfredSK commented on #11001
Done.

[2021-11-19 19:38] haheute commented on #11001
thanks. works again, here.. :+1:

[2021-11-19 19:51] #11001 closed, assigned to nobody

[2021-11-20 06:55] MrPetovan commented on #10974
@pvagner Should I also remove the associated `aria-level` attribute where I remove the `role="heading"` attribute? The documentation about `aria-level` seems to indicate I should but I'd rather have first-hand information if you don't mind.

[2021-11-20 07:15] MrPetovan commented on #10978
Interestingly enough, while investigating this issue, I found that I couldn't navigate the admin settings accordion just with my keyboard. I made a simple enough change that enables keyboard navigation thanks to the reference accordion implementation from the W3C: https://www.w3.org/TR/wai-aria-practices/examples/accordion/accordion.html

[2021-11-20 07:28] MrPetovan commented on #10978
Now here's the problem: For the core settings, each theme is able to provide their own accordion display, with custom HTML markup, JS and CSS. However addons themselves provide their settings template, the same for all the themes.

We can solve this either way:
- Create theme-specific templates for each addon providing settings. Straightforward and painstaking.
- Provide a single core-maintained t

[2021-11-20 09:46] AlfredSK commented on #10755
`Array to string conversion in .../src/Core/L10n.php on line 262`

2021.12-dev, PHP 7.4

Addressed in https://github.com/friendica/friendica/pull/11026

[2021-11-20 11:55] MrPetovan opened #11006 "Question about the continuous integration checks"
@nupplaphil Can we separate the checks for the translation file, the formatting check and the unit tests in different runs instead of them being performed in order in the same "check" per GitHub? See this PR, it says "All checks have failed", but in reality, only the translation file check failed, so I'd like for this distinction to be visible from GitHub directly.

_Originally posted by @MrPetova

[2021-11-20 17:21] foss- opened #11007 "contact management: with twitter connector in use, when unfollowing a contact on twitter, contact status is not updated / reflected on friendica"
### Describe the feature you'd like

When twitter connector is in use, it may make sense to poll for contact updates / changes. Some users use both platforms and may unfollow on friendica but sometimes also on twitter.

Currently: Once unfollowed on twitter the contact still shows as `I follow them` or `Mutual friendship`.

Expected: Contact change should be detected and contact
- no longer listed

[2021-11-20 18:07] AlfredSK opened #11008 "Duplicated users on external service when using Friendica as authentication backend"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

When I use Friendica as external user authentication backend for Nextcloud, Nextcloud is creating multiple accounts for the same Friendica user. That happens because we (Friendica) allow to login with `nickname`, `useremail@maildomain.tld` and (maybe) also with `nickname@friendicanode.tld`.

All those user/account n

[2021-11-21 12:02] foss- opened #11011 "[frio] contact management: mobile view should show contact management icons in contact list / contact search"
On desktop for twitter contacts we now show a big `Unfollow` button on the left when showing a single contact with details.

On desktop when searching for a contact or using the contact list, there are small (there is so much space that could be used, why so small?) contact management icons and the third icon (person with x) is the Unfollow option.
<img width="681" alt="desktop" src="https://user-

[2021-11-22 08:06] hoergen commented on #10966
Any progress ?

[2021-11-22 10:19] tobiasd commented on #10966
No, still broken with 53ca59d9b645888ce28bccf6f3f7f45b1276795a

[2021-11-22 11:45] #10979 closed, assigned to nobody

[2021-11-22 11:47] annando commented on #10966
I hope that @nupplaphil will have a look at it. It seems as if this problem was introduced during the last massive changes.

[2021-11-22 12:09] nupplaphil commented on #10966
Oh, sorry, I will have a look

[2021-11-22 12:42] foss- opened #11020 "Discrepancy between profile and /api/users/show output"
After updating profile info (description field) noticed that `https://friendica.instance/api/users/show.json?screen_name=username` is not updated.

Additional info: API draws its information from `apcontact` table, not `user` table. So while user table is updated but self contact information has not been updated.

[2021-11-22 23:21] MrPetovan commented on #10755
We'll need to know where the `t()` method was called with a wrong argument to squash this one.

[2021-11-23 07:07] tobiasd opened #11021 ""array" in contact information"
### Bug Description

![grafik](https://user-images.githubusercontent.com/433490/142982781-35351cb7-3eba-4aea-a500-7b55a767ee66.png)

Instead of the real information "array" is shown in various places of the local contact profile view. Additionally one cannot change the groups a contact was placed into.

Situation is the same for new and old contacts, with all themes tested.

### Platform Info

Fri

[2021-11-23 07:58] xundeenergie commented on #10757
When i click to a Notification "Someone wants to be your contact" (Don't know, how the english notification is exactly), i get:
[code]

git devel commit 24dbaa015
php 7.4

Addressed in https://github.com/friendica/friendica/pull/11026

[2021-11-23 07:59] xundeenergie commented on #10757
When i approve the contact i get
[code]

Addressed in https://github.com/friendica/friendica/pull/11026

[2021-11-23 09:37] annando commented on #11021
I just wanted to report the same :-) Also one of the text is missing on incoming contact requests when you can chose the relationship.

[2021-11-23 09:49] nupplaphil commented on #11021
Seems like the Module change caused it.. I'm on it .. I think I know what happend

[2021-11-23 11:27] foss- opened #11022 "add ability to sync undone reshares to connected twitter account"
**Currently**

When unsharing a post while having setup the twitter connector, the unshare is not forwarded to twitter.

**Expected**

After sharing a post and then unsharing on friendica, all changes should be forwarded to twitter, no matter how often a user decides to change their mind.

This also goes for like / unlike and star / unstar. Not sure if those are affected as well.

**Additional Con

[2021-11-23 12:40] MrPetovan commented on #10757
Thank you for the added details, @AlfredSK [also reported the notice](https://github.com/friendica/friendica/issues/10755#issuecomment-974624099) but there wasn't enough details to fix the issue.

[2021-11-23 12:41] MrPetovan commented on #11021
Possibly related Warnings and Notices:
- https://github.com/friendica/friendica/issues/10757#issuecomment-976235950
- https://github.com/friendica/friendica/issues/10757#issuecomment-976236351
- https://github.com/friendica/friendica/issues/10755#issuecomment-974624099

[2021-11-23 20:40] SpcCw opened #11023 "API "api/friendica/photo/delete" doesn't work"
- [ Y ] I have searched open and closed issues for duplicates

### Bug Description

`api/friendica/photo/delete` fails to delete photos.

### Steps to Reproduce

1.  Upload a photo
2.  Issue a `api/friendica/photo/delete` to delete it.

E.g. `curl -s -X POST 'https://friends.deko.cloud/api/friendica/photo/delete.json?photo_id=1461045591619d3c028bc7f129095950' -u usr:pass`

Actual Result:

The phot

[2021-11-23 23:15] xundeenergie opened #11024 "Event federation limitations"
- [x] I have searched open and closed issues for duplicates

### Bug Description

According to https://framagit.org/framasoft/mobilizon/-/issues/923 i tried it... and it's true. Deletion of a federated group-event from mobilizion on friendica is not possible.
Also joining an event does not work.

### Steps to Reproduce

1.  follow a mobilizon-group
2.  wait until federation is accepted
3.  create

[2021-11-23 23:33] MrPetovan commented on #11022
I went ahead and enabled deletion for posts and comments, with one exception: Comments posted on Twitter and imported in Friendica do not trigger any Notifier task, possibly because they are private to the user and don't require any remote deletion notifications sent. Comments posted on Friendica and mirrored on Twitter trigger the Notifier task and the Twitter counter-part will be deleted accordi

[2021-11-24 16:03] MrPetovan commented on #11007
This can only be performed as part of the `twitter_sync` periodic task where we could theoretically check the connection status of all the Twitter contacts.

[2021-11-24 16:21] MrPetovan commented on #10998
So, the email address syntax validity check is perfectly fine, but we optionally perform a `dns_get_record(DNS_A + DNS_MX)` call and a `dns_get_record(DNS_CNAME + DNS_MX)` call when the global `system.disable_email_validation` config value is false, and I assume either of those are failing.

Unfortunately, there's no way for us to know exactly what failed as the function doesn't have an error coll

[2021-11-24 16:50] #11021 closed, assigned to MrPetovan

[2021-11-24 18:46] ne20002 opened #11027 "List of api endpoints for use with reverse proxy and filtering"
Hi
I wonder if there is a list of all api uri that are used by friendica. It would be handy to apply some filtering on a reverse proxy.

As an example: for Matrix I have set up a synapse server, where the reverse proxy filters as:
/_matrix allowed from everywhere
/_matrix/client and /_synape only allowed from internal network (all client are in a vpn internal zone)
any other access is instantly bl

[2021-11-24 18:54] MrPetovan commented on #11027
All the API endpoints are prefixed with `/api/`. For a complete list of URIs, I'll refer you to your node's Help page for Developer where you will be able to find all the API endpoints we support for each target platform (Twitter, Mastodon, GNU Social and Friendica specific)

[2021-11-25 07:11] tobiasd commented on #11021
The second aspect of the issue is not solved

should I open a new issue for this or reopen this issue? I had hoped that they are caused by the same problem.

[2021-11-25 13:29] MrPetovan commented on #11021
It’s a different problem, please open a separate issue.

[2021-11-25 19:03] AlfredSK commented on #10755
`Undefined property: stdClass::$screen_name in .../src/Core/Protocol.php on line 180`

2021.12-dev, PHP 7.4

Addressed in #11073

[2021-11-26 10:33] tobiasd opened #11029 "Contacts cannot be added to groups"
### Bug Description

As mentioned in #11021 currently I cannot add a contact to a contact group from the `/contact/ID` page. Instead a notification bubble pops up, that the contact was not found.

Adding them in the group management `/group` works.

### Platform Info

Friendica Version: 2021.12-dev dbcaf5192315d00f73c88d54e413c827fd31759b

Friendica Source: git

PHP version: 7.4

SQL version: mysq

[2021-11-26 12:09] ne20002 commented on #11027
Hmmm... seems to be no so easy. Monitoring the URLs on the reverse proxy, I get a number of call starting with
/view
/photo
/images
/network
/contact
/update-network
/ping
/friendica
...

[2021-11-26 13:06] annando commented on #11027
I'm not sure if I understand exactly what you are searching for. We have got a lot of URL endpoints that are both used by the users of the system and external services on a "server to server" basis. Many `/api` are used by the users but some of them are also used for the server communication.

[2021-11-26 15:05] ne20002 commented on #11027
What I try to do (not sure if it is possible) is to set up some filtering on the reverse proxy. The idea is
- to only allow valid url calls to be forwarded to the freindica server
- to find and filter all non friendica related urls (like bots scanning for wp vulnarabilities) and block them on the reverse proxy
- to identify unused/old versioned urls and not forward them to the friendica server
- f

[2021-11-26 16:22] MrPetovan commented on #11027
You're correct, it won't be easy. Most the the URLs are described in the `static/routes.config.php`, and legacy URLs can also start with the basename of the PHP files in the `/mod` folder. For example, there's a `mod/cal.php` file so there's a `/cal` URL class.

[2021-11-26 19:42] #9720 closed, assigned to MrPetovan

[2021-11-26 23:09] hellquist commented on #10988
Hmm, actually it, or the error message at least, also happens with MariaDB. I have changed servers and am now running on a fresh install (via git) with a fresh installation of MariaDB, and my only log entries are 1054's. I came here today to see if they could be the cause of my server constantly going in slow down and finally to 404-mode (after about 1-2 hours of running, with the only fix being t

[2021-11-27 04:36] xundeenergie opened #11033 "Checkbox "Notification" is always empty"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Can not see, if i follow a contact or not. Can not follow contact

### Steps to Reproduce

1.  Search for an account
2.  Go to profile->contact setting
3.  check "Notify me on new acitivites"
4. Klick "Send"
5. Open "Contact settings" again

Actual Result:

Checkbox is not checkt, when reopen contact-setting or even

[2021-11-27 06:44] tobiasd commented on #11033
@MrPetovan is this related to #11021 ?

[2021-11-27 07:41] tobiasd opened #11034 "Profile image cannot be changed"
### Bug Description

Changing the profile picture is not possible. The info bubble about the STRG+R reload to bypass the cache is shown, but the picture is not updated.

### Steps to Reproduce

You can either upload a pic directly or use one from your gallery. Both ways lead to the shown notification bubble, none updates your profile picture.

Actual Result:

The profile picture is not updated.

E

[2021-11-27 10:11] Tuxi2020 commented on #9399
Yes.... Its a great idea!

[2021-11-27 12:16] MrPetovan commented on #11033
Most probably.

[2021-11-27 12:29] #11022 closed, assigned to MrPetovan

[2021-11-27 12:40] nupplaphil commented on #11033
@MrPetovan  - I fix it with #11005 as well, found it during debugging another issue :D

[2021-11-27 12:56] nupplaphil commented on #10966
A first quick debugging shows this warning:
[code]

[2021-11-27 14:41] #11033 closed, assigned to nupplaphil

[2021-11-27 15:21] MrPetovan commented on #11034
So, the profile picture is correctly updated, but the self-contact picture isn't. This issue seems related to #11020 where the profile is updated but the self contact isn't and some of the displays are outdated.

[2021-11-28 00:53] Andy3142 opened #11039 "Installation problems / Hostinger / Litespeed / htacccess / php"
I've never installed anything more than Wordpress and I'm struggling to install Friendica.  I couldn't do it at all with my Wordpress hosts, so now I'm trying Hostinger.  The error with Hostinger comes when I finish uploading, and put the URL into my browser for the first time. Instead of the greeting / setup page, I get the error (4) below.

Now my goal is NOT necessarily to analyse and solve thi

[2021-11-28 01:58] AlfredSK opened #11040 "Blocked contacts disappeared from the list"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

The list of blocked contacts .../contact/blocked has lost a lot of entries. I'm pretty sure there were more than 150 users/contacts on my personal block list. The list is showing only 20 all of a sudden.
Maybe the same is true for ignored contacts .../contact/ignored. That list is showing only 16 ignored contacts. B

[2021-11-28 03:30] MrPetovan commented on #11040
Is it possible these accounts were cleaned up as unreachable by the node?

[2021-11-28 07:21] tobiasd commented on #11029
Reopening the issue as it does not work with Friendica as of Sunday morning (Nov 28th) c34994df0317eeb9fb5c5ae8e9ca65b9404126e2

[2021-11-28 07:25] tobiasd commented on #11029
In addition to the initial report, I've just noticed that existing contacts who were sorted into contact groups long time ago, are not included in any group on the `/contact/ID` page.

[2021-11-28 11:36] AlfredSK commented on #11040
Hmm. Originally, a user of my node reported that he discovered posts in his timeline from blocked contacts. Then he checked his list of blocked contacts and found a lot of entries missing. Today he added that he cannot block those users again. He can select 'block', he doesn't get any error message, but the blocked user doesn't appear on the list of blocked users.

German thread: https://forum.fri

[2021-11-28 13:21] MrPetovan commented on #11040
I’m wondering why not all contacts were not blocked anymore. 🤔

[2021-11-28 13:32] AlfredSK commented on #11040
Me too. :-)

[2021-11-28 13:37] AlfredSK commented on #11029
Weird. When I try to add a new contact to one or more groups I get the message 'contact cannot be added to group' (or something like this. Also, those boxes ☑️ indicating the group membership remain empty.

BUT when I go to the group ID like https://libranet.de/group/71 I can see that the contact is displayed as member of that group.

[2021-11-28 14:47] AlfredSK commented on #10352
Update: :-D

![image](https://user-images.githubusercontent.com/3656054/143772900-f67000ae-cd80-4a33-bb15-eedce29c2a84.png)

2021.12-rc

[2021-11-29 11:45] Andy3142 commented on #11039
OK, I solved this. I started again, in the main URL not a subdomain, and telnetted in and  gitted the files instead of uploading the tarball via Windows. It still went through some convolutions. "Vendor name not found" worried me but it fixed itself beautifully and is now running OK.

For the record, Hostinger works as a host. .htaccess needs renaming, but has no compatibility issues and does not

[2021-11-29 11:45] #11039 closed, assigned to nobody

[2021-11-29 12:19] MrPetovan commented on #11040
What about ``SELECT `cid`, `blocked` FROM `user-contact` WHERE `uid` = 2 and `blocked` = 1`` ?

[2021-11-29 12:57] haheute opened #11047 "Can't follow diaspora users from diasp.org"
- [x] I have searched open and closed issues for duplicates

### Bug Description

I just tried to follow 2 users from diasp.org (I'm on libranet.de) and it didn't work with both.
( https://diasp.org/u/anane200 and https://diasp.org/u/santmat )

I saw this message:

Es wurden keine kompatiblen Kommunikationsprotokolle oder Feeds gefunden.

    #: src/Model/Contact.php:2406
    msgid "The profile ad

[2021-11-29 13:46] MrPetovan commented on #11047
Thank you for the detailed report!

[2021-11-29 15:56] AlfredSK commented on #11040
Will check that query later.

[2021-11-29 16:04] AlfredSK commented on #11040
[code]

[2021-11-29 16:05] MrPetovan commented on #11040
Thanks, at least it looks consistent, which probably rules out any data loss shenanigans.

[2021-11-29 16:06] AlfredSK commented on #11040
Could it be that contacts that are blocked on node level don't appear on the personal block list anymore?

[2021-11-29 16:07] MrPetovan commented on #11040
I don't think they've ever appeared in this list, they aren't meant to, and if this was your expectation, I understand you would "miss" them.

[2021-11-29 16:21] SpcCw commented on #11023
@MrPetovan - still doesn't work for me, now it returns code 500 and empty response..

Same started to happpen with #10990

Update: also passing some non-existent or malformed id (or passing none at all) doesn't change anything (i.e. there is no error returned).

[2021-11-29 16:21] SpcCw commented on #10990
Update: currently the endpoint doesn't work at all: returns code 500 and empty response.

Same is now happening with #11023

[2021-11-29 16:23] MrPetovan commented on #11023
Thank you for the follow-up, the unit tests involving this API endpoint passed so I assumed it would work in a production setup.

[2021-11-29 16:24] MrPetovan commented on #11023
500 error means PHP left a message, do you have anything in your Friendica/Web server/PHP interpreter logs?

[2021-11-29 16:34] SpcCw commented on #11023
It is weird, when I get code 500 on `photo/create` I get the following in the nginx error log:
[code]
However when I try `photo/delete` I get nothing in the same log even though I get code 500.

Where else should I look? `/var/log/php7.4-fpm.log` has nothing except the usual worker start/stop stuff. Should I capture a piece of Friendica log?

[2021-11-29 16:36] MrPetovan commented on #11023
We started logging some exception errors in the Friendica log itself, please check over there if you activated it. Otherwise, please activate it with the log level Warning.

[2021-11-29 16:44] SpcCw commented on #11023
Here it is (two calls):
[code]

[2021-11-29 17:24] AlfredSK commented on #11040
Well there were contacts I had blocked personally and later I blocked them node-wide, too. :-) Yes, my expectation might be wrong.

But there is still the original report from my user that there are contacts that are not blocked anymore and they cannot be blocked again.

[2021-11-29 19:04] xundeenergie commented on #11033
the checkbox holds now.
but i don't know, if notifications also work again.

will report on next successful (or not) notification.

thanks for the quick fix!

[2021-11-29 19:38] MrPetovan commented on #11023
Thanks, it's a familiar error that should have been fixed with #11037 but I apparently didn't include the correct commit from #11044, I'll submit a follow-up PR.

[2021-11-29 19:45] MrPetovan commented on #11023
Ah, never mind, you need to switch to the `2021.12-rc` branch, the `develop` branch won't be updated with fixes until the upcoming release.

[2021-11-29 19:59] MrPetovan commented on #11040
Got it, I fixed the inability to block contacts in #11046 so even if you were confused about who you should see in your blocked list, the report was useful to troubleshoot blocking contacts. Can we close this issue?

[2021-11-29 20:07] AlfredSK commented on #11040
I'll ask the user if things are working as expected now.

[2021-11-29 20:18] AlfredSK commented on #11040
The user confirms that blocking contacts is working again. But he is still sure that he had at least 45-50 blocked contacts and he has only 15 left on his blocklist now.

[2021-11-29 20:43] SpcCw commented on #11023
So it was me who got lost in the branches.

Yes, on `2021.12-rc` deletion works.

[2021-11-29 20:43] #11023 closed, assigned to MrPetovan

[2021-11-29 20:53] SpcCw commented on #10990
@MrPetovan - this one however still ends up with 500 code and empty response on `2021.12-rc`

Snippet from Friendica log:
[code]
Nginx error log:
[code]
Addressed in #11048

[2021-11-29 21:30] MrPetovan commented on #11040
Thanks for following up. Unfortunately, unless you have a semi-recent DB backup, there's no way of knowing which contact used to be blocked but isn't anymore from the current state of your database.

[2021-11-29 21:30] MrPetovan commented on #10990
Thanks, this is really helpful.

[2021-11-30 05:17] #11029 closed, assigned to MrPetovan

[2021-11-30 05:45] #10978 closed, assigned to nobody

[2021-11-30 06:39] tobiasd commented on #10990
During photo upload, there is an option to "not post an additional status update" (which contains the image only). I'm not sure how this option is handled by the API call, but the 2nd posting only containing the image looks like that additional status update.

[2021-11-30 07:12] SpcCw commented on #10990
@MrPetovan - thanks, now the endpoint works again and the issue with it sending "photo statuses" still remains.

@tobiasd - yes, it is that. If I upload a photo via web interface I see this checkbox and if I uncheck it then exactly the same happens. However by default I see it checked (i.e. photo statuses aren't created) and I have to explicitly clear it.

This makes sense for the web frontend but

[2021-11-30 10:10] hoergen commented on #7651
Is there any progress?
Is this a problem of Peertube or Friendica?

[2021-11-30 10:12] hoergen commented on #4957
Is this still an issue that will be fixed?

[2021-11-30 13:00] MrPetovan commented on #10990
Thanks you for your tests, it should be easy to pinpoint now.

[2021-11-30 13:06] forenta opened #11049 "Picuki API: Instagram content in Friendica?"
### Is the feature request related to a problem? Please describe.

No.

### Describe the feature you'd like

It seems to me that [Picuki](https://www.picuki.com/) is the only platform that provides users access Instagram content without having to be a member of Instagram for a pretty long time.
I would be happy if I could also follow Instagram accounts via Friendica without being a member of a 'Me

[2021-11-30 13:11] MrPetovan commented on #11049
It looks like it could be the base of a connector addon, but I wasn't able to get very far on the website itself, it hung trying to display the Contact Us page. It seems they are having some performance issues.

[2021-11-30 14:15] #10990 closed, assigned to MrPetovan

[2021-11-30 14:52] SpcCw commented on #10990
That did it! Big thanks!

[2021-11-30 20:29] nupplaphil commented on #10966
@tobiasd - can you recheck it? I can post between my two nodes now, maybe one of the last PRs fixed it, but I'm unsure

[2021-12-01 00:05] torresdavi opened #11051 "Got timeout when attempt to login"
Hey guys, how are you?
I'm receiving this error bellow when i try to login in my friendica instance. I don't know why, but it just loads for ever and then i got this message.
I followed this tutorial on the internet: https://websiteforstudents.com/install-friendica-social-network-platform-on-ubuntu-18-04-16-04-with-apache2/  and everything works fine until the login. Could you guys help me ?! Than

[2021-12-01 06:03] tobiasd commented on #10966
In a forum where it was not possible before? I can check with the problematic forum in my case later, yes.

[2021-12-02 01:47] MrPetovan commented on #11047
I'm confirming the inability to follow the following Diasp.org contact: `https://diasp.org/u/santmat`

[2021-12-02 02:41] MrPetovan commented on #11047
At first glance, no webfinger data can be obtained from `diasp.org` which prevents us from being able to identify the Diaspora contact.
[code]
This technical endpoint returns a 500 error so it sounds a diasp.org problem.  I'll try to reach out to their admin.

[2021-12-02 02:55] MrPetovan commented on #11020
I'm not able to reproduce this issue on my test node on the latest RC, updating the description of my user profile is correctly propagated to the tables the API is polling from.

[2021-12-02 06:44] tobiasd commented on #10966
Nope; I did a posting to the forum, but half an hour later the posting is still not displayed on the forums timeline.

[2021-12-02 08:47] haheute commented on #11047
Thanks. I tried following another user/pod, and got the same message as above. + another one:

    msgid "The network type couldn't be detected. Contact can't be added."
    msgstr "Der Netzwerktyp wurde nicht erkannt. Der Kontakt kann nicht hinzugefügt werden."

here the link:
    https://libranet.de/follow?url=https%3A%2F%2Fsysad.org%2Fu%2Ftomgrzyb

[2021-12-02 10:17] nupplaphil commented on #10966
Damn, thx.. Are there different versions between forum abe your node? I'm a little bit struggling here tbh.. Between my 2 nodes, it's working so maybe its a version mismatch

[2021-12-02 10:50] tobiasd commented on #10966
For me it is just this one forum (that I know of, I've not posted test messages to all forums). Both servers are running 2021.12-rc, both were on develop before. Other forums are working.

[2021-12-02 11:28] MrPetovan commented on #11047
Thank you for the added information, maybe we are doing webfinger wrong?

[2021-12-02 11:29] MrPetovan commented on #11047
For `https://sysad.org/u/tomgrzyb`, the WebFinger call succeeds so it isn't the same issue, I'll investigate further.

[2021-12-02 11:36] MrPetovan commented on #11047
Wait, we're calling `https://diasp.org/u/.well-known/host-meta` instead of `https://diasp.org/.well-known/host-meta` which expectedly fails.

No such issue with https://sysad.org/u/tomgrzyb where we correctly call `https://sysad.org/.well-known/webfinger`.

[2021-12-02 12:04] AlfredSK commented on #10966
Have you checked the network type? I remember I once had a similar problem. Unfollow and refollow did the trick, if I remember correctly.

[2021-12-02 12:05] foss- commented on #11020
Could be working as expected in that branch, seeing the problem on squeet me:
This is Friendica, version 2021.12-dev that is running at the web location https://squeet.me. The database version is 1442/1442, the post update version is 1427/1427.

[2021-12-02 12:07] MrPetovan commented on #11047
More information about `diasp.org`. When probing an account, we're performing the following request:
[code]
This request returns a 500 error, but it succeeds when I perform it from my desktop browser. My working hypothesis is that there's a user agent filter on `diasp.org` only allowing requests from known desktop browser user agent. I reached out to David Morley, the `diasp.org` admin, using my t

[2021-12-02 12:08] MrPetovan opened #11055 "Unable to follow a Diaspora account from sysad.org"
_Originally posted by @haheute in https://github.com/friendica/friendica/issues/11047#issuecomment-984415200_

[2021-12-02 12:27] MrPetovan commented on #11055
I found the larger issue for this particular problem: I've wrongly simplified a probe URI condition when I removed the Twitter probe from the core detection and this caused regular profile URLs to fail probe, but `user@domain.tld` still works.

[2021-12-02 12:30] AlfredSK commented on #11055
Checked it and got these error messages.

![Screenshot_20211202-132733__01](https://user-images.githubusercontent.com/3656054/144422254-21daa3e2-f649-4471-85c8-0eeb40424547.jpg)

[2021-12-02 12:31] tobiasd commented on #10966
Yes, we did. Unfollow + refollow did not work, switching the forum to normal user back to forum did not work as well.

[2021-12-02 12:38] MrPetovan commented on #11055
But it works with `tomgrzyb@sysad.org`, right?

[2021-12-02 13:03] MrPetovan commented on #10971
I found the source of this issue, we just actively discard all-numeric usernames during the probe process.

[2021-12-02 13:59] #10971 closed, assigned to MrPetovan

[2021-12-02 14:01] tobiasd commented on #11055
yes, `tomgrzyb@sysad.org` works in the probe.

[2021-12-02 14:04] MrPetovan commented on #11055
Thanks, then the PR is complete and will fix the issue with the profile URLs.

[2021-12-02 14:14] annando commented on #11020
Squeetme isn't updated for some time now. I'm still waiting for issue https://github.com/friendica/friendica/issues/10966 being resolved.

[2021-12-02 14:54] MrPetovan commented on #11047
Further tests have shown that the presence of the `User-Agent` header field with this value is triggering the errors.

[2021-12-02 15:27] MrPetovan commented on #11047
David Morley of diasp.org indicated that his server only accept TLS version 1.3 which could explain why some connections from Friendica nodes (among others, I suspect) are dropped without showing in the web server log.

[2021-12-02 15:35] MrPetovan commented on #10939
Fixed in #11042

[2021-12-02 15:35] #10939 closed, assigned to nobody

[2021-12-02 15:38] MrPetovan commented on #10871
Fixed by #10941

[2021-12-02 15:38] #10871 closed, assigned to nobody

[2021-12-02 15:50] AlfredSK commented on #11047
Hmm...

**diasp.org**

![image](https://user-images.githubusercontent.com/3656054/144455398-a94c6fc5-2457-4493-94c6-d792cdc1507e.png)

**libranet.de**

![image](https://user-images.githubusercontent.com/3656054/144455561-b337da18-5be4-43f7-a78e-c6d57dcc0823.png)

[2021-12-02 16:06] MrPetovan commented on #11047
In the process of troubleshooting this issue, David Morley has relaxed the TLS requirements of the server, to no avail on my end, it still fails to connect.

[2021-12-02 22:13] MrPetovan commented on #11047
Post-mortem: https://diasp.org/posts/735a2029-4961-a833-9fc2-e8e646274798#620a09b035e9013a2c8628a1592b385a

Confirmed working again.

[2021-12-02 22:13] #11047 closed, assigned to MrPetovan

[2021-12-03 11:55] urbalazs opened #11061 "[frio] Text overflow in Unfollow button"
### Bug Description

The translated text overflows in Unfollow button at `FRIENDICA_HOST/contact/XXX`. Some languages have longer text than the English version. For instance, Hungarian translation for "Unfollow" is "Követés megszüntetése".

### Steps to Reproduce

1.  Switch the interface language to Hungarian.
2.  Open any contact (`FRIENDICA_HOST/contact/XXX`).
3.  See the Unfollow (Követés megs

[2021-12-03 12:07] tobiasd commented on #11061
It's only in `frio` in the other themes the button is displayed with two lines. The icon at the buttons beginning does not scale, but the button in total. So I think it does only need a fix in frio.

[2021-12-03 22:42] annando opened #11063 "Upload via /api/v1/media returns HTTP error 403"
With the current RC it is impossible to upload pictures via the Mastodon API. The API always returns 403 when trying to upload.

This also happens when creating a new post, so most likely the `POST` command will fail all the time with the API, I guess.

[2021-12-03 22:46] #11055 closed, assigned to MrPetovan

[2021-12-03 22:54] MrPetovan commented on #11063
THE PUT command has a bug, but the POST command doesn't, in any case the Friendica log should show you the reason why the upload failed.

[2021-12-04 00:21] 4nanook commented on #10915
I've got 7.5 GB of images presently stored, 750 users, and 1336525 files so far and dump / restore handles that in about an hour with bz2 compression.

[2021-12-04 00:32] tio-trom commented on #10915
Can you please tell me more about how you backup so many files?

[2021-12-04 00:32] 4nanook commented on #10382
Today the Global View is showing only ONE message at the moment, a few minutes ago it went back weeks.  I have expirey times set to a year so I do not understand why it is doing this.  Here are the last few errors in the logs, I'll gladly ship the entire log file if you like:
[code]

[2021-12-04 00:45] 4nanook commented on #10915
/sbin/dump -b1024 -j9 -f friendica.dump.bz2 /friendica

Where friendica.dump.bz2 is the filename dumped to (I'm already cd'd to where it is stored, this is done in a script), this can also be a physical device such as a tape drive but to support compression it must support variable block lengths.

/friendica is the location of your friendica storage directory (not where I have it actually placed)

[2021-12-04 04:47] #11063 closed, assigned to nobody

[2021-12-04 20:40] nupplaphil commented on #10966
@annando - tbh - help ..
I try to step through the whole process during the creation of a new post inside a forum, but got completely lost .. Since the behavior isn't repeatable for every forum, I "just" can say, that at my nodes, I see that the process adds entries inside `post-delivery-data` for both the contact id of the Forum of the current user and for the contact of the Forum it`self`.

And

[2021-12-05 01:03] acodispo commented on #10988
I've encountered this issue. Are there directions on how to deal with it?

Thanks!

[2021-12-05 05:48] annando commented on #10966
I haven't looked into it by now. Is the forum and the original user on the same machine? Or are they on different machines? Is the message sent to the forum server? When it does arrive on the forum server then one should follow the log entries to see what's happening.

[2021-12-05 06:12] #10955 closed, assigned to MrPetovan

[2021-12-05 10:47] Andy3142 opened #11071 "What to do about missing .well-known directory/rewrite?"
I've just installed Friendica and right from the start I get the error

"https://oshotestnet.co.uk/.well-known/host-meta is not reachable on your system. This is a severe configuration issue that prevents server to server communication. See the installation page for help."

I've no idea what to do about this! The installation page talks about the problem being "another directory" called .well-know

[2021-12-05 10:54] AlfredSK commented on #11071
Do the other pages/paths work as expected? If so is the cronjob/daemon running successfully? I had this message from time to time in my admin panel but as soon as the cronjob ran successfully the message disappeared and the well-known/host-meta path was working again.

[2021-12-05 11:11] Andy3142 commented on #11071
The other pages work OK. The cron job is another outstanding question. The server is executing the job, and a new log file appears every 5 minutes.  But the worker.php file I used is /bin/worker.php and I'm not sure this is right. Also, the log file has zero size and I'm also not sure if this is normal though the worker.php file isn't obviously writing to any log file. Would it be worth my changin

[2021-12-05 11:35] AlfredSK commented on #11071
How does your cronjob looks like? And does it run with correct user permissions?
I don't understand the part with 'new log file appears every 5 minutes'. Usually, the worker is logging into the configured Friendica log file.

Also, you can run the worker manually from Friendica web root directory to get an instant output or error message. You need to do this with the correct user (sudo).

[2021-12-05 12:54] Andy3142 commented on #11071
The cronjob was set up via a gui in the Hostinger host admin, so it should be OK:
*/5 * * * *       /usr/bin/php /home/u772168667/public_html/bin/worker.php

I hadn't realised I had to set up the log myself, but when I do the worker reports:
[code]
I've no idea if this is correct, but no actual errors.
The docs don't give a definite directory for the worker.php file, but they do have a definite di

[2021-12-05 14:13] AlfredSK commented on #11071
Thing is, the host-meta path is no static file or directory. It is created by PHP. From my experience the message in admin panel and the issue with that path (host-meta) disappears as soon as the worker was running successful. That's why I was curious about your cronjob and possible errors. But the logged line you provided are looking ok to me. So, I'm clueless...

[2021-12-05 18:06] tobiasd commented on #11071
Are you using Apache2 or Nginx as webserver?

[2021-12-05 18:26] Andy3142 commented on #11071
The server is LiteSpeed.

[2021-12-05 19:03] tobiasd commented on #11071
Never heard about it before, but they claim to be compatible with Apache2.

[2021-12-05 20:59] Andy3142 commented on #11071
The src directory contains these files, which look as if they might be a toolkit to construct a .well-known directory - are they, I wonder?

/oshotestnet.co.uk/public_html/src/Module/WellKnown/HostMeta.php
/oshotestnet.co.uk/public_html/src/Module/WellKnown/NodeInfo.php
/oshotestnet.co.uk/public_html/src/Module/WellKnown/SecurityTxt.php
/oshotestnet.co.uk/public_html/src/Module/WellKnown/XSocialRe

[2021-12-05 21:30] tobiasd commented on #11071
The content of the `.well-known` directory is created automatically to match your nodes information, depending on the configuration you choose in the admin panel and for which accounts other nodes of the Fediverse are looking. All this information is distributed over the WellKnown module.

After thinking a bit about the problem it might be that the `.well-known` is also defined by/for LetsEncrypt

[2021-12-05 22:31] Andy3142 commented on #11071
But why this particular installation? The host company claim very definitely that the server is Apache 2 compatible. Maybe what I'll do is delete the whole thing and re-install. I understand everything a bit better now and at least I'll be more alert to things going a bit funny.
Would it be worth going back to the previous release? - I've got Version 2021.09. I've been assuming it's a setup hiccup

[2021-12-06 06:59] tobiasd commented on #11071
The server can be Apache2 compatible, but still the configuration for the rewrite rules and directory aliases used in the configuration for LetsEncrypt certificates might be such, that the Friendica rewrite mechanism for generating the contents of `.well-known/host-meta` does not work.

[2021-12-06 10:58] Andy3142 commented on #11071
Thank you, now I have an exact situation to put to them, I'll ask the hosts (Hostinger) and report back.

[2021-12-06 14:23] Andy3142 commented on #11071
My hosts, Hostinger, say:
"It seems to me that this would require root access - in this case, we have VPS server selection. .well-known folder is basically hidden, since our Shared/Cloud plans are managed directly by our Admins. At this time really using shared hosting you will not be able to access folder oshotestnet.co.uk/.well-known. If you would need to actively use a folder like that for your

[2021-12-06 17:29] Andy3142 commented on #11071
An afterthought:  does "Unix shell access" in the requirements actually imply "root access"?

[2021-12-06 17:36] MrPetovan commented on #11071
It shouldn't, although we can't really account for these opinionated setups on shared hosts.

[2021-12-06 18:39] utzer opened #11072 "List posts of a user I interacted with"
I want to be able to show all past interactions with a user, it seems to be a good point to have this selection available under /contact/nnnnn/.

I did not describe it that well, but basically as @annando put it I want to see all posts/comments of a user with my interactions like:

- Posts that had been started by this contact and we posted a comment somewhere in the thread
- Posts that had been s

[2021-12-06 19:09] MrPetovan commented on #11072
I believe the list of possibilities were meant as distinct and not cumulative. Each individual item in the list is straightforward to implement but implementing all of them at once would be significantly more complex.

[2021-12-06 21:40] tio-trom commented on #10915
Thanks. I'd prefer tho a more automated solution. But compressing all files on the server may be a good idea indeed....

[2021-12-06 21:47] 4nanook commented on #10915
I use a small shell script that runs out of  cron, the shell script creates a data storage directory, makes the backup, and deletes directories more than so many days old, thus keeping a fixed number of rotating backups.

[2021-12-06 21:52] annando commented on #11072
@MrPetovan absolutely. I think that we should chose a single item out of these suggestions. I can imagine that each of these do make sense. But on the other hand it adds complexity for the user if there were several options to chose from.

[2021-12-07 06:17] tobiasd commented on #11071
No, root access is not implied. For my knowledge this is the 1st case where the `.well-known` path is completely blocked by the hoster. IIRC uberspace.de was used successfully in the past, for a testing/small instance this might be a shared hoster possibility. For VPS any should work (Friendica is working on a Raspberry Pi 4, more RAM is better as the database has to fit into RAM - for a guide to

[2021-12-07 08:52] utzer commented on #11072
I thought an interactions view would be good, not sure what the complexity for the user would be if it just shows all interactions?

[2021-12-07 18:48] annando commented on #11072
I think some "Show all threads where contact X and me had interacted in any way" will be extremely confusing for the users.

[2021-12-08 11:34] Andy3142 commented on #11071
OK, to close things off, this in the end proves to be a host problem specific to Hostinger. Big thanks you all of you who replied to this.

I asked Hostinger support if there was any workaround to make .well-known available, and they said No. Specifically they said:

" I went ahead and contacted our Tech Engineer and he explained to me that .well-known folder is mainly reserved for system configur

[2021-12-08 11:34] #11071 closed, assigned to nobody

[2021-12-08 12:57] greengekota opened #11078 "[Question] Redirect url in Guzzle Responses"
Here

https://github.com/friendica/friendica/blob/131606e07e11c541ac6c627e727697beee53783b/src/Model/GServer.php#L345-L354

it seems you are looking for a redirect by checking if the original url is different from the redirect one, but in the Guzzle Response you define it as

https://github.com/friendica/friendica/blob/8d5c03755d8b9d73d8c30517b1ee9c3cd330c158/src/Network/HTTPClient/Response/Guzzle

[2021-12-08 14:23] MrPetovan commented on #11071
You're welcome, and this confirms we can't officially support shared host install.

[2021-12-08 14:24] MrPetovan commented on #11078
Thank you for the report, @nupplaphil set this up so he would be more able to answer your question.

[2021-12-08 20:20] #10664 closed, assigned to nobody

[2021-12-08 20:21] hansw-nlo commented on #10664
Sorry, I stopped using Friendica due to more issues. Was to busy tuning, etc...

[2021-12-08 22:18] MrPetovan commented on #10664
Thank you for the follow-up!

[2021-12-09 13:52] nupplaphil commented on #11078
thanks, it's a bug .. There's the "legacy" way for creating the response with
https://github.com/friendica/friendica/blob/e2ff48375fdc75fc3509233c55f41f20fd863308/src/Network/HTTPClient/Response/CurlResult.php#L139
and
https://github.com/friendica/friendica/blob/e2ff48375fdc75fc3509233c55f41f20fd863308/src/Network/HTTPClient/Response/CurlResult.php#L215-L217
So
https://github.com/friendica/friendi

[2021-12-09 14:09] #11078 closed, assigned to nupplaphil

[2021-12-09 16:29] greengekota commented on #11078
Hi @nupplaphil

If I understand correctly, after the fix the default value of `redirectUrl` is the empty string (unless it is an actual redirect).

In the legacy version instead it's the original url, at least according to this test:

https://github.com/friendica/friendica/blob/8d5c03755d8b9d73d8c30517b1ee9c3cd330c158/tests/src/Network/HTTPClient/Response/CurlResultTest.php#L60-L73

and I think it

[2021-12-09 21:53] nupplaphil commented on #10945
Closing because corresponding functionality was already transformed to the new structure
Specific tests are now reenabled at #11084

[2021-12-09 21:53] #10945 closed, assigned to nobody

[2021-12-09 22:28] nupplaphil commented on #10966
I tried it between `friendica.philipp.info` and `opensocial.at`. The URI is https://friendica.philipp.info/objects/f1417ed3-8361-b27d-464b-968482850161.

It appears at both sides without any error / warnings.
One thing is that at `opensocial.at`, the post is set to private and the network changed from DFRN to activitypub. Can this be a problem? The permission difference is really strange...

`post

[2021-12-10 18:49] nupplaphil opened #11085 "Heavy loaded constructors"
Based on the discussion at https://pirati.ca/display/ec054ce7-1961-b290-28b2-c73708494309 , this issue lists all constuctors with more than "standard" initialization work.

The overall goal should be to have lightweight constructors to avoid slow dependency creations during the overall process.

[2021-12-10 18:50] nupplaphil commented on #11085
**src\App**
https://github.com/friendica/friendica/blob/7218d6e1718a2ee50ff32ef07868db47113f2598/src/App.php#L340

[2021-12-10 18:51] nupplaphil commented on #11085
**src\LegacyModule**
https://github.com/friendica/friendica/blob/2e4d654c0a241891a8a64ebd3e49ebde42fad8cc/src/LegacyModule.php#L51

[2021-12-10 18:52] nupplaphil commented on #11085
**src\Console\Addon**
https://github.com/friendica/friendica/blob/492ac0c387604c3493f364fbc485647964fe4ba7/src/Console/Addon.php#L82
- Database Select

[2021-12-10 18:55] nupplaphil commented on #11085
**src\Core\L10n**
https://github.com/friendica/friendica/blob/b21631747714ac2282abfc6d6ac573a3347df11b/src/Core/L10n.php#L70-L72
- Database select
- Filesystem read

[2021-12-10 18:58] nupplaphil commented on #11085
**src\Core\Cache\Type\\*.php**
e.g.
https://github.com/friendica/friendica/blob/b21631747714ac2282abfc6d6ac573a3347df11b/src/Core/Cache/Type/RedisCache.php#L57-L60
- multiple config selects

[2021-12-10 19:00] nupplaphil commented on #11085
**src\Core\Config\Typ\\*.php**
https://github.com/friendica/friendica/blob/b21631747714ac2282abfc6d6ac573a3347df11b/src/Core/Config/Type/JitConfig.php#L50
- Database select

[2021-12-10 19:02] nupplaphil commented on #11085
**src\Core\Logger\Streamloader**
https://github.com/friendica/friendica/blob/22663c4ae5d6dcb61d5a1ff151b711e5e0b337cc/src/Core/Logger/Type/StreamLogger.php#L110
- Filesystem Stream creation

[2021-12-10 19:04] nupplaphil commented on #11085
**src\Database\Database**
https://github.com/friendica/friendica/blob/516018861e011865a902587876d484d6f0f42a66/src/Database/Database.php#L83-L88
- Database setup
- DB Structure tests

[2021-12-10 19:07] nupplaphil commented on #11085
**src\Module\Tos**
https://github.com/friendica/friendica/blob/561aba18e3a230c0912ad9483c6df43cc40e09d6/src/Module/Tos.php#L57-L63
- L10 usage

[2021-12-10 19:08] nupplaphil commented on #11085
**src\Module\RemoteFollow**
https://github.com/friendica/friendica/blob/2e4d654c0a241891a8a64ebd3e49ebde42fad8cc/src/Module/RemoteFollow.php#L56
- Database select

[2021-12-10 19:10] nupplaphil commented on #11085
**src\Module\Api\\***
e.g.
https://github.com/friendica/friendica/blob/537b74f3079a046750bc210bbd9e51c1187b361d/src/Module/Api/Twitter/ContactEndpoint.php#L47
- Database selection for all `self::checkAllowedScope()` possible

[2021-12-10 19:11] nupplaphil commented on #11085
**src\Module\Contact\Revoke**
https://github.com/friendica/friendica/blob/2e4d654c0a241891a8a64ebd3e49ebde42fad8cc/src/Module/Contact/Revoke.php#L57-L74
- Database selections

[2021-12-10 19:13] nupplaphil commented on #11085
**src\Module\Settings\TwoFactor\\***
e.g.
https://github.com/friendica/friendica/blob/2e4d654c0a241891a8a64ebd3e49ebde42fad8cc/src/Module/Settings/TwoFactor/AppSpecific.php#L57-L66
- Additional business logic

[2021-12-10 19:15] nupplaphil commented on #11085
**src\Network\HTTPClient\Response\CurlResult**
https://github.com/friendica/friendica/blob/516018861e011865a902587876d484d6f0f42a66/src/Network/HTTPClient/Response/CurlResult.php#L135-L140
- Additional business logic
- `Logger::` usage

[2021-12-10 19:17] nupplaphil commented on #11085
**src\Object\Api\Mastodon\Account**
https://github.com/friendica/friendica/blob/d8974c9a2ae28b5dbf6281cee250b733f1363851/src/Object/Api/Mastodon/Account.php#L114-L118
- Mutiple Database selections

[2021-12-10 19:18] nupplaphil commented on #11085
**src\Object\Api\Mastodon\Relationship**
https://github.com/friendica/friendica/blob/945f482ba3c03603ab9dd702583501c8e57053fe/src/Object/Api/Mastodon/Relationship.php#L92
- Database selection

[2021-12-10 19:19] nupplaphil commented on #11085
**src\Object\Api\Mastodon\ScheduledStatus**
https://github.com/friendica/friendica/blob/13529fa97deed6f38c3852d943ba33fbf1c5f3f4/src/Object/Api/Mastodon/ScheduledStatus.php#L70
- Database selection

[2021-12-10 19:20] nupplaphil commented on #11085
**src\Object\Api\Mastodon\Status**
https://github.com/friendica/friendica/blob/71f53c946f0231e0d729fc435b965f29fdb5efa6/src/Object/Api/Mastodon/Status.php#L134
- Database selection

[2021-12-10 19:21] nupplaphil commented on #11085
**src\Object\Api\Twitter\Status**
https://github.com/friendica/friendica/blob/b15d3a2523f3e147f476807b3324c6bbc8f4cdad/src/Object/Api/Twitter/Status.php#L120-L121
https://github.com/friendica/friendica/blob/b15d3a2523f3e147f476807b3324c6bbc8f4cdad/src/Object/Api/Twitter/Status.php#L139
- Database selection
- Hook calls

[2021-12-10 19:23] nupplaphil commented on #11085
**src\Object\Api\Twitter\User**
https://github.com/friendica/friendica/blob/b56ccbcf2b85e444a08d8168c754dc6f46138659/src/Object/Api/Twitter/User.php#L111
https://github.com/friendica/friendica/blob/b56ccbcf2b85e444a08d8168c754dc6f46138659/src/Object/Api/Twitter/User.php#L122-L149
- multiple Database selections

[2021-12-10 19:24] nupplaphil commented on #11085
**src\Object\EMail\ItemCCEmail**
https://github.com/friendica/friendica/blob/c81e81dc8d96ffc42548fdcd2ca6887a1a847837/src/Object/EMail/ItemCCEMail.php#L40-L56
- Database selects
- advanced business logic
- indirect `DI::` calls

[2021-12-10 19:26] nupplaphil commented on #11085
**src\Render\FriendicaSmarty**
https://github.com/friendica/friendica/blob/054c301ef0345c4ff9f35cfd08717757eab17b9d/src/Render/FriendicaSmarty.php#L50-L52
- Advanced business logic

[2021-12-10 20:29] SpcCw commented on #10915
Was something changed recently in this proxy feature?

I noticed I no longer have any files in proxy folder. I even browsed a few pages of posts with photos and checked - yes, still empty. Also I notice image links now look like `https://friendica.server/photo/preview/600/2119203` not `.../proxy/...`

Yes, I have the checkbox " Proxify external content" on. The version is 2021.12-rc. Is it a bug o

[2021-12-10 20:57] nupplaphil commented on #10998
@MrPetovan the `dns_get_record()` returns the correct DNS entry, maybe we accidentally transform "0x56.de" as hexadecimal value?
[code]
[code]

[2021-12-10 22:16] nupplaphil commented on #11006
I'm sorry, this isn't possible yet or at least I don't find any hint about it.
Unfortunately neither for github nor for gitea :-/

[2021-12-11 00:27] MrPetovan commented on #10998
If `dns_get_record` depends on the local DNS resolver then it is most likely a system-specific issue. Nowhere we are using the domain as a number which could trigger such a type casting.

[2021-12-11 00:27] MrPetovan commented on #11006
Ok, thank you for the info!

[2021-12-11 00:27] #11006 closed, assigned to nobody

[2021-12-11 11:24] SpcCw opened #11089 "Slow loading of /profile/username"
Not sure if it is a general bug or local issue but it seems to persist over many versions and getting slightly worse.

Some user profiile pages take quite a long time to load e.g.

https://friends.deko.cloud/profile/shuro ~ 15-17 seconds
https://friends.deko.cloud/profile/alex ~ 9-10 seconds

On the other hand these bot/rss pages have quite a bit of posts yet load faster and I would call it normal

[2021-12-11 14:27] AlfredSK opened #11091 "Argument 1 passed to Friendica\Util\DateTimeFormat::utc() must be of the type string, null given"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

With current release candidate I see a lot of errors with an exception related to `ActivityPub/Processor.php` and `Util/DateTimeFormat.php`.

**Forum thread**
https://forum.friendi.ca/display/0b6b25a8-1061-b45f-9669-233077937349

**Logged errors:**

[code]

### Platform Info

Friendica Version:

2021.12-rc

Friendic

[2021-12-11 14:30] tio-trom commented on #10915
Ok this is a reasonable idea to create an archive on the server, then pull it to a backup location. It is faster and I will try. However takes a lot more diskspace. My Friendica files are around 20GB in size, and if I create an archive to then backup, then the archive will also be stored locally.

[2021-12-11 15:26] MrPetovan commented on #11089
Ideally, we should do a trace of these two page loads, how familiar are with XDebug?

[2021-12-11 15:36] annando commented on #11089
Rendertime could help here as well.

[2021-12-11 15:51] SpcCw commented on #11089
I am not familiar with it at all :) If there is some manual I can try fiddling with it.

Here are the results for these profiles:
https://friends.deko.cloud/profile/shuro
Database: 0/0, Network: 0, Rendering: 0, Session: 0, I/O: 0, Other: 22.71, Total: 22.71
Class-Init: 0.053, Boot: 0.138, Init: 0, Content: 22.508, Other: 0.019, Total: 22.718

https://friends.deko.cloud/profile/alex
Database: 0/0,

[2021-12-11 16:51] 4nanook commented on #10915
You can use rdump to dump to a remote location rather than locally if you prefer or you can nfs mount disk from elsewhere, which is what I do.

[2021-12-11 17:22] AlfredSK commented on #10915
Just in case you're interested, I use `mysqldump` for db backups and `rsync` for files and storage. The backup script is also deleting backups older than 5 days. Twice a week I copy the locally stored backups to a remote storage server with `tar` (w/o any compression). The remote backup storage is mounted via davfs2.

But you're right, you need a lot of disk space to handle the backups locally. Co

[2021-12-11 17:58] MrPetovan commented on #11089
So it's the query to retrieve the conversations. I had a look at this page (https://friends.deko.cloud/profile/shuro) and the sheer amount of content is off the charts;
1. 1 like
2. 47 comments (!), 1 like
3. 13 comments, 2 likes, 5 reshares
4. 1 like, 1 reshare
5. 12 comments, 3 likes, 3 reshares
6. 1 like
7. 4 likes
8. 5 comments, 2 likes, 4 reshares
9. 39 comments (!), 4 likes, 1 reshare
10. 21

[2021-12-11 18:16] AlfredSK commented on #11091
With extended logging (PR 11092):

**Pleroma**

[code]

Oh no! It's Lain. :-)

I also have those notices for other servers. I'll check the URLs...

**Misskey**

[code]

**Mastodon**

~~I don't find an example for a Mastodon instance. Hmm.~~

[code]

[2021-12-11 18:45] annando commented on #11089
@SpcCw Please activate `'profiler' => true,` in the config file.

Also activate this in the config files for addons:
[code]

[2021-12-11 18:54] MrPetovan commented on #11091
Formatted:

### Pleroma

[code]

### Misskey

[code]

### Mastodon

[code]

[2021-12-11 19:21] AlfredSK opened #11093 "AP: Support for Polls"
### Is the feature request related to a problem? Please describe.

Mastodon, Pleroma and Misskey have a 'polls' feature. As far as I can tell they're compatible with each other. As a Misskey user I can take part in polls created on Mastodon or Pleroma. So, I guess the feature is based on some AP spec. Friendica on the other hand can't display polls and Friendica users cannot create or take part in

[2021-12-11 19:32] AlfredSK commented on #11091
Some new examples with extended extended logging. :-)

[code]

[2021-12-11 20:36] Quix0r commented on #11085
I would recommend to put that "advanced" code lines into another method and invoke it at an other time than during the construction of the object. Keep object initialization/construction time as short as possible. Maybe I can recommend a Subject Observer Pattern here where Addons can "hook" (register) on. Method calls today don't cost you a lot of time and with most programs, this small extra time

[2021-12-11 21:03] SpcCw commented on #11089
@annando I added it but I don't see any output changes. Did I add these lines right? I added `'profiler' => true,` to the root section of the config file as the last item so the last two lines now look like this:
[code]
I had no addon.config.php at all so I copied it and now the entire file looks like this:
[code]
Output now looks like this (i.e. the same) for https://friends.deko.cloud/profile/sh

[2021-12-11 21:07] MrPetovan commented on #11089
I'm not sure either PHP or the DB should peak. Queries are mostly simple selects and there's no heavy PHP processing either. So PHP is mostly waiting for the result of the queries which aren't expensive but the sheer amount of them makes the bulk of the page load.

[2021-12-11 21:11] annando commented on #11091
Having a look at the log entry one can clearly see that there is a value for "published" there. Does anyone else receives these notices? My system is absolutely fine.

[2021-12-11 21:16] MrPetovan commented on #11091
These notices have been added to this PR which @AlfredSK has pulled on his system. You will not get these notices unless you also pull my branch or patch your system. Please look at the log message: `published OR edited keys are empty for activity` since both these keys were expected, so it's possible that the `published` key is set but no `edited` value is set.

[2021-12-11 21:37] annando commented on #11091
I meant that I don't have got the error that is described in the issue.

[2021-12-11 22:28] SpcCw commented on #11089
Yes, I played with these settings and indeed there is noticeable effect:
[code]
Still it seems that the profile page is somewhat slower than the Network page. If I set number of comments to 5 "equalize" average comment count it is still couple seconds slower than browsing Network. Probably because it loads tag cloud and friends list. The fact I have DB on another machine possibly introduces extra

[2021-12-12 04:09] MrPetovan commented on #11089
This redirection is wholly unnecessary and could be tweaked. Where would you expect the redirection to go after switching account? Same page? The network timeline?

[2021-12-12 05:20] annando commented on #11089
@SpcCw you need to add `'profiler' => true,` to the `system` section.

[2021-12-12 06:01] annando commented on #11089
@SpcCw I just created a PR for the addons. With these changes it is easier to get rendertime to work.

[2021-12-12 07:52] SpcCw commented on #11089
@annando this is for https://friends.deko.cloud/profile/shuro
[code]
[code]

[2021-12-12 07:58] SpcCw commented on #11089
I think the most convenient would be network because if I switch to another account I either want to view recent posts of my connections or post something myself and both options are present there.

There is "Start page" addon which seems to do the trick with that but I am a little reluctant to enable it as I remember it plus some bug causing DB corruption in the past.

[2021-12-12 11:05] haheute opened #11094 "reshared comment only visible on mastodon"
- [X] I have searched open and closed issues for duplicates

### Bug Description

I have recently reshared a comment and nothing seemed to have happened. I could not find it in my stream or in the network stream or on diaspora. Today I found it appeared on mastodon ( https://machteburch.social/web/statuses/107417350321550475 ).

### Steps to Reproduce

1. reshare a comment (from a friendica post)

[2021-12-12 12:48] MrPetovan commented on #11089
This is extremely easy to change, see #11095

[2021-12-12 13:13] MrPetovan commented on #11094
Thank you for the report! There are a couple things to unpack about this issue.

### Reshare mechanism

Resharing works differently between Mastodon and Disapora, so when you click the "Reshare" button, it only reshares to the same network. If you want to reshare to all the networks, you have to create a new post using "Quote Share". The "Reshare" button is an implicit native reshare that will onl

[2021-12-12 19:40] haheute commented on #11094
okay .. thanks for the explanation

[2021-12-12 19:40] nupplaphil commented on #11085
Using the observer pattern for Addons and make Addons testable is is one todo on my long list :D

And I'm with you that "advanced" code should be invoked later after constructing objects.
If we really do need more than standard initialization, it's a hint for a new or enhanced Factory method ;-)

[2021-12-12 20:02] nupplaphil commented on #10924
@tio-trom can you please execute
[code]

and show the output? Your post update version isn't correctly updated

[2021-12-12 20:05] #10169 closed, assigned to nobody

[2021-12-12 20:05] #10168 closed, assigned to nobody

[2021-12-12 20:05] #10167 closed, assigned to nobody

[2021-12-12 21:13] SpcCw commented on #11094
@haheute It was confusing for me as well so I'll elaborate a bit how it works in practice.

If you reshare a comment and the conversation is already loaded for you or someone then nothing happens (except the comment is displayed as reshared). It doesn't pop up on its own.

However if the conversation was not loaded for someone who is your subscriber then resharing the comment will either bring thi

[2021-12-12 22:28] annando commented on #11089
@SpcCw The problems are lying in the database. I guess that your database is simply underperforming.

[2021-12-13 02:28] #10301 closed, assigned to MrPetovan

[2021-12-13 02:47] MrPetovan commented on #11091
I've fixed a typo, the expected key is `updated`, not `edited`, this must have resulted in a false positive log entry for every single inbound AP message.  @AlfredSK

[2021-12-13 06:25] annando commented on #10924
There is a setting one can set for their profile to reject direct access to the profile page. The setting causes this message. This is no bug.

[2021-12-13 07:49] SpcCw commented on #11089
@annando and @MrPetovan - thanks for your insights.

It seems that having the DB on another machine wasn't a good idea - I moved it on the same machine with the application and even though now it has about 4 times less resources these particular pages load almost 2 times faster. So I suppose it was all about added latency which was very little but still mattered the most in this case.

Thanks agai

[2021-12-13 07:49] #11089 closed, assigned to nobody

[2021-12-13 07:57] SpcCw commented on #11093
Also Hubzilla. As far as I know it used to have similar code with Friendica and polls are there for quite some time so maybe something can be picked up from there.

[2021-12-13 13:42] MrPetovan commented on #11093
I believe we have now diverged so much from Hubzilla that it's unlikely we would be able to pick much beyond the data structure of polls.

I trust @annando to create the necessary table and the protocol bindings, I could work on the frontend to render polls and results.

[2021-12-13 13:50] annando commented on #11093
I think that especially the data structure is something that we will develop on our own. But possibly the frontend work could be inspired by Hubzilla.

The plan is to first implement the processing of incoming polls (without even displaying them on the frontend). The the API can be implemented. After this is done the web frontend can be implemented.

[2021-12-13 19:28] #11091 closed, assigned to MrPetovan

[2021-12-13 19:51] MrPetovan commented on #11091
@AlfredSK please keep reporting the log notices with the message `published or updated keys are empty for activity`.

[2021-12-13 20:01] AlfredSK commented on #11091
Yes. I have pulled and will watch the log the next days.

[2021-12-13 21:58] AlfredSK commented on #11091
Weird. After I pulled again the error `index [ERROR]: Uncaught Exception TypeError: "Argument 1 passed to Friendica\Util\DateTimeFormat::utc() must be of the type string, null given, called in /var/www/html/libranet/src/Protocol/ActivityPub/Processor.php on line 290" at /var/www/html/libranet/src/Util/DateTimeFormat.php line 55` doesn't occur anymore. I had the error every couple of seconds. But t

[2021-12-13 22:20] AlfredSK commented on #11091
Some more examples:

[code]

[2021-12-13 23:04] bkil commented on #10382
@4nanook Your log shows a few gotcha's, not sure whether it is related:
* You have a 7GB video, but the field `size` in the table `post-media` is only 32-bit wide (i.e., up to 4GB)
* `url` and `preview` in `post-media`, `k` in `cache` (and basically everywhere else) a URL is limited to at most 255 characters, while your URL is ~270.

That's interesting, considering that a user supplied URI can be

[2021-12-14 00:31] 4nanook commented on #10382
So perhaps the size field needs to be increased to 64bits to accommodate the occasional full length movie video?  And with respect to request-line lengths, I'm not sure where this is to be adjusted, is this a php setting or an apache setting or something else?

[2021-12-14 01:25] bkil commented on #10382
Well, in this case, the URL length is again a database schema limitation, but the devs will need to think about this first (and/or a little JavaScript based validation might also be nice).

As an admin, I don't think that you can do anything with it.

[2021-12-14 02:26] MrPetovan commented on #11091
The errors have been suppressed by #11092, we now use `now` if the published and/or updated keys are null, but the fact you're receiving messages with these null keys is still concerning.

Thank you for the latest batch of notices, it should be enough for @annando to look into it. I spotted some `diaspora:*` fields in MissKey messages, is it expected?

[2021-12-14 02:30] MrPetovan commented on #10382
Thank you for the suggestion, we do have such a mechanism to refer to many URLs throughout the database with the `item-uri` table, but we still are storing the URI in a VARCHAR(255) field in this table to enable search indices I believe.

[2021-12-14 16:28] #11094 closed, assigned to nobody

[2021-12-14 20:15] AlfredSK opened #11101 "Mastodon API broken - authentication doesn't work"
- [ ] I have searched open and closed issues for duplicates

### Bug Description

I discovered that Husky and Tusky cannot authenticate with my node running the current RC branch. I tried it with two different devices and two different nodes running RC. With stable it works.

### Steps to Reproduce

1.  Log out of your account in Tusky or Husky
2.  Try to re-authenticate the app
3.  You get an err

[2021-12-15 03:23] bkil opened #11102 "Allow export & move account when banning a user"
We could introduce a new account state in case someone needs to be banned due to code of conduct violations. This could improve confidence in the platform against fears of getting one's personal network tied to the instance lacking nomadic identities.

* The previous posts & media of the user would be hidden immediately and the user would no longer have a means to create more.
* The situation woul

[2021-12-15 13:06] PrWalterB opened #11103 "".well-known/host-meta is not accessible on your website. ""
Bonjorn !
I have a problem on my friendica instance, I have the message "https://amica.pascalnet.xyz/.well-known/host-meta is not accessible on your website. ", but when I click on the link, the page is accessible. And I don't know where is this host-meta file in my directory.
Thanks by advance for your help !
(ps: sorry for bad english I'm occitan)

[2021-12-15 14:48] tobiasd commented on #11103
When I'm following the link, then Firefox displays a warning about a wrong TLS certificate (clarmont-ferrand.org instead of amica.pascalnet.xyz). When the availability of the `host-meta` information is checked the call now fails and Friendica displays the error message in the admin panel.

The information in the `host-meta` "file" are generated when it is called from the web. It is no real file in

[2021-12-15 16:37] PrWalterB commented on #11103
This is weird... I don't have this problem, and I've tested on other computers and others IPs, they don't have this problem too. clarmont-ferrand.org is an other site of mine on the same VPS, but I don't understand why on some computers likes yours it doing that...
But thanks anyway !

[2021-12-16 12:33] utzer opened #11104 "Reshares end up on Twitter"
- [x] I have searched open and closed issues for duplicates

### Bug Description

When a Diaspora post is reshared this will also send out a tweet.

### Steps to Reproduce

1.  Enable/setup Twitter addon for your account
2.  Set that new posts go to Twitter by default
3.  Reshare a Diaspora post
4. See new cryptic Tweet on Twitter

Actual Result:
Reshare goes to Twitter.

Expected Result:
Reshare

[2021-12-16 13:01] MrPetovan commented on #11104
This is because Diaspora has no native reshares, it always creates a new post, which is mirrored on Twitter unlike the ActivityPub native reshares. Can you please confirm whether these reshares are distributed to your Mastodon followers or not?

[2021-12-16 13:33] utzer commented on #11072
I wonder it we could "just" output all theses posts in a view and then apply some filter to it? I mean I know that filtering would be possible, but the question is if the data available would permit to filter it again. That would act like a search function with a filtering afterwards.

It can all be confusing for users, but I wonder if there is anyone who sees the benefit to be able to find intera

[2021-12-16 13:37] utzer commented on #11104
I know this, it was like that in the previous version of Friendica as well, but there the reshares did not go to Twitter I think.

Yes, the Diaspora reshares are sent to Mastodon, I checked on my Mastodon account... that I just created to sometimes be able to see how my posts look over there.

[2021-12-16 13:39] MrPetovan commented on #11104
Ok, so it's the same issue, since we're creating a new reshare post as per Diaspora protocol, we have no way of knowing it was originally a Diaspora post that was reshared. So we distribute it to all the contacts, Mastodon and Twitter included.

How cryptic is the display on Twitter?

[2021-12-16 14:19] AlfredSK commented on #11101
Ok. After switching a node from stable to RC it doesn't work there as well. It has been working when the node was on 2021.09. After the upgrade to current RC 2021.12-rc I get the same error.

Can someone please add this bug to the 2021.12 milestone? @tobiasd or @MrPetovan ?

Thank you.

[2021-12-16 21:06] tio-trom commented on #10915
We use SSD too. But I didn't think of compressing the entire storage folder on the server, then grab it locally somehow. It will take too much SSD space tho....

But if I create an archive and send it to a new location, isn't the archive created on the server and then sent to a remote location?

[2021-12-16 21:08] tio-trom commented on #10924
@annando I am sure that profile didn't block mine. I am 100% sure of that. But I didn't see this error again so idk what was that....you can close this issue if you want, and I will get back to it if I see this again. Thanks for your input guys!

[2021-12-16 22:13] 4nanook commented on #10915
No, rdump compresses each block, then sends it across the net and writes it on the remote host.

[2021-12-17 07:03] ne20002 commented on #10998
As the OP I did a retest. At the moment I can register with a name like that.

The issue poped up on the initial registration on a freshly set up instance. I managed to work around the issue by setting FRIENDICA_NO_VALIDATION = true.
After registration everything works as expected.

As I as the OP can't reproduce the problem I think this issue should be closed.

[2021-12-17 08:09] #11101 closed, assigned to nobody

[2021-12-17 08:58] MrPetovan commented on #10998
Thank you for the follow-up!

[2021-12-17 08:58] #10998 closed, assigned to MrPetovan

[2021-12-18 07:18] ghost opened #11108 "Smiley button does not exist"
Although I have activated all smiley addons
![2021-12-18 08 03 56](https://user-images.githubusercontent.com/12480023/146632988-afa7b04c-0d24-4997-919e-b608977c545f.png)
I can't find a button when creating a post.
![2021-12-18 08 04 21](https://user-images.githubusercontent.com/12480023/146633014-27676a69-21c5-450d-b39d-346cb87133ce.png)

[2021-12-18 09:05] tobiasd opened #11109 "Admin Panel: Statistics broken"
- [x] I have searched open and closed issues for duplicates

### Bug Description

The statistics page in the admin panel is broken. My node says at the moment

with the `gserver` table containing some 13k lines. @annando [confirms](https://pirati.ca/display/ec054ce7-1261-bda2-b73b-fa0058939284) the brokenness.

### Platform Info

Friendica Version: 2021.12-rc 96a3991dfd83c3a5f35f6802d31444ab77469d

[2021-12-18 10:11] annando commented on #11109
The problem lies within the detection of a redirect. This means that the fix won't fix the problem immediately, but it needs the server detection to catch up. I'm not sure if this could take days or weeks.

[2021-12-18 10:49] #11109 closed, assigned to nobody

[2021-12-18 12:58] utzer commented on #11104
I am almost sure this is new, it was like that before, but was fixed I think. Maybe need to scroll through my Tweets to confirm.

[This](https://twitter.com/utzer/status/1470843658253791232) much.

[2021-12-18 14:21] nupplaphil opened #11111 "Migrate Drone to Woodpecker"
Some of us have already recognized this little nice alert:
![grafik](https://user-images.githubusercontent.com/379654/146643968-5ddc91f0-f7df-4b26-8966-d797b1070e51.png)

Drone distinguishes now between community and enterprise. You can read details here: https://docs.drone.io/enterprise/#what-is-the-difference-between-open-source-and-enterprise .

Additionally, there's no official Docker image fo

[2021-12-19 00:03] annando commented on #11111
What have I mentioned?

[2021-12-19 00:17] nupplaphil commented on #11111
I don't know where, but you posted a link in one of the PRs that Drone changed its license and there's a fork of it :D .. This was my starting point

[2021-12-19 18:42] bkil commented on #5212
* https://nequalsonelifestyle.com/2021/12/07/kyanite-beta2-updates/
* https://gitlab.com/HankG/mysocialportal/-/releases/kyanite_v0.1.2

* https://gitlab.com/HankG/mysocialportal

[2021-12-20 13:21] tio-trom commented on #10915
Thanks @4nanook ! It may be too much for me to do this for technical and resource reasons. I manage over 20 such projects on my server + 10 more websites, so I would need a solution for all of my files. At the moment the best solution is to grab the friendica files in incremental ways, to my local machine via SFTP. But it is slow indeed...because of so many files.

[2021-12-20 22:40] 4nanook commented on #10915
I have hundreds of customer websites, mail, as well as a number of such projects, hubzilla, nextcloud, etc.  What is nice about dump / restore is in the restoration phase you can select which file(s) or directory(ies) you want to restore, so I dump all the server partitions this way and then just restore what I need.

[2021-12-20 23:05] tio-trom commented on #10915
Sounds very interesting. If you have some links that may help me with this please share them.

[2021-12-20 23:41] 4nanook commented on #10915
Don't really have any links, this is a very old tool.
apt install dump or yum install dump or pamac install dump depending upon your distro.
man dump
info dump
installing dump will also install rdump restore rrestore and rmt, they all work together.

[2021-12-21 22:19] MrPetovan commented on #11111
Why can't we have nice things?

[2021-12-21 22:24] MrPetovan commented on #5212
Thank you for the links but I still need a source dataset, either real or randomized like @HankG (hi! 👋) used for his screenshot.

[2021-12-21 22:31] #11104 closed, assigned to nobody

[2021-12-23 15:09] ne20002 commented on #11027
I'l close this as it is not feasable so far .. I chose to work the other way around and limit access to local networks for a few paths (admin/settings). But it seems this is all that can be done here.

[2021-12-23 15:09] #11027 closed, assigned to nobody

[2021-12-23 15:28] tio-trom commented on #10915
Interesting. And how can it handle incremental backups?

[2021-12-23 23:21] 4nanook commented on #10915
Dump has a flag for incremental backups, I don't use it because when I restore restoration time is the ultimate goal so I prefer to
 avoid multiple iterations of restoration but it does have that capacity.

[2021-12-24 00:32] urbalazs commented on #11103
I had the same error message. This is my setup:
- Friendica server is available at 192.168.0.10 (from LAN) and myfriendica.com (from WAN).
- Accessing the server from 192.168.0.20 (from LAN) works fine, but the error message displayed. I also could click on `.well-known/host-meta` and the file is accessible (from LAN).

The problem was that my internet service provider changed my IP address and th

[2021-12-24 00:37] urbalazs commented on #11103
Same for me. Trying to access https://amica.pascalnet.xyz/.well-known/host-meta gives a TLS cert issue: the Let's Encrypt certification is issued for `mail.868center.xyz` but your Friendica instance is on `amica.pascalnet.xyz`.

[2021-12-24 10:42] ghost opened #11117 "Uninterrupted reading [feature request]"
Would it be possible that when the browser is reopened, the Friendica timeline is loaded in the browser so that you end up at the point where you last stopped reading and closed the browser?

[2021-12-24 11:20] MrPetovan commented on #11117
1. Yes it’s possible.
2. No it’s not easy to implement.
3. Use pagination instead of endless scroll since the browser will reload the same timeline page. This is what I use for mobile browsing because iOS reloads the same address (including the page number) when I come back from visiting an external link.

[2021-12-24 12:09] ghost commented on #11117
Thanks for the tip with the pagination

[2021-12-24 22:30] AlfredSK opened #11119 "API: Public timelines extremely slow because of DB query"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

I have the problem that the public timelines don't show any content in Mastodon compatible apps. When I try to refresh them I get a general network error - the client is running into a timeout.

There is nothing in my server log. The Apache access log is not showing anything no error message and also no success resp

[2021-12-25 09:59] AlfredSK commented on #11119
Comparison of the same query between `me` (UID 1) on venera.social and `me` (UID 2) on libranet.de. The difference is huge. Both nodes running on the same machine using the same DB server. The only difference I see is the size of the DB. venera.social is around 26 GB and libranet.de is around 94 GB.

**venera.social**
[code]

**libranet.de**
[code]

[2021-12-25 13:32] zeroadam opened #11120 "DBStructure drop ordering"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

When upgrading from one or two previous versions (perhaps a jump of one or two versions, i.e. 2021.2-dev to 2021.12-dev) I received an error when running the dbstructure update script. It was indicating some FK violations. After seeking help in the support forum @annando provided assistance and noticed I had several

[2021-12-25 17:49] ZwoVierZwo opened #11121 "Database Problem - Account cannot be created"
After deleting an Account an my own Instance - i cannot recreate this account.
There is always the message, that the account is already there but the account isn't in the account list.

maybe a bug in the delete function!

[2021-12-25 18:02] tobiasd commented on #11121
This is not a bug. You cannot re-use a once used user nickname. If the user did never interact with another account, you can remove the block from the `userd` table.

[2021-12-25 20:23] AlfredSK commented on #11119
I'll run a mysqloptimize on the DB to see if it helps with the performance.

[2021-12-25 21:32] ZwoVierZwo commented on #11121
Why can't I re-use the account? There is no logical reason for ...

[2021-12-25 22:03] AlfredSK commented on #11119
Ok. After running `mysqloptimize friendica` the very same query takes 0.058 seconds instead of 2 minutes. That's impressive but also concerning.

That helped a lot with the global public timeline. But the local public timeline still doesn't load in the apps. 🤔

[2021-12-26 00:37] MrPetovan commented on #11121
How about you ask if there's any logical reason for this behavior first?

[2021-12-26 04:48] annando commented on #11121
This behaviour is intended. Besides all the possible impersonating problems there is also the fact that at least Diaspora by intention does store an account key only once. Means: When an account name would be reused, then the there will be no working communication with - at least - Diaspora. If you consider this to be a bug, then please open an issue there.

[2021-12-26 05:19] annando commented on #11119
The local timeline is called with this parameter: `https://libranet.de/api/v1/timelines/public?local=true`

Since this is really fast on my both machines, please have a look at your system. And possibly you can run the slow query with `explain` to see where it is slow.

[2021-12-26 07:30] #11120 closed, assigned to nobody

[2021-12-26 10:05] ZwoVierZwo commented on #11121
Ok this is a good description but can this not be changed?
This would be the same if a cellular number cannot be used twice.
As I understand this main problem is a problem with Diaspora?

Ok MrPetovan this is my fault but I didn't thought that this could be real and this is really a bug.

Thank you for your patience 🖖🏻

[2021-12-26 10:05] #11121 closed, assigned to nobody

[2021-12-26 10:18] annando commented on #11121
If we would want to mimic the cell phone behaviour, then we had to introduce a grace period of a few months in which an account name can't be used again.

[2021-12-26 10:47] MrPetovan commented on #11121
It isn't just a Friendica problem. Your profile details are sent to remote servers that keep a local copy of it, including your public key which was randomly generated when you created your account. Since recreating an account, even with the same username, would create a different cryptographic key pair, remote servers running various software may or may not accept it based on the previous record

[2021-12-26 11:42] AlfredSK commented on #11119
The query for `https://libranet.de/api/v1/timelines/public` is super fast now and the page (JSON) is loading very fast - after I have optimized the database.

But when I access `https://libranet.de/api/v1/timelines/public?local=true` the page needs more than 3 minutes to load and the query is super slow:

[code]

**With explain:**

[code]

Sorry. No idea why Github is messing with the spaces in th

[2021-12-26 11:59] AlfredSK commented on #11119
Looks like it is using a temporary table for something (sort?) instead of an index. When I run the same `explain` on the database of venera.social (same db sever, same machine) the result looks different (no temporary table used, query is super fast).