[2020-12-29 09:13] Tuxi2020 opened #9718 "Automatic public welcome message to new users"
### Is the feature request related to a problem? Please describe.
No

### Describe the feature you'd like
It would be a nice feature if an automatic public welcome message could be created after a new user logs in. The content of this message should be defined by the admin in the backend.
Whether this feature is implemented in Friendica itself or as an addon should not matter?

[2020-12-29 09:19] MrPetovan commented on #9561
Still getting multiple emails as well, but the last long update of the photo table "only" generated a couple.

[2020-12-29 09:21] MrPetovan commented on #9465
Duplicate of #9525, fixed by #9526

[2020-12-29 09:21] #9465 closed, assigned to nobody

[2020-12-29 11:38] gravity-deleted commented on #9716
True that for example bugs or security issues take priority, but integrity must be ensured.

@MrPetovan
Where can you see this, I searched for it and found nothing. Neither in the timeline view nor in the direct link.

[2020-12-29 12:07] MrPetovan commented on #9716
When a post is edited, a line is added after the post content saying "This entry was edited (32 minutes ago)".

[2020-12-29 12:44] Singh-in opened #9719 "[frio] Blocking and unblocking users via the hovercard"
### Is the feature request related to a problem? Please describe.

Blocking or unblocking a user is complicated because it is solved via various steps. This creates unnecessary barriers that can be avoided.
Blocking a user who is not in the contacts is currently not possible.

The steps are:
- Call Contacts
- Search for the user to be blocked from the list of contacts and select him/her via "Show

[2020-12-29 15:20] SpcCw commented on #9719
I think it is totally possible to block someone not in your contacts, just to to their profile information from the hovercard and you can block them in "actions" on the top right. It takes two steps.

![image](https://user-images.githubusercontent.com/35988439/103294053-1f45f300-4a02-11eb-907b-1002e62183e5.png)

[2020-12-29 15:30] SpcCw opened #9720 "Numbers with dollar sign (such as money sums) get removed from reshares"
### Bug Description
If a post contains some figure with dollar sign (e.g. $50) and it gets reshared, this figure is missing from the reshare.

### Steps to Reproduce

1. Make a post and include some number with dollar sign:
https://friends.deko.cloud/display/d0446be5-185f-eb43-b6ba-454083538146

2.  Reshare the post and look at the reshare:
https://friends.deko.cloud/display/d0446be5-175f-eb43-c5a

[2020-12-29 17:06] MrPetovan commented on #9719
@SpcCw You're right, but it does prove @Singh-in 's point, it isn't user-friendly.

We're looking into the best place to add this feature. I like the idea of adding it to the posts dropdown list in the "More" link in frio but it may be added in the hovercard as well.

[2020-12-29 18:10] MrPetovan commented on #9720
I have a hunch it has to do with the tagging system, $ means something specific in Hubzilla if I remember correctly.

[2020-12-29 18:35] AlfredSK commented on #9250
2021.01-rc ;-)  PHP 7.4

[code]

Handled in https://github.com/friendica/friendica/pull/9722

[2020-12-29 18:54] AlfredSK commented on #9252
2020.12-rc PHP 7.4

`Undefined index: addr in .../mod/message.php on line 335`

Addressed in #9721

[2020-12-29 20:33] Singh-in commented on #9719
@SpcCw
you are right. Learned something again.

@MrPetovan
Since it is possible to add a contact on the hovercard, this seemed more consistent to me than in the dropdown list. But you are right. It is still more present there.

[2020-12-29 21:51] SpcCw commented on #9719
Yes, I agree that current way is somewhat counterintuitive. It suits me fine however having a button on the hovercard would be more organic and easier for people coming from other networks.

Just make sure it asks for clear confirmation before commencing block :)

[2020-12-29 22:02] SpcCw commented on #9698
@MrPetovan is there some reason to make reshare button one click (not asking confirmation)?

I get that we can undo reshares by clicking the button again and it seems to work fine so far but personally I do have accidental clicks and unwanted reshares sometimes make me nervous and checking my feed to confirm reshare cancellation.

I would certainly prefer having simple confirmation for this action

[2020-12-30 02:31] MrPetovan commented on #9698
Funnily enough Twitter used to have a 1-click approach to reshares but now two-clicks are nevessary.

[2020-12-30 05:57] SpcCw commented on #9720
@MrPetovan - to me it also looks like a problem with string processing as if $... isn't escaped somewhere and PHP treats it as variable. With $1 and $0 actual variable substitution happens.

Orig: https://friends.deko.cloud/display/d0446be5-125f-ec12-a24c-88a159977524
Reshare: https://friends.deko.cloud/display/d0446be5-865f-ec15-a699-bf2054885536

It seems to always take and try to substitute the

[2020-12-30 06:06] SpcCw commented on #9698
I can see how accidental resharing of certain content can be highly undesirable :)

Especially if you don't notice it soon enough.

[2020-12-30 08:44] AlfredSK commented on #9698
Well, when you hold your phone in the left hand your scroll-thumb is hovering exactly over the buttons. So every scroll action can lead to a like or reshare if you scroll a little too slow.

The reshare issue could be easily avoided if we would have only one reshare button. When pressed a little popup dialogue could show up directly at the button with two options 'reshare' and 'quoted reshare'.

I

[2020-12-30 13:23] MrPetovan commented on #9720
It seems more complicated than just variable interpolation from this: https://friends.deko.cloud/display/d0446be5-195f-ec12-b845-019684528110

Nice catch though!

[2020-12-30 13:30] SpcCw commented on #9720
Ups, I put the wrong link to original post! It was pointing to another reshare and got confusing. The correct link is https://friends.deko.cloud/display/d0446be5-125f-ec12-a24c-88a159977524 and I updated the previous comment.

[2020-12-30 16:03] gravity-deleted commented on #9716
What? Where?

Does this need to be actively enabled?

I have already tested it and tested again after you wrote this.

Nothing is displayed.

This would be a solution for now. Because then it would be visible at all that a change has taken place.

Version: Friendica 'Red Hot Poker' 2020.09-1 - 1369
Theme: Four - 1.2

[2020-12-30 17:26] AlfredSK commented on #9716
Example with frio:

![Screenshot_20201230-182411__01](https://user-images.githubusercontent.com/3656054/103370206-7f08d080-4acc-11eb-87f5-dae8e56ba42c.jpg)

[2020-12-30 19:19] urbalazs commented on #9252
2020.09-1, PHP 7.4.3

[code]
Addressed in #9735

[2020-12-31 00:25] tiotrom opened #9723 "Native reshares do not trigger notifications"
If I follow page A, and page A posts a normal post, I get the notification. But if page A post a native reshare, I do not get the notification.

[2020-12-31 00:25] ghost commented on #9252
2020.12-rc php 7.4
[code]
Addressed in #9727

[2020-12-31 08:19] #9249 closed, assigned to MrPetovan

[2020-12-31 10:52] Casuallynoted opened #9728 ""Missing database structure config file static/dbstructure.config.php" but file is present"
I've been doing searching around and haven't been able to find another instance of this issue. I just upgraded my friendica instance and it's giving me the error in the title. What's weird is that that file is right there where it should be and has all the stuff it should in it. I'm not sure what else to provide on this one, it's weird because it gives me the same error when trying to do DB update

[2020-12-31 10:57] annando commented on #9728
Possibly it is a file permission problem?

[2020-12-31 10:59] Casuallynoted commented on #9728
I tried setting the file’s permissions to 665, but still no dice. Should I try setting it to something different?

[2020-12-31 11:08] annando commented on #9728
I never heard of this issue, so I'm unsure how to fix it. Possibly it is a problem with the wrong base directory?

[2020-12-31 11:38] utzer opened #9729 "Notification improvement"
### Describe the feature you'd like

I would like an improvement in the notifications, I am not sure what is possible programming wise, so I just try to describe what problem I have.
In Frio that notification are now implemented to show one notification for each reply in thread, before it was one notification for the latest reply. I like to be able to look at alle the replies one by one so I don't

[2020-12-31 13:07] foss- opened #9730 "missing "back to top" element on macOS with scroll wheel mouse"
### Bug Description

Inconsistency with `Back to top` element not showing on macOS / Firefox when using scroll wheel mouse.

Element shows as expected when using touchpad (internal + external).

### Steps to Reproduce

1. Scroll down on squeet  me
2. Scroll up to trigger element

Actual Result:

Element not shown while it should be displayed as soon as users scroll up.

### Screenshots

![no back

[2020-12-31 16:33] Casuallynoted commented on #9728
What would I do if I wanted to change the base directory in the config without the site working?

[2020-12-31 16:40] annando commented on #9728
You can do all the stuff in the command line.

[2020-12-31 16:41] AlfredSK commented on #9728
Put something like this... into the `system` section of your `config/local.config.php` file:

`'basepath' => '/path/to/your/friendicafolder',`

[2020-12-31 18:06] tiotrom commented on #9723
It seems that native reshares do not even appear in the newsfeed...so they are basically invisible :P

[2020-12-31 18:41] #9568 closed, assigned to MrPetovan

[2020-12-31 18:47] annando commented on #9704
Can you document what you detected, including the log entries?

[2020-12-31 18:48] AlfredSK commented on #9723
When you reshare something yourself you see it in your 'home' stream (the house icon). Or am I getting you wrong?

[2020-12-31 18:58] AlfredSK opened #9733 "Hashtags that consist of numbers only do not work"
- [X] I have searched open and closed issues for duplicates

### Bug Description
Hashtags that consist of numbers *only* do not work.

Tags like `#abc2020` or `#2020abc` do work!

### Steps to Reproduce

1.  add a hashtag like `#2020` to your post
2.  click on preview or submit the post
3.  see that `#2020` is text only (no link to search)

Actual Result:
Hashtags that consist of numbers only are

[2020-12-31 22:13] AlfredSK commented on #9704
Looks like it's working...

[code]

But the value of `free` is questionable.

[code]

The 'free' memory is actually 1659 M and not 505 M. Also shouldn't we rather look for the 'available' memory instaed of the completely 'free' memory. Just wondering...

Edit:

Okay. That value changes too quickly for me. I am too slow to get this right. :-) The detected values are actually correct.

[2021-01-01 00:43] Casuallynoted commented on #9728
Ok so I did that and it seems to be giving a different error now!

[code]

[2021-01-01 01:23] AlfredSK commented on #9728
Oh! Docker. Sorry, that stuff is a blackbox for me.

[2021-01-01 01:58] MrPetovan commented on #9728
@Casuallynoted Do you know which source version do you have? Is `/Volumes/Docker/tmp/Friendica/` a local git repository by any chance? If so please run `git show` and report the output.

[2021-01-01 02:50] Casuallynoted commented on #9728
This is what I'm seeing atm when I run that-
commit 51c785f89c273d4d8ec45bea0a6ccecdc3abec5f (HEAD -> stable, tag: 2020.09-1, origin/stable, master)
Author: Tobias Diekershoff <tobias.diekershoff@gmx.net>
Date:   Thu Sep 24 15:24:20 2020 +0200

    Version 2020.09-1

diff --git a/VERSION b/VERSION
index 682a8d1fb..ed52ef786 100644
--- a/VERSION
+++ b/VERSION
@@ -1 +1 @@
-2020.12-dev
+2020.09-1
dif

[2021-01-01 04:12] MrPetovan commented on #9728
It looks like you have two conflicting version of the source tree on your machine. The `index.php` seems to be in version `2020.12-dev` while the `src/App.php` is still in version `2020.09`, which triggers the type error you are getting. Please run `git checkout -- . && git clean -df && git checkout 2020.09-1` in the Friendica root folder (`/Volumes/Docker/tmp/Friendica/`).

It will reset all the

[2021-01-01 04:38] Casuallynoted commented on #9728
Damn, that did it! 👍 Thank you so so much!

[2021-01-01 05:15] tiotrom commented on #9723
Yes you see your own reshare, but others won't. Others who follow you. That was my point about ;)

[2021-01-01 09:42] Singh-in commented on #8724
If an account is reported on Mastodon and the account is located on a remote server, then this server can be notified.
Does this message arrive at all? I tried this on 30.12.2021 and until today no message has arrived at the admin.

In light of the ongoing discussion within the EU, the problem needs to be addressed very quickly. Otherwise, the Friendica admin will probably get into bigger legal pr

[2021-01-01 12:07] #9728 closed, assigned to nobody

[2021-01-01 12:28] MrPetovan commented on #8724
Currently remote reports from Mastodon should be forwarded to Friendica nodes but we don't handle them yet as we don't even have any local reporting feature yet.

[2021-01-01 12:46] MrPetovan commented on #9251
@AlfredSK Can you please paste the content of this file around line 44 please?

[2021-01-01 12:48] AlfredSK commented on #9251
@MrPetovan  Oof. I'm on mobile only atm. I will try...

[2021-01-01 13:03] AlfredSK commented on #9251
Line 37-44...

[code]

Sorry. I don't get the line breaks right with my phone, SSH client and tmux.

[2021-01-01 13:48] MrPetovan commented on #9251
Nevermind, it’s what I have too, I just wanted to make sure ❤️

[2021-01-01 13:57] MrPetovan commented on #9251
Hum, I can't reproduce this specific error, I'll need the exact URL that triggered that error. I know it isn't possible from the error message alone but otherwise I'm looking for a needle in a haystack.

[2021-01-01 14:29] SpcCw commented on #9723
I can confirm this. I have multiple accounts on my server following each other. I just "native reshared" a fresh post then switched to another account and can't see it in the network stream.

However if I open first account's hovercard and click on "network posts" icon I can see the reshare just fine. I can interact with it and if I do (e.g. like it) it starts to appear in Network stream.

Update:

[2021-01-01 14:43] AlfredSK commented on #9251
Ha! I sometimes have an error with an empty $needle in $haystack or something... ;-)

But concerning that warning: I didn't saw it in the last days. I will have a look at my older logs later today.

[2021-01-01 14:52] MrPetovan commented on #9251
It's okay, it isn't urgent.

[2021-01-01 17:10] atasingorneq opened #9736 "Deny registration"
- [X ] I have searched open and closed issues for duplicates

### Bug Description

Registration on my server is open by approval. However, at the moment it is not possible not to approve the registration, because unfortunately nothing happens when I press the Deny button on the `/admin/users/pending` page. The contact remains in the list.

### Steps to Reproduce

1.  Activate registration after ap

[2021-01-01 17:29] AlfredSK commented on #9736
Hmm. I just denied a registration yesterday. I had no issue with it.

What theme and what browser/OS do you use?

How exactly did you deny the registration? There's the possibility the interact with every registration request individually and there's  the possibility to use the batch processing of registration requests.

[2021-01-01 17:40] atasingorneq commented on #9736
I tried with Firefox and Chromium on my Laptop and with Fennec on Android, and i tried with the batch processing and the idividually. Always with the same result.

[2021-01-01 17:44] AlfredSK commented on #9736
Ok. And what theme do you use?

[2021-01-01 17:46] atasingorneq commented on #9736
Oh sorry, I just forgot to write. I use Frio and have also tested it with Vier.

[2021-01-01 17:54] AlfredSK commented on #9736
Thanks. I just tried to reproduce it with an up to date 2020.12-rc.

Registered a new account (like a user would do it)
Went to admin/users/pending
Clicked on the "Deny" button (on the right side of the line)
Request is successfully denied
Request vanished from the "Pending" list

Tested with frio, Chromium/Linux.

[2021-01-01 18:03] AlfredSK commented on #9736
Since there have been some code changes in the area, I would refresh or clear the browser cache and then try again.

[2021-01-01 18:11] atasingorneq commented on #9736
Same result also with cleared browser cache ...

[2021-01-01 18:32] AlfredSK commented on #9736
Maybe it is useful to have a look at the browser console. If there is an error you should get some information there.

[2021-01-01 19:00] Casuallynoted commented on #9570
I'm not sure if this is related, but I'm finding that on my instance user profile pics that are gifs (say from Mastodon instances for instance) are broken and don't display the image. When following the image URL, I see this error:

Internal Server Error
Invalid photo with id 8.
[code]

[2021-01-02 03:22] MrPetovan commented on #9736
Like @AlfredSK I have tried to deny users on frio both ways (per registration and in bulk) and tested it to work. We definitely need more information about your own node. Can you please watch the Friendica log and the PHP/web server log while you're denying a registration?

[2021-01-02 08:59] SpcCw commented on #9570
@Casuallynoted - you can check that by downloading some of these problematic avatars and making some posts with them embedded (better to do it not on your server but make testing account somewhere else and add it to contacts). Then see if they show up correctly in your timeline when the test post arrives.

If they appear glitchy or not at all perhaps you will have to tune your imagemagic, check ou

[2021-01-02 09:13] SpcCw commented on #9729
There is issue #8247 which seems to be WIP and covers similar issues. Perhaps these two should be merged.

And yes, right now notifications are really easy to miss on active posts. I miss mentions all the time. Even with "Detailed Notifications" options on clicking just one clears all notifications from the thread and there could be many.

One of examples of nicely working notifications interface

[2021-01-02 11:32] #9736 closed, assigned to nobody

[2021-01-02 11:40] utzer commented on #9729
That is the case already in Friendca, so maybe it was already partly implemented in the soon to be released version.

Still I would like this to he improved so I don't have to click every notiifcation, I actually would like that additionally, but not sure how it could be implemented, so I just opened this feature request in the hope that someone adds some ideas.

Thanks for pointing out the  diasp

[2021-01-02 12:59] AlfredSK commented on #9251
Unfortunately, I don't have the old logs anymore. Logrotate has done its job. :-)
I checked the PHP logs of the last 5 days. Nothing about `htmlspecialchars`.

[2021-01-02 13:44] foss- commented on #9249
Fits in much better now. This is what it looks like for frio dark theme with blue highlight color:

![back to top](https://user-images.githubusercontent.com/5708172/103458464-d1cecc00-4d08-11eb-9598-05935cc8cda7.PNG)

[2021-01-02 15:55] SpcCw commented on #9729
Oh, I missed this change then. Last time I tried "Detailed Notifications" they were cleared per each post. Thanks for pointing this out!

Then the only thing I miss is ability to mark them as read one by one without actually reading them. This way it would be possible to quickly dismiss all clearly unimportant ones and concentrate on the rest. Usually I just open each in new tab.

I like your idea

[2021-01-02 16:43] Quix0r commented on #9538
@MrPetovan : The image is marked as public, I checked its settings.

[2021-01-02 16:43] Quix0r commented on #9538
Can you access the image directly? https://f.haeder.net/photo/11321985875fb2d51dacd11566303811-1.png?_u=210102044236

[2021-01-02 17:13] hoergen commented on #9705
Hmm those old posts are really annoying and my personal opinion that should be stooped before doing the release. Meanwhile i get several old posts on daily basis. And I am only following mabye 3-5 Peertube accounts.

[2021-01-02 18:17] tiotrom opened #9740 "Still get posts from an ignored Twitter user"
if I ignore a Twitter friend, then I can still see their retweets. Not sure about their tweets tho.

[2021-01-02 20:02] MrPetovan commented on #9538
This looks like a reduced size version, what about with a `-0` instead of a `-1`?

[2021-01-03 12:11] urbalazs opened #9743 "Many strings are not marked as translatable"
The following files contain many hard-coded strings. These are displayed in Admin -> Diagnostics, and they are not marked as translatable:

- https://github.com/friendica/friendica/blob/develop/view/templates/probe.tpl
- https://github.com/friendica/friendica/blob/develop/view/templates/webfinger.tpl
- https://github.com/friendica/friendica/blob/develop/view/templates/admin/item/source.tpl
- https

[2021-01-03 12:22] AlfredSK commented on #9252
Current 2020.12-rc PHP 7.4

[code]

[2021-01-03 12:23] AlfredSK commented on #9252
Current 2020.12-rc PHP 7.4

`PHP Notice:  Undefined index: adjust in .../mod/events.php on line 488`

[2021-01-03 12:42] MrPetovan commented on #9743
Hi and thank you for your report. Since these pages are mainly used for debugging, we haven't given them too much attention intentionally. Adding the admin left menu is also a nice to have.

[2021-01-03 14:08] urbalazs commented on #9743
It would be also nice to add some explanation texts to these pages: what are they used for, how to use them, examples etc.

[2021-01-03 14:27] MrPetovan commented on #9743
When I tackle this nice to have issue, I can probably add some info.

[2021-01-04 01:50] Casuallynoted commented on #9570
So interestingly enough, it shows up as a video when I embed it into the test instance's post and check my Friendica timeline. What should I do if that's the case?

Edit: Looks like if I post the same photo to my Friendica instance it has the same issue. Odd.

[2021-01-04 09:05] utzer commented on #9570
What was your test instance, I think Mastodon converts to Webm or so, hence it will be a video and not a gif anymore?

[2021-01-04 12:50] haheute commented on #8423
I remember it this way from diaspora: "User A, User B and 2 others liked your post: "Abcde..".
Maybe then it would be easier to find out which posts got liked by who.. ..but I am not sure.

[2021-01-04 15:46] utzer commented on #9729
How about reversing the sorting, oldest notification on top, as a optional setting?

[2021-01-04 15:53] Casuallynoted commented on #9570
Oof it was via mastodon. I'll try posting using another instance!

[2021-01-04 16:57] MrPetovan commented on #9729
Do you mind about notifications from 2016?

[2021-01-04 20:02] mikauskas commented on #9702
Happy New Year!
@annando I could help with documentation and translation to Lithuanian, but would like to make another suggestion first. There is a forum software called Discource. It is amazing, you can track changes of post edit and revert to previous versions, It automatically generates a preview of web sites and videos. It is opensource, if somehow could be possible to make a hybrid of Discour

[2021-01-04 20:10] utzer commented on #9729
No and this is why this reverse sorting should of course only be applied to the unread notifications in the list. Sorry about me leaving that part out. :-)

[2021-01-04 22:55] urbalazs opened #9745 "Video attachment is removed from the post after upgrading from 2020.09-1 to 2021.01"
### Bug Description

I had a Friendica version 2020.09-1 and a post that contained a video file. After upgrading to 2021.01, the video is missing from the post. If I login as the user who shared the post with the video and try to edit the post, the following error message is displayed in the _Browser_ tab of the edit widget:

[code]

### Steps to Reproduce

1.  In 2020.09-1, create a post and incl

[2021-01-04 23:19] urbalazs commented on #9252
Same notice in 2021.01. It happens when I click on the plus button to add a new event.

[2021-01-04 23:57] templis opened #9746 "DB Update Problems after Update from 2020.12 to 2021.03"
Hey, I got these errors on DB Updates after updating from 2020.12-dev to 2021.03-dev 1333:
I changed the key of #sql-ef22e_**** in paste-ouput, because I don't know if it's security concerning. :)

Did anybody else got such Problems and how do I fix this?

[code]

If I check DB Updates in Friendica frontend I get only this failure:
[code]

[2021-01-05 08:19] annando commented on #9746
By calling the update via "-f" you could override the update commands that remove duplicates. I'm not sure if this is the cause of the problem. I have to check how to manually call all the needed update scripts, but currently my time is slightly limited.

[2021-01-05 08:42] templis commented on #9746
I've done this before without the -f flag, but I thought that -f flag would do force the update job and fix the DB problems.
Failures are the same with or without -f.

[code]

right after that I've done this:
[code]

[2021-01-05 10:49] MrPetovan commented on #9745
Thank you for your report!

[2021-01-05 10:51] MrPetovan opened #9747 "[2021.03] PHP Fatal Errors"
Please report here any PHP Fatal error message obtained running the 2021.01 stable or 2021.03-dev versions.

Closes #9250

[2021-01-05 10:52] MrPetovan commented on #9250
Closed by #9747

[2021-01-05 10:52] #9250 closed, assigned to nobody

[2021-01-05 10:53] MrPetovan opened #9748 "[2021.03] PHP Warnings"
Please report here any PHP Warning message obtained running the 2021.01 stable or 2021.03-dev versions.

Closes #9251

[2021-01-05 10:53] MrPetovan commented on #9251
Closed by #9748

[2021-01-05 10:53] #9251 closed, assigned to nobody

[2021-01-05 10:54] MrPetovan opened #9749 "[2021.03] PHP Notices"
Please report here any PHP Notice message obtained running the 2021.01 stable or 2021.03-dev versions.

Closes #9252

[2021-01-05 10:55] MrPetovan commented on #9252
Closed by #9749

[2021-01-05 10:55] #9252 closed, assigned to nobody

[2021-01-05 10:55] MrPetovan commented on #9749
From https://github.com/friendica/friendica/issues/9252#issuecomment-754280638 by @urbalazs

[2021-01-05 10:56] MrPetovan commented on #9749
From https://github.com/friendica/friendica/issues/9252#issuecomment-753609103 by @AlfredSK

[2021-01-05 16:06] AlfredSK commented on #9745
@MrPetovan Oh! Do you remember that warning? That's the one I couldn't reproduce anymore and where my logs were already deleted by logrotate.

[2021-01-05 16:37] MrPetovan commented on #9745
Yup, but I don't think it's related to the attachment disappearance, it's specific to file browser display.

[2021-01-05 16:53] urbalazs commented on #9748
If I try to edit a post, the following error message is displayed in the _Browser_ tab of the edit widget:

[code]

[2021-01-05 16:54] urbalazs commented on #9745
The warning message is added to **PHP Warnings** in https://github.com/friendica/friendica/issues/9748#issuecomment-754759368

[2021-01-05 17:16] MrPetovan opened #9751 "File browser template warning"
_Originally posted by @urbalazs in https://github.com/friendica/friendica/issues/9748#issuecomment-754759368_

[2021-01-05 17:18] MrPetovan commented on #9751
@urbalazs Can you please share the names of your photo albums? It seems that this error message is related to the breadcrumb part of the file browser.

[2021-01-05 17:26] urbalazs commented on #9751
@MrPetovan I have two photo albums named `Falfényképek` and `Profilfényképek`. The video album has no name or it doesn't be displayed. I found now a hard coded string here: https://github.com/friendica/friendica/blob/develop/mod/photos.php#L929 (`<current year>`), it is also displayed as selectable album name, when I go to the compose page. It should be marked as translatable.

[2021-01-05 18:18] MrPetovan commented on #9751
It definitely should, thank you for the report. I've been asking about the album names because I can't reproduce this error message on both my nodes. Maybe the video album name is tripping the template.

[2021-01-05 21:05] annando commented on #9746
This `#sql-ef22e_1becdb` looks like some fragment from a failed database update process. AFAIK MySQL is creating such tables when - for example - you perform some optimize. So it could have happened that you performed an `optimize` - and at that time your database crashed. Then this fragment will possibly stay there. This table is most likely a copy of another Friendica table.

The table is not ne

[2021-01-06 07:25] 4nanook commented on #9666
Just curious is this dead?  It is still not scraping youtube video for me.

[2021-01-06 07:40] valvin1 opened #9753 "[2021.01] dbstructure update error"
- [x] I have searched open and closed issues for duplicates

### Bug Description

dbstructure update is not complete after upgrading from 2020.09 to 2021.01. I'm not 100% sure that these query come from 2021.01 because `bin/console dbstructure update` didn't show error.
I've seen when going in admin menu and then run `bin/console dbstructure update -f`

I've launched a post-update which i believed

[2021-01-06 08:24] utzer commented on #8363
I had a problem like this, but it worked breifly after deactivating the twitter add-on and reactivating it again. @wiwie can you try this?

[2021-01-06 09:03] wiwie commented on #8363
Did this happen to you recently?

I haven't encountered this issue for some time. This issue was created quite some time ago. So I think I'll close the issue for now unless you encountered it recently.

[2021-01-06 09:18] utzer commented on #8363
Yes, last week. But go ahead to close the issue, I need to open a new one for the embedding in general I think. For Twitter the solution was to briefly deactivated the Twitter add-on, but since I tried that I also didn't post any Twitter links myself. However I see plain Twitter links without previews coming from Diaspora.

[2021-01-06 13:50] MrPetovan commented on #9753
These look eerily similar to the errors reported here: https://github.com/friendica/friendica/issues/9746#issuecomment-754493833

[2021-01-06 14:49] valvin1 commented on #9753
yes you are right, i'll investigate if there is a way to clean what did optimze.

[2021-01-06 15:10] nupplaphil commented on #9753
I had similar problems during the update. I had to search for dangling entries in the database which caused the foreign key problems. In sum there were about 1.000 notify and items without proper contact references which I deleted.

[2021-01-06 15:46] MrPetovan commented on #9666
Have you tried just pasting the YouTube link in the post compose field?

[2021-01-06 18:43] elrido commented on #9753
Upgrading the docker container from 2020.09 to 2021.01, I encounter very similar errors:

[code]
These now repeat when I try to `php bin/console.php dbstructure update -f`. I'll try figuring out how to remove the dangling entries as suggested above.

Edit: Resolved for me using the following queries:

[code]

These depend on the which tables are reported in the errors and on the actual data and ma

[2021-01-06 20:45] gravity-deleted commented on #9716
Nothing is displayed in Theme **Four - 1.2**.

Presumably it is not costly to display that when the basic possibility already exists.

Thanks for the info though.

[2021-01-06 21:56] valvin1 commented on #9753
I think mysqloptimize isn't the one for this issue. it looks more it is related as mentioned by @nupplaphil to some inconsistency in database.
if i understand the first query it modifies some columns and add new foreign keys which were not there before. and here there are mismatched entries I need to find :( here there are contacts in items not presenet in my contact table.
it looks like i need to

[2021-01-06 22:00] nupplaphil commented on #9753
All of us having this problems are upgrading per docker.. Unfortunately, this sounds like a pattern..

[2021-01-06 22:06] valvin1 commented on #9753
i'm a bit dubitative of the container origin.
it looks like foreign keys was not present before so many possibilities could lead to inconsistencies. containers could bring runtime issues, upgrade issues but don't see how it could interact on data present in database.

[2021-01-07 12:15] valvin1 commented on #9753
here the queries I had to execute on my side (do not use if you are not sure what it does):

[code]

To get it I check all foreign keys and check if there was inconsistencies.

[2021-01-07 12:15] #9753 closed, assigned to nobody

[2021-01-07 13:32] templis commented on #9746
As mentioned in: https://github.com/friendica/friendica/issues/9753#issuecomment-756081396
I've deleted uri-id from diaspora-interaction. After this I got no more errors on update.
<code>delete from `diaspora-interaction` where `uri-id` not in (select id from `item-uri`);</code>

[2021-01-07 13:32] #9746 closed, assigned to annando

[2021-01-07 15:20] MrPetovan commented on #9716
I just checked and this doesn't show up on the `vier` theme, I'm going to add it at once.

[2021-01-07 16:01] #9716 closed, assigned to MrPetovan

[2021-01-07 17:27] annando commented on #9746
Thanks for digging into it! I just had a look at the update process. We don't have a check for this there. I will create a PR for this.

[2021-01-07 19:29] atasingorneq commented on #5755
Yes, a better display of the images would be nice ;-).

[2021-01-07 20:00] atasingorneq opened #9760 "Image Gallery"
[X] I have searched open and closed issues for duplicates

### Bug Description

In a post with multiple images, after clicking on an image, you should have a button at the bottom of the image to switch between images.

Like this:
![gallerie-3](https://user-images.githubusercontent.com/12498438/103937920-c70da000-5129-11eb-92d3-fd9b47c8f841.png)

But it looks like this:
![gallerie-1](https://user-i

[2021-01-07 21:24] #8363 closed

[2021-01-07 21:37] MrPetovan commented on #9698
Can you all please test the changes I introduced in #9756 to feel if it is enough to prevent most unwarranted reshares?

[2021-01-07 21:41] foss- opened #9761 "frio: mobile: align top icons and make spotlight icon fit in more nicely by using highlight color"
Few ideas to make the icons more consistent:

- [ ] make spotlight icon use highlight color in frio (currently it is white and sticks out very oddly)
- [ ] center all icons around middle of icon (currently looks as if the three dots for the menu left and right as well as spotlight icon are lower)
- [ ] spread icons accross top equally that will make it much easier to tap the intended icon on mobil

[2021-01-07 21:48] wiwie commented on #9698
I'll have to wait with testing until my admin updates his instance. I think he's usually rather quick though.

[2021-01-07 23:41] foss- opened #9763 "show number of contacts in groups and contacts not in any group in main contacts view"
### Currently

- `/network`: shows groups (123) where 123 is the number of unread posts in that specific group
- `/contact`: shows groups without number in bracket
- `/contact/123456` shows groups with (123) where 123 is number of contacts in a certain group + also shows `Contacts not in any group` as additional group

### Expected

- `/contact`: should also show number of contacts in certain grou

[2021-01-08 11:03] SpcCw commented on #9698
Just tried it and I like it a lot so far.
Thanks! Looks cleaner as well with less buttons.

[2021-01-08 11:31] foss- commented on #9698
For reference a screenshot of the reworked UI:
![new UI](https://user-images.githubusercontent.com/5708172/104010739-498b7380-51ad-11eb-8fd6-ed28e10da80b.png)

[2021-01-08 11:44] foss- opened #9764 "Theme: Frio: Mobile: dark / black schemes not respected / applied in left sidebar"
### Bug Description

Theme: Frio: Mobile: dark / black scheme not applied to left sidebar.

### Steps to Reproduce

Open Friendica on mobile and open the three dots on the left to open left sidebar view.

Actual Result:

![frio mobile left sidebar](https://user-images.githubusercontent.com/5708172/104011968-42fdfb80-51af-11eb-852b-f2c1960b3c07.PNG)

Expected Result:

Would expect that color scheme

[2021-01-08 14:10] MrPetovan commented on #9698
Thanks for your feedback, I consider this issue closed.

[2021-01-08 14:10] #9698 closed, assigned to MrPetovan

[2021-01-08 14:10] MrPetovan commented on #9764
Oof, nice find.

[2021-01-08 14:24] wiwie commented on #9698
This solution tackles accidental reshares.

Accidental likes are not considered an issue?

IMHO accidentally liking a random post could really give people the wrong impression about what kind of person one is. Same as reshares. Of course there is always the workaround to regularly check the personal tab.

[2021-01-08 14:38] foss- commented on #9698
Personally would not consider that a bug to tackle. If you scroll left or right of the like icon you should be fine. Been using friendica for a long time and have not run into this problem so far.

I do not think making the UI overly complicated to avoid such edge cases is in users interest.

[2021-01-08 14:48] wiwie commented on #9698
What keeps you from applying the same argument (scrolling left or right) to reshares?

[2021-01-08 14:50] MrPetovan commented on #9698
I don't think it's the same kind of deal. For example, Friendica doesn't provide a way to list all the posts an account has liked (or disliked), so the "exposure" is lessened.

Furthermore, I'd like to look into removing the like display for posts that aren't yours like Mastodon is doing. This would limit even more the exposure of a wrong like to the post author only.

Reshare buttons were placed

[2021-01-08 15:08] wiwie commented on #9698
Ok. The second argument is interesting. I wasn't aware that Mastodon is doing this. In fact I sometimes use the list of likers to identity interesting new contacts. This would then not be possible any longer?

Regarding the first argument: are likes not federated? I believe all my contacts get a copy of the post when I liked it? So I agree that it's lessened in that they cannot get the complete li

[2021-01-08 15:31] MrPetovan commented on #9698
You raise a good point, I know I'm getting posts my follows comment on, but I'm not sure I'm getting those they just like.

[2021-01-08 16:32] foss- commented on #9698
Iirc likes should be federated e.g. to Twitter. And I am certain that on Twitter followers receive info when a post is liked. I still am opposed complicating the like interaction.

@wiwie are you having the same issue if you are using Twitter (if you are not using it, would be interesting to give it a try and see if you are running into the same issue).

I am still unable to reproduce this issue.

[2021-01-08 16:36] MrPetovan commented on #9698
It depends, some are sent to your followers but not all.

[2021-01-08 18:07] AlfredSK commented on #9747
Let's get started again. ;-)

2021.01 stable, PHP 7.4

[code]
Addressed in #9780

[2021-01-08 21:49] valvin1 opened #9765 "Mobilizon event generates a strange post"
As we exchange [here](https://friendica.valvin.fr/display/7f2cc12a-815f-f762-12ed-3f8424380276) when a contact reshared a Mobilizon post it generated a post as if it was posted by me.

The message contains information about event and it looks like there is a feature in order I answer if I'll be present.

It looks the event is well parsed but having a message from me for this is very strange. It ap

[2021-01-09 05:12] MrPetovan commented on #9677
Security-related tasks are so touchy I already spent several hours working on this writing barely any code.

I realized I needed to add an extra key to the cookie data array and this requires to change how the cookie is set, I'll resume tomorrow with a fresh(er) mind.

[2021-01-09 19:21] wiwie opened #9767 "Frio: mobile: need to scroll up to top of timeline to see search input field"
Currently, when located somewhere down the timeline and clicking on the search icon in the top bar to bring the search input field up the input field is not visible as it is attached to the top of the timeline.

So in order to see the search field one needs to scroll all the way up the timeline.

This is a minor inconvenience, but I encounter it comparably frequently.

[2021-01-09 20:10] AlfredSK commented on #9698
@wiwie Oh! You are on my node. :-) I wasn't aware of that. I switched to develop today. The reworked share button is available now.

[2021-01-09 23:43] rabuzarus commented on #9413
I borrowed the feature from another theme. I guess it was `vier` but I can't remember exactly anymore.
I liked it because it is very friendly to the eyes when you want to read an article or post and doesn't want to be disturbed by aggressive colors of tons of links (urls, hashtags, mentions).
Remember that users can chose the link color as part of their customization and the most users doesn't do

[2021-01-10 00:14] foss- commented on #9413
My thoughts on this:

- we now offer light / dark / black theming in frio with highlight colors and the link color follows the highlight color (so we now have much better consistency, this will further improve when frio is default and users become more familiar with theme and highlight color, which mostly depends on how it is presented to users and there's some room for the UI settings currently)

[2021-01-10 00:26] rabuzarus commented on #9413
That's why you can have your mouse in the middle of the screen while scrolling. So the post you read does have link colors ;-)

[2021-01-10 05:00] Casuallynoted commented on #7732
Getting a lot of these as well in the docker image

[2021-01-10 13:55] Singh-in opened #9769 "Easier to read fonts"
### Is the feature request related to a problem? Please describe.

no Problem

### Describe the feature you'd like

The typeface of e.g. Mastodon and misskey is much clearer, more pleasant to read and also feels much easier on the eyes. Hence the question: would it be a good idea to achieve an alignment here?

### Describe alternatives you've considered

no

### Additional context

[2021-01-10 14:59] AlfredSK opened #9770 "Imported RSS feed items are somehow published, appearing on community page"
- [X] I have searched open and closed issues for duplicates

### Bug Description

Since a couple of days I see some weird RSS feed items on my (local) community timeline. The contact is of type 'RSS/atom', the transport is 'RSS/atom via DFRN'.

This looks wrong. I think they shouldn't appear there at all. Example...
https://libranet.de/display/0b6b25a813be11fe0fe04f5cd0c1a1d0f8564818

Some local u

[2021-01-10 16:50] rabuzarus commented on #7008
Personally I don't like the suggestions. Most of them leading to a behavior which was already implemented in former times and which frio has changed to improve the situation. But like always many improvements are some kind of personal taste

Frio introduced the "Preview tab" so user doesn't need to scroll for previewing short posts. And scrolling is rather annoying - especially in modals

This wou

[2021-01-10 17:46] rabuzarus commented on #9666
@MrPetovan just tried it but the embedded video doesn't show up.
While I can see the embedded video at https://libranet.de/display/0b6b25a8-125f-fb2e-3759-fa2761437272 there is only a youtube link when visiting the same post in my network stream

[2021-01-10 21:23] MrPetovan commented on #9767
Thank you for the report, I've had this experience as well, although it's been easier for me since I've been using the paginated results on the network page. But hey, it's a use for the Back to Top button!

[2021-01-10 21:26] MrPetovan commented on #9413
Gotta admit it isn't convenient, though. It feels like a workaround than an actual feature.

[2021-01-10 21:31] MrPetovan commented on #9769
The frio theme is using [Open Sans](https://www.opensans.com), do you happen to know what font Misskey and Mastodon are using?

[2021-01-10 21:34] MrPetovan commented on #9666
Hmm, interesting. Thanks for the added information, and welcome back to the Friendica GitHub pages!

[2021-01-10 21:35] 4nanook commented on #9666
I applied the recent updates and still video scraping not working for youtube.

[2021-01-11 07:07] tobiasd commented on #9747
[code]
Self-addressed.

[2021-01-11 07:15] tobiasd commented on #9769
From the CSS files Mastodon is using, it looks like [roboto](https://en.wikipedia.org/wiki/Roboto) disguised as mastodon-sans-serif or sans-serif for those who disabled embedded fonts.

[2021-01-11 12:31] foss- commented on #9767
Solution could be to extend search field above timeline so that no scrolling is needed to use it.

[2021-01-11 12:39] foss- opened #9774 "Improve action tooltips to explain contact actions to users"
Still struggling to understand what the contact options do. Hovering the mouse opens a tooltip on desktop. But the explanation is not helpful.

| Action | Tooltip Currently | Tooltip Expected |
|-------------:|-----------------:|------------------:|
|Block             |Toggle blocked status |TBD|
|Ignore            |Toggle ignored status  |TBD|
|Archive          |Toggle archieve status |TBD|
|Dele

[2021-01-11 13:10] SpcCw commented on #9413
For me it now feels like a feature :)
If there was setting to have this on (like now) or off (links always visible) I would stick with current behavior.

I used to think differently when I just started using Friendica though.

[2021-01-11 13:13] MrPetovan commented on #9413
Duly noted!

[2021-01-11 14:15] MrPetovan commented on #9747
Please pull develop again, I'm guessing this has to do with @annando 's work being spread between multiple PRs that got merged one by one instead of all at once which wouldn't have caused this error.

[2021-01-11 15:36] wiwie opened #9776 "Frio mobile: make it easier to mark all notifications read that are about X new comments for the same post"
Currently, if one likes or comments on a post, one receives one notification for each new comment. In order to mark these notifications read, one has to click on each one. This can be quite a tedious process.

Also, most of the time when I activate one of the notifications, I read not only that one comment, but several successive ones. Nevertheless, even though more comments have been read, this i

[2021-01-11 15:41] wiwie commented on #9776
This is definitely related to #9729 , I don't think it's a duplicate. Please let me know if you think it is, then I'll close this issue and merge novel points as a comment to the other issue.

[2021-01-11 17:45] rabuzarus commented on #9774
short note: This issue isn't Frio specific

[2021-01-11 18:10] haheute opened #9777 "post not appearing on diaspora"
- [x] I have searched open and closed issues for duplicates

### Bug Description

I have just [posted a picture](https://libranet.de/display/0b6b25a8-475f-fc89-2757-618471320385) and I'm always looking on my diaspora account, to see if it appears there. It doesn't. And it says only "remote server 75" where normally has a number > 250 or even 300.

### Steps to Reproduce

Post something public (i d

[2021-01-11 18:59] AlfredSK opened #9778 "Possible problem with user export"
I have observed PHP notices, warnings and fatal errors related to the user export. This happens on a regular basis. I guess it happens every time a user is exporting their data.

I'm not sure if the export is working nonetheless but the logged messages are concerning. That's why I opened a "question" instead of a "bug report".

You can see that PHP is running into an out of memory error. I raised

[2021-01-11 19:13] wiwie commented on #9767
My idea would be to insert the search bar at the bottom of the two top toolbar panels.

This way it would be shown over (> z index) the timeline. Which would lead to temporarily hiding a small portion of the timeline when the search button is pressed, but I don't think this would be a problem.

If I understood the layout correctly nothing else would need to be changed.

Oh wait, now I jinxed it. C

[2021-01-11 19:17] wiwie commented on #8985
Actually I tried this out back then but forgot to report back.

I didn't end up using this approach, because the standard approach to doing embeds like this turned out to be iframes. And I really dislike those.

So what I instead ended up doing was to parse friendica's API and custom bake a highly simplified UI of the posts on the other page. No comments, no like counter, no reshare counter. Just

[2021-01-11 19:18] #8985 closed

[2021-01-11 19:31] wiwie commented on #8421
I didn't forget about this issue and keep thinking about it once in a while, but haven't really come up with anything smart.

I do think that it's ok to have comments shown by default. But what annoys me about the current solution most is that it is not possible to hide all comments, not even by clicking a button. Toggling the existing button shows more than X or shows X comments. But X>0. If X=0

[2021-01-11 20:03] annando commented on #9747
@MrPetovan Yeah, in one of the PRs I forgot to push a commit that was then part of the following PR.

[2021-01-11 20:23] annando commented on #9777
Yeah, it seems as if there currently is a bug that prevents public posts to Diaspora in the develop branch. I had done some changes there, so I know who to blame :grinning:

[2021-01-11 21:11] #9777 closed, assigned to annando

[2021-01-12 05:33] tobiasd commented on #9774
Then the text will need to reflect the current state of the contact status I think, or the text will get really long.

As explanation: You can either have a contact blocked or not. When it is currently blocked and you use the button you switch the state to unblocked. If it is unblocked, you will block the contact using the button.

[2021-01-12 08:59] foss- commented on #9774
Understood and still I do not know what the implications are of either. Not sure if it is a problem if the tooptip is 1-2 sentences long. Yes it will be a long tooltip. An alternative would be to show an  ⓘ icon and hovering and or clicking that shows an explanation. That would then lead to quite some overlay levels which may feel odd (the options are a dropdown menu already.

Another option would

[2021-01-12 09:28] tobiasd commented on #9774
There is an [FAQ entry](https://github.com/friendica/friendica/blob/develop/doc/FAQ.md#what-is-the-difference-between-blockedignoredarchivedhidden-contacts) for blocked, ignored and archived contacts.

[2021-01-12 13:33] hoergen opened #9782 "Last post endless scrolling bug"
### Bug Description

When saving a post in an empty friendica folder and opening that folder. that one post is repeating forever. The same ist happening for the last post of a timeline (if there is really no other post)

### Steps to Reproduce

1.  Create a folder and
2.   save a post into it
3.  open folder
4. scroll down
5. keep scrolling
6. you can do it

### Actual Result:

Eternal repetition

[2021-01-12 14:49] Singh-in commented on #8724
This case shows that Friendica is not only used by friendly people. Therefore, the basic features and requirements should be described and implemented.

https://framagit.org/tom79/fedilab/-/issues/498
https://f-droid.org/en/2019/07/16/statement.html

[2021-01-13 01:16] 4nanook opened #9784 "Problem Updating Develop Version"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

### Steps to Reproduce

When I go into the admin page I see:

A new Friendica version is available now. Your current version is 2020.12-dev, upstream version is 2021.03-dev

I am running the develop release.  I used the steps outlined on the community forum to update:

cd path/to/friendica
git pull
bin/composer.phar

[2021-01-13 05:31] tobiasd commented on #9784
Can you have a look into your admin panel for the version number that is displayed there?

The version from the repository is fetched by the background process. This is then compared to the local version when you call the admin panel. So if the version number of your local system is not updated to 2021.03-dev then there might have been a problem during the `git pull`. Maybe some local changes that

[2021-01-13 05:33] 4nanook commented on #9784
Actually, a PHP update today broke my PHP environment and php is randomly
core dumping so right now I'm going to chase that down before I continue to
troubleshoot friendica.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script rea

[2021-01-13 12:08] Extarys opened #9785 "Exploration: Upload pictures, videos to pixelfed, peertube"
Disclamer: I don't use friendica that much, but I want to fix this and I'm planning on deploying an instance soon(tm) and make or improve themes. :smile:

### Is the feature request related to a problem? Please describe.

Non centralized pictures and videos on the fediverse. Pictures are in friendica, mastodon, pixelfed, etc. This would use the best platform for each media type and make friendica

[2021-01-13 16:12] 4nanook commented on #9784
After fixing my PHP environment, I did a git pull and it told me it would not overwrite index.php which it thinks I had changed.  I don't remember changing it, so I copied index.php to index.save and did a git reset --hard and then a git pull and then was able to finish the update.  After which I diff'd the index.php and index.save, there were changes but they weren't changes I made.

[2021-01-13 16:12] 4nanook commented on #9784
I'm all good now, so closing.

[2021-01-13 16:12] #9784 closed, assigned to nobody

[2021-01-13 19:08] andyrufasto commented on #9438
![image](https://user-images.githubusercontent.com/44651310/104497621-a372ab80-55a8-11eb-9625-276a4d398fde.png)

Vier mobile : not responsive design on videos.

[2021-01-13 19:40] AlfredSK commented on #9438
Umm. That's 'vier' not 'frio'.

[2021-01-13 20:07] SpencerDub commented on #9215
Upgrading to v2021.01 resolved this; the contact request properly propagated. No idea what changed, but hey, :+1: !

[2021-01-13 20:07] #9215 closed, assigned to nobody

[2021-01-13 22:23] 4nanook commented on #9666
![video-scraping](https://user-images.githubusercontent.com/3466797/104517390-c0a87980-55aa-11eb-83ad-88c87a7953df.png)
There is a video shot so you can see how a youtube link currently looks.  This is with the most current Friendica updates.

[2021-01-14 02:02] MrPetovan commented on #9666
Interesting, I have no idea where the downward arrow comes from, is it a vier-specific display?

[2021-01-14 03:04] Stratus3D commented on #9649
I am having the same issue as @xanathon. I am trying to install Friendica on a shared hosting account and am getting the infinite `/install/` redirects that prevent me from completing the installation. My environment:

Apache/PHP/MySQL.

PHP info:

[code]

I know mod_rewrite works on my host as well because I use it for my other static and PHP websites. I have also copied `.htaccess-dist` to `.hta

[2021-01-14 03:16] Stratus3D commented on #9649
Odd. I thought my browser might be doing something strange, so I tried curl and the request worked. Switched back to the browser and it started working. I think my browser must have cached something from when before I had copied the `.htaccess` file.

[2021-01-14 04:37] 4nanook commented on #9666
I tried changing to smoothy and still same down arrow displays.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not telephone trees or script readers.
  See our web site: http://www.eskimo.com/ (206) 812-0051 or (800) 246-6874.

On Wed, 13 Jan 2021, Hypol

[2021-01-14 07:49] xanathon commented on #9649
I gave up on Friendica. Most of these Fediverse projects are way too cumbersome and way too user-unfriendly. After solving the infinite redirects a lot of other problems did arise. This is a ptity since alternatives to Facebook and other company-owned social media are sorely needed. But as long as this installation is not easy and the support ist not really helpful this will go nothing. I had simi

[2021-01-14 13:13] hoergen opened #9786 "Blocking of reshares doesn't work"
## Bug Description

I tried to block a reshare (Diaspora) on user level and on admin level, but none of it worked.

### Steps to Reproduce

Philosophical answer: I can't reproduce, that is producing nothing.

### Screenshots

Imagine reshares, you don't want to have in your timeline

### Platform Info

Friendica Version: develop
Friendica Source: git
PHP version: 7.4
SQL version: mariadb latest.so

[2021-01-14 13:32] hoergen commented on #9705
Ok, after monitoring it for a while I think the issue is really solved and I am now officially closing this issue.

[2021-01-14 14:37] Stratus3D commented on #9649
Overall the installation went fine for me, and this issue was due to a mistake I made. I later finished setup and now have a nice working friendica instance. I do hope in the future UI gets more friendly so I have an easier time onboarding people, but I'm really thankful this project exists as it has saved me a lot of time already.

[2021-01-14 15:24] Singh-in commented on #9769
I could not find any reference in the documentation. However, I keep coming across Roboto as a font

`@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Mono:400";/*!* Font Awesome Free 5.1.0 by @fontawesome - https://fontawesome.com`

[2021-01-14 16:13] Extarys opened #9787 "[Discussion] UI improvement"
I'm new to friendica but I'm trying to convince some friends to ditch faceb00k or at least also have an account on the fediverse, but the overall experience is less optimal than big corpos social media right now - they say it feels less approachable. I want to address that the best I can. I'm mainly on matrix and I don't have a friendica instance yet (I should probably register an account somewher

[2021-01-14 16:52] bkil commented on #9714
Rewording `Ignore` to `Block` may also make it more in line with the competition.

[2021-01-14 17:17] Extarys opened #9788 "Support postgres PDO"
### Is the feature request related to a problem? Please describe.

I mostly use postgres and play with yugabyte. Having to also use mariadb takes more server resources and seems conterproductive.

### Describe the feature you'd like

Like hubzilla, add a setting on the setup page to switch to postgres.

### Describe alternatives you've considered

Rent a larger VPS to accommodate MariaDB?

### Add

[2021-01-14 17:30] rabuzarus opened #9789 "Frio: undefined Variable when searching for non existent hashtag"
### Bug Description

Searching for a hashtag which doesn't exist on the instance outputs `undefined` in Frio as result.
I guess it's because of an undefined js variable.

Expected Result:

If there are no search results the output should be rather something like "no results" than "undefined"

### Platform Info

Friendica Version:
2021.01

[2021-01-14 17:31] rabuzarus opened #9790 "Frio: undefined Variable when searching for non existent hashtag"
### Bug Description

Searching for a hashtag which doesn't exist on the instance outputs `undefined` in Frio as result.
I guess it's because of an undefined js variable.

Expected Result:

If there are no search results the output should be rather something like "no results" than "undefined"

### Platform Info

Friendica Version:
2021.01

[2021-01-14 17:45] AlfredSK commented on #9790
Duplicate of #9789 ;-)

[2021-01-14 17:51] rabuzarus opened #9791 "Frio: back-to-top button doesn't appear as expected"
### Bug Description

You can scroll down and down and down but the "back-to-top" button doesn't appear at the right bottom corner of the screen. You have to scroll a little bit upward an the "back-to-top" button does appear.

Expected Result:

The "back-to-top" button should appear after some time while scrolling down

### Platform Info

Friendica Version:

2021.01

[2021-01-14 17:51] rabuzarus opened #9792 "Frio: back-to-top button doesn't appear as expected"
### Bug Description

You can scroll down and down and down but the "back-to-top" button doesn't appear at the right bottom corner of the screen. You have to scroll a little bit upward an the "back-to-top" button does appear.

Expected Result:

The "back-to-top" button should appear after some time while scrolling down

### Platform Info

Friendica Version:

2021.01

[2021-01-14 18:00] AlfredSK commented on #9791
That's the intended behavior to prevent the back-to-top from blocking UI elements e.g. when commenting it would cover the submit button on mobile. It's not ideal tho...

[2021-01-14 18:01] AlfredSK commented on #9792
Duplicate of #9791
@rabuzarus Seems like you're creating every issue twice.

[2021-01-14 18:17] #9792 closed, assigned to nobody

[2021-01-14 18:18] #9790 closed, assigned to nobody

[2021-01-14 18:36] MrPetovan commented on #9791
Like @AlfredSK said, this is intended not to cover anything at the very bottom of the page.

[2021-01-15 01:22] Extarys commented on #9378
If I try to fix this, how can I test it?

[2021-01-15 09:10] SpcCw commented on #4755
The problem still persists as invite e-mails are sent with "from" address identical to "to" address. The mails do get through but many e-mail providers mark them as spam and some email servers will reject it outright.

Here's how it looks on Gmail for example. Not very inviting :)

![image](https://user-images.githubusercontent.com/35988439/104705168-adbcb300-572a-11eb-8c5c-dfb989bb34a0.png)

[2021-01-15 09:21] utzer commented on #4755
Bounced email looks like this:
[code]
*** where the same user part in each place.

Header of a test mail:
[code]
In case of yahoo rejected mail I think that the user and the invitee both are at yahoo.com.

[2021-01-15 12:01] Extarys opened #9795 "Add phone number (and it's privacy setting)"
### Is the feature request related to a problem? Please describe.

Contacts should be able to have a phone number. They already have an address so why not? :P

### Describe the feature you'd like

A way for a person to add (at least) one phone number and the ability to set it's privacy (Only Me, Friends, Followers, etc)

### Describe alternatives you've considered

### Additional context
I'd like

[2021-01-15 13:10] Extarys commented on #5785
Since #5818 is closed, what is left to do here? If someone have time to explain what needs to be done maybe I can help.

[2021-01-15 14:00] Extarys opened #9796 "Update package dependencies [Security, performance, ease of use]"
### Is the feature request related to a problem? Please describe.

The project is using older dependencies. It might be a good idea to switch the the new major version for some of them.

### Describe the feature you'd like

- [ ] Update `fxp/composer-asset-plugin 1.4.6` to `foxy/foxy 1.1.0` and configure it if needed
  - This let devs manage npm dependencies with NPM/Yarn and is compatible with Co

[2021-01-15 14:05] MrPetovan commented on #9786
Did you block the reshared author or the resharer author?

[2021-01-15 14:14] MrPetovan commented on #9649
@xanathon You're free to do whatever you want, but do you realize that this statement is a circular dependency, which probably explains why it didn't happen yet. If you don't donate resources projects need to improve because they haven't improved to your level of satisfaction, then it reduces the chances of them reaching that level om their own, and your subsequent donation would be superfluous si

[2021-01-15 14:20] MrPetovan commented on #9788
Thanks for the issue, it is a duplicate of an old one: #699

Long story short, Friendica was designed for the MySQL dialect, and we're currently working at abstracting the database layer to allow using PostgreSQL instead of MySQL/MariaDB, but given the sheer amount of literal queries in the code it is a long and painstaking process that fixing bugs and adding exciting new features usually overtake

[2021-01-15 14:20] #9788 closed, assigned to nobody

[2021-01-15 14:21] #9764 closed, assigned to nobody

[2021-01-15 14:24] MrPetovan commented on #9378
Thanks for offering! The way you can test this is by clicking on the quote-share button, and bringing up the preview in the compose modal/form. This has to be done with each separate theme activated for your test account.

This also means you need a Friendica instance for which you can edit the files.

[2021-01-15 14:29] MrPetovan commented on #9795
This is already available with the Custom Profile Fields. However, private profile fields will not be accessible to anyone not using Friendica as we don't have a way to authenticate them when viewing your profile.

We have removed several overly-specific profile fields in favor of the Custom Profile Fields feature, and the reason we are keeping the detailed (but optional) address fields is to offe

[2021-01-15 14:31] MrPetovan commented on #5785
Someone™ needs to test that the bookmarklet works as intended now.

[2021-01-15 14:35] MrPetovan commented on #9796
Thanks for bringing this up, I usually update all the Composer libraries just before a release but I forgot to do it for the last one.

That said, I already looked into it when we got the first report of Composer 2 incompatibility and unfortunately Foxy isn't a drop-in replacement for the Composer Asset Plugin. It introduces using npm or yarn locally which I'd never have to do before and I'm compl

[2021-01-15 14:38] xanathon commented on #9649
Nope, it isn't. To get helpful and friendly support would have been enough. Instead of that I regularily get "if it does not work, help coding", even here, were a feature stated as finished does not work at all (confirmed). That does not only sound arrogant, it actually is. Projects where developers act that way cannot expect donations from me, be it time or money. There are lots of other OSS proj

[2021-01-15 14:46] annando commented on #9649
Open source project require work from the users as well. Also people working on these projects are often developer, consultant and supporter in a single person. This means that time is really limited - which is much more true since this is all done in the spare time. Over the years working at this project I made the experience that the people of Friendica (users, administrators and coders) are a c

[2021-01-15 14:46] MrPetovan commented on #9714
I agree, can you please [weigh in the issue #4960](https://github.com/friendica/friendica/issues/4960) on what `Ignore` should imply in terms of Friendica behavior ?

[2021-01-15 14:51] MrPetovan commented on #9787
Thank you for opening this issue. I would like to very strongly discourage the creation of a new theme. I'm not sure how @rabuzarus pulled this off mostly on his own for Frio, but we're probably looking at several hundred hours of work to create a new working consistent theme for Friendica. Most of the current themes have been variations of the initial one, with Frio being the latest notable and w

[2021-01-15 14:52] Extarys commented on #9796
If you tell me how I can make a PR to at least update jquery to the latest version or something. I tried but I'm not familiar with Composer (I use npm/yarn :laughing: )

I read that foxy can use the same package.json file and might just need some tweaking, but it does require nodejs and npm (or yarn). Installing and updating javascript specific libraries would be easier I think. But I hear you, if

[2021-01-15 14:58] MrPetovan commented on #9769
I do not mind changing the font to Roboto as the license is equally permissive, but I do feel like it's a purely aesthetic question we should submit to the community. [The Popular Pairings section of the official Roboto font page](https://fonts.google.com/specimen/Roboto#pairings) allows to quickly switch between Roboto and Open Sans and I must admit I personally prefer Open Sans for its greater w

[2021-01-15 14:58] Extarys commented on #9795
Interesting.

To make sure, custom fields only appear/work on friendica instances then? (Which is awesome no matter what)

I guess the phone number and other specific information could be implemented only on the front-end and make the process use a custom field in the background. My main goal was to eventually add the option on the contact page to list phone numbers and addresses of friends and fa

[2021-01-15 14:59] Extarys commented on #9788
I'm sorry I didn't find that issue earlier (I swear I search for postgres, but not postgresql oops)

Yeah I saw some work being done to change some classes, etc. I guess it will eventually get there. Thanks!

[2021-01-15 15:00] MrPetovan commented on #9649
@xanathon Well, you were right about one thing, it did sound arrogant.

[2021-01-15 15:10] Extarys commented on #9787
I know, I can't believe how hard it is (I played with the idea yesterday, hot damn!)

I made a [post on the forum](https://nerdica.net/display/a85d7459-2160-01aa-69e6-add608831768) about it but I'll say it here to keep track. I'm more familiar with vuejs and it would require way less time to make a theme if we wouldn't need to rely on php to inject code and all (not good with some technical terms,

[2021-01-15 15:13] Extarys commented on #9378
Thanks.

I was testing friendica on my computer to code as it's easier. I might get a VPS soon on OVH to install this and matrix. I might be able to work on this at that point, as my local installation doesn't have a domain name associated with it and I want to avoid exposing my IP address publicly and take the unnecessary risk.

[2021-01-15 15:16] MrPetovan commented on #9796
Thank you, I don't think we can safely update from jQuery 2 (the currently locked version) to 3 without an extensive impact/migration analysis.

As for Composer, we are bundling the latest 1.* version of the executable in `bin/composer.phar` in the Friendica repository. So you can replace `composer` with `bin/composer.phar` in your commands to use the version-approriate executable.

[2021-01-15 15:18] MrPetovan commented on #9795
No, only private custom fields are Friendica-specific. Public custom fields are available to anyone regardless of the software they use.

[2021-01-15 15:19] MrPetovan commented on #9788
I did the same mistake, looking for `postgres` first didn't yield any result for me. I guess I should add this keyword in the mentioned issue.

[2021-01-15 15:20] Extarys commented on #9795
Okay, thank you for the explanation.

[2021-01-15 15:22] #9795 closed, assigned to nobody

[2021-01-15 15:23] MrPetovan commented on #9787
Now, while a new theme is probably out of reach, a VueJS frontend is entirely viable. Friendica exposes several API endpoint that a rich client can leverage: https://friendica.mrpetovan.com/help/api

And if any is missing, adding new API endpoints is way less expensive development-wise than new templates/modules.

[2021-01-15 15:25] MrPetovan commented on #9378
I believe you can still test this particular issue with a local installation even with no federation features by accessing it from `localhost` for example. You don't even need a running worker!

[2021-01-15 15:50] Extarys commented on #7557
Normal:
![image](https://user-images.githubusercontent.com/11581433/104748043-40575500-571f-11eb-8bd2-9b5cd92fd39d.png)

Hover:
![image](https://user-images.githubusercontent.com/11581433/104748117-55cc7f00-571f-11eb-86d3-d5d011a1c53f.png)

Opacity: 0.4
Grayscale: 0.2

I also increased the opacity of the action buttons from 0.3 to 0.4 to match. I find the tags too dim at 0.3 and I like consistency

[2021-01-15 15:51] Extarys commented on #9378
Oh :facepalm: yeah nevermind I have multiple test accounts.

[2021-01-15 16:00] MrPetovan commented on #7557
What's the grayscale value you're using?

[2021-01-15 16:01] Extarys commented on #7557
@MrPetovan Sorry refresh the page please, I made a lot of screenshots with all the values

[2021-01-15 16:18] MrPetovan commented on #7557
No, I mean, is it a CSS attribute?

[2021-01-15 16:24] Extarys commented on #7557
Yes it is. There you go:
[code]

[2021-01-15 16:24] xanathon commented on #9649
Either you want new users for Friendica and the Fediverse or not. It seems the answer is: or not. Zuckerberg will be quite happy about it, because that way the majority of users will stay with Facbook and similar questionable platforms. Good luck with Friendica, you will need it.

[2021-01-15 16:34] MrPetovan commented on #7557
Thanks, how's the browser support?

[2021-01-15 16:37] MrPetovan commented on #9649
That's a lot of words to tell people you weren't helping before that you won't be helping them in the future.

[2021-01-15 16:40] Extarys commented on #7557
![image](https://user-images.githubusercontent.com/11581433/104753681-54eb1b80-5726-11eb-8d17-981629f24284.png)
I don't think it matter that much, as the filter won't be applied on unsupported browser and it's mainly an "eye candy". I wouldn't compare it to a feature that breaks and render a part of the app unresponsive or unusable on older browser.

[2021-01-15 16:42] Extarys commented on #7557
Wait, wrong filter, the previous one was for SVG.

![image](https://user-images.githubusercontent.com/11581433/104753976-b3b09500-5726-11eb-8eb8-9fe2d07d1876.png)

I'd say it's better :laughing:

[2021-01-15 16:55] MrPetovan commented on #7557
Excellent, it looks good technically, I'll leave other people the opportunity to comment on the aesthetics.

[2021-01-15 17:24] annando commented on #7557
I like that greyish look!

[2021-01-15 17:42] hoergen commented on #9786
I blocked the reshared author.

[2021-01-15 18:35] Extarys commented on #7557
@annando Thanks for commenting. You mean the last image with `Grayscale: 0.6 Opacity: 0.8` ?

[2021-01-15 19:09] MrPetovan commented on #9786
Thanks for the clarification!

[2021-01-15 19:20] Extarys opened #9797 "ping.php returns read notifications"
### Is the feature request related to a problem? Please describe.

`ping.php` is called every ~40 seconds. I noticed that it returns an array for the notifications (both read and unread). On my nerdica account, I have 5 notifications, all have been read. Still, the ping returns an array with all 5:
(Truncated with a single notification, just to show)
[code]
Just for fun, here's how I see it (yeah

[2021-01-15 19:28] MrPetovan commented on #9797
Thank you for this suggestion. To answer your points, the notifications aren't loaded with the page itself, but we do call the ping routine once the DOM is ready to fetch the full list of notifications. From then on, the full list is used to update the display of read notifications and receive new unread ones, so there is room for improvement from this naive but robust implementation.

[2021-01-15 20:43] annando commented on #7557
Yes

[2021-01-15 20:52] AlfredSK commented on #7557
Dunno. :-)

Seems to be not grey enough.

Seems to be too grey.

But maybe I just need to see it in action to decide which one looks better.

[2021-01-15 21:56] Extarys commented on #7557
@AlfredSK I guess `Opacity: 0.8 Grayscale: 0.5` which is in the middle of both. And we can test in the develop branch how you folks like it if it's what you are running. It's quite trivial to change so we can just do another PR along the way.

[2021-01-15 22:16] Extarys commented on #9791
On mobile, at the very bottom of the page we could literally add "Back to top" with a small arrow and make the current arrow show slightly upward to not bloat the ui. On desktop the arrow could be there as soon as you scrolled past the first or second post. I would make the arrow better looking though :thinking:

[2021-01-15 22:29] Extarys commented on #7557
Might revisit this when I tackle #9769
Maybe explore with no fading black text in the post itself, etc. I'll discuss this on that specific issue when I get there :stuck_out_tongue:

[2021-01-15 22:33] Extarys commented on #9769
Without changing font (as I also love Open Sans) maybe put the text of the post black instead of gray would help a lot.

[2021-01-15 22:43] #7557 closed

[2021-01-15 22:46] MrPetovan commented on #9769
On Frio the font color is a touchy subject as the accented schemes should also be considered, but I'll take any suggestions.

[2021-01-15 22:54] MrPetovan commented on #9791
It wouldn't work with the infinite scroll users can enable on the network page.

The current behavior has already been the subject of a pretty intense debate and I'm not feeling like reopening it once again. We currently do not have enough frontend-savvy contributors for me to avoid having to implement any subsequent change we would somehow decide.

And while I can work on the frontend, this isn't

[2021-01-15 23:06] rabuzarus commented on #9791
Although this behavior does feel very alienated to me there has already been some discussion about this issue. So I close it.

[2021-01-15 23:06] #9791 closed, assigned to nobody

[2021-01-15 23:21] rabuzarus opened #9799 "The Archiv widget shows more years/months to chose than the user is active"
### Bug Description

There seems an issue with the Archiv widget. It shows more years/months to chose than the user is active.
E.g. https://nerdica.net/profile/xthanys/status is active since 2021 but the Archiv widget shows dates back to 2016

### Friendica Version

2021.01

[2021-01-15 23:24] MrPetovan commented on #9791
Thanks, I believe you will get used to it as I had to get used to it myself, even though I personally made it work the way it is now.

[2021-01-16 00:13] SpencerDub commented on #9787
I would _love_ to see this (and a Mastodon-like interface for adding custom emoji in the admin interface). I even wrote (amateur) project descriptions for both parts there (picker and admin interface) for a friend who said he might have some time to develop it... but then 2020 happened, and it went nowhere.

I don't have the chops to make it myself, but consider this a very strong +1 for an emoji

[2021-01-16 00:26] Extarys commented on #9787
@SpencerDub Thanks for your comment. I'm still not familiar with how everything works for friendica (injecting js and static tpl files) but I started - that is a strong word - I was able to add a js file and make a call from the "write post" modal :laughing: so that's a start.

I didn't spend much time on this today but I'm taking a look.

EDIT: Emoji Mart! :facepalm: that is what Matrix Element i

[2021-01-16 00:31] MrPetovan commented on #9787
Do not hesitate to reach out if you have technical questions. I'm available on here or in Friendica, in public messages (through [the Friendica Developers forum](https://forum.friendi.ca/profile/developers)) or private messages directly.

[2021-01-16 02:13] rabuzarus commented on #7406
This isn't correct.
For autosearch in the contact page there were three limitations.
1.) There were some problems if the contact did contain (or begin - I didn't remember) Emojis
2.) The user needs to type at least 3 letters before the search starts (this was done to improve the speed through limiting the database results)
3.) The search was limited through the queries in this function https://git

[2021-01-16 02:16] rabuzarus commented on #7406
BTW: the global contacts search (if you search for a contact in the navbar) does have a `cache` issue. Because global contact could contain hundred thousands of contacts we limit the number of results in the database query

[2021-01-16 16:03] mikauskas commented on #9666
I have similar problems. New install Version Friendica 'Red Hot Poker' 2021.01 - 1384
`[video]https://gorf.tube/videos/watch/3fc914e3-c584-45ab-8079-79017c692a82[/video]`
The result, just showing a link to the video, no player or thumbnail.

[2021-01-16 16:11] mikauskas commented on #9666
When posting a link to Friendica node
`https://friendica.lt/display/63edefc7-1360-030f-3a0b-4a4108624718`
On Facebook preview looks OK
![Screenshot_2021-01-16 (1) Facebook(1)](https://user-images.githubusercontent.com/76782677/104816822-7119b600-5815-11eb-9500-548ff1c23e87.png)
But the Actual post looks like that
![Screenshot_2021-01-16 (1) Facebook(2)](https://user-images.githubusercontent.com/76

[2021-01-16 16:57] AlfredSK commented on #9666
@4nanook have you checked if that download button is added by some browser add-on?

@mikauskas umm. Thanks for including that domain in your comment.^^

[2021-01-16 23:41] Extarys commented on #8674
@MrPetovan Once a photo is uploaded, is it possible to change folder, etc? If so, a simple generic folder called "Uploads" could be used.

It's been a while I can't remember how to handle uploads in PHP. I think you need a special page that is called every second or every 500ms that would return to the client the progress of the upload.

I will need help for the server side of things though. This

[2021-01-17 02:42] tiotrom commented on #9740
To update this, I see the re-shares of a twitter user that I used to follow but now I removed or blocked. So I see the re-shares, not the posts. It is weird, but I cannot get rid of those....probably have to go to twitter and remove/unfollow the user. So this is a problematic bug since you lose control over what you don't want to see. Just saying :P

[2021-01-17 02:46] Extarys commented on #9719
Do you need to block users/spammers frequently in friendica/fediverse? (Honest question)

Most social network (tech giants), you do need to go on the profile page to block a user. If you need to block users on a regular basis, I understand the purpose, but if you block as often as I block someone on facebook for example (1 or 2 per year tops) then going to the profile page isn't that cumbersome. W

[2021-01-17 08:28] pztrn opened #9809 "Clicking on sandwich in mobile Vier in contacts view redirects to main page instead of showing sidebar"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Using latest FIrefox and Chrome with mobile variant of Vier theme.

When going to contacts and trying to get sidebar showing to add new contact sandwich icon redirects to main page instead of showing a sidebar.

### Steps to Reproduce

1.  Set Vier as theme
2.  Open /contact on mobile
3.  Click sandwich icon

Actual

[2021-01-17 10:22] foss- opened #9811 "Theme: frio: mobile: low prio: space below right sidebar does not apply background color"
In frio dark theme on mobile the space below the right sidebar does not apply background color and is displayed in white. This looks especially odd for dark and black theme.

Expected: should have same background color used in rest of theme.

![white space](https://user-images.githubusercontent.com/5708172/104837645-31ef7180-58b6-11eb-96d7-cb0871afb1c9.png)

[2021-01-17 10:33] foss- opened #9812 "Theme: frio: mobile: inconsistent navigation when trying to close left sidebar"
**Currently**

Open right sidebar. Tap somewhere on the area left of the sidebar to close it -> sidebar collapses. (expected)
Open left sidebar.  Tap somewhere right of the sidebar to close it -> nothing happens (unexpected)

**Expected**

Left sidebar should behave identical to right sidebar and collapse when users tap outside of the sidebar.

[2021-01-17 12:45] tobiasd commented on #9719
I'm blocking accounts once every week basis, mostly annoying re-shared stuff.

[2021-01-17 13:03] AlfredSK commented on #9719
I do 'blocking' nearly as often as I do 'liking'. :-)

[2021-01-17 13:31] MrPetovan commented on #8674
I don't even know if it's possible to change folder right now, but I'm pretty sure it could be done without breaking existing URLs.

[2021-01-17 13:33] MrPetovan commented on #9809
Thank you for the report and welcome back to Friendica!

[2021-01-17 13:45] Extarys commented on #9719
Ok thanks! I will check what we can do.

Damn @AlfredSK that is sad though

[2021-01-17 13:49] Extarys commented on #8674
I believe facebook have a folder called Timeline or Wall or something but it's been a long time since I uploaded pictures there.

Thinking of it, facebook for example allows user to move pictures around, you can create albums from the other pictures - I might be wrong here.

You can also upload a group of pictures and assign a folder,  then fb can create a post containing those pictures. (Again I

[2021-01-17 13:56] AlfredSK commented on #9719
Well, I exaggerated a little bit. :-) But I think this isn't sad at all. Blocking is completely normal to keep the timeline and community pages in a readable state and reduce the number of useless bot posts.

[2021-01-17 13:58] Singh-in commented on #9769
I created my own scheme to make the contrasts work better. Unfortunately, I could not influence the font with it. But maybe one of you has a tip.

Maybe this is a way to use custom fonts without changing them in the core.

[code]

[code]

[2021-01-17 14:05] Singh-in commented on #9719
Among other things, there is a lot of pornographic stuff flying around. In addition, there are some servers that increasingly spread conspiracy theories. I don't want to see them in my timeline. So it's an advantage to be able to block them quickly and conveniently. That happens quite often.

[2021-01-17 14:10] AlfredSK commented on #8674
We already use a default folder when uploading a photo directly from the post composer/editor. The problem is Friendica is switching the folder name when you change your language setting: EN -> 'Wall Photos'; DE -> 'Pinnwand-Bilder'; ...
The folder name is just a string in the database. You can move photos by changing the folder name in the database w/o losing photos or breaking links. I've alread

[2021-01-17 15:10] Extarys commented on #8674
TLDR:
@MrPetovan will need to chip in as he's the one deciding and knows way more than me about friendica :laughing:

Changing folder wouldn't/shouldn't change the url/image id

Well this is just text being displayed. `/photos/wallphotos` shouldn't need translation, it's an url. (EDIT: the url seems to only contain the photo id anyway)

I uploaded my first picture in a post. The  URL is `http://fr

[2021-01-17 15:15] Extarys commented on #9769
@Singh-in you import the font but you don't seem to apply it. This should get you started:

[code]

You also need to make sure `roboto.eot` exists.

[2021-01-17 15:29] AlfredSK commented on #8674
As far as I know: no. Every photo has a record in the `photo` table. The album name is just a string (exactly as seen in the GUI) stored in the field `album` of type varchar. It's really just the name. That's it. Nothing else. There is no abstraction, no album id.
It's a very simple (or some may say humble) solution to create/organize the "albums".

Disclaimer: The DB structure is changing constan

[2021-01-17 16:06] Extarys commented on #8674
Thanks for clarifying. I saw some work being done on the database side, hopefully this will also get a rework eventually.

Then yes, in this specific case, the only solution I can find is to use some kind of string as the album name to tell the client it's a wall photo. Then again if the end user name their album with the special string... :man_shrugging:

[2021-01-17 17:08] Extarys opened #9813 "Implement JOSE-type tokens for client-side rendering"
Last updated on Jan 17, 2021
### Is the feature request related to a problem? Please describe.

I'm slowly working on a client-side rendering client that hopefully could be bundled as a theme for friendica. The issue is I would need to either store the user's credential in cookies (big no-no), or ask the user to first go to another theme, generate a oauth key then switch theme again and enter the

[2021-01-17 18:07] MrPetovan commented on #9813
If we knew each other better, I would hug you for mentioning PASETO from the awesome @paragonie-scott !

I do believe it's worth it since right now credentials have to be sent with each API request. OAuth2 could be a solution but I believe it's even more involved than OAuth 1.

[2021-01-17 18:12] AlfredSK commented on #9749
What's this?

[code]

2021.03-dev
PHP 7.4
Config adapter: `preload`

[2021-01-17 18:21] MrPetovan commented on #9719
I still prefer the idea of blocking from the `More` link in Frio, it allows us to immediately remove the offending post from the network stream, which a hovercard block button would not. Both are possible, but the may be a conflict of expectation with the hovercard block button in the context of a specific post.

[2021-01-17 19:21] rabuzarus commented on #9791
Or I patch it to the former behavior on my own instance

[2021-01-17 19:22] Extarys commented on #9719
Having the option in the post or comment `More` option would indeed be better. The hover card looks already cluttered.

[2021-01-17 19:23] AlfredSK opened #9814 "'Tag Cloud' is throwing DB error 1052 - column 'private' is ambiguous"
- [X] I have searched open and closed issues for duplicates

### Bug Description
Looks like the additional feature 'Tag Cloud' is causing a database error because there is an ambiguous column 'private' in where clause.

[code]
I masked the UID of the user.

### Steps to Reproduce
I don't use the feature myself. But maybe it's enough to activate it and watch the Friendica log.

1.  enable additiona

[2021-01-17 19:47] MrPetovan commented on #9791
This is also entirely possible.

[2021-01-17 21:32] Extarys commented on #9813
I'm a huger so I wouldn't mind :smile:

So I probably won't waste my time working on a document for this? Of course it mean the token need to be sent with every request and also require some mechanics to secure the process and implement refresh tokens.

The development and deployment could be slow to allow us to steer in the right direction as we go.

[2021-01-17 21:39] MrPetovan commented on #9813
A design document is always a good idea, especially in this Open-Source environment where you don't know who is going to pick up your work. It's often useful for yourself as well, to keep track of the structure of whatever you're working on.

[2021-01-17 23:06] #9814 closed, assigned to annando

[2021-01-18 00:11] AlfredSK commented on #9749
`Trying to access array offset on value of type bool in .../src/Database/Database.php on line 1610`

2021.03-dev
PHP 7.4

[2021-01-18 00:14] AlfredSK commented on #9814
According to my log it is not fixed. I'm still getting the same DB error every couple of seconds.

I guess we need to reopen it.

[2021-01-18 01:23] annando commented on #9814
Please ensure that the worker process who reported this hadn't been some old one. Also please copy the error message here, since it can't be totally identical.

[2021-01-18 08:50] ghost commented on #9748
Latest Dev

`PHP Warning:  sem_acquire(): failed to acquire key 0x66010020: Identifier removed in /src/Core/Lock/SemaphoreLock.php on line 63`

[2021-01-18 09:08] wiwie opened #9817 "Twitter reshare is not shown under my profile's status tab"
- [X] I have searched open and closed issues for duplicates

### Bug Description

When resharing (not quote sharing) a Twitter post, it is not shown under the Status tab of my profile. This is the case for reshares of other networks (e.g. Friendica, Mastodon).

### Steps to Reproduce

1. Click reshare on a Twitter post
2. Browse to Status page of my profile (https://libranet.de/profile/wiwiec/stat

[2021-01-18 09:45] AlfredSK commented on #9814
This is the last error from just now.

``
2021-01-18T09:43:10Z index [ERROR]: DB Error {"code":1052,"error":"Column 'private' in where clause is ambiguous","callstack":"DBA::p, TagCloud::tagadelic, TagCloud::getHTML, Widget::tagCloud, Status::content, Index::content, call_user_func, Page::initContent","params":"SELECT `name`, COUNT(`name`) AS `total` FROM `tag-search-view` LEFT JOIN `post-view` ON

[2021-01-18 09:48] AlfredSK commented on #9814
Also, my PHP log is flooded with this...

``
[18-Jan-2021 09:35:35 UTC] PHP Notice:  A non well formed numeric value encountered in /var/www/html/libranet/src/Core/PConfig/PreloadPConfig.php on line 76
``

[2021-01-18 09:51] AlfredSK commented on #9814
Running the worker manually from command line works w/o any error output.

[2021-01-18 10:03] AlfredSK commented on #9814
Another related thing:
The info bubbles about new items on network and home icon are showing crazy values from time to time. And then they are changing all of a sudden.

Example: Network shows ~8000 new items. Then when page is refreshed it shows ~200.
Some time later I refresh the page again. Up to ~3000 new items. Another refresh down to ~100.

[2021-01-18 10:14] hoergen commented on #9705
I reopen this issue because I recieved again an very old post (7 month)
![00_temp00](https://user-images.githubusercontent.com/24474762/104901912-4eef7780-597e-11eb-9dc3-143ccf0de25e.jpg)
source : https://friendica.feneas.org/display/7e13cec0930c01385afc101b0efced44

[2021-01-18 11:33] wiwie opened #9818 "Profile outbox API contains duplicated posts in orderedItems array"
- [X] I have searched open and closed issues for duplicates

### Bug Description

The api outbox of my profile contains duplicates in orderedItems. All posts of mine are duplicated several times.

### Steps to Reproduce

1. Browse to my API outbox at https://libranet.de/outbox/wiwiec?page=1
2. Inspect orderedItems

Actual Result:

orderedItems contains the same post multiple times.

Expected Resul

[2021-01-18 11:36] ghost commented on #9749
php 7.4 latest dev

[code]

[2021-01-18 15:28] annando commented on #9814
Concerning the numbers I think that PR https://github.com/friendica/friendica/pull/9816 will help. And this other thing is something that I will have a look at as well.

[2021-01-18 18:02] annando commented on #9705
How long is your message storage time? When it is more than 7 months then this is okay.

[2021-01-18 18:49] AlfredSK commented on #9814
Uh! Oh! The number of posts and comments reported on the-federation.info (via nodeinfo) has skyrocket. What the...

![grafik](https://user-images.githubusercontent.com/3656054/104953144-27240200-59c6-11eb-99c7-f7fd30ccda7b.png)

https://the-federation.info/node/libranet.de

[2021-01-18 18:59] AlfredSK commented on #9814
Maybe it will get back to normal values. Let's see...

[2021-01-18 20:47] mikauskas commented on #9666
On what version libranet.de works? Perhaps it is possible to check what changes since then could ruin new Friendica versions?

[2021-01-18 21:41] AlfredSK opened #9820 "Two notifications for some likes"
- [X] I have searched open and closed issues for duplicates

### Bug Description
When someone likes one of my posts I frequently get two notifications about it. I 'quote reshared' a Diaspora post. When one user likes my post I see an info bubble showing "2" on the home/house icon. And at .../notifications/home I have two identical entries for the same 'like'.

### Steps to Reproduce

1.  find some

[2021-01-18 23:16] hoergen commented on #9705
No hehe I'm deleting after 30 days. No need for long archiving.
As I suggested in another issue it would be a good idea to use the last received date and store it in that contact, to check, if the next incoming post is older or newer ?

[2021-01-19 05:42] annando commented on #9705
Problem is: There are situations where you would want to import old posts manually. This here most likely was a situation where someone shared that post - and since it wasn't available on your system, it was fetched. This is a complicated situation.

[2021-01-19 08:58] AlfredSK commented on #9814
All problems fixed. Comments reappeared. DB errors gone. Node stats back to normal. 🚀🎉

[2021-01-19 12:57] hoergen commented on #9705
Hmm as far I could see, the post wasn't shared. It arrived as a new post.
Maybe the function to import posts should have some "if aka case" statements for different situations?

[2021-01-19 13:55] annando commented on #9705
Problem is that this information needs to be passed through many different functions and protocols. So currently we do now if a post was delivered to us regularly, by relay (only DFRN and AP, not Diaspora) or fetched. The fetching is not split further.

[2021-01-19 16:55] Extarys commented on #9812
I'll be working on this soon as I can. I also noticed this. Thanks for filling an issue! :heart:

[2021-01-19 17:02] Extarys opened #9824 "API: return info of newly uploaded images"
### Is the feature request related to a problem? Please describe.

lack of info returned by `http://friendica.local/wall_upload/testadmin?response=json&album=` when uploading an image with `ajaxupload.js`

### Describe the feature you'd like
Currently when uploading a file, the endpoint returns
[code]
Which isn't that much useful.

When sending a file to `http://friendica.local/wall_upload/testadm

[2021-01-19 17:08] tobiasd opened #9825 "singular and / or plural form when posting limit is reached"
One of the translators asked about the missing singular form for translations of the following string

as found in [include/api.php l1157](https://github.com/friendica/friendica/blob/develop/include/api.php#L1157). While it is true, that the string is only available in one form, how realistically is it to have a posting limit of 1 / month / user on a node and if it is not, shouldn't it be

instead

[2021-01-19 17:30] MrPetovan commented on #9824
What does it return at the moment?

[2021-01-19 17:33] MrPetovan commented on #9825
What is the issue exactly? When a translation string includes a number, it just is standard practice to provide the plural forms. Some languages have more elaborate plural forms than just "one" and "two or more". I'm not even sure what problem removing the singular form solves?

[2021-01-19 17:40] Extarys commented on #9824
[code]

![image](https://user-images.githubusercontent.com/11581433/105072187-8ed45e80-5a53-11eb-9afe-efdd1e19f486.png)

[2021-01-19 18:04] tobiasd commented on #9825
The number can be `1` or `>1` for this there are different functions to mark one form only or singular & plural form for the translations system so that translators can apply the correct wording.

So my questioning was, should we use the other function for the translations of singular and plural form (as was asked by the translator) or do we assume that no admin will set the posting limit to `1` a

[2021-01-19 18:41] mikauskas commented on #9666
@MrPetovan @AlfredSK @annando
Version 2020.09-01 player works with code

`[video]https://gorf.tube/videos/watch/ab4dcae4-5499-45f8-bd51-56d0d0da56e5[/video]`

[https://old.friendica.lt/display/04a6b8f1-2660-0725-98f2-3cf295167749](url)

Whatever happened it was between Version 2020.09-01 and version 2021.01 - 1384

[2021-01-19 18:45] Extarys commented on #9824
Is the [API documentation](https://github.com/friendica/friendica/blob/develop/doc/API-Friendica.md#post-apifriendicaphotoupdate) for `POST api/friendica/photo/update` up to date? If so, wall_upload and that should return a JSON object based on that IMO. (We wouldn't need the base64 value of the image obviously, but the internal should be based on the api - eventually :smile:

[2021-01-19 19:14] #9761 closed, assigned to nobody

[2021-01-19 19:15] MrPetovan commented on #9825
What is the other function you are talking about?

[2021-01-19 19:17] MrPetovan commented on #9824
I cannot vouch for the accuracy of the API documentation, but the `wall_upload` response could really be improved.

[2021-01-19 19:53] tobiasd commented on #9825
`t()` and `tt()` from the L10n class.

[2021-01-19 21:11] MrPetovan commented on #9825
My answer is categorically that we should use the plural-specific function in this case according to the general rule. It doesn't matter whether there will be anyone using 1 for this value, the simple fact that it's a valid value means that we have to account for it.

[2021-01-19 21:36] Extarys commented on #9767
@MrPetovan Can you also close this please? :heart:

Fixed in PR #9806

[2021-01-19 21:38] MrPetovan commented on #9767
Of course.

Hot Tip: You could have done it yourself if you'd have mentioned this issue in your PR like "Fixes #9767". This issue would have been closed automatically once your PR would have been merged.

[2021-01-19 21:38] #9767 closed, assigned to Extarys

[2021-01-19 22:06] wiwie commented on #9818
Seems to have been fixed in the meantime.

Tested again with:

Can't reproduce the error anymore.

[2021-01-19 22:06] #9818 closed, assigned to nobody

[2021-01-19 22:41] Extarys commented on #9811
Might have been fixed with #9806

I'll continue to test. I also found the background of the right side bar is not dark on dark theme:
![image](https://user-images.githubusercontent.com/11581433/105102885-9577cb80-5a7d-11eb-9afd-26af9432a78c.png)

[2021-01-19 23:47] Extarys commented on #9812
Just letting this here as a note because I don't want to forget - spent a couple of hours figuring this out :stuck_out_tongue_winking_eye:

The gray overlay that shows up on the right when the menu appears is the culprit. Can be easily tested by opening the aside menu then tapping/clicking on the top navbar or the secondary navbar.

My guess is that since it's a `::before` selector that display th

[2021-01-20 00:20] Extarys commented on #9811
How does that look:
![image](https://user-images.githubusercontent.com/11581433/105109861-6405fc80-5a8b-11eb-8624-4203b4b70cbe.png)

[2021-01-20 01:49] Extarys commented on #9258
Bootstrap have a tooltip component that Frio uses on some occasion, mainly on input fields. I believe all alt attributes should also use bootstrap tooltip for uniformity.

Doing so would also fix this issue on mobile.

Another possibility would be to add a information icon on the top right corner for mobile/tablet and on tap would open a small modal with the missing information.

[2021-01-20 09:29] pztrn commented on #9402
Confirming, #9680 fixes empty selection for storage.

But I can't change to another with the very same message - "invalid storage backend settings". Trying to change from database to filesystem.

[2021-01-20 12:45] Extarys commented on #9733
Thanks for the report @AlfredSK !

The hastag is not detected, looks like a server-side/PHP bug.

![image](https://user-images.githubusercontent.com/11581433/105176471-4a989b00-5af3-11eb-96b7-f521a962a7d7.png)

[2021-01-20 12:47] haheute opened #9827 "Navigation broken on smartphone"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Since the last CSS changes, on my smartphone the top panel navigation is broken, the icons invisible or misplaced, I am not sure.

### Steps to Reproduce

Test it with chromium (or other browser) dev tools. Mobile M and Mobile S seem to be affected. (width < 383px)

Actual Result:

the icons / buttons are not there
e

[2021-01-20 12:59] MrPetovan commented on #9733
It really is.

[2021-01-20 13:00] MrPetovan commented on #9827
Paging @Extarys

[2021-01-20 13:31] MrPetovan commented on #9820
Is this still current after the latest changes?

[2021-01-20 13:36] Extarys commented on #9827
Found the issue, should be fixed soon.

Thanks for the report and sorry that this happened.

[2021-01-20 13:55] Extarys commented on #9827
The offcanvas really need a redo. The right menu on small screen cannot be scrolled (not introduced by my PR)
![image](https://user-images.githubusercontent.com/11581433/105184197-132eec00-5afd-11eb-91ea-e8e658ddc8a0.png)

On small screens the topbar now shows properly in my tests:
![image](https://user-images.githubusercontent.com/11581433/105184306-348fd800-5afd-11eb-95fb-0b867e909b1f.png)

I'll

[2021-01-20 14:47] hoergen commented on #8038
Want to ping this feature request, that gets more and more important the more people join the fediverse and we don't want to implement some algorithms to display machine selected posts to users. And it avoid the need of third party tools.

[2021-01-20 15:24] #9827 closed, assigned to Extarys

[2021-01-20 15:39] MrPetovan commented on #8038
Thank you for the ping. @annando how far are we from being able to implement drafts and scheduled publication with regards to your work on the item/post data structure?

[2021-01-20 16:01] #9789 closed, assigned to nobody

[2021-01-20 16:01] #9811 closed, assigned to Extarys

[2021-01-20 19:31] AlfredSK commented on #9820
I haven't had it lately. Will check later. Maybe it was some temporary side effect.

[2021-01-20 20:02] MrPetovan opened #9831 "Contact page shows "is sharing with you" even though I've never interacted with them"
1. Received an unwarranted reply from a stranger account on one of my public posts.
2. Went to the contact page to block the account.
3. Saw that the account was "sharing with me" as if I was intentionally following them.

[2021-01-20 20:30] annando commented on #8038
I guess I will be busy for several days cleaning up the `item` stuff. Possibly we can use some existing functionality. But we will need some new interface for this. I would suggest using the `posting-type` field that is also used for personal notes. So we only would need to store the release date in a new field (or some existing one that fits). Would be great if you could do the frontend stuff, be

[2021-01-20 20:52] MrPetovan commented on #8038
So we need a couple new interfaces: the date picker for scheduled publication, but more importantly a page showing drafts ands scheduled posts with editing capabilities.

[2021-01-20 22:26] annando commented on #8038
That page just can be a copy of the personal notes.

[2021-01-20 22:31] MrPetovan commented on #8038
Only in appearance. In practice, we need to display several posts with varying permissions but only for their author.

[2021-01-20 23:38] MrPetovan opened #9832 "Blocked user content is inaccessible"
Accessing a post by a blocked account yields a Not Found error even though the post exists. It isn't helpful with regard to the user who blocked the author account. Particularly for the `/display` module, we should have the options to show the post anyway, even if it is after an additional action like on Twitter.

[2021-01-21 04:07] MrPetovan commented on #9831
More info after database probing: The contact record has been created minutes before the block as shown by the `contact.created` date. The `rel` field is set to `2`, so `Contact::SHARING` so the display makes sense, but why would the `rel` be set to `Contact::SHARING` on a brand new user-specific contact?

[2021-01-21 04:35] MrPetovan commented on #9824
Alright, I started to look into it, and oh boy.

The `/wall_upload` module is a legacy part of Friendica built between 2010 and left alone since 2015, so even before I joined the project in 2016. The module itself isn't used as is, meaning that no part of the project calls the `/wall_upload` endpoint.

BUT.

The API itself makes heavy use of the module function itself, in `/api/statuses/mediap`, `

[2021-01-21 06:33] annando commented on #9824
I guess we should replace `wall_upload` then with the upload functionality that is still used and remove the module then?

[2021-01-21 06:35] Neustradamus opened #9834 "Migration to organization"
It is possible to migrate the personal account to organization?

Converting:
- https://help.github.com/articles/converting-a-user-into-an-organization/

It is possible to rename this account and create the organization and move/transfer the repository to the organization.

Rename account:
- https://help.github.com/en/enterprise/2.13/user/articles/changing-your-github-username

Create an organizati

[2021-01-21 07:09] Neustradamus opened #9835 "Time to detach from the original code"
It is possible to detach this fork from the original source?
- https://support.github.com/contact?tags=rr-forks

It will be better to search in code etc.

cc @duthied.

[2021-01-21 07:37] wiwie opened #9836 "Frio: Activating a notification reloads post+comments regardless of whether that post is already currently showing"
Currently, there can be multiple notifications about several comments to the same post.

Each time one of them is clicked, the page is reloaded regardless of whether the current page already is showing that post, just possibly with focus on another comment.

This behaviour even occurs if the same notification is activated twice in a row. The page is then reloaded even though the exact comment is a

[2021-01-21 10:27] mikauskas commented on #9666
Problem first reported on 17 Dec 2020, but it is still not on Known Issues list [https://friendi.ca/2021/01/04/friendica-2021-01-released/](url) Many nodes are still on older versions. Perhaps people should be warned?

[2021-01-21 11:59] Extarys commented on #9824
Gonna tag #9813 here for future reference.
I'm glad the backend uses the `/api` path though.

The image is strong. :laughing: Gonna try to make some uploads with the endpoints you provided. IMO the JSON response should be the default one when calling a REST API. I do know we need to be careful as some instances runs older version and it's federated so, it adds to the complexity of, everything.

[2021-01-21 12:02] Extarys commented on #9824
Does PHP support Swagger or some OpenAPI implementation that could generate the doc for the APIs?

Something similar to this [Swagger demo](https://petstore.swagger.io/)? If so, we can document the endpoints quite easily and generate a documentation, even if it's just for us for the moment.

[2021-01-21 12:19] foss- opened #9837 "Themes: Frio: mobile: how to handle sidebars when user opens both sidebars?"
**Currently**

Opening left sidebar and then right sidebar
Opening right sidebar and then left sidebar

In both scenarios both sidebars are open and the right sidebar is overlapping the left sidebar.

**Expected**

Not sure and open to other proposals. Would it be good UX to automatically close the already open sidebar and only show the sidebar which was last selected? That would solve both overla

[2021-01-21 12:40] foss- opened #9838 "Themes: frio: mobile: reduce double lines to single line as post separator"
**Currrently**

In frio mobile there are two lines used as post separator.

**Expected**

Subjective feeling is, this is not nice UI and should be reduced to single line to unclutter the UI.

![frio double lines](https://user-images.githubusercontent.com/5708172/105352249-f4f4e900-5bed-11eb-9125-156e84a3a475.PNG)

[2021-01-21 12:50] foss- opened #9839 "Theme: frio: mobile: shared posts use very bright highlighting line"
**Currently**

Shared posts have a very bright line around them. This results in a very strong focus on the shared content. Often times for commented shares, the commend and the shared post should be rather considered one unit as they relate and refer to each other. See attached example.

**Expected**

A few options exist to handle this better and to be able to say which solution works best, we wi

[2021-01-21 13:42] Extarys commented on #9837
Thanks for opening this issue.

The left and right menus are currently implemented in different ways. I'm (slowly) working to rewrite how the offcanvas menus are implemented.

It should fix the scrolling and the opening/closing bugs.

Related to #9812

[2021-01-21 13:43] Extarys commented on #9838
Thanks @foss- You rock!

It's because the posts are shown in a panel that have a border all around it. On mobile the left and right borders are invisible.

I'll find a way to improve the visuals for this. :heart:

[2021-01-21 13:49] Extarys commented on #9839
Thanks! Damn, that is a punchy repost indeed. (And I also should follow that person too, very good post)

For a regular post, the content of that post is what's mostly important, but for a report, the content that is being reposted should have the user's attention more (although not _that_ much). I'll wait for @annando or @MrPetovan to weight in on this and gather their feedbacks and also test thi

[2021-01-21 14:16] foss- commented on #9838
Was deliberately not mentioning that as I was focusing on mobile today. Not completely happy with the desktop timeline UI as well and those separated boxes are one aspect I find not ideal. Then comparing desktop and mobile assumption was indeed that the double lines derive from the desktop boxes around each post with the rest of the box being hidden due to the narrow mobile view.

[2021-01-21 14:28] Tuxi2020 opened #9840 "Entries in the server blocklist should filter out already old / existing posts of the respective domain"
### Is the feature request related to a problem? Please describe.

If a domain is entered in the server block list, then the old already existing posts of the blocked domain are still displayed. For example, via the search function.
This is not so optimal. In the contact block list, the posts are blocked immediately (retroactively), even the old posts of these blocked contacts.

### Describe the f

[2021-01-21 15:25] MrPetovan commented on #9834
[We've talked about this in the past](https://github.com/friendica/friendica/issues/1553#issuecomment-355725772) and didn't find a sufficient reason to go forward with the account type change, can you please explain your motivations for submitting this suggestion?

[2021-01-21 15:26] MrPetovan commented on #9835
Hi, [we've talked about this before](https://github.com/friendica/friendica/issues/1553#issuecomment-355488307), I'm not sure where we stand on this topic.

[2021-01-21 15:35] Extarys commented on #9747
Freshly cloned the repo and installed friendica (new database and same way of installing as a few days ago when I started working on the web UI).

After the installation process, all pages return 500 errors.

I get:
[code]
Addressed in #9841

[2021-01-21 15:39] MrPetovan commented on #9836
This is caused by the way we handle jumping to a specific comment depending on the URL. The guid in the `/display/<guid>` URL is the one of the comment, not of the top-level post, so we're able to instruct Javascript to scroll to it, we don't use anchors.

This change to use URL fragments and HTML anchors would be a significant one if we don't limit it to notifications, and I don't know how to mak

[2021-01-21 15:39] Extarys commented on #9837
@foss- I noticed you have the latest PR I made that fix the right menu background color, and yet you still have the white rectangle at the top. :thinking: I wasn't able to reproduce on my side and thought I fixed it.

If you try to select what's inside that white rectangle, do you see your username there?

[2021-01-21 15:41] MrPetovan commented on #9824
The API used to be PHP global functions hastily cobbled together, we've only started to move them to a more proper class hierarchy, we aren't at the self-documentation stage at all!

Absolutely.

[2021-01-21 15:44] MrPetovan commented on #9839
Like I said to @foss- privately, I'm mostly uninterested with aesthetics discussion as it is hard to gather a strong consensus because it revolves around personal preferences. I do care about accessibility in general, but I prefer not to engage with the finer aesthetics points and I'd be fine with most changes.

[2021-01-21 15:46] MrPetovan commented on #9840
Thanks, it's a good point you raised.

Do you think we should delete all the posts we already stored from this server or just hide them /in case the server block is reversed?

[2021-01-21 16:05] Extarys commented on #9824
@MrPetovan I was suggesting that as classes are created for endpoints and all, we could make it so an OpenAPI app could at least show that route in some form of documentation. Once this is implemented, even rudimentary, it's a matter of looking for that route in the code and add more information as we go along - makes small easy PRs too for beginners.

But I do understand too if even that is too s

[2021-01-21 16:05] Tuxi2020 commented on #9840
That is a good question.

If the old posts are deleted, I think that would relieve or reduce the size of the database. I think that would be the better way.

What do the others think about this?

[2021-01-21 16:09] #9733 closed, assigned to MrPetovan

[2021-01-21 16:11] Extarys commented on #9839
@MrPetovan Thanks. I totally understand and won't bother you with those type of change then.

[2021-01-21 16:35] foss- commented on #9837
This is just sanitized. The username shows fine. I would have mentioned otherwise. Sorry for the confusion.

[2021-01-21 16:35] MrPetovan commented on #9824
I didn't know about OpenAPI and Swagger so it definitely wasn't on my mind, I'll see if it's affordable to us.

[2021-01-21 16:36] MrPetovan commented on #9839
Thank you, I appreciate it. Don't hesitate to reach out for technical questions though.

[2021-01-21 18:37] Singh-in opened #9842 "Autofollowed nicknames"
### Is the feature request related to a problem? Please describe.

no

### Describe the feature you'd like

When a new user registers, it should be possible to store a nickname that automatically follows each new user.
This can be an admin or another person who takes over tasks on the platform.

This automatic follower serves, for example, as a contact person for questions, problems or observes wh

[2021-01-21 18:43] MrPetovan commented on #9842
This is related to #7795

However, I don't think it is nearly as useful in this direction. Public posts already are available in the community page for observation, and private posts are, well, private.

For contact point, automatic follow like in #7795 sounds more intuitive.

[2021-01-21 19:18] AlfredSK commented on #9820
Problem is i need to find someone who likes my content. :-) ... will do it on my own then.

[2021-01-21 19:39] AlfredSK commented on #9840
I'm pro hiding.

Edit: and Tobias wrote down my exact reasons. Thanks. :-)

[2021-01-21 20:21] AlfredSK commented on #9838
Please be aware that not everybody is using those dark frio color schemes. For example I'm using a custom light scheme with transparency and a background image. The "double lines" are not only lines. They're the borders of the post "cards". In between them there is a space where the background image is visible.

[2021-01-21 21:06] MrPetovan commented on #9820
If you were posting anything, I would like it, but you are not showing in my feed.

[2021-01-21 21:08] MrPetovan commented on #9838
Does it make sense on mobile though?

[2021-01-21 21:50] AlfredSK commented on #9820
Yeah I'm not the chatty type. ;-)

[2021-01-21 21:52] AlfredSK commented on #9820
Look! I posted something provocative.

https://libranet.de/display/0b6b25a8-1460-09f7-66d7-3c7927892875

[2021-01-21 21:55] AlfredSK commented on #9820
Looking good.

![grafik](https://user-images.githubusercontent.com/3656054/105417298-b1c16700-5c3b-11eb-9ce6-d9d7169c6aec.png)

[2021-01-21 21:55] #9820 closed, assigned to nobody

[2021-01-21 22:09] AlfredSK commented on #9838
I like to have a clearly visible separator between the posts. Does it make sense? From my point of view, yes. Could it be done in another way? Sure. :-)

![Screenshot_20210121-230334__01](https://user-images.githubusercontent.com/3656054/105418596-ac651c00-5c3d-11eb-83b5-4287fe125088.jpg)

[2021-01-21 22:52] Extarys commented on #9838
Thanks for that screenshot @AlfredSK it gives me a good idea on how people customize their instance.

I'm curious, where/how did you add a background and customized the look of the theme? Did you modify the `style.css` file directly?

[2021-01-22 00:13] Extarys opened #9846 "Mastodon posts not rendering images properly"
- [x] I have searched open and closed issues for duplicates

I looked for `embed` and `mastodon`. I hope I didn't spam the repo.

### Bug Description

### Steps to Reproduce

[See this post](https://nerdica.net/display/52acf9cd-bed06e765fcfc28c-92e8eb82).

(I'm concerned about privacy but I guess if you can see it it's because the post is public)

**Actual Result:**

The post on friendica contain

[2021-01-22 01:13] Stratus3D opened #9847 "Friendica server backup admin documentation"
### Is the feature request related to a problem? Please describe.

Looking through the admin docs located here: https://forum.friendi.ca/help/tools I don't see a page with clear instructions on how to setup Friendica server backups.

### Describe the feature you'd like

I want a page that clearly outlines what needs to be backed up to restore an instance. For example, dump database, turn on mainte

[2021-01-22 01:16] Extarys commented on #9842
The client can suggest the new user tags and peoples to follow. Like a card on the side or a modal greeting the user with a per-determined, configurable list with a button on the side of each for easy follow.

Like we can see here [#7795 (comment)](https://github.com/friendica/friendica/issues/7795#issuecomment-549141367). (Reading the discussion there it seems there is already a plugin that could

[2021-01-22 02:00] Extarys opened #9848 "[frio] WYSIWYG BBCode/Markdown editor"
### Is the feature request related to a problem? Please describe.

BBCode is not user-friendly. It's awesome though.

It requires prior knowledge, there is a learning curve (small, but still). Although it is very flexible as we can add any tag we want, users need to learn them.

### Describe the feature you'd like

I dig into old issues and found #2810

I'd like to make an editor that would abstra

[2021-01-22 03:20] MrPetovan commented on #9848
I have strong mostly negative feelings about WYSIWYG editors. Either they are too simple and can't cover all the underlying markup language features, or they are too complex and they require a separate learning curve and take a lot of screen real estate, and that's even before verifying the touchscreen/mobile support. And, more often than not, WYSINWYG (What You See Is Not What You Get).

I person

[2021-01-22 03:42] MrPetovan commented on #9847
The list is pretty short:
- Copy of the `config/local.config.php` file (the non-interactive node configuration).
- Copy of the `.htaccess` file if it was edited beyond the `.htaccess-dist` one.
- A dump of the used database.
- If the file storage backend is set to Filesystem, a copy of the root filesystem folder.

And that's it. The rest of the Friendica files can be restored from a release archiv

[2021-01-22 06:19] tobiasd commented on #9847
I've added that list to the wiki.

[2021-01-22 06:25] tobiasd commented on #9840
With item expiration set up, the old items from blocked servers will be deleted sooner or later anyway, like the rest of the postings.

I'd keep the old stuff from blocked nodes. Blocks can be lifted, e.g. when applied on error or when the reason behind the block was solved. I'd rather want to see the old postings then again and not have the system fetch the missing stuff anew.

[2021-01-22 08:32] foss- commented on #9838
@Extarys Themes can be customized in Username (top right) > Settings > Display > Custom Theme Settings > Custom. There you can customize colors and backgrounds.

Personally find the current level of choice overwhelming and the legacy themes not to be of the best quality.

Steffen: Understand your point about wanting a clear divider between posts and covering that is part of the scope of this issue

[2021-01-22 09:00] Tuxi2020 commented on #9840
When creating a domain block, would it be possible to leave it up to the admin to decide whether to delete the old posts or just hide them? For example, by selecting a checkbox?

[2021-01-22 12:26] MrPetovan commented on #9840
This is a good idea for domains spreading content illegal in your node hosting country. This would enable to clear all the content at once without having to chase it post by post.

[2021-01-22 13:51] Extarys commented on #9848
I do agree, but we're not in the 90s anymore and "regular" people are having higher standards now.

I think I didn't express this issue properly, but I don't want to focus on WYSIWYG right away, but start with a redesign of the toolbar/textarea section. Adding the emoji picker next to all other current buttons seems like the path of least resistance while cluttering the UI. Eventually it will need

[2021-01-22 20:25] AlfredSK commented on #9747
2021.03-dev PHP 7.4

[code]

I guess `Item::selectFirstThreadForUser()` has to be `Post::selectFirstThreadForUser()` instead.

Addressed in #9851

[2021-01-22 22:42] MrPetovan commented on #9846
Found the issue, we replace hashtags inside of image descriptions.

[2021-01-22 22:57] MrPetovan commented on #9769
Mistakenly closed because of keyword use in #9806 description.

[2021-01-22 23:04] MrPetovan commented on #9831
This reminds me we should sever any existing connection when we block. While we can of course send an unfollow message, is there a way to notify that we no longer will accept a remote contact as follower or do we just have to silently update the relationship locally?

[2021-01-22 23:06] MrPetovan commented on #9640
Since nobody else added their 2 cents, I'm going forward with dropping notifications from ignored contacts.

[2021-01-23 02:55] sunchaserinfo commented on #9747
[code]
Addressed in #9882

[2021-01-23 02:58] MrPetovan commented on #9747
Thank you for the report, unfortunately we do not support PHP 8 at the moment. We are aware of this specific issue in the translation files but we do not have a good way to fix it yet.

[2021-01-23 03:05] sunchaserinfo commented on #9747
@MrPetovan that's PHP 7.4.14, not 8

[2021-01-23 07:00] annando commented on #9640
I think that we are currently 50:50 concerning the "ignore" behaviour :-)

I think that we need an option where we can define that we don't want to see top level posts from selected contacts but would stay connected to them and continue to interact with them in a normal way - which would include notifications.

I think that we should add some configuration to the notification settings instead if w

[2021-01-23 07:03] #9846 closed, assigned to MrPetovan

[2021-01-23 09:59] MrPetovan commented on #9640
Yeah, yeah, yeah, but until we've decided what to do with ignored contacts, I don't want to receive notifications from them without having to block them. So I'm putting my foot down on this specific behavior. If we ever agree on something else, it will be easily reversed.

[2021-01-23 10:24] annando commented on #9640
You could create a setting for this.

[2021-01-23 10:28] MrPetovan commented on #9747
Thank you for the added detail, I knew this syntax was considered as deprecated in PHP 7.4 but I didn't expect it to throw a Fatal Error before PHP 8. I'm not sure if this is just oversight on my part or a specific behavior of PHP governed by a configuration value.

The issue with this specific error is that these `strings.php` files are generated automatically from the PO file format which still

[2021-01-23 10:50] MrPetovan commented on #9640
I could but I won't until we have a firm agreement on what Ignore should do. Settings are a cheap short-term solution but often end up costing more on the long run.

[2021-01-23 14:22] Singh-in commented on #9842
I think the suggestion under # [7795](https://github.com/friendica/friendica/issues/7795#issuecomment-549141367) is good. Therefore I close this

[2021-01-23 14:22] #9842 closed, assigned to nobody

[2021-01-23 15:16] AlfredSK opened #9854 "Tags and tag URLs in user's profile have a leading space"
- [X] I have searched open and closed issues for duplicates

### Bug Description
It has been discovered that the user defined tags in the users profile have a leading space character now. The first tag is ok - doesn't have the space character. But all following tags have that space character in the displayed tag and in the linked URL.

I also tried to edit my profile to remove the spaces between t

[2021-01-23 18:18] foss- opened #9855 "compose box for DMs can only be extended sideways (expected: allow to extend vertically as well)"
The Direct Messages compose box does have the UI indicator and ability to change its size.

**Currently**
The box can be extended horizontally.

**Expected**
Either should allow extended horizontally *and* vertically. Actually the best ideal would probably be, to only allow extending vertically as that would keep a more consistent UI (as can be seen for GitHub issue compose box). The width is fine

[2021-01-23 18:58] tiotrom commented on #9848
Same way that wordpress does I think it fits both worlds. A tabbed content creator. One tab is for "code" and one for wysiwyg, with the latter being not very pretentious, just simple text editing: bold, italic, position, quote, etc.. I think it would be very helpful to have a wysiwyg composer. I understand @MrPetovan but the vast majority of people need a lot less friction and  wysiwyg could be fo

[2021-01-23 19:16] AlfredSK commented on #9854
Also `is:issue author:AlfredSK` = 300 💃🎉☺️

[2021-01-23 20:05] foss- opened #9856 "Themes: frio: secondary menubar: move dropdown indicator to the left and add text to compose button"
Dropdown indicator should be next to the dropdown option.

That would also free up space to increase size of the "New Post" button (currently lacking text).

![frio mobile item order](https://user-images.githubusercontent.com/5708172/105612755-4227b500-5dbe-11eb-843e-babe35596f9e.jpeg)

[2021-01-23 20:07] MrPetovan commented on #9855
I remember looking into this, and the problem is that if you increase the height too much, the icons leave the modal window. For a specific field there is an automatic increase in size with new lines but I don't remember which one.

[2021-01-23 20:17] foss- commented on #9855
Try reproducing this problem on GitHub. In my test, the website extends so that even if the buttons go out of sight, users can scroll down and the buttons will always be there.

[2021-01-23 20:44] Extarys commented on #9848
That is my general idea too. Thanks for chiming in!

Anyway, any changes will be subject to a PR and a discussion about it.

[2021-01-23 21:04] MrPetovan commented on #9799
So, huh, funny story, the first year shown is controlled by the user-specific config value `system.archive_visible_years` with a default value of 5 which explains the 2016 shown, but there's no form control to set this value in the user settings. So it's 5 years back for everybody.

Now, the question is, should this config exist at all? I personally believe so. Even if someone had an account since

[2021-01-23 21:24] AlfredSK commented on #9799
Maybe it is possible to use the 'member_since' value instead of a fix value of 5.

[2021-01-23 21:48] MrPetovan commented on #9799
It's possible that removing the config value will actually yield the expected number of years for members less than 5 years old.

[2021-01-23 22:36] Extarys commented on #9834
Does organisation allow more flexible permission options for contributors? If with this I can assign myself to some UI issues for example and tag UI/UX stuff, I'm all for it!

But if it's a headache and might break things, don't touch it lol.

[2021-01-23 22:37] Extarys commented on #9856
Thanks! That is a good suggestion. That arrow always get to me.

[2021-01-23 23:10] MrPetovan commented on #9834
It looks like I'm able to assign you to issues you commented on. For now, please add a comment on the issues you plan on tackling for this release and I'll assign them to you and put them on the milestone.

[2021-01-24 00:30] Extarys commented on #9834
I appreciate it @MrPetovan

[2021-01-24 04:44] Neustradamus commented on #9834
Thanks @Extarys and @MrPetovan for your reply! :)

@friendica: I think that the best solution is (in few minutes):
- Change your username to friendicaaccount (or other): https://github.com/settings/admin
- Few second after, create friendica organization: https://github.com/organizations/new

And:
- Transfer friendica into friendica org: https://github.com/NEWACCOUNTUSERNAME/friendica/settings
- Ot

[2021-01-24 07:12] annando commented on #9834
I don't have enough permissions doing so. I guess only @tobiasd is able doing so.

[2021-01-24 12:03] #9854 closed, assigned to MrPetovan

[2021-01-24 12:17] strk commented on #6519
If you don't consider it a bug in the implementation then it's a huge design issue. Short-sighted design. Defective by design...

I just lost my friendica node once again (and no, I'm NOT taking backups, intentionally).

When setting up a new node and "inviting" someone, the invited party needs to accept/reject the request.
All I'm asking for is to still let targets accept/reject new invitations f

[2021-01-24 12:20] AlfredSK commented on #9854
Fixed. Thank you! :-)

[2021-01-24 12:28] strk opened #9859 "Allow users to change the encription keys associated to their account"
This is a spin-off of issues #3466 (identity recover) and #6519 (re-introductions).

I'll focus this ticket on the current security flow related to the being impossible for users to publicize an updated encryption keypair.

Here's the scenario:
  1. I backed up my account keys, in an USB key.
  2. Someone stole the USB key at an hacker's conference
  3. To keep my communications secure I generate

[2021-01-24 13:49] MrPetovan commented on #6519
I see you have opened a new ticket, that's what I would have suggested, thank you.

[2021-01-24 13:57] MrPetovan commented on #9859
This is a good suggestion, but unfortunately despite being very detailed it would only address part of the issue. Because Friendica is not the only software the private key is used with. Mastodon expects signed requests, Diaspora expects signed requests, etc...

So even if we tackled this issue the way you outlined it, which we definitely can, it would only enable you to restore Friendica connecti

[2021-01-24 14:00] MrPetovan commented on #9640
Closed by #9858

[2021-01-24 14:00] #9640 closed, assigned to MrPetovan

[2021-01-24 14:50] strk commented on #9859
The fact that other, external, projects won't support it doesn't mean Friendica should not support it.
I'll surely file a similar ticket on other platforms when the problem will affect me. If you see ways in which Friendica could *detect* such problems that'd be a great improvement as well, something like detecting that messages are refused on remote servers, so I can see who, among my "connection

[2021-01-24 15:19] Extarys commented on #9834
@Neustradamus It's nice and all but like @MrPetovan said, what would be the advantage? I guess one of them is having multiple "admins" in case one of them gets abducted by a "rival" federation project but other than that I am still confused.

[2021-01-24 15:28] Neustradamus commented on #9834
It will be more legal, better management, etc.
There will be no breaks.

I can do in few minutes, if you take me the possibility.

I have done for several projects without problems.

[2021-01-24 17:05] MrPetovan commented on #9859
If remote servers are responding to the appropriate authentication-related error code to the messages related to the delivery of your posts, then I suppose we could detect it, but it becomes even more involved (=costly) than what the initial issue outlines.

[2021-01-24 17:34] mikauskas commented on #9666
Have downgraded server to 2020.09-01. Now "Show more dynamic" is not working properly.
And unable to follow a user:

`Internal Server Error
'https://domain.com/dfrn_request/kedas&addr=6d696b6175736b6173406c6169737661692e6c74 is not a relative path, please use System::externalRedirectTo
#0 /var/home/account/public_html/domain.com/src/Model/Contact.php(2072): Friendica\App\BaseURL->redirect('https:/

[2021-01-24 17:38] strk commented on #9859
Little steps: let's focus just on allowing invitations from users already-known but having a different key.

[2021-01-24 18:39] MrPetovan commented on #9666
If you downgrade the core, you have to downgrade the addons as well. No update on this issue.

[2021-01-24 19:22] mikauskas commented on #9666
Both core and addons are from the same package and there is only "Showmore Dynamic" v 1.0 anyway. Have disabled the addon. Can live without it for a while. Hopefully will start working itself after an upgrade.
After downgrade previously created posts with videos and preview pictures to links are displayed nicely again.
Apparently, the user was still not confirmed. The false alarm about unable to f

[2021-01-24 21:26] Extarys commented on #9812
I didn't forget about this.

I'm having some issues with the left sidebar. I'm trying to avoid having two sidebars, one for mobile and one for desktop so I'm currently playing with CSS classes. Might have to resolve to jQuery for some hacking as currently there is no animation.

[2021-01-24 22:37] #9856 closed, assigned to Extarys

[2021-01-25 06:15] tobiasd commented on #9834
For all I'm concerned the organization page is at https://git.friendi.ca/friendica as we had the plan to migrate off. If you now decide to drop that plan then please say so (and yes I know the migration is slow for various reasons).

[2021-01-25 07:14] Neustradamus commented on #9834
What migration?

The first step is to do the changes in GitHub, it can be done in few minutes, I can do it if I have access.
I have already done for several.

After you can do the migration that you want.

[2021-01-25 07:21] annando commented on #9834
@Neustradamus on a longterm or midterm we are planning to move away from Github to our own repository.

[2021-01-25 07:28] Neustradamus commented on #9834
Ok, there will be no problem with a mirroring like several organizations/projects :)

But the question is when we do the changes here, I recall, I can do it in few minutes.

[2021-01-25 15:00] tiotrom commented on #9464
I checked and the blocked users can still interact with the posts. This guy is blocked and yet he can still like, reshare and probably comment on my posts:

![image](https://user-images.githubusercontent.com/34804533/105722736-45d64b80-5f26-11eb-81dc-45b5f13adaa8.png)

And he can follow me too and have me in his contacts list and all that.

[2021-01-25 15:40] annando commented on #9464
To explain the problem: If the post was public and landet on that system (for example because there is another user following you) then the post is transferred to that server. Once it reached that server we don't have **any** possibility to deny interaction of specific users. So this person will always be able to share or like that post. We can only don't display this to you - and we can stop rela

[2021-01-25 16:25] Extarys commented on #9834
@tobiasd Gitea! :heart_eyes: Thanks for the link I'll save it.

Yeah instead of mirroring github to gitea, I think we should do the inverse. Mirror gitea repo to github.

Gitea worked hard in 2020 and we now have kabanboard (is that how they are called?) :angel: Anyway, I hate microsoft but I also don't want you guys to spend hours trying to migrate when you could just code and fix bugs. Migrate w

[2021-01-25 20:47] annando commented on #9834
@Extarys currently we do have a problem with the tests. I guess that's what is limiting us now.

[2021-01-25 22:46] tiotrom commented on #9464
I understand but my point with this entry was to erase the blocked user from the instance where I am from. So that, if anyone visits my profile on say venera.social, it won't see this blocked user's interaction with my posts.

In other words: user A uses the instance 1. User B uses instance 1 and 2. User A blocks user B. User B may be able to interact with the content that user A posts, but it is

[2021-01-25 22:49] Extarys commented on #6043
The UI part doesn't concern me as much as how this should be read/sent/retrieved from the server-side (PHP/database). The display part of this will come later.

What should be sent in the POST request? What will be returned from the server?

--------
Is this still something you wish to implement eventually?

[2021-01-25 22:56] MrPetovan commented on #6043
I can promise you that if you make the UI, we'll make the backend.

[2021-01-25 23:37] Extarys commented on #6043
Well, I still need to know how the data should be sent to the server.
The form sends `body` for the... body of the post and `title` for... wait for it... the title of the post.

How does that sound:
`body[en-US]`
`body[fr-CA]`

If the user entered a title for those, it'll send the same thing : `title[en-US]` and `title[fr-CA]`.

Is there a function somewhere in PHP I can use to get an array of lan

[2021-01-25 23:52] foss- commented on #9847
Can you link the wiki entry? The doc / FAQ file also has an admin section. But it feels wrong as user and admin FAQ should be two separate entries.

[2021-01-26 00:11] MrPetovan commented on #6043
This is perfect.

Not in the standard libray. In the Friendica Directory I'm using a static array of language names in the given language, see https://github.com/friendica/friendica-directory/blob/7112c651665adb9eafb2236f36141460d08ccf9c/src/classes/Utils/L10n.php#L16-L155

Not sure why you mentioned 253 languages? The limit placed on the number of languages is a good idea to prevent spam.

[2021-01-26 00:38] Extarys commented on #6043
@tobiasd wrote :

Can we just disable language detection when a post contain less than X characters/words?

Because it's a stupidly high number, you don't know me yet.

I'll see how I can make the JOT model more user-friendly and add this functionality.

[2021-01-26 06:28] Neustradamus commented on #9834
User account to Organization account is very easy, in few minutes and without breaks.

After it, no problem to use Gitea and to create a mirroring.

[2021-01-26 08:06] annando commented on #6043
We limited the detection routine to just the languages that Friendica itself supports. So I guess that the results mostly should be okay. In fact you can check the detection results in the menu of each post.

[2021-01-26 13:13] Extarys opened #9866 "API OAuth - Phase 1"
Moved to https://github.com/friendica/friendica/pull/9867

[2021-01-26 13:13] MrPetovan commented on #9834
We hear you, we just have a slight credentials problem, only one person has the keys to @friendica, so if they aren't going to do it, it won't happen.

[2021-01-26 14:48] MrPetovan commented on #9799
Now I can't reproduce the issue. I've had to fix the widget to even display on my dev node, and it correctly displays only two years for my test account. that started posting in January 2020.

Everything rests on the query to retrieve the first row of the `thread` table related to the user, so I assume that something is fishy in that regard. I'll try to contact the nerdica admin privately to figur

[2021-01-26 14:58] MrPetovan commented on #9782
😄

[2021-01-26 15:30] AlfredSK commented on #9799
If you need something please tell. I have enough accounts. :-)

[2021-01-26 17:37] MrPetovan commented on #9799
Can you reproduce the issue on any recent profile status page? Say, any account who started posting this month?

[2021-01-26 18:13] AlfredSK commented on #9799
Hmm. No. I don't have such a fresh account. But I have one that has been created in 2019. The status (/profile/username) page shows the widget as follows...

![image](https://user-images.githubusercontent.com/3656054/105885739-cf127e80-6009-11eb-8ade-7d27a1fea805.png)

The account hasn't posted anything (zero posts).

The network page shows this...

![image](https://user-images.githubusercontent.c

[2021-01-27 01:09] SpencerDub opened #9868 "Wide code blocks cause page width issues"
This is something that might fit nicely with #9787.

- [x] I have searched open and closed issues for duplicates

### Bug Description

In Frio, extremely wide code blocks 1) are not contained by the comment/post frame and so "break out" to their full width, and 2) force the page width to be as wide as the block, which causes severe usability issues on mobile.

### Steps to Reproduce

You can see t

[2021-01-27 03:38] #9866 closed, assigned to nobody

[2021-01-27 05:50] tobiasd opened #9869 "@-mentions in calendar entries not possible"
### Bug Description

When composing a calendar entry and enter an Fediverse handle (@-mention) it is not translated into a link to the correspondent account in the Fediverse.

### Steps to Reproduce

1.  Compose a new calendar entry
2.  Mention an account
3.  Have a look at the preview or publish the entry

Actual Result:

The account @-mentioned is not.

Expected Result:

The account should be li

[2021-01-27 09:51] tobiasd commented on #9834
I really don't see the point in migrating it here on github to an organization (where then the same people will have admin rights to the settings because I had distributed those to some people to increase the Bus-factor that they forget it later on may decrease the bus factor again as we now see...).

AFAIK we want to quit github, more sooner then later. There is/was (?) that performance problem w

[2021-01-27 14:30] MrPetovan commented on #9868
Oof, thank you for the report.

[2021-01-27 14:30] MrPetovan commented on #9869
Thank you for the report.

[2021-01-27 17:13] Neustradamus commented on #9834
@tobiasd: Better to manage the organization with your personal account instead of fake account.
And for the mirror will work too...

[2021-01-27 21:32] #9677 closed, assigned to MrPetovan

[2021-01-28 11:16] haheute opened #9871 "cancel photo deletion throws error"
- [x] I have searched open and closed issues for duplicates

### Bug Description

When dropping / deleting a photo you are asked "Are you sure?". When clicking `cancel`, an error message appears.

### Steps to Reproduce

1. click on the trash bin icon of a photo
2. "Are you sure?" - question appears
3. choose `cancel`

Actual Result:

blank page with: {"error":"Keine Dateien hochgeladen."}

Expect

[2021-01-28 12:53] Extarys opened #9872 "Friendica api return various document type and responses"
- [x] I have searched open and closed issues for duplicates

### Bug Description

API endpoint for friendica currently doesn't return either a json value or a standardized response.

### Steps to Reproduce

1.  Like a post, subscribe to a thread or star a post
2. Check the response in the Network tab

Actual Result:

### GET /subthread/{item_id}
#### Returns

--------------
200

HTML Page

### GET

[2021-01-28 14:34] Extarys commented on #9872
Mastodon API for:
[Bookmarks](https://docs.joinmastodon.org/methods/accounts/bookmarks/)
[Favorites](https://docs.joinmastodon.org/methods/accounts/favourites/)

@annando The mastodon API for starred (or is it like?) only support GET request to get favorites posts. It doesn't seem to support POST.

Is there another documentation you could link here when we work on this? Maybe I just didn't read th

[2021-01-28 14:35] MrPetovan commented on #9871
Thank you for the report!

[2021-01-28 21:30] realkinetix commented on #9747
2021.01  php 7.4.14
[code]

These errors are causing some pretty big issues with my worker queue, so considering the discussion around develop's stability, I switched to 2020.03-dev.  Still throwing these like crazy.

[2021-01-28 21:30] realkinetix commented on #9747
2021.01 php 7.4.14
[code]

[2021-01-28 22:53] annando commented on #9872
The documentation is the correct one. What is the problem with GET here?

[2021-01-29 01:29] MrPetovan commented on #9872
I assume that they would like the API endpoint we use to star or like a post. I don't think we list it in the API documentation since it's only used in the Friendica themes.

[2021-01-29 01:32] ghost commented on #9786
@hoergen Is this this behavior that you mean?

[https://drive.google.com/file/d/1J4Qc6rK58AqNe38lGS7EBDOl_XT1le17/view?usp=sharing](url)

[2021-01-29 01:33] ghost commented on #9786
Is this this behavior that you mean?

https://drive.google.com/file/d/1J4Qc6rK58AqNe38lGS7EBDOl_XT1le17/view?usp=sharing

[2021-01-29 02:00] Extarys commented on #9872
@annando the api from mastodon, from what I can see, is only to get (retrieve) the information, not to set it in the database.

[2021-01-29 05:59] annando commented on #9872
The setting is done here: https://docs.joinmastodon.org/methods/statuses/

[2021-01-29 06:21] sunchaserinfo commented on #9747
@MrPetovan It seems you try to use C-code for these translations that work incorrectly because of the wrong ternary association order in PHP, basically that's why they were forbidden

for example for Russian expression

[code]

you get 2 for 21 while the correct result is 0 so you need to add parser even for earlier PHP's

Here is my quick and dirty solution:

[code]

[2021-01-29 06:43] SpcCw opened #9875 "Embedded rich content doesn't show"
- [x] I have searched open and closed issues for duplicates

### Bug Description

When OEmbed rich content is enabled (globally or by whitelist) it doesn't show in some cases.
Discussion: https://forum.friendi.ca/display/d8230ed6-1660-1038-312d-f36036758955

### Steps to Reproduce

1.  Make post with a link

Example links:
https://blog.mrpetovan.com/review/video-game/love-letter-to-euro-truck-simu

[2021-01-29 06:50] annando commented on #9747
@realkinetix please have a look for entries in your workerqueue with the "command" field set to "APDelivery" that isn't done. In "parameter" you should see a JSON construct like `["wall-new",35223440,"https:\/\/de.relay.friendi.ca\/inbox",1]`. Please have a look for an entry where the second parameter (here `35223440`) isn't numerical, but a string. Please post it here.

[2021-01-29 08:27] hoergen commented on #9786
@copiis  Maybe .. possible ... sorry but your  urls are blocked here. Why don't you share your information in here ?

[2021-01-29 08:56] hoergen commented on #9705
Is the problem solved? I didn't notice some more posts, but I wasn't that attentive watching my stream the last week.

[2021-01-29 09:07] hoergen commented on #7651
What does it need to integrate it?
It would be very helpful for every peertube server, if we distribute the web torrent url instead of the direct video link. If it happens, that there is a video going viral, we are supporting a "DDOS" on that server when sharing the video link. ;)

PeerTube itself provides several ways to share the videos. One way is this e.g.

`<iframe width="560" height="315" sa

[2021-01-29 10:35] annando commented on #9705
I haven't done any additional work at this.

[2021-01-29 10:55] SpcCw commented on #8421
I tried hiding comments by default [as suggested above](https://github.com/friendica/friendica/issues/8421#issuecomment-601937637) and I love it!

If there are no better solutions maybe we can have this as user option?

So far it works great ("show more" link should be reworded of course). It is such a relief when you have some noisy contacts leaving l-o-o-o-n-g comment threads...

[2021-01-29 13:21] SpcCw commented on #9840
I think it is better to hide all posts in case the block is lifted.

How about having separate function for deleting all posts from certain domain? It certainly won't happen often so it can be console command. Maybe with option to purge all posts from certain contact or from entire domain.

[2021-01-29 14:47] realkinetix commented on #9747
Hi @annando

Would it be considered a string if the field is ""?  I checked a number of entries, and just showing id,parameter,created there's lots like:

[code]

Sorry, I should mention that the actual query was: select id,parameter,created from workerqueue where command like '%apdelivery%' limit X;

Just want to be clear that I was checking for the right thing.

[2021-01-29 15:10] MrPetovan commented on #9872
Do we support the Mastodon's API `v1/statuses/:id/favourite` endpoint?

[2021-01-29 15:16] MrPetovan commented on #9747
@sunchaserinfo Thank you so much for the suggestion, we'll try to use it in our .po to .php file converter!

[2021-01-29 15:20] MrPetovan commented on #9875
It is possible that iframes are filtered out by the HTML sanitizer we have been adding to the BBCode to HTML converter. Not sure why it would show on one system but not the next.

[2021-01-29 16:56] AlfredSK commented on #9875
The difference in behavior seems to be related to the node's oembed setting in admin panel -> policies.
When oembed is allowed it doesn't work. Fetching the preview w/o oembed seems to work.

[2021-01-29 16:59] AlfredSK commented on #9875
Example: On my node oembed is off - with exceptions for Vimeo and Soundcloud.
So, the preview for @MrPetovan blog post works (oembed off). But the Soundcloud preview/player doesn't work (oembed on).

[2021-01-29 17:15] AlfredSK commented on #9677
Hmm. I tried it on my phone. It doesn't seem to work. I enabled that additional checkbox on login page and entered a 2fa code.
After some hours I had to do the same again. I had to enter 2fa code again. I also checked the list of trusted browsers after that. I found the list empty.

[2021-01-29 17:26] MrPetovan commented on #9677
Can you please verify you have the table in your database? See https://github.com/friendica/friendica/pull/9823#issuecomment-769724951

[2021-01-29 18:04] AlfredSK commented on #9677
I already saw that comment. Let me check... Nope! Table `2fa_trusted_browser` doesn't exist.

[2021-01-29 18:07] AlfredSK commented on #9677
Ok. Running the dbstructure update manually created the table.

[2021-01-29 20:38] annando commented on #9872
At some time in the future we should. But I could imagine that we could start with basic auth there as well. Then we could implement those endpoints as well.

[2021-01-29 20:41] annando commented on #9747
@realkinetix Can you delete those entries by hand? This `""` doesn't look good.

[2021-01-29 20:44] VVelox opened #9878 "can't update past 2020.07"
- [x] I have searched open and closed issues for duplicates

### Bug Description

Last year has been crazy for me so just updated to 2020.03 from 2019.12 and started stepping through updating to each one... This was going swimmingly till I hit 2020.09 and then I have the issue below...

[code]

### Steps to Reproduce

From what I can tell start updating from older versions to 2020.09.

Expected Re

[2021-01-29 21:57] realkinetix commented on #9747
OK, have done so.  It's stopped those specific errors, will have to see how the rest of the worker tasks go.  Would you like me to provide any follow-up/checks on this?

[2021-01-29 22:25] MrPetovan commented on #9878
Thank you for the report, this is a duplicate of #9753, please look here for a potential solution: https://github.com/friendica/friendica/issues/9753#issuecomment-756081396

[2021-01-29 22:32] ghost commented on #9786
The link led to a GIF.
I'll try to describe it.
After clicking on Block, you will be asked again for confirmation, then the corresponding post will be grayed out, but after the page has been refreshed, the post will be back.
Is that the behavior that you have too?

[2021-01-29 22:32] 4nanook opened #9879 "Friendica Incorrectly Calculates my Age"
- [x] I have searched open and closed issues for duplicates

### Bug Description

My Birthdate is 11/4/1958, Friendica incorrectly calculates my age as 61, I am 62.
### Steps to Reproduce

1.  step one
2.  step two
3.  step three

Create your profile with your birthdate.
Actual Result:

Calculated Age is wrong.
Expected Result:

Should show my age as 62.

### Screenshots

### Platform Info

Friend

[2021-01-29 23:33] annando commented on #9747
@realkinetix I guess this call had been generated by the previous version? I now added some additional checks.

[2021-01-29 23:35] realkinetix commented on #9747
I believe that these have been around for awhile based on the queue backlog - 2020.12, I believe.  Unfortunately, I can't easily verify that now.

[2021-01-29 23:51] VVelox commented on #9878
Similar in that it involves bad data from a previous version, but it is different.

[code]

That did give my an idea for another one though...

[code]

Still working on figuring out the exact phrasing for the SQL for the other.

[2021-01-30 00:00] VVelox commented on #9878
Okay, found the final fix for it!

[code]

[2021-01-30 00:18] AlfredSK opened #9881 "DB Error 1452 – Cannot add or update a child row: a foreign key constraint fails"
- [X] I have searched open and closed issues for duplicates

### Bug Description
Had a look at possible DB errors after the latest structure changes and found pretty much of these...

[code]

### Platform Info

Friendica Version:
2021.03-dev - 1395

Friendica Source:
git

PHP version:
7.4

SQL version:
10.3 MariaDB

[2021-01-30 00:42] VVelox commented on #9878
Okay. I've updated to 2021.01 now and found another one that was needed.

[code]

[2021-01-30 00:49] VVelox commented on #9878
Okay. I spoke to soon.

[code]

This appears to be something new and not sure what is going on.

[2021-01-30 07:54] AlfredSK commented on #9677
Now it works. 🎉

[2021-01-30 08:09] tobiasd opened #9885 "Installation of Friendica 2021.03-dev fails because postupdates to the DB have not finished"
### Bug Description

The installation of Friendica 2021.03-dev from git fails with the following error message

### Steps to Reproduce

1.  Install a fresh 2021.03-dev version of Friendica

Actual Result:

Error message is displayed.

Expected Result:

The installation to work with the correct, empty database structure.

### Platform Info

Friendica Version: 2021.03-dev from git

[2021-01-30 08:25] MrPetovan commented on #9878
Sorry, I have never seen this error message either. It looks like the temporary table MySQL uses to alter a table structure is lingering but even if it was the case I don't know how to clean them up. Do both `notify@002dthreads` and `post@002dcategory` tables show in the table list with this exact spelling?

[2021-01-30 08:43] MrPetovan commented on #9677
Excellent!

[2021-01-30 10:01] MrPetovan commented on #9879
Thank you for the report, this isn't a bug, it's a flattering feature! 😄

[2021-01-30 10:08] 4nanook commented on #9879
:smile_cat:

[2021-01-30 10:53] hoergen commented on #9705
Okay, maybe I didn't see it.  Had one old post again, so it still exists.

[2021-01-30 10:56] hoergen commented on #9786
No. As I described above someone reshared a post and I don't like to see the account this person reshared. So I blocked the "reshared account". Until now I didn't see a reshared post again from this person, but I don't know if there was something reshared ;) It is like Schrödingers Reshare ;)

[2021-01-30 11:13] tobiasd commented on #9879
I'd like to have the feature as well (IOW Friendica calculated my age correctly)

[2021-01-30 13:30] AlfredSK opened #9886 "Page jumps back to top gradually"
- [X] I have searched open and closed issues for duplicates

### Bug Description
The pages containing post items like network or community are jumping back to the top of the page step by step. The only thing you need to do to see the behavior is watching the page. **This happens only because the content is refreshed after some seconds - not because new content is loaded.**

I've checked that e.g.

[2021-01-30 14:11] VVelox commented on #9878
Nope. The list of tables is below for what I am seeing.

[code]

[2021-01-30 16:21] MrPetovan commented on #9878
Thank you, I'm not sure what these errors are about.

[2021-01-30 17:01] Extarys commented on #9872
Since the current themes don't read the responses of the current endpoints, can we modify those responses to return a proper json object? Would be faster/simpler for now until auth is implemented and all.

[2021-01-30 18:01] MrPetovan commented on #9872
Absolutely.

[2021-01-30 20:07] MrPetovan commented on #9872
@Extarys What is the `state` return key supposed to be? We return HTTP error codes when a request fails, not a fully-formed response like the one you suggested.

[2021-01-30 21:07] MrPetovan commented on #9872
Nevermind, I found my answer with the `item/{id}/ignore` module that allows to toggle the ignore status of a thread, the `state` is the actual value being set for the `ignore` verb.

[2021-01-30 23:42] foss- commented on #9886
Unable to reproduce on
* iOS 14.4, Firefox 30 (3279), pirati.ca, frio
* macOS 10.15.7 (19H114), Firefox 85, pirati.ca, frio

Is there some setting that needs to be active for the problematic behavior to show? Had network page open after scrolling down a good bit. No reloading, location not changing, waited 5 minutes, no dice.

This is Friendica, version 2021.03-dev that is running at the web locat

[2021-01-30 23:54] MrPetovan commented on #9872
I've now normalized the following frontend API endpoints:
- `POST item/{id}/follow`
- `POST item/{id}/ignore`
- `POST item/{id}/pin`
- `POST item/{id}/star`
- `POST item/{id}/activity/{verb}`

When called without a `return` request parameter, they will output the following structure:
[code]

[2021-01-31 00:43] MrPetovan commented on #9879
I'm not able to reproduce this using your birth date and your specific timezone, can you please verify you set your birth year correctly in your profile?

[2021-01-31 01:06] 4nanook commented on #9879
![profile](https://user-images.githubusercontent.com/3466797/106371788-6edb4f80-631d-11eb-8644-119964a79985.png)
![profile2](https://user-images.githubusercontent.com/3466797/106371791-71d64000-631d-11eb-88e3-02b25ce7f529.png)

[2021-01-31 02:23] VVelox commented on #9878
So as to those latest errors, I just went and replaced Percona 5.7 with MariaDB 10.4 and those went away.

[2021-01-31 02:25] VVelox commented on #9878
That said do we have a place were we are tracking all found and possibly required fixes from bad data getting shoved in tables that prevent the new foreign key requirements from being applied?

[2021-01-31 02:50] MrPetovan commented on #9879
Thank you for the elaboration!

[2021-01-31 02:52] MrPetovan commented on #9878
Other than the comment I linked to you, I don't think so.

[2021-01-31 03:30] MrPetovan commented on #9879
I found the issue. On the one hand, on your profile there is an automatic profile field named "Age" that currently doesn't display anything for American English users because of a bug in the localization code. When a translation is missing, we normally use the source string, but for plurals, we don't do this correctly.

On the other hand, last year, before your birthday, you created a custom profi

[2021-01-31 04:12] 4nanook commented on #9879
I sure did not intentionally create any custom field.  Hmm.  This is
getting more bizzare by the moment.  I also saw a comment today with my name
that I didn't make, perhaps time to change password.

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
  Eskimo North Linux Friendly Internet Access, Shell Accounts, and Hosting.
    Knowledgeable human assistance, not tele

[2021-01-31 10:49] AlfredSK commented on #9886
Hmm. Another user had confirmed it yesterday, but today I can't reproduce it anymore. Weird.

[2021-01-31 11:20] VVelox commented on #9878
I am curious, what do you think of the idea of collecting these in the docs?

Was just looking at it and 'doc/Updating.md' seems like a great place.

Basically a section for possible required fixes from previous versions in which bad data may of gotten inserted prior to more strict key stuff.

[2021-01-31 13:06] AlfredSK commented on #9747
2021-03-dev - 1395 / PHP 7.4

[code]

Still happens on current RC (2021-03-27)

[2021-01-31 13:34] MrPetovan commented on #9878
It's a very good idea, if you can do it yourself it's even better!

[2021-01-31 13:37] foss- opened #9895 "[twitter] link in post unclickable / only shown as text"
### Bug Description

This Tweet https://twitter.com/bellingcat/status/1355855703718715393 seen on friendica https://pirati.ca/display/a6551d713c3a5092853484e5862236837b2f2242 results in a post with unclickable link.

### Steps to Reproduce

Visit https://pirati.ca/display/a6551d713c3a5092853484e5862236837b2f2242

Actual Result:

Post shows as `Navalny Poison Squad Implicated in Murders of Three Ru

[2021-01-31 13:52] MrPetovan commented on #9895
Yep, I can confirm, we've been treating Twitter post-ending link differently, I suppose to to add a link preview, but it doesn't seem to work correctly.

[2021-01-31 14:55] hoergen commented on #9729
And If I may add in here is, that in such a case, where you click from comment to comment in the same thread, there should be **no page reloading**. Instead the frontend should notice, that you are on the page and **just jump to the comment**.
That would avoid additionally load from big servers with a lot users and as well from very small servers with weak hardware specs.

[2021-01-31 15:09] hoergen opened #9896 "No notifications any more for comments and selected users"
Since about a week or maybe more I don't get notifications any more on comments and users I configured to get notifications, when they post a message.

I still get notifications for contact requests and direct messages.
And I can manually check all notifications here  `https:///Friendica-Server-URL/notifications/home?show=all`

### Steps to Reproduce

Clone my Friendica server ;)

### Screenshots

[2021-01-31 15:31] VVelox commented on #9878
I'll begin collecting them all and will get a pull request submitted some time in the next few days then. :)

[2021-01-31 15:31] #9878 closed, assigned to nobody

[2021-01-31 17:54] MrPetovan commented on #9878
Excellent, thank you!

[2021-02-01 01:13] Extarys commented on #9872
Can I kiss you? :open_mouth:

Thank you very much @MrPetovan !
(Sorry been busy)

[2021-02-01 10:45] foss- opened #9898 "UX when following a user - terminology and UI improvements, how to communicate a request is pending"
There are a few problems around connecting with other users. My understanding of the backend side is very limited and I am sure there are reasons for the current state, so bare with me.

After entering user details via `Add New Contact` user arrives at

Connect/Follow dialog:
<img width="1008" alt="connect" src="https://user-images.githubusercontent.com/5708172/106447538-e6c28a80-6481-11eb-84c3-0f

[2021-02-01 13:42] Extarys commented on #9872
Woops I closed but I forgot about the subthread endpoint. Should be left open for now I guess

[2021-02-01 13:54] MrPetovan commented on #9872
Yes please, I'll update this issue's status once it's merged. Feel free to gather the list of the next endpoints you'll need normalized, I'm sure these weren't the only one you're eyeing at using.

[2021-02-01 19:59] MrPetovan commented on #9872
The last PR in this issue has been merged, which completes it.

[2021-02-01 19:59] #9872 closed, assigned to MrPetovan

[2021-02-01 20:50] blackandred commented on #9747
[code]

And the debugging, the invalid url is:

[code]

![image](https://user-images.githubusercontent.com/22807686/106518315-fa99db00-64d9-11eb-8103-76dacf2b7b98.png)

[2021-02-01 21:03] blackandred opened #9899 "Broken instance url, instance unusable after upgrade from 2020.09 to 2021.01 [docker]"
- [x] I have searched open and closed issues for duplicates

### Bug Description

After I upgraded instance from 2020.09 to 2021.01, then I got corrupted the database.
`system.url` in `config` table is getting an invalid URL `https://friendica.wprzemianie.pl/friendica.wprzemianie.pl` in effect all urls looks shitty and makes instance unusable - without js, css, images etc.

Every retry of changing

[2021-02-01 21:11] MrPetovan commented on #9747
Thank you for the detailed report, it looks like a duplicated protocol in the URL, see the truncated parameter to `UpdateGServer::execute`: `'https://https:s...'`.

[2021-02-01 22:37] Extarys commented on #6853
@foss- Is this the error I've been experiencing?
![image](https://user-images.githubusercontent.com/11581433/106526785-2f933700-64b4-11eb-8c63-28f5dfc47b3f.png)

[2021-02-01 22:51] MrPetovan commented on #6853
Possibly, it depends on where you got the page URL.

[2021-02-01 23:01] #7655 closed

[2021-02-01 23:37] foss- opened #9900 "submitting request to connect to the same contact twice results in two pending connect requests"
When submitting a request for the same account twice this currently results in two request entries in the contacts > pending view.

**Expected**
Should always remain one pending request and on second request for contact with open pending request, the user should be informed that a request is still pending.

[2021-02-02 00:25] Extarys commented on #6853
That link: https://pirati.ca/display/ec054ce7-5460-16de-dc7b-7c4231346227

Foss- sent it to me so I could read the post and I got that error so we were looking through GH issues. No idea how I could log/debug this though.

[2021-02-02 01:22] MrPetovan commented on #9747
In the meantime, please delete all the rows in your `workerqueue` database table where `` `command` = 'UpdateGServer' ``.

[2021-02-02 06:30] blackandred commented on #9747
Now it does not throw any error. But also didn't resolve my issue #9899, the worker is still breaking the instance url :disappointed:

[2021-02-02 11:39] hoergen commented on #9896
There is as well a delayed queue with lot of `wall-new` messages. Maybe this has something to do with it?

[2021-02-02 13:04] fabrixxm commented on #9899
have you tried to run in terminal

    $ bin/console config system url https://friendica.wprzemianie.pl

?

edit: nevermind, I had missed the "Every retry of changing this entry in database results in... reset after crontab task runs." part.

[2021-02-02 13:28] MrPetovan commented on #9747
Fair enough, let's take one thing at a time 😅

[2021-02-02 13:34] MrPetovan commented on #9899
Can you please confirm the values of the following config keys:
- `config.hostname`
- `system.urlpath`
- `system.ssl_policy`

[2021-02-02 13:39] MrPetovan commented on #6853
And this was the URL of a Friendica reply on a public Twitter post?

[2021-02-02 15:17] foss- commented on #6853
Good point, it was a friendica post going to https://venera.social/display/85a863ed-7860-1485-a394-05a916453658 found on piratica as per https://pirati.ca/display/85a863ed-7860-1485-a394-05a916453658

So this case is not identical but similar and might have the same cause.

[2021-02-02 17:00] blackandred commented on #9899
[code]

[2021-02-02 17:02] MrPetovan commented on #9899
Thanks, what about `config.hostname`?

[2021-02-02 17:04] blackandred commented on #9899
[code]

[2021-02-02 17:04] MrPetovan commented on #9899
The correct command is `bin/console config config hostname`.

[2021-02-02 17:05] blackandred commented on #9899
Sorry than. Thanks for immediate response :sunglasses:

[code]

[2021-02-02 17:11] fabrixxm commented on #9899
[code]
this should be empty, i think..

[2021-02-02 17:24] blackandred commented on #9899
Thanks. It seems that it is fixed by:

1. `./bin/console config system urlpath ""`
2. Then via database query I set `system.url` (hex: 73797374656D and 75726C) to proper url `https://friendica.wprzemianie.pl/`

Verified by:
1. I ran `./bin/worker.php`
2. Checked in the browser

[2021-02-02 17:26] blackandred commented on #9899
Thank you very much for your time and your help. I hope this issue will help someone in case anybody would have such issue.

[2021-02-02 17:26] #9899 closed, assigned to nobody

[2021-02-02 17:26] fabrixxm commented on #9899
I didn't read the code, so I don't know if has some impacts, but on my node 'system.url' is without the end "/"

[2021-02-02 17:27] blackandred commented on #9899
Sure, I will adjust then :smile:

[2021-02-02 17:31] blackandred commented on #9896
[code]

It seems that some addon is failing. Try `composer install` or disabling such addon if it is possible - sorry I may be wrong, Im not very familiar with Friendica but actually just a PHP developer.

[2021-02-02 17:46] hoergen commented on #9896
With every git pull i also run `composer install --no-dev`  but I tried it again with and without --no-dev, but no change.
I doubt, that the public_server addon can be a problem because all other public servers should have the same problem. Currently there is only my server  affected.

I have the impression its the `not writable, please chmod to 775 in /wwwverzeichnis/htdocs/vendor/ezyang/htmlpuri

[2021-02-03 06:05] blackandred commented on #9896
Please show the whole file "public_server.php" or at least it's line 115 + first lines with `use` statements in the file header.

[2021-02-03 08:49] hoergen commented on #9896
It is this
https://github.com/friendica/friendica-addons/blob/develop/public_server/public_server.php

of friendica/addons https://github.com/friendica/friendica-addons

[2021-02-03 10:09] hoergen commented on #9896
~~Hmmm stumbled across that the friendica demon is not working any more. Some friendica update broke it.~~
forget it I resetup cronjob again weeks ago after I noticed, that demon doesnt work reliably

[2021-02-03 11:05] hoergen opened #9902 "db errors: Got an error reading communication packets"
### Bug Description

Friendica produces errors in mysql error.log.
To be clear: on the same host are different services with heavy db usage active. and no other db user is listed in the error.log

As far my researches were going there are missing db.close() calls somewhere in the code.

[code]

### Platform Info

- Friendica Version: 2021-01-dev (today pull)
- Friendica Source:  git
- PHP version:

[2021-02-03 18:24] tiotrom opened #9903 "Custom CSS Box for Admins"
Like PeerTube, it would be useful for admins to have the ability to easily inject CSS and customize a bit the instance.

[2021-02-03 19:51] hoergen commented on #9896
I deactiveted the public_server addon like you said and it seems new notifications are incoming (had one).
Thanks a lot for the help, even I needed some time to be brave enough. :+1:

[2021-02-03 19:51] #9896 closed, assigned to nobody

[2021-02-03 22:30] MrPetovan commented on #9896
I've fixed the `public_server` and `testdrive` addons here: https://github.com/friendica/friendica-addons/pull/1077

[2021-02-04 21:44] SpcCw commented on #9903
Yep, it could be cool.

Basically it already can be done by making your own copy of theme scheme and editing CSS file. I have a few tweaks done this way. But it requires editing files on the server. On the other hand CSS changes are rather advanced stuff too.

[2021-02-04 22:12] tiotrom commented on #9903
Which file more exactly? I am using the Frio theme? And won't the changes be overwritten by updates?

[2021-02-04 22:30] hellquist commented on #9875
Hi! Just to add that I experience something similar and/or the same (I'm not well versed enough yet to do fine-tuned error reports on the platform).

Basically my post, which is a simple one line of text, two linebreaks followed by a link to an article (in this case on New York Times) look great when composing the message, with preview image, headline and text excerpt from the article.

<img width

[2021-02-05 04:03] MrPetovan commented on #9903
You're absolutely right, there's no safe way of adding custom CSS in Friendica yet. But if you're adventurous, you can pick a Frio scheme and start modifying the corresponding scheme file (in `view/theme/frio/scheme`) to your liking. It will affect all users selecting the same scheme.

[2021-02-05 12:04] tiotrom commented on #9903
Ok so there is no good practice here, for now ;). Would it be difficult to add such a feature for the admin panel? This would allow people to customize their instances a lot.

[2021-02-05 12:58] MrPetovan commented on #9903
No, not that difficult, we already have dynamic CSS sheets, they can be leverage with a custom CSS field. It is rendered slightly complicated by the existence of themes and schemes though. Should we allow separate custom CSS for each theme? Each scheme?

[2021-02-05 13:24] tiotrom commented on #9903
I think a simple CSS box like Peertube has, independent of the theme, for those who know how to deal with CSS. For me would be fantastic since I can easily inspect the page and add CSS to tweak the looks as I want. I'd absolutely love that. Just a simple injecting-CSS box is what I'm thinking about.

[2021-02-05 13:30] MrPetovan commented on #9903
What about the potential side-effect depending on the theme each user selected? Does PeerTube have a per-user theme selector?

[2021-02-05 14:48] MrPetovan opened #9905 ""Contact not found" when blocking a stranger"
Today I tried to block a stranger one of my contacts replied to.

The asynchronous `item/block/<item_id>` calls returned 404 Not Found with the message "Contact not found".

This came from this code:
[code]
Friendica wasn't able to retrieve a user-specific contact id for the stranger and aborted. @annando What is the correct way of blocking a stranger?

[2021-02-05 17:57] AlfredSK commented on #9886
I'll check the behavior again later today. It's weird I cannot reproduce it myself now. I'll close it when don't find something...

[2021-02-05 18:09] SpcCw commented on #9903
@tiotrom server administrator can create their own "schemes" for Frio theme which are then selectable by users.

These files are located in: `/view/theme/frio/scheme/` and there are two files for each scheme: php and css. You can clone existing ones, peek inside th get some ideas. For example I inject this to make Frio look better on large screens:

[code]

Custom color schemes aren't overwritten

[2021-02-05 18:44] MrPetovan commented on #9903
This is definitely a possibility as well with no potential side-effects on the rest of the themes/schemes.

[2021-02-05 20:24] tiotrom commented on #9903
I  checked and doesn't seem to have them per theme. But a general box.

@SpcCw  thanks! What if you activate a CSS box per theme? Like Say the Frio theme is selected by the admin, you get a CSS bos for the Frio theme. If another theme is selected then a different CSS box will appear. Or, add 4 or so boxes for each theme, and is up to the admins to use it wisely.

I could clone and tweak but am afr

[2021-02-05 20:36] MrPetovan commented on #9903
@SpcCw was suggesting you to create a new empty file in the `/view/theme/frio/scheme/` folder and fill it with your modifications. Then you would be able to select it as the node scheme which would be shown by default to users who didn't change their theme/scheme.

[2021-02-05 20:50] tiotrom commented on #9903
Ah ok I get it. Beautiful. Had no clue! Thanks.
I looked through them a bit, I am very familiar with CSS, but how do I make mine as default?

[2021-02-05 20:58] MrPetovan commented on #9903
Default for the node? You have to select the scheme once you created the file in the admin settings -> General Information -> Default theme settings.

[2021-02-05 22:01] SpcCw commented on #9903
@tiotrom also you don't have to change everything, just what you want to be different from defaults. Then these custom scheme files remain. So far I haven't needed to fix any settings after updates.

Yes, in theory if Frio undergoes massive changes your custom CSS can become invalid. E.g. I have custom color for unseen notifications `li.notification-unseen` but what if the class changes name? Sure

[2021-02-06 10:40] AlfredSK opened #9906 "Community page: initial loading super slow - DB query running for 1.5 minutes"
- [X] I have searched open and closed issues for duplicates

### Bug Description

The current DB stucture in develop is producing some very slow queries. The one that is extremely slow is the query for loading the content of the community pages. It takes approx. 1.5 - 2 minutes until the page is completely loaded.

Subsequent pages (content) loaded via infinite scroll are pretty fast. When I scrol

[2021-02-06 10:59] AlfredSK opened #9907 "Slow queries with current db structure"
- [X] I have searched open and closed issues for duplicates

### Bug Description

[Another](https://github.com/friendica/friendica/issues/9906) slow query with current db structure that is running for more than half a minute. I don't know what page is causing that one. So I report it as is...

[code]

Explain:
[code]

### Steps to Reproduce

Don't know. Just found it in my mysql slow queries log.

[2021-02-06 11:04] AlfredSK commented on #9886
Cannot reproduce anymore. Good. Whatever. Closing. :-)

[2021-02-06 11:04] #9886 closed, assigned to nobody

[2021-02-06 11:51] AlfredSK commented on #9906
After 'mysqloptimize' the query is faster but still slow.

[2021-02-06 12:59] AlfredSK commented on #9907
And another one...

[code]

Explain:

[code]

[2021-02-06 13:45] AlfredSK commented on #9907
And yet another one:

[code]

Explain:

[code]

[2021-02-06 13:47] AlfredSK commented on #9907
When I look at the `explain` results it seems that those queries are either not using any index or they're using it somehow wrong. That would explain ;-) the slowness.

Edit: Apparently, I got the output of 'explain' wrong all the time. :-) Now that I read a document about the topic I know that it's more complicated. 😁

[2021-02-06 15:32] tobiasd opened #9908 "Posting titles are chopped off at a "<" when distrubuted"
- [❤️] I have searched open and closed issues for duplicates

### Bug Description

When the `<` character is included in a posting title, the title is chopped off at that position. But it is shown in the preview and on the local representation of the posting.

### Steps to Reproduce

Spreading some ❤️ in the title of a calendar entry I used the `<3` representation of the ❤️ initially. Local previe

[2021-02-06 19:36] SpcCw commented on #9064
Looks like there are still some references to it:
[code]

Related discussion:
https://hellquist.eu/display/f5e72586-1160-1e8e-10dc-9b3365179604?owt=fb944edd57f456b244eae85ebac19fca

[2021-02-06 20:16] 4nanook opened #9909 "Wire in LibreTranslate"
### Is the feature request related to a problem? Please describe.

I'm assuming you mean what I want to happen, I'd like messages and/or comments to have a "translate" link that if I click it translates the message from it's native language into my native language.
### Describe alternatives you've considered
I used to use Google translate for this purpose but I hate giving Google ANY info.  Today

[2021-02-06 20:51] MrPetovan commented on #9909
Thank you for the suggestion!

[2021-02-06 20:53] 4nanook commented on #9064
Ok sorry.

[2021-02-06 20:55] kainekh opened #9910 "Video Button"
I do not know if this is an issue where I set it up wrong or need to check a simple setting; I've made a horde of mistakes setting this up. I apologize if this is something stupid simple:

When we try to upload a video, there is no "upload" button like there is on the photo.

I'm a complete noob at this, so I'm getting my feet wet by doing. Are there any specific log or .ini files I should post?

[2021-02-06 21:01] MrPetovan commented on #9064
It’s okay, we just have to update the reference in a couple more places, your work is done here 🙂

[2021-02-06 21:03] MrPetovan commented on #9910
Hi, Friendica doesn’t currently handle video upload if it ever did. The Videos section is misleading and probably should he removed.

I’d suggest you to use PeerTube to post videos and reshare from your Friendica account since both support ActivityPub.

[2021-02-06 22:38] tiotrom commented on #9903
Ok I managed to create my own scheme and to edit it. Very cool! But I still cannot see how I can select it for the entire instance from the admin panel...
![image](https://user-images.githubusercontent.com/34804533/107131153-5e564680-68d4-11eb-81ab-1605fe9a41af.png)

I can only select Frio but not a particular Frio scheme... What am I missing?

[2021-02-07 00:04] kainekh commented on #9910
OK, thank you for the response :)

[2021-02-07 01:26] MrPetovan commented on #9903
"Change default theme settings" in your screenshot.

[2021-02-07 01:27] MrPetovan commented on #9910
You're welcome, sorry about the confusion.

[2021-02-07 02:10] tiotrom commented on #9903
Duh....indeed. You know what confused me a lot? I clicked that and saw this:
![image](https://user-images.githubusercontent.com/34804533/107134379-d2531780-68f1-11eb-90d4-667ca39b173b.png)
And I thought for sure that the two are images - like showcasing how the theme looks like. But apparently the second is a setting....

[2021-02-07 06:21] tobiasd commented on #9909
Thanks for pointing out this project! Last time I had looked for something alike I did not find anything.

[2021-02-07 06:31] 4nanook commented on #9909
You're welcome.  I think this would really set friendica apart as the only open source alternative that really works on an international scale.

[2021-02-07 10:22] AlfredSK commented on #9910
Hmm. I'm pretty sure Friendica can handle videos as attachments. The attached video should appear in the video section after the post has been submitted.

At least that was the case in the past. I didn't try it lately. And yes, the whole video stuff is complicate and confusing.

[2021-02-07 10:31] AlfredSK commented on #9910
Yep. It's still working. But the workflow is for Friendica experts only. ;-)

![image](https://user-images.githubusercontent.com/3656054/107143893-cee27f00-6937-11eb-8082-85cd43d7c5e1.png)

![image](https://user-images.githubusercontent.com/3656054/107143906-efaad480-6937-11eb-9d15-2c8ceb31ebe5.png)

[2021-02-07 11:55] SpcCw commented on #9910
@AlfredSK - yes, it works but only with relatively small files. Even when upload limit is large uploading files of substantial size often fails.

Could be handy to share short mp4 clips which are used as GIFs these days but not real videos :)

[2021-02-07 12:26] AlfredSK commented on #9749
2021.03-dev PHP 7.4

`Undefined offset: 0 in .../src/Core/L10n.php on line 302`

Addressed in https://github.com/friendica/friendica/pull/10143

[2021-02-07 12:27] AlfredSK commented on #9749
2021.03-dev PHP 7.4

[code]

Updated on 2021-03-01 and for 2021.03-rc

Addressed in #10139

[2021-02-07 12:29] AlfredSK commented on #9749
2021.03-dev PHP 7.4

`Trying to access array offset on value of type bool in .../src/Protocol/Diaspora.php on line 2555`

[2021-02-07 13:52] MrPetovan commented on #9903
Ha ha ha, sorry for the confusion!

[2021-02-07 16:43] mikauskas opened #9911 "not showing multiple links attachments"
Added links to a post using the link button.

Actual Result:
Doesn't show attachments of multiple links, only shows the last one.

https://old.friendica.lt/display/04a6b8f1-7660-2013-43d1-958935704343

![Screenshot_2021-02-07 Lithuanian infectologists still believe that the earth is flat(1)](https://user-images.githubusercontent.com/76782677/107153081-8ccf3280-6963-11eb-87c1-6197d545da1c.png)

The

[2021-02-07 16:52] mikauskas commented on #9910
Don't you dare thinking about removing video function! Friendica has to be better, not worse than Facebook.
When issue with not showing even Peertube videos will be fixed on the latest versions?
https://github.com/friendica/friendica/issues/9666

[2021-02-07 17:02] mikauskas commented on #9666
Apparently, on Version 2020.09-01 follow button is missing, people cant follow each other.
On Version 2020.07-01 controls are missing below the share window.
Downgrading to version 2020.03 ends up with database errors.
I'm back to version 2021.01 and really need this issue to be fixed. How can I help to get it done?

[2021-02-07 17:17] MrPetovan commented on #9666
This issue is expensive to look into because it depends on two nodes having different node settings. So reliably reproducing this issue requires an elaborate setup, and as such it will be less likely to be picked up, especially since the issue doesn't affect all nodes depending on their settings as well.

Low overall impact + high troubleshooting cost isn't a great recipe for any issue to be solve

[2021-02-07 17:19] realkinetix commented on #9747
Updated to today's develop code, seeing:
[code]

[2021-02-07 17:21] MrPetovan commented on #9911
Interesting, thank you for the report. Friendica currently only supports a single link preview at the end of a post because this is what we produce when publishing posts. We expect a single `[attachment]` BBCode tag at the end of a post body. However it seems like we are not performing this specific check when accepting a remote post, and we end up with a litteral `[attachment]` tag in the middle

[2021-02-07 17:23] MrPetovan commented on #9910
None of the current core developers know how to handle video properly, and the current UI is confusing, hence my suggestion. I do believe that having a misleading Videos section with a different behavior than the Photos section is worse for Friendica usability than not having it at all.

[2021-02-07 18:16] SpcCw commented on #9910
How about renaming it to something like "Media" and using it for listing not just videos but any attached files (which now are listed only in the media browser when creating new post)? It could be useful for other things like publishing one's PGP key for example.

At the same time I would keep current video upload functionality as it is because it is perfectly usable for short clips and longer, pr

[2021-02-07 19:15] MrPetovan opened #9912 "PeerTube message body is Markdown but we still expect HTML"
Original post: https://videos.pair2jeux.tube/videos/watch/ee641ff0-dac9-4978-8537-43fc62a8af32
Friendica display: https://friendica.mrpetovan.com/display/ee641ff0-dac9-4978-8537-43fc62a8af32

Source message:
[code]

[2021-02-08 02:07] 4nanook commented on #9666
What can I do to help?  Is it known what specific settings affect this?  If not, perhaps we could ask a site that has the current development version working to upload their settings and compare to mine?

[2021-02-08 03:48] thystra opened #9914 "[smileybutton] Unable to insert smilies by clicking on them"
When attempting to input a smiley via the smiley plugin/button on the post, clicking on the desired smiley does not insert it into the post.  Copy/past does work, however.  Mouseover should also indicate the smiley code required to manually input smiley into the post.

Desired behavior is for the user to click on the smiley and have it inserted into the post.  This is on: Friendica 'Red Hot Poker'

[2021-02-08 05:07] MrPetovan commented on #9914
Thank you for the report!

[2021-02-08 07:01] MrPetovan commented on #9895
This issue relates to OEmbed. There were various conditions making OEmbed result invalid, which would make us skip parsing the link.

A double-part fix is on the way.

[2021-02-08 11:07] mikauskas commented on #9395
The same problem with a new install on shared hosting v 2021.01.
There were difficulties with installing. Had to manually enable many PHP extensions. Perhaps some more required?

![Screenshot_2021-02-08 cPanel -](https://user-images.githubusercontent.com/76782677/107211723-df5d2d00-69fd-11eb-91a8-0f77542d48a4.png)

 No errors with

`php bin/console.php dbstructure update`

or

`php bin/console.php

[2021-02-08 11:14] mikauskas commented on #9666
It is not really expensive. Just bought a hosting plan for a year with a free domain for just $18 [https://friendica.online/](url)
Can make you admin and provide ssh access if you need it.

[2021-02-08 11:29] annando commented on #9395
@mikauskas Enable `'pdo_emulate_prepares' => false,` in the `database` section of your `local.config.php` file.

[2021-02-08 13:08] MrPetovan commented on #9666
I'm sorry, I wasn't talking about money, I was talking about time since this project runs with volunteers.

[2021-02-08 15:21] mikauskas commented on #9910
While digging for other things noticed settings in PHP options might help with this:
![Screenshot_2021-02-08 cPanel -(2)](https://user-images.githubusercontent.com/76782677/107239980-4f30df00-6a21-11eb-8370-1bdefc6d5075.png)

[2021-02-08 15:41] mikauskas commented on #9395
There are two instances on the same shared hosting server, but different accounts, one working another not, so I did following:

1. Enabled other PHP extensions on the new install to match the older one.
![Screenshot_2021-02-08 cPanel -(3)](https://user-images.githubusercontent.com/76782677/107241986-6a9ce980-6a23-11eb-98d8-d79e55c6bdcd.png)
2. Enabled pdo_emulate_prepares, but true, not false `'p

[2021-02-08 16:15] mikauskas commented on #9666
No bother, I needed another hosting account to stop messing with experimental software on production one anyway.
The issue is not so little as it might look on the surface. Unfortunately, it is not just two nodes. The same thing here:

[https://friendica.feneas.org/display/76158462-8060-202e-a133-c46618058322](url)

![Screenshot_2021-02-07 Feneas Friendica John Smith Feneas Friendica](https://user

[2021-02-08 16:46] MrPetovan commented on #9666
It isn't a question of seriousness either, all issues are serious, but again, our time is limited and we have to pick our battles.

[2021-02-08 17:08] mikauskas commented on #9666
Any ideas on what files to look at? I think just a comparison of code between V 2020.07-1 and 2021.01 can help what had ruined videos.

[2021-02-08 17:13] MrPetovan commented on #9666
There has been some significant changes in the BBCode to HTML conversion function in `src/Content/Text/BBCode.php` for example.

You can quickly test your changes on your server by using the `/babel` page.

[2021-02-08 17:29] annando commented on #9395
@mikauskas the error message `"Prepared statement needs to be re-prepared"` can be solved by either changing the database server configuration or by setting this `pdo_emulate_prepares` value. it may not happen all the time, especially on systems where many different applications and customers are using the same database, tjhis can also be time depending.

The PHP extensions have nothing to do with

[2021-02-08 18:02] mikauskas commented on #9395
`pdo_emulate_prepares` didn't help until I enabled PHP extensions. Yes, PDO was one of them.

[2021-02-08 20:53] mikauskas commented on #9666
Thanks found it, line 1932:
`// Backward compatibility, [iframe] support has been removed in version 2020.12`

![oldvsnew](https://user-images.githubusercontent.com/76782677/107279827-77cfcd80-6a4f-11eb-860b-7900e4bbc683.png)

So, who removed iframe compatibility, why, and what they suggest to do instead?

[2021-02-08 20:58] MrPetovan commented on #9666
It's me 😇.

Although I see a potential cause for the current behavior, we are replacing remaining `[video]` tags after the explicit video files replacement (based on the extension) by a link, which prevent the next `[video]` tag replacement to try OEmbed which would potentially enable the display of a player.

[2021-02-08 22:01] myprivacymatters opened #9919 "Registration Mail Issue"
Running 2021.01. Had everything set up and working when I realized that Friendica needed to be running on a subdomain. Reinstalled everything to a subdomain, but now, when I register, it never sends the initial email. I spoke with my hosting service that assures me I am whitelisted for PHP mail sending. They show no logs of any email requests being sent. I have deleted and reinstalled twice, think

[2021-02-08 22:21] 4nanook commented on #9666
That sounds like an acceptable solution.

[2021-02-09 08:00] annando commented on #9906
Weird. On my machine, the same explain command tells this:
[code]

See the difference in the last row. I don't know why our systems react differently. I guess I have to dig deeper into MySQL ...

[2021-02-09 08:11] AlfredSK commented on #9906
I can check this this evening.

Hmm. Interesting. ref vs. eq_ref in the type column.

eq_ref is what you want because it's faster on getting the rows you're looking for.

[2021-02-09 08:41] AlfredSK commented on #9906
I have some adjustments in my config to allow the optimization of deeper subqueries. Maybe that's the reason for the difference. But I cannot check this now.

Btw. what version of MariaDB do you use?

[2021-02-09 09:05] annando commented on #9906
I'm using MariaDB 10.1.45. Do you know more about this `eq_ref` and `ref` thing?

[2021-02-09 10:37] mikauskas commented on #9666
Weird approach. So, you removed support of the working function (iframe is still standard way of embedding if embed button pressed while getting share link on Youtube) in favor on might be working OEmbed in some very far future? Wasn't possible to do these experiments on a separate fork and merge with the main one when/if OEmbed is proven to be working better? I hope it happened by accident, not t

[2021-02-09 12:29] MrPetovan commented on #9298
All OSes have a built-in emoji picker, whether it's Windows, Mac OS, iOS or Android. I'm less familiar with GNU/Linux GUIs, but I assume that they have one as well. We do offer a custom emoji picker because they can't be inserted from the built-in Unicode emoji pickers.

[2021-02-09 12:35] MrPetovan commented on #9666
Hi, this was an accident because I do not use the `[video]` tag myself and we don't have a complete suite of automated tests to catch regressions. We do heavily rely on users for feedback because it is a community-driven project, there's no central organization and few people are regularly working on it.

If you are uncomfortable with this, it wouldn't be a bad idea for you to switch to a more pop

[2021-02-09 12:37] MrPetovan commented on #8910
Sorry I missed this, it is now a duplicate or #9914 for which I came up with a fix.

[2021-02-09 12:37] #8910 closed

[2021-02-09 13:54] mikauskas commented on #9911
I can't any reasons why it cannot be working.
Here I separated the post into 3 parts and then code from each part combined into one post, getting the same result. It definitely proves that generated ether way attachments are still there, but not being displayed if more than one.

[https://friendica.online/profile/testeris](url)

Good, you mentioned interactively. Look like post-editing screen look

[2021-02-09 13:55] hellquist opened #9920 "Export of contacts only exports a few of them"
- [X] I have searched open and closed issues for duplicates

### Bug Description

When exporting contacts (settings -> Export personal data -> Export contacts to CSV) to .csv file, far from all contacts in reality get exported.

I actually noticed this the first time when moving from friendica.feneas.org to my self-hosted instance.
I now experience the same thing again on my self-hosted instance.

[2021-02-09 14:22] MrPetovan commented on #9911
Because nobody spent the time needed to make it work on Friendica yet. This also applies to the theme display.

[2021-02-09 14:23] MrPetovan commented on #9920
Thank you for the report!

[2021-02-09 17:15] mikauskas commented on #9666
@MrPetovan what do you do not use instead of the `[video]` tag?
I can help with testing in the future.

[2021-02-09 17:27] MrPetovan commented on #9666
I just don't share videos on my personal Friendica account, so I wouldn't have been able to spot this regression through regular Friendica use.

Thank you for your offer, you already provided valuable information in this issue, just please be patient about the time to a fix.

[2021-02-09 17:39] mikauskas commented on #9911
@MrPetovan What files are responsible for that stuff?

[2021-02-09 17:53] MrPetovan commented on #9911
It seems to be in `src/Content/Text/BBCode.php` for the display part.

[2021-02-09 18:50] #9906 closed, assigned to annando

[2021-02-09 19:21] AlfredSK commented on #9906
I'm on MariaDB 10.3.x.

Only what I could find on the documentation pages of MariaDB. For example...
https://mariadb.com/kb/en/explain/
https://mariadb.com/kb/en/building-the-best-index-for-a-given-select/

[2021-02-09 19:29] annando commented on #9906
@AlfredSK thanks for the documentation! I guess I have to have a look at it. BTW: Can you check with the latest change? I hope that this will help. My system is really fast with it.

[2021-02-09 19:32] AlfredSK commented on #9906
Really fast? Yes, I'll check immediately. :-)

I will then have a look at the mysql slow log to see how the other slow queries are behaving now. There are some other one's related to the post-user table.

[2021-02-09 20:05] annando commented on #9907
The first query origins in `RemoveUnusedContacts.php`.

[2021-02-09 20:15] annando commented on #9912
Ikay, they are even sinding `"mediaType": "text\\/markdown",`, nice.

[2021-02-09 20:19] AlfredSK commented on #9906
On venera.social the community page is loading in 3 seconds now. Promising. :-) The update on libranet.de takes more time...

[2021-02-09 20:45] AlfredSK commented on #9906
Community page is faster now. Thanks. :-)

[2021-02-09 20:56] AlfredSK commented on #9907
For example the feed of a user is running into a timeout when someone wants to add it to e.g. feedburner.
Examlpe URL: https://venera.social/feed/bigworldsmallsasha/posts
(Needs 30 seconds w/o browser caching)